- vote = broadcast_comment.vote(current_user)

- if vote == true
  - klass = 'text-success'
  - change_to = 'clear'
- else
  - klass = 'text-muted'
  - change_to = 'up'

= link_to vote_broadcast_comment_path(broadcast_comment, broadcast_id: @broadcast, vote: change_to), method: :post, remote: true, style: 'text-decoration:none', class: klass do
  %span.glyphicon.glyphicon-thumbs-up{ class: "#{'just_voted' if just_voted && vote == true}" }

&nbsp;

- if vote == false
  - klass = 'text-danger'
  - change_to = 'clear'
- else
  - klass = 'text-muted'
  - change_to = 'down'

= link_to vote_broadcast_comment_path(broadcast_comment, broadcast_id: @broadcast, vote: change_to), method: :post, remote: true, style: 'text-decoration:none', class: klass do
  %span.glyphicon.glyphicon-thumbs-down{ class: "#{'just_voted' if just_voted && vote == false}" }
