.myapnea-aims {
  padding: 50px;
}

@media (max-width: $screen-sm) {
  .myapnea-aims {
    font-size: 14px;
    padding: 20px;

    h2 { line-height: 1.3em; }
  }
}

.learn-box {
  background-color: #121212;
  border-radius: 3px;
  color: $white;
  display: block;
  font-weight: 300;
  font-size: 20px;
  margin: 0 auto 30px;
  max-width: 300px;
  padding: 0 0 5px;
  text-align: center;

  &:hover,
  &:focus,
  &:active,
  &:visited {
    color: $white;
    text-decoration: none;
  }

  div {
    min-height: 60px;
    padding: 5px 0 0;
  }

  img {
    max-width: 100%;
    overflow: hidden;
  }
}

@media (min-width: $screen-md-min) {
  .learn-box {
    font-size: 34px;

    div {
      min-height: 100px;
    }
  }
}
