#myapnea-aims {
  margin-top: 100px;
  padding: 50px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  #myapnea-aims {
    padding: 20px;
    font-size: 14px;
    h2 { line-height: 1.3em; }
  }
}
