.sleep-tip-container {
  background-color: #ffb839;
  width:100%;
  border-radius:30px;
  font-family: 'Agenda Condensed';
  .sleep-tip-header {
    position:relative;
    width:50%;
    max-width:400px;
  }
  .sleep-tip-header:after {
    padding-top:80%;
    display:block;
    content:'';
  }
  .sleep-tip-heading {
    position:absolute;
    top: 30%; bottom: -50%; left: 17.5%; right: -17.5%;
    background-color: white;
    text-align:center;
    font-size: 50px;
    border-radius: 50%;
    h1 {
      position:absolute;
      bottom:45%;
      width:100%;
      color: #233065;
    }
  }
  .sleep-tip-content {
    position:relative;
    padding: 30px 10%;
    background-color: #5999de;
    border-radius: 0 0 30px 30px;
    width: 100%;
    color:white;
    h2 {
    }
    h4 {
      color: #b1d2f6;
    }
  }
}
