.sleep-tip-container {
  background-color: $lighter-orange;
  border-radius: 30px;
  font-family: 'Agenda Condensed';
  width: 100%;

  .sleep-tip-header {
    max-width: 400px;
    position: relative;
    width: 50%;
  }

  .sleep-tip-header:after {
    content: '';
    display: block;
    padding-top: 80%;
  }

  .sleep-tip-heading {
    background-color: $white;
    border-radius: 50%;
    bottom: -50%;
    font-size: 50px;
    left: 17.5%;
    position: absolute;
    right: -17.5%;
    text-align: center;
    top: 30%;

    h1 {
      bottom: 45%;
      color: $logo-color;
      position: absolute;
      width: 100%;
    }
  }

  .sleep-tip-content {
    background-color: $primary-blue;
    border-radius: 0 0 30px 30px;
    color: $white;
    padding: 30px 10%;
    position: relative;
    width: 100%;

    h4 {
      color: $lightest-blue;
    }
  }
}
