.user-testimonial-small {
  background-color: $white;
  border: 1px solid $border-color;
  border-bottom: 5px solid $primary-orange;
  border-radius: 5px;
  height: 200px;
  margin-bottom: 20px;
  padding: 10px;
  position: relative;

  .user-testimonial-quote {
    font-size: 18px;
  }

  .user-testimonial-quoter {
    bottom: 10px;
    font-size: 16px;
    left: 40%;
    position: absolute;

    a,
    a:hover,
    a:active {
      text-decoration: none;
    }
  }
}

.social-image-container {
  position: relative;

  .social-image-container-left-after {
    left: 0;
    padding: 5px;
    position: absolute;
    top: 0;
  }
}

@media (max-width: $screen-md) {
  .user-testimonial-small {
    height: 250px;
  }
}

@media (max-width: $screen-sm) {
  .user-testimonial-small {
    height: 150px;
  }

  .social-image-container {
    margin: auto;
    text-align: center;
    width: 60%;
  }

  .social-image-updater {
    margin: auto;
    text-align: center;
    width: 60%;
  }
}
