.user-testimonial-small {
  height: 200px;
  background-color: white;
  border: 1px solid #ccc;
  border-bottom: 5px solid #ffa400;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
  position:relative;
  p.user-testimonial-quote {
    font-size: 18px;
  }
  p.user-testimonial-quoter {
    font-size: 16px;
    position: absolute;
    bottom: 10px;
    left: 40%;
    a, a:hover, a:active { text-decoration: none; }
  }
}

.social-image-container {
  position: relative;
  .social-image-container-left-after {
    position: absolute;
    top:0;
    left:0;
    padding:5px;
  }
}

@media (max-width: $screen-md) {
  .user-testimonial-small {
    height: 250px;
  }
}

@media (max-width: $screen-sm) {
  .user-testimonial-small {
    height: 150px;
  }
  .social-image-container {
    width: 60%;
    margin: auto;
    text-align: center;
  }
  .social-image-updater {
    width: 60%;
    margin: auto;
    text-align: center;
  }
}
