// PEP Corner
.pep-corner-profile {
  $pep-height: 70px;
  $pep-border-radius: 2px;
  background-color: $white;
  border-radius: $pep-border-radius;
  margin: 20px auto;
  position: relative;
  text-align: center;

  .pep-header {
    background-color: $primary-blue;
    border-radius: $pep-border-radius $pep-border-radius 0 0;
    height: $pep-height;
  }

  img {
    background-color: $white;
    border: 4px solid $white;
    border-radius: $pep-height/2;
    height: $pep-height;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: $pep-height/2;
    width: $pep-height;
  }

  .pep-footer {
    border: 1px solid #ddd;
    border-radius: 0 0 $pep-border-radius $pep-border-radius;
    padding: $pep-height/2 10px 10px;
    text-align: left;
  }
}

// ADVISORY COUNCIL
.advisory-small {
  font-weight: 300;
  text-align: center;

  h5 {
    color: $primary-blue;

    span {
      color: rgba(0, 0, 0, .4);
      font-size: 14px;
    }
  }

  h6 {
    color: $darker-blue;
  }

  p {
    padding: 10px;
  }
}

.advisory-small:hover {
  background-color: $lightest-blue;
  cursor: pointer;

  h5 {
    color: $white;

    span {
      color: rgba(255, 255, 255, .9);
    }
  }

  h6 {
    color: rgba(255, 255, 255, .9);
  }

  p {
    color: rgba(0, 0, 0, .7);
  }
}


// STEERING COMMITTEE

#carousel-team {
  border-radius: 20px;
  clear: both;
  position: relative;

  .item {
    min-height: 465px;
  }
}

.team-list {
  text-align: center;

  li {
    cursor: pointer;
    display: inline-block;
    height: auto;
    list-style-type: none;
    margin: 0 2.5% 20px;
    max-width: 200px;
    width: 14%;
  }
}

.team-member-picture {
  border: 2px solid $primary-orange;
  border-radius: 50%;
  margin-right: 20px;
  width: 100%;
}

.team-member-picture-large {
  border: 2px solid $primary-orange;
  border-radius: 50%;
}

.team-member-picture-md {
  border: 2px solid $primary-orange;
  height: auto;
  width: 70%;
}

.img-bw {
  -webkit-backface-visibility: hidden; // Fix for transition flickering */
  -webkit-filter: grayscale(100%); // Chrome 19+ & Safari 6+ */
  -webkit-transition: all .4s ease; // Fade to color for Chrome and Safari */
}

.img-bw-partial {
  -webkit-backface-visibility: hidden; // Fix for transition flickering */
  -webkit-filter: grayscale(50%); // Chrome 19+ & Safari 6+ */
  -webkit-transition: all .4s ease; // Fade to color for Chrome and Safari */
}

.img-color {
  -webkit-backface-visibility: hidden; // Fix for transition flickering */
  -webkit-filter: grayscale(0%); // Chrome 19+ & Safari 6+ */
  -webkit-transition: all .4s ease; // Fade to color for Chrome and Safari */
}

@media (max-width: $screen-md) {
  .team-list {
    padding-left: 0;
  }
}
