#carousel-team {
  border-radius: 20px;
  clear: both;
  position: relative;

  .item {
    min-height: 465px;
  }
}

.team-list {
  text-align: center;

  li {
    cursor: pointer;
    display: inline-block;
    height: auto;
    list-style-type: none;
    margin: 0 2.5% 20px;
    max-width: 200px;
    width: 14%;
  }
}

.team-member-picture {
  border: 2px solid $primary-orange;
  border-radius: 50%;
  margin-right: 20px;
  width: 100%;
}

.team-member-picture-large {
  border: 2px solid $primary-orange;
  border-radius: 50%;
}

.team-member-picture-md {
  border: 2px solid $primary-orange;
  height: auto;
  width: 70%;
}

.img-bw {
  -webkit-backface-visibility: hidden; // Fix for transition flickering */
  -webkit-filter: grayscale(100%); // Chrome 19+ & Safari 6+ */
  -webkit-transition: all .4s ease; // Fade to color for Chrome and Safari */
}

.img-bw-partial {
  -webkit-backface-visibility: hidden; // Fix for transition flickering */
  -webkit-filter: grayscale(50%); // Chrome 19+ & Safari 6+ */
  -webkit-transition: all .4s ease; // Fade to color for Chrome and Safari */
}

.img-color {
  -webkit-backface-visibility: hidden; // Fix for transition flickering */
  -webkit-filter: grayscale(0%); // Chrome 19+ & Safari 6+ */
  -webkit-transition: all .4s ease; // Fade to color for Chrome and Safari */
}

@media (max-width: $screen-md) {
  .team-list {
    padding-left: 0;
  }
}
