.color-overlay {
  background-color: $p700-blue; // rgba($p700-blue, .5);
}

.color-overlay2 {
  background-color: $p600-blue; // rgba($p600-blue, .9);
  box-shadow: 0 5px 10px 0 $box-shadow-color;
}

.background-fixed-image {
  // background-image: asset-url("");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: $zindex-fixed;
}

.background-fixed-image-fixed-height {
  height: 200px;
}

.background-questions-image {
  background-image: asset-url("backgrounds/questions.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.myapnea-blue-bg {
  background-color: $p300-blue;

  .header-container {
    background-color: $p500-blue;
    border-color: $p200-orange;
    color: $brand-white;
  }
}

.myapnea-dark-blue-bg {
  background-color: $p900-blue;
}

.myapnea-orange-bg {
  background-color: $p400-orange;

  .header-container {
    background-color: $p500-orange;
    border-color: $p200-blue;
    color: $brand-white;
  }
}

.myapnea-white-bg {
  background-color: $brand-white;
}

.myapnea-green-bg {
  background-color: $p500-green;

  .header-container {
    background-color: $p500-green;
    border-color: $p200-green;
    color: $brand-white;
  }
}

.myapnea-transparent-bg {
  background-color: transparent;
}


.myapnea-light-bg {
  background-color: $p100-blue;
}

.myapnea-sky-bg {
  background-color: $a700-light-blue;
  background-image: linear-gradient(180deg, $a100-light-blue, $a200-light-blue 60%, $a400-light-blue 80%, $a700-light-blue 90%, $a700-light-blue);
}

.myapnea-sunset-bg {
  background-color: $a700-deep-orange;
  background-image: linear-gradient(180deg, $a100-deep-orange, $a200-deep-orange 60%, $a400-deep-orange 80%, $a700-deep-orange 90%, $a700-deep-orange);

  .header-container {
    background-color: $p500-deep-orange;
    border-color: $p200-deep-orange;
    color: $brand-white;
  }
}

.myapnea-night-bg {
  background-color: $p900-indigo;
  background-image: linear-gradient(180deg, $p900-indigo, $p800-indigo 60%, $p700-indigo 80%, $p600-indigo 90%, $p500-indigo);

  .header-container {
    background-color: $p500-indigo;
    border-color: $p200-indigo;
    color: $brand-white;
  }
}

.myapnea-blue-bg {
  .page-box-down-arrow {
    a:hover {
      color: $p500-orange;
    }
  }
}

.myapnea-orange-bg,
.myapnea-sunset-bg {
  .page-box-down-arrow {
    a:hover {
      color: $p500-blue;
    }
  }
}
