// TODO: Move definition;
$standard-shadow-color: rgba(0, 0, 0, .3);

.attach-a-cloud {
  position: relative;
  background-color: transparent !important;
  box-shadow: none !important;
  text-align: center;

  &::before {
    position: absolute;
    top: -95px;
    left: 0;
    content: "\f0c2";
    font: normal normal normal 14px/1 FontAwesome;
    color: $p50-blue;
    font-size: 314px;
    // text-shadow: 0 0 3px $standard-shadow-color;
    z-index: -1;
  }
}
