.footer-container.footer-grass {
  background-color: $p900-light-green;

  &::before {
    background-image: asset-url('themes/spring/grass-color.png');
    background-repeat: repeat-x;
    content: ' ';
    position: absolute;
    top: -45px;
    left: 0;
    right: 0;
    height: 45px;
    background-size: 60px;
  }
}
