$sunset-color: $p200-yellow;
$sunset-inner-color: $p300-amber;

$sunset-base-size: 128px;
$sunset-base-padding: 12px;

$sunset-size: $sunset-base-size * 2; // 256px;
$sunset-padding: $sunset-base-padding * 2; // 24px;
$sunset-container: $sunset-size + $sunset-padding;

$sunset-size-sm: $sunset-base-size * 4; // 512px;
$sunset-padding-sm: $sunset-base-padding * 4; // 48px;
$sunset-container-sm: $sunset-size-sm + $sunset-padding-sm;

.sunset-container {
  height: $sunset-container;
  overflow: hidden;
  position: absolute;
  right: 0;
  bottom: 0;
  width: $sunset-container / 2;
  z-index: -1;

  @include media-breakpoint-up(sm) {
    height: $sunset-container-sm;
    // top: -($sunset-container-sm / 2);
    width: $sunset-container-sm / 2;
  }
}

.sunset-object {
  font-size: $sunset-size;
  position: absolute;
  right: -$sunset-size;
  top: -$sunset-size + ($sunset-container / 2);

  i {
    &.fa-sunset-o {
      font-size: $sunset-size;
      color: $sunset-color;
    }

    &.fa-circle {
      font-size: $sunset-size * 90 / 128; // 90px;
      color: $sunset-inner-color;
    }
  }

  @include media-breakpoint-up(sm) {
    font-size: $sunset-size-sm;
    right: -$sunset-size-sm;
    top: -$sunset-size-sm + ($sunset-container-sm / 2);

    i {
      &.fa-sunset-o {
        font-size: $sunset-size-sm;
      }

      &.fa-circle {
        font-size: $sunset-size-sm * 90 / 128; // 360px;
      }
    }
  }
}

.theme-sunset-bg {
  background-color: $a700-deep-orange;
  background-image: linear-gradient(180deg, $a100-deep-orange, $a200-deep-orange 60%, $a400-deep-orange 80%, $a700-deep-orange 90%, $a700-deep-orange);

  .footer-container {
    &.footer-custom {
      background-color: $a700-deep-orange;

      a {
        color: $p300-orange;
        transition: color .4s ease-out;
      }

      a:hover {
        color: $p200-orange;
      }
    }
  }

  .footer-custom-bg {
    background-color: transparent !important;
  }
}
