%p.lead
  Here we provide questions to help the sleep apnea community better
  understand the symptoms found in patients with sleep apnea or at
  risk for sleep apnea, their experiences with getting diagnosed,
  and their health conditions. After you complete each survey, you
  will see how your answers compare to the others within the network.
  Each
  %b completed survey
  earns you an entry into
  = link_to 'our monthly drawing', surveys_path, class: 'content-link'
  for a chance to win a $250 gift card.
