%p.lead
  Thank you for completing all
  = pluralize(Survey.viewable.count, 'survey') + '!'
  Each
  %b completed survey
  earns you an entry into
  = link_to 'our monthly drawing', surveys_path, class: 'content-link'
  for a chance to win a $250
  %i.fa.fa-cc-visa
  Visa Gift card.
