#risk-assessment-container
  %h1.centered-text
    Are you at risk for developing sleep apnea?
  .row
    .col-sm-6
      #stopbang-gender
        %h3
          Are you male or female?
      #stopbang-age
        %h3
          What is your age?
      #stopbang-height
        %h3
          How tall are you?
      #stopbang-weight
        %h3
          What is your weight?
      #stopbang-bp
        %h3
          Do you have high blood pressure?
    .col-sm-6
      #stopbang-snoring
        %h3
          Do you snore?
      #stopbang-tiredness
        %h3
          Do you often feel tired, fatigued, or sleepy during the daytime?
      #stopbang-observation
        %h3
          Has anyone ever observed you stop sleeping at night?
      #stopbang-neck
        %h3
          What is your neck size?
