#risk-assessment-results-container
  .row.reset-layout.logo-color-bcg{ style: 'padding-bottom:10px;' }
    .col-sm-8
      %h1.centered-text.text-white
        Sleep Apnea Risk Assessment
    #risk-assessment-logo.col-sm-2.col-sm-offset-1
      = link_to root_path do
        = image_tag 'myapnea/logos/MyApneaLogo_border_whitetext_300x80.png', class: 'img-responsive'
