.content-container
  .content-header
    %h1.f300 Great job!
  .content-body
    %p.lead
      It looks like you're really getting the hang of this. Why don't you try creating your own research question? Or, you can continue on and see all of the research topics that are currently being voted on, and read the state of the research for topics that have been approved.
    = link_to 'Continue', research_topics_path, class: 'btn btn-primary'
