- @category = Admin::Category.current.find_by slug: 'research'
- if @category
  - @category.broadcasts.published.where(archived: false).order(pinned: :desc, publish_date: :desc).limit(5).each do |broadcast|
    .broadcast-outer
      .broadcast-left-fixed
        %div{ style: 'position: absolute;right: 10px;top: 10px;' }
          %i.fa.fa-comments-o.logo-color
      .broadcast-right-fluid
        .broadcast-box
          .broadcast-header
            %strong= link_to broadcast.title, blog_post_path(broadcast.url_hash)
          .broadcast-body
            = broadcast.short_description

  .broadcast-outer
    .broadcast-left-fixed
    .broadcast-right-fluid
      .centered= link_to 'View More Research Highlights', blog_category_path(category: @category)
