- if research_topic.progress == "under_review"
  %span.label.label-info= research_topic.progress
- elsif research_topic.progress == "accepted"
  %span.label.label-success= research_topic.progress
- elsif research_topic.progress == "rejected"
  %span.label.label-warning= research_topic.progress
