.content-main-header
  %h1 Edit Research Topic

.content-container
  .content-header
    %p.lead= @research_topic.topic.name
  .content-body
    = render "research_topics/form", research_topic: @research_topic

