.content-main-header
  .container
    %h1 Edit Research Topic

.container
  .content-container
    %p.lead= @research_topic.topic.name
    = render "research_topics/progress_form", research_topic: @research_topic

