.content-main-header
  .container
    %h1 Research

.container
  .row
    .col-sm-8
      #research-topic-list-group
        = render 'research_topics/displays/list_group', research_topics: @research_topics

    .col-sm-4
      %br
      = render 'research_topics/sidebar'
