.panel
  .panel-body.centered-text
    %h1.300 Welcome to Rank the Research!
    %p.lead
      This is a tool to solicit patient engagement surrounding research topics that are of most interest to patients. This tool will help prioritize which research questions are of most importance (i.e. allow a ranking of questions in order of priority based on number of different patients that have voted on each question). The end goal is to take a top rated question and for researchers to develop a grant proposal or study investigation based on the top rated questions that currently lack sufficient evidence. For top rated questions which have a rich body of evidence, the current knowledge will be synthesized and shared among members.
    %p.lead
      Let's get you started with ten of the current research topics. Once you click 'Get Started', you'll see a series of ten research questions that have been submitted by our members. For each one, you're going to decide whether or not you agree with the proposal, and add a comment about why you agree or disagree.
    %p.lead
      Once you're finished with these ten, we'll bring you to the full view, where you can see the most popular and most discussed topics, and get the chance to ask your own questions.
    %br
    = link_to 'Get Started!', first_topics_research_topics_path, class: 'btn btn-primary btn-lg'
