.content-container
  .content-body.centered-text
    %h1.300 Welcome to Rank the Research!
    %p.lead
      The questions you have about sleep apnea are important. MyApnea.Org is different in that it is focused on patient-centered research. Who else knows more about your condition and your lived experience than you?
    %p.lead
      This tool offers a way for you to let other members (patients, providers and researchers) know what questions matter to you most.
    %p.lead
      The end goal is to take top-rated questions and have researchers develop grant proposals or study investigations. Top rated questions that have already been well researched will be reviewed and presented as educational research highlights.
    %p.lead
      Let's get started with ten research topics. Once you click 'Get Started', you'll see a series of ten research questions that have been submitted by our members. You can “Agree” on a question if you think it is an area that should be a research priority, or you can “Disagree” on a question if you don’t think it's as important. We encourage you to add a comment to help explain each of your decisions.
    %p.lead
      Once you've finished these ten questions, we'll bring you to the full view where you can see topics by all members, and get the chance to ask your own questions.
    %br
    = link_to 'Get Started!', first_topics_research_topics_path(read_intro: 1), class: 'btn btn-primary btn-lg'
