.content-main-header
  %h1.f300 Newest Research Questions

.panel
  .panel-body
    - @research_topics.each do |rt|
      .list-group-item
        - if current_user.cast_vote_for?(rt)
          %span.badge{ class: "#{current_user.endorsed?(rt) ? 'great-bcg' : 'danger-bcg' }" }
            %span.glyphicon{ class: "#{current_user.endorsed?(rt) ? 'glyphicon-ok' : 'glyphicon-remove' }" }
          %p.lead= rt.text
        - else
          = render partial: 'research_topics/voting_form', locals: { research_topic: rt }

