.content-main-header
  %h1 Propose Research Question

.content-container
  .content-header
    %p.lead
      Once you submit, the question will have to be accepted before it will appear on the Research Topics page. This process is generally very quick, and you should see your topic appear within 24 hours.
  .content-body
    = render "research_topics/form", research_topic: @research_topic
  .content-footer
    %p
      If you have any questions, please email us at
      = link_to 'support@myapnea.org', "mailto:#{ENV['pprn_support_email']}"

