.content-main-header
  %h1.f300 Newest Research Questions

.row
  .col-sm-6
    - @research_topics.select.each_with_index{|x,i| i.odd? }.each do |rt|
      = render partial: 'research_topics/voting_form', locals: { research_topic: rt }
  .col-sm-6
    - @research_topics.select.each_with_index{|x,i| i.even? }.each do |rt|
      = render partial: 'research_topics/voting_form', locals: { research_topic: rt }

