.form-label-elegant {
  color: $p700-grey;
  font-weight: 300;
  border-bottom: 2px solid $p100-orange;

  a {
    color: $p700-grey;

    &:hover,
    &:focus,
    &:active {
      color: $body-color;
      text-decoration: none;
    }
  }
}

@include media-breakpoint-up(md) {
  .col-form-label {
    .form-label-elegant {
      @include float-right;

      text-align: right;
    }
  }
}

.form-control-plaintext {
  @include remove-last-child-bottom-margin;
}
