.jumbotron-action,
.jumbotron-accent,
.jumbotron-white {
  @include remove-last-child-bottom-margin;
  text-align: center;
}

.jumbotron-action {
  background-color: $p500-blue;
  color: $brand-white;
}

.jumbotron-accent {
  background-color: $p300-orange;
  color: $brand-white;
  border: 5px solid rgba($brand-white, .5);
}

.jumbotron-white {
  background-color: $brand-white;
  color: $body-color;
  // border: 5px solid rgba(0, 0, 0, .1);
}

.jumbotron-hover {
  cursor: pointer;
  transition: transform 250ms ease-out;

  @media (hover) {
    &:hover {
      box-shadow: 0 2px 15px $standard-shadow-color;
      transform: scale(1.02);
    }
  }
}

.jumbotron-shadow {
  box-shadow: 0 1px 5px $box-shadow-color;
}

.jumbotron-custom-text {
  font-weight: 200;
  font-size: 1.5rem;
  position: relative;
}

.jumbotron-icon {
  position: absolute;
  top: -1.25rem;
  padding: .25rem;
  background-color: $brand-white;
  box-shadow: 0 2px 8px $standard-shadow-color;
  color: $body-color;
  border-radius: $border-radius;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 3rem;
  color: #333;
  text-align: center;
}
