- @title = "Survey Complete"

.page-box.last-box.background-p50-grey.d-flex.d-md-block.flex-column.justify-content-center
  .container
    %h1= @title
    = @json

    = link_to survey_start_path(params[:event], params[:design]) do
      %i.fa.fa-undo
      Restart

    = link_to surveys_path do
      %i.fa.fa-list
      Back to Surveys

