.content-main-header
  %h1.content-main-title Our Community


%div{ style: "height: 500px; min-width: 310px; max-width: 600px; margin: 0 auto", data: { object: 'draw-map', membership: SocialProfile.states_for_map.to_json } }

