.content-main-header
  %h1.content-main-title Our Community

- if current_user and current_user.state_code.blank? and current_user.country_code.blank?
  .alert.alert-info.centered-text{ role: 'alert', style: 'margin-top:5px; margin-bottom:10px' }
    %btn{ type: 'button', class: 'close', data: { dismiss: 'alert', object: 'set-cookie', cookie_key: 'acknowledged_beta_open', cookie_value: '1'  }, aria: { label: 'Close'} }
      %span{ aria: { hidden: 'true'} } &times;
    %strong We would like to include you on our map.
    Consider adding your country and state (if US resident) to your account profile so that we can accurately represent our community on the map.
    = link_to 'Account Settings', account_path, class: 'btn btn-primary btn-block', style: 'width:40%; margin: 15px 30% 0 30%;'

%div{ style: "height: 500px; min-width: 310px; max-width: 600px; margin: 0 auto", data: { object: 'draw-map', membership: Map.states_for_map.to_json } }





%div{ style: "height: 500px; min-width: 310px; max-width: 600px; margin: 0 auto", data: { object: 'draw-world-map', membership: Map.countries_for_map.to_json } }
