.content-main-header
  %h1.f300
    Welcome,
    = current_user.first_name + '!'


.panel
  .panel-body.row
    .col-sm-4.centered-text
      = render partial: 'static/beta/survey_progress', locals: { survey: current_user.smart_surveys[0] }
    .col-sm-4.centered-text
      = render partial: 'static/beta/survey_progress', locals: { survey: current_user.smart_surveys[1] }
    .col-sm-4.centered-text
      = render partial: 'static/beta/survey_progress', locals: { survey: current_user.smart_surveys[2] }

.panel
  .panel-heading
    %h3.f300 News
  .panel-body
    %table.table
      %tr
        %td
          %h4.f300 Join as a member of the patient council!
          %h5.f300 This patient council will help steer the direction of MyApnea.Org
      %tr
        %td
          %h4.f300 We're happy to announce the beta release of our new and improved platform!
          %h5.f300 Click here to opt in and gain the ability to provide feedback and help us finish the last stages of development.

.panel
  .panel-heading
    %h3.f300 Recent forum activity
    %h5.f300 It seems like you're most active on these forums, so we've filtered the content for you.
  / = render partial: './forums/show_from_home'

