-# TODO: Refactor and move elsewhere.
- size = 25 unless defined?(size)
= image_tag user_photo_url(user), alt: '', class: "user-thumbnail-forum", style: "max-height:#{(size*2)+5}px;max-width:#{size+5}px;", title: user.forum_name, data: { toggle: 'tooltip', container: 'body', placement: 'top' }
