.content-main-header
  %h1
    Welcome to the Forums!
  = link_to 'New Forum', new_forum_path, class: 'btn btn-xs btn-primary' if current_user and current_user.has_role? :owner

- @forums.order(:position).each do |forum|
  = render partial: 'forums/show', locals: { forum: forum, topic_limit: 10 }
