.content-main-header
  %h1 Rank the Research

.panel.panel-rank-research
  %table.table
    %tr
      %td
        %h1{ data: { toggle:'collapse', target:'#collapseProgress' } }
          %i.fa.fa-thumbs-o-up.fa-rank
      %td
        %h4 How does long-term chronic apnea affect brain plasticity (memory, focus, and attention deficits)?
        %p.f300#collapseExample
          I'm 47 and recently diagnosed with severe sleep apnea. I remember my mother being concerned that she noticed I would stop breathing while I was asleep in my early teens, but we didn't know what to do. I have noticed over the years that my mental function has been declining. The doctor stated I stopped breathing an average of 119 times per hour. I'm very interested in how apnea has affected my life and am trying to work on regaining some, if not all, of my mental functions back to what they were.
        %p.f300.expand-topic{ data: { toggle:'collapse', target:'#collapseExample' } }
          Read more
        .collapse.progress#collapseProgress{ style: 'width:90%;' }
          .progress-bar{ role:'progressbar', aria:{ valuenow:'60', valuemin:'0', valuemax:'100' } }
            60%
