@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: fadeInDown;
}
