- @title = "About Us"

- @menu = "dark-blue"
- @footer = "dark-blue"

.page-box.last-box.myapnea-dark-blue-bg
  .container{ style: "position: relative;" }
    .mb-5= render "landing/orange_title", title: "MyApnea.Org", text_class: "text-white"
    .row{ style: "z-index: 1020;position: relative;" }
      .col-12.col-md.mb-5.d-flex.flex-column.justify-content-center
        .landing-about-heading
          -# Something
        .landing-about-slide-tagline
          MyApnea.Org is a community of patients, doctors, and researchers
          trying to improve the diagnosis and treatment of sleep apnea. You
          can engage in discussions with other members, read <blog posts>, and
          participate in research studies.
      - unless current_user
        .col-12.col-md= render "landing/registration"

