- @title = @article.title
- @keywords = @article.keywords

- @theme = "night"

- content_for :header_simple, @title
- content_for :footer, render("decorations/moon")

.dashboard-container-margins{ style: "line-height: 1.8;" }
  %h4= @title
  .mb-4= simple_markdown(@article.description, target_blank: false)

  %div{ id: "article-#{@article.id}-vote" }= render "articles/vote", article: @article, just_voted: false

  %hr

  %small
    Have more questions?
    = link_to "Contact us", contact_path
