- @theme = "dark-blue"
- @theme = "default-dark"

= render "landing/about_slide"

#video.anchor-menu
.myapnea-dark-blue-bg= render "landing/video_slide", landing: true

#research.anchor-menu
= render "landing/research_slide"

#join.anchor-menu
.myapnea-dark-blue-bg= render "landing/join_slide"
