- @theme = "dark-blue"

= render "landing/about_slide"

#video.anchor-menu
= render "landing/video_slide", landing: true

#research.anchor-menu
= render "landing/research_slide"

#join.anchor-menu
= render "landing/join_slide"
