- @title = 'Terms of Access'

- content_for :body_class do
  gray-background

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        .float-right
          = link_to print_or('Print'), '#', data: { object: 'print' }, class: 'btn btn-accent btn-shadow'
        = @title

#print-area.dashboard-container
  %p
    Aggregate research results from the MyApnea.Org research portal are
    available here to all registered users of MyApnea.Org for viewing. Aggregate
    results consist of survey responses and other data provided by participants
    in MyApnea.Org research, presented in summary form ("Results").

  %p
    By clicking on the "I Agree" button below, you, the user ("You") agree to
    the following Terms of Access to the MyApnea.Org research Results, which
    terms are in addition to any other applicable Terms of Use, Web Policy
    Statements, Disclaimers, or other terms applicable to Your use of the
    MyApnea.Org website:

  %ul
    %li
      You understand and agree that the Results are being provided to You solely
      for the purpose of stimulating interest in and awareness of sleep apnea
      among patients, clinicians, researchers, family and friends, and other
      individuals affected by the disorder. Results are NOT being provided for
      the purpose of providing medical treatment or advice and should not be
      relied upon for such purposes.  Any use of the Results is at Your own
      risk, and We are not responsible for such use.
    %li
      Results reflect self-reported information from participants in the
      Research portal of MyApnea.Org. We believe that our summaries as presented
      on this website are generally accurate, but they have not to date been
      peer-reviewed or undergone rigorous scientific analysis. The Results are
      updated periodically as new participants enroll in the Research Portal of
      MyApnea.Org and may not be current at the time of Your access.
    %li
      You understand and agree that the Results are presented in an aggregate or
      summary form that is intended to avoid identification of any individual
      participants in the MyApnea.Org Research. You will not use the Results to
      identify or attempt to identify any individual MyApnea.Org research
      participant(s).
    %li
      Any use of the Results by you in any written publication, presentation, or
      analysis must acknowledge the MyApnea.Org Research portal as the source of
      the information with the following text: ["The results in this
      publication/presentation/analysis (choose one as appropriate) were
      accessed through the Sleep Apnea Patient Centered Outcomes Network
      (SAPCON)-MyApnea.Org website."]

  %p
    Individual de-identified participant-level data can be obtained but will
    require completion of a Data Use Agreement available on the Research Portal
    section of MyApnea.Org which will be made available at a later date.
