- @title = "Version"
- @themes = [{ background: "myapnea-night-bg", icon: "moon", header: "night", footer: "night" }, { background: "myapnea-sky-bg", icon: "sun", header: "grass", footer: "grass" }, { background: "myapnea-sunset-bg", icon: "sunset", header: "sunset", footer: "sunset" }]
- number = rand(@themes.size)
- @theme = @themes[number][:header]
- @footer = @themes[number][:footer]

.page-box.last-box.d-flex.align-items-center{ class: @themes[number][:background] }
  = render "blank/#{@themes[number][:icon]}" if @themes[number][:icon].present?
  .container
    .text-center
      .page-heading.text-white{ style: "font-size: 2rem;" }= "v#{Myapnea::VERSION::STRING}"
