- @title = "Version"

- render "themes/random"

- case @theme
- when "day"
  - if rand(2).zero?
    - content_for :footer, render("decorations/sun_horizon_half")
  - else
    - content_for :footer, render("decorations/sun")

.page-box.last-box.d-flex.align-items-center
  .container
    .text-center{ class: @theme != "default" ? "text-white" : nil, style: "font-size: 2rem;" }
      = "v#{Myapnea::VERSION::STRING}"
