- @title = "Version"

- render "themes/random"

-# content_for :footer, render("decorations/#{@themes.dig(number, :icon)}") if @themes.dig(number, :icon).present?

.page-box.last-box.d-flex.align-items-center
  .container
    .text-center
      .page-heading.text-white{ style: "font-size: 2rem; font-weight: normal; letter-spacing: normal; text-shadow: none; font-variant: normal;" }= "v#{Myapnea::VERSION::STRING}"
