- @title = "Forum Voting"

- @theme = "default"

- content_for :header, @title

.dashboard-container
  %p.lead
    The MyApnea forum empowers you to promote and highlight valuable content on
    the forum. You can help make the forum a welcoming place for everyone by
    adhering to the following guidelines.

  .row
    .col-sm-6
      .brand-title
        %h1
          = icon("fas", "arrow-up", class: "text-success")
          When to upvote

      %p
        You may choose to upvote replies that are:

      %ul
        %li On Topic
        %li Constructive
        %li Informative

    .col-sm-6
      .brand-title
        %h1
          = icon("fas", "arrow-down", class: "text-danger")
          When to downvote

      %p
        You may also downvote replies that are:

      %ul
        %li Hurtful
        %li Off Topic
        %li Spam
        %li Contain Misinformation
        %li Product Advertisement

      %p
        %strong DO NOT
        downvote simply because you disagree.
