- if reply.parent_author?
  %span.badge.forum-badge.forum-badge-accent Original Poster

- if reply.user.replies_count >= 100
  - if reply.user.replies_count >= 5000
    - badge_name = "Champion"
    - badge_count = "5,000"
    - badge_class = "forum-badge-primary"
  - elsif reply.user.replies_count >= 2000
    - badge_name = "Patron"
    - badge_count = "2,000"
    - badge_class = "forum-badge-primary"
  - elsif reply.user.replies_count >= 1000
    - badge_name = "Innovater"
    - badge_count = "1,000"
    - badge_class = "forum-badge-primary"
  - elsif reply.user.replies_count >= 500
    - badge_name = "Enthusiast"
    - badge_count = "500"
    - badge_class = ""
  - else
    - badge_name = "Commentator"
    - badge_count = "100"
    - badge_class = ""
  %span.badge.forum-badge{ class: badge_class, rel: "tooltip", data: { title: "Over #{badge_count} Posts", container: "body", placement: "bottom" } }
    Sleep
    = badge_name

= render "users/forum_badge", user: reply.user if reply.user.forum_badge.present?
