- if reply.user.replies.count >= 100
  - if reply.user.replies.count >= 5000
    - badge_name = 'Champion'
    - badge_count = '5,000'
    - badge_class = 'forum-badge-color'
  - elsif reply.user.replies.count >= 2000
    - badge_name = 'Patron'
    - badge_count = '2,000'
    - badge_class = 'forum-badge-color'
  - elsif reply.user.replies.count >= 1000
    - badge_name = 'Innovater'
    - badge_count = '1,000'
    - badge_class = 'forum-badge-color'
  - elsif reply.user.replies.count >= 500
    - badge_name = 'Enthusiast'
    - badge_count = '500'
    - badge_class = ''
  - else
    - badge_name = 'Commentator'
    - badge_count = '100'
    - badge_class = ''
  %span.forum-badge{ class: badge_class, data: { toggle: 'tooltip', container: 'body', placement: 'bottom', title: "Over #{badge_count} Posts" } }
    Sleep
    = badge_name
