- if reply.deleted?
  %code.text-muted [deleted]
- else
  = simple_markdown(sanitize(reply.description.gsub(/</, "&lt;")).gsub('&gt;', '>'), allow_links: reply.display_links?, allow_tables: reply.display_links?, allow_images: reply.display_links?, table_class: "table table-striped")
