= link_to '#', class: 'no-underline', data: { object: 'bold-selection', target: target }, tabindex: '-1', title: 'Bold' do
  %i.fa.fa-bold
&nbsp;
= link_to '#', class: 'no-underline', data: { object: 'italic-selection', target: target }, tabindex: '-1', title: 'Italic' do
  %i.fa.fa-italic
&nbsp;
= link_to '#', class: 'no-underline', data: { object: 'link-selection', target: target }, tabindex: '-1', title: 'Link' do
  %i.fa.fa-link
&nbsp;
= link_to '#', class: 'no-underline', data: { object: 'quote-selection', target: target }, tabindex: '-1', title: 'Quote' do
  %i.fa.fa-quote-left
