= link_to icon("fas", "bold"), "#", class: "link-no-underline", data: { object: "bold-selection", target: target }, tabindex: "-1", title: "Bold"
= link_to icon("fas", "italic"), "#", class: "link-no-underline ml-2", data: { object: "italic-selection", target: target }, tabindex: "-1", title: "Italic"
= link_to icon("fas", "link"), "#", class: "link-no-underline ml-2", data: { object: "link-selection", target: target }, tabindex: "-1", title: "Link"
= link_to icon("fas", "quote-left"), "#", class: "link-no-underline ml-2", data: { object: "quote-selection", target: target }, tabindex: "-1", title: "Quote"
