.form-group
  = f.label :text, class: 'sr-only'
  - if current_user
    - if current_user.can?(:participate_in_social)
      - placeholder = "Contribute to the discussion here..."
      - disabled = false
    - else
      - placeholder = "Please create a social profile to contribute..."
      - disabled = true
  - else
    placeholder = "Please sign in to contribute..."
    disabled = true

  = f.text_area :text, rows: 7, class: 'form-control input-lg', placeholder: placeholder, disabled: disabled

- if params[:reply_to_id]
  = f.hidden_field :reply_to_id, :value => params[:reply_to_id]
