- @title = "Edit Team Member: #{@admin_team_member.name_was}"

- @body = "sky"
- @footer = "grass"

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("admin/sidebar")
- content_for :header do
  = link_to @admin_team_member.name_was, @admin_team_member
  Edit

.dashboard-container
  = render "form", admin_team_member: @admin_team_member
