- @title = "New Team Member"

- @theme = "blue-sky"
- content_for :header, @title
= render "admin/tabs"
- content_for :breadcrumbs do
  %ol
    %li= link_to "team members", admin_team_members_path
    %li.breadcrumb-muted new
- content_for :sidebar, render("admin/sidebar")

.dashboard-container
  = render "form", admin_team_member: @admin_team_member
