- @title = "Team Members"

- @body = "sky"
- @footer = "grass"

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("admin/sidebar")
- content_for :header do
  = link_to "Team Members", admin_team_members_path
  Reorder

%div{ data: { object: "team-members-sortable" } }
  - @admin_team_members.each do |team_member|
    .team-member-box{ data: { team_member_id: team_member.id } }
      = team_member_photo_tag(team_member, size: 30)
      = team_member.name
