- @title = "Reorder Team Members"

- @theme = "day"
- content_for :header do
  Team Members
= render "admin/tabs"
- content_for :breadcrumbs do
  %ol
    %li= link_to "team members", admin_team_members_path
    %li.breadcrumb-muted reorder
- content_for :sidebar, render("admin/sidebar")

%div{ data: { object: "team-members-sortable" } }
  - @admin_team_members.each do |team_member|
    .team-member-box{ data: { team_member_id: team_member.id } }
      = team_member_photo_tag(team_member, size: 30)
      = team_member.name
