.row
  .col-md-10.col-md-offset-2
    %p
      %i.fa.fa-info-circle.primary-blue
      Once you have entered your child's information, you will be able to
      complete surveys for your child.

- @child = current_user.children.new unless @child

= render 'children/remote_form'
