.content-main-header
  .container
    %h1
      = link_to 'Children', children_path
      &middot;
      = link_to @child.first_name_was, @child
      &middot;
      Edit

.container
  .content-container
    = render 'form'
