- @title = "Edit Child: #{@child.first_name_was}"
.content-main-header2
  %h1
    = link_to 'My Children', children_path
    &middot;
    = link_to @child.first_name_was, @child
    &middot;
    Edit

= render 'form'
