- @title = "Join MyApnea"

- @theme = "default-dark"

.page-box.last-box.d-flex.flex-column.justify-content-center.theme-bg{ class: "theme-#{@theme}-focus-bg" }
  .container
    %p.lead.text-center.text-default-dark Join our community.

    .sign-up-form
      .sign-up-form-title
        Create your account
      - resource.textcaptcha if resource.errors.blank? || resource.errors[:textcaptcha_answer].present?
      = render "devise/registrations/form", resource: resource

    .sign-up-form.text-center
      = link_to "I already have an account.", new_user_session_path
