- @title = "Join MyApnea"

- @menu = "light"
- @body = "light"
- @footer = "light"

%p.lead.text-center Join our community.

.sign-up-form
  .sign-up-form-title
    Create your account
  = render "devise/registrations/form", resource: resource

.sign-up-form.text-center
  = link_to "I already have an account.", new_user_session_path
