.forum-container {

  .topic-container {
    margin-bottom: 20px;
  }

}

table.topics tr {
  cursor: pointer;
}


#posts {
  .well {
    background: transparent;
    border: $ma-lighter-blue 1px solid;
    padding: 15px;
    margin-bottom: 10px;
  }
  .well.original-post {
    background: $ma-white-yellow;
  }
  .post-content {
    font-size: $font-size-large * .9
  }
}
