%p{ style: p_style }
  Dear
  = succeed ',' do
    = @user.first_name

%p{ style: p_style }
  You have a
  %span{ style: emphasis_style } new followup survey
  waiting to be completed on MyApnea.Org.

%p{ style: p_style }
  Your participation is important to allow researchers to better understand the
  effects of sleep apnea over time.

%p{ style: center_style }
  = link_to 'Start Followup Survey', "#{ENV['website_url']}/surveys", style: link_style

%p{ style: p_style }
  Again, thank you for your participation, and we look forward to finding answers together with you!

%p{ style: p_style }
  The MyApnea.Org Team

