.col-xs-11.col-xs-offset-1#nav-right{style:'margin-top:30px; margin-right:0; padding-right:0; margin-bottom:20px;'}
  %ul.list-group
    = link_to root_path do
      %li.list-group-item.hover-slide-left.list-shrink{ style: 'color:white; color: rgba(255,255,255,.8); text-decoration: none;' } Home
    = link_to forums_path do
      %li.list-group-item.hover-slide-left.list-shrink{ style: 'color:white; color: rgba(255,255,255,.8); text-decoration: none;' } Forums
    = link_to surveys_path do
      %li.list-group-item.hover-slide-left.list-shrink{ style: 'color:white; color: rgba(255,255,255,.8); text-decoration: none;' } Research Surveys
    = link_to research_topics_path do
      %li.list-group-item.hover-slide-left.list-shrink{ style: 'color:white; color: rgba(255,255,255,.8); text-decoration: none;' } Rank the Research
