.progress
  .progress-bar.progress-bar-success{ role: "progressbar", style: "width: #{progress}%;color:#f5f5f5", aria: { valuemax: "100", valuemin: "0", valuenow: "#{progress}" } }
    = progress.to_s + '%'
