.content-container
  .content-header
    %h1.f300 Great job!
  .content-body
    %p.lead
      It looks like you're really getting the hang of this. Why don't you continue on and try proposing your own research question? Or, you can see all of the research topics that are currently being voted on, and read about some of the ongoing work for questions that have already been approved.
    = link_to 'Continue', research_topics_path, class: 'btn btn-primary'
