/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  //padding-top: 70px;
}
footer {
  //padding: 30px 0;
}



/*
 * Off Canvas
 * --------------------------------------------------
 */
.offcanvas-toggle {
  position: absolute;
  top: 0px;
  left: 10px;
  a {
    font-size: $font-size-h1;
  }
  a.active {
    color: $linkColorHover;
  }
}


@media screen and (max-width: $screen-sm-max) {
  .container {
    width: 100%;

  }

  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
    padding-left: 25px;


  }
}