

header#top-navigation.navbar-inverse {
  //background-color:$blueDar;
  height: $normal-nav-height;
  box-shadow: $subtleShadow;
  -webkit-transition: height 0.25s;
  -moz-transition: height 0.25s;
  -ms-transition: height 0.25s;
  -o-transition: height 0.25s;
  transition: height 0.25s;

  // Toggle

  .navbar-header {
    position: relative;

  }

  .navbar-toggle {


    border: none;
    padding: 10px 10px;
    margin: 7px 15px 0px 15px;

    .fa {
      color: $navbar-inverse-toggle-color;
      font-size: $font-size-h1;
    }
  }

  .navbar-toggle:hover {
    .fa {
      color: $navbar-inverse-toggle-hover-color;
    }
  }


  #top-nav-container {
    background-color: $navbar-inverse-bg;
    @media screen and (max-width: $screen-sm-max) {
      text-align: center;
    }


    #myApneaLogo {
      background-image: url('#{$assets-path}/myapnea/icons/myApneaLogo.png');


      @media screen and (max-width: $screen-sm-max) {
        left: 15px;
      }

      @media screen and (max-width: $screen-sm-max) {
        background-size: 100%;
        position: static;
        margin-top: 5px;
        width: 250px;
        height: 70px;
        float: none;
        display: inline-block;

      }


      left: 0px;
      height: 100px;
      overflow: hidden;
      text-indent: -9999px;
      width: 400px;
      padding: 0;
      position: absolute;
      top: 12px;
      background-size: 80%;
      background-repeat: no-repeat;
      background-position: -3px -2px;
      //        -webkit-transition: all 0.5s ease-in-out;
      //        -moz-transition: all 0.5s ease-in-out;
      //        -ms-transition: all 0.5s ease-in-out;
      //        -o-transition: all 0.5s ease-in-out;
      //        transition: all 0.5s ease-in-out;
    }
  }


  .nav > li {
    //color: $menuLinkColor;
    font-size: $fontSizeLarge;
  }


  .navbar-nav > li > a:hover {
    //color:$linkColorHover;
    font-weight:normal;
  }

  .navbar-nav > li > a {
    padding-top:0;
    //color:$menuLinkColor;
    padding:2px 0;
  }

  .navbar-nav > li > a:after:hover {
    color:$menuLinkColor;
    text-decoration: none;
  }

  .navbar ul.nav li.active a {
    background-color: $none;
  }

  .navbar ul.nav li a.currentPage {
    color: $linkColorHover;
  }

  .navbar-collapse {
    margin-left: 320px;
    #user-functions {
      height: $user-fn-height;
      border-bottom: $nav-border-width solid $borderColor;
      a {
        padding: 0;
        line-height: $user-fn-height
      }

      ul {
        float: right;
      }
    }

    #nav-functions {
      height: $nav-fn-height;

      a {
        padding: 0;
        line-height: $nav-fn-height
      }

      ul {
        float: right;
      }
    }
  }
  .navbar-collapse.collapse.in {
    margin-left: 0;
    text-align: center;

    #user-functions {
      margin-top: 55px;
      height: auto;

      ul {
        float: none;

      }
    }

    #nav-functions {
      height: auto;
      ul {
        float: none;

      }
    }
  }


}

header#top-navigation.navbar-inverse.smaller {
  // height:35px;
  height: 42px;
  -webkit-transition: height 1s;
  -moz-transition: height 1s;
  -ms-transition: height 1s;
  -o-transition: height 1s;
  transition: height 1s;

  #top-nav-container #myApneaLogo {
    height: 70px;
    background-size: 40%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
}

.film-strip {
  text-align: center;
  white-space: nowrap;
  overflow-x: hidden;
}

.film-strip-panel {
  display: inline-block;
}

.film-strip-panel > img {
  height: 75px;
}

.film-strip-panel img:hover {
  border-color: $linkColorHover;
}

@media screen and (min-width: 768px) {
  .film-strip {
    text-align: right;
  }
}
