- if current_user.beta_opt_in?
  - unless cookies[:acknowledged_beta_message] == '1'
    .alert.alert-info.fade.in{ style: 'margin-top:10px; margin-bottom:5px' }
      %button{ type: 'button', class: 'close', data: { dismiss: 'alert', object: 'set-cookie', cookie_key: 'acknowledged_beta_message', cookie_value: '1' }, aria: { label: 'Close'} }
        %span{ aria: { hidden: 'true'} } &times;
      %strong Welcome to the beta version of the site!
      You can go back to the previous layout any time by going to your
      = link_to 'account settings.', account_path
- else
  - unless cookies[:acknowledged_beta_open] == '1'
    .alert.alert-info.fade.in{ style: 'margin-top:5px; margin-bottom:10px' }
      %button{ type: 'button', class: 'close', data: { dismiss: 'alert', object: 'set-cookie', cookie_key: 'acknowledged_beta_open', cookie_value: '1' }, aria: { label: 'Close'} }
        %span{ aria: { hidden: 'true'} } &times;
      %strong We've released a new version of this site!
      %br
      You can join the new version now and help us improve by going to your
      = link_to 'account settings', account_path, style: 'text-decoration:underline;'
      and clicking 'Enable Beta'.
