- @title = 'Activity'

- content_for :body_class do
  myapnea-blue-bg

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        = @title

.drawer-and-shelf-container
  .drawer
    = render 'internal/menu'
  .shelf
    .dashboard-container
      -# TODO: Filtering by shadow banned users for topics/blogs
      -# .joins(:topic).merge(Topic.current.shadow_banned(current_user))
      - @replies = Reply.current.shadow_banned(current_user).order(created_at: :desc)
      - @replies.joins(:user).limit(90).group_by(&:user).each do |user, replies|
        - reply = replies.first
        = render 'internal/reply', reply: reply
