- @title = "My Dashboard"

- @body = "grey"
- @footer = "grey"

- @special_heading = true

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("internal/sidebar")
- content_for :header, @title

- content_for :drawer do
  .p-3
    %p.lead Articles
    - Broadcast.current.published.order(publish_date: :desc, id: :desc).limit(9).each do |broadcast|
      = link_to blog_post_path(broadcast.url_hash), class: "d-block background-brand-white rounded p-1 mb-2 box-shadow small" do
        = broadcast.title
        - if first_image_url(broadcast).present?
          = image_tag first_image_url(broadcast), style: "max-width: 100%; height: auto;"

-# TODO: Filtering by shadow banned users for topics/blogs
-# .joins(:topic).merge(Topic.current.shadow_banned(current_user))
%p.lead Recent Forum Activity
- @replies = Reply.current.shadow_banned(current_user).order(created_at: :desc)
- @replies.joins(:user).limit(90).group_by(&:user).each do |user, replies|
  - reply = replies.first
  = render "replies/simple_full", reply: reply
