= render 'layouts/menu'

.page-box.last-slide.myapnea-sky-bg
  .container
    .drawer-and-shelf-container
      .drawer
        = render 'internal/menu2'
      .shelf
        %strong Dashboard 2

= render 'layouts/footer'
