- @title = 'Dashboard 2'

- content_for :body_class do
  myapnea-sky-bg

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        = @title

.drawer-and-shelf-container
  .drawer
    = render 'internal/menu2'
  .shelf
    .dashboard-container
      %strong Dashboard 2
