- @title = "My Dashboard"

- @theme = "default"
- content_for :header, @title
= render "internal/tabs"
- content_for :sidebar, render("internal/sidebar")

= render "slice/surveys/projects_next_question"

%p.lead Recent Forum Activity
- @replies.each do |reply|
  = render "replies/simple_full", reply: reply
