- @title = "Settings"
- @menu_title = "Rearch consents"
- @menu = "night"
- @footer = "night"

- content_for :body_class do
  myapnea-night-bg

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        = @title

= render "blank/moon"

.drawer-and-shelf-container
  .drawer
    = render "internal/settings_menu"
  .shelf
    .dashboard-container
      .settings-title Consents

      .settings-body
        %p
          %strong MyApnea Core

        %p
          %strong Yoga
