- @title = 'Settings'
- @menu_title = 'Rearch consents'
- @theme = 'sunset'

- content_for :body_class do
  myapnea-sunset-bg

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        = @title

.row
  .col-sm-3.col-sticky
    = render 'internal/settings_menu'
  .col-sm-9
    .dashboard-container
      .settings-title Consents

      .settings-body
        %p
          %strong MyApnea Core

        %p
          %strong Yoga
