- @title = "Settings"
- @menu_title = "Account settings"
- @menu = "night"
- @footer = "night"

- content_for :body_class do
  myapnea-night-bg

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        = @title

= render "blank/moon"

.drawer-and-shelf-container
  .drawer
    = render "internal/settings_menu"
  .shelf
    .dashboard-container
      .settings-title Change password

      .settings-body
        %p
          %strong Old password

        %p
          %strong New password

        %p
          %strong Confirm new password

      .settings-title.text-danger Delete account
      .settings-body
        %p
          Once you delete your account, there is no going back. Any forum posts
          you have made will also be deleted.

        = link_to "Delete My Account", "#", data: { object: "suppress-click" }, style: "color: green"
