- @title = 'Yoga Consent'
- @theme = 'sunset'
- consent_page_content = page_content('consent')

- content_for :body_class do
  myapnea-sunset-bg

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        = @title

.dashboard-container
  %p.center{ style: 'font-size: 20px; margin-bottom: 20px;border-bottom: 1px solid #ff9800;' }
    Yoga is a group of physical, mental, and spiritual practices or
    disciplines which originated in ancient India.

  %ol
    %li
      %p
        %strong Why is this study being done?
      %p The purpose of the MyApnea.Org research portal is to engage people with sleep apnea to share health information needed for research that will improve the health and well-being of adults and children with sleep apnea.
    %li
      %p
        %strong How many people will take part in this study?
      %p We hope to enroll at least 50,000 people into the MyApnea.Org research portal.
    %li
      %p
        %strong Am I eligible to participate in the study?
      %p To participate, you need to have the diagnosis of sleep apnea or have a concern that you may have sleep apnea.
    %li
      %p
        %strong How do I know what will be used for research purposes and what will not be used as part of the study?
      %p Only information you provide on pages marked "Research" at the top will be used for scientific purposes. You can only access these pages after you have read this consent and have agreed to participate in the research portal.
    %li
      %p
        %strong What will happen if I take part in this research study?
      %p
        %strong We will ask you to complete surveys about yourself and your sleep apnea.
        If you agree to participate in the MyApnea.Org research portal, you will be asked to complete at least one survey about your sleep, symptoms and health. The survey will ask about such things as when you were diagnosed with sleep apnea, treatments you have used, medical illnesses such as high blood pressure, and your energy level. The basic survey will take less than 30 minutes to complete for most people. There will be more surveys on the site that we would like you to complete. These longer surveys should take less than 1 hour to complete for most people.
      %p
        %strong You will be asked to update information on the surveys every 6 to 12 months or as your health changes.
      %p
        Information collected about you will be combined with information from other people who have joined the site. Other people, researchers and health care providers that have joined the network will be able to view graphs and summary information on groups of people with apnea. When combining this information, your name and other personal information
        %strong will not
        be used.
      %p
        %strong We will send you reminder emails or phone calls.
      %p When there is a study activity that we want you to complete or consider, we will contact you. We plan to update your health status every 6 to 12 months. You will let us know how you want us to contact you, by phone or by email.
    %li
      %p
        %strong How long will I be in the study?
      %p We would like to keep track of your health status for at least 2 years, and possibly longer so we know how your health changes over time. Keeping in touch with you and checking on your health over many years is very important to help us look at the long-term effects of sleep apnea and its treatments on health. We plan to do this by contacting you at least twice a year.
    %li
      %p
        %strong Can I stop being in the study?
      %p Yes. You can decide to stop at any time. We won't delete the information about you that we've already collected, but we will stop collecting any new information about you and will stop contacting you.
      %p
        To stop participating in the study, please go to the
        = succeed "," do
          %strong "My Account Settings"
        %strong Leave Research Study
        and click the orange button. You can also send an email to the study staff at:
        %a.content-link{:href => "mailto:support@myapnea.org", :target => "_blank"} support@myapnea.org
    %li
      %p
        %strong What side effects or risks can I expect from being in the study?
      %p Although we will do our best to protect your study information, there is still a very small risk of loss of privacy. There is a risk that participating in the study will make you want to access the healthcare system more often, and that costs money. For example, the feedback information that we provide to you (see Question 9 below) might make you want to talk to your healthcare provider, or you may want to make extra visits to your provider in order to fill out a survey. While there may often be benefits to you from seeing your healthcare provider, there are also costs, and the MyApnea.Org research portal will not pay for any part of your medical care. You should not see your healthcare provider solely for the purpose of collecting data for the MyApnea.Org research portal.
    %li
      %p
        %strong Are there benefits to taking part in the study?
      %p You will not obtain any direct health benefits from participating in the study, but you will receive information on healthy sleep and healthy lifestyle behaviors along with sleep apnea news and updates available on our the general MyApnea.Org site. You will also receive information on topics such as your sleepiness and sleep patterns based on the information you provide. We hope that by participating you will help us contribute to a better understanding of sleep apnea that will lead to improved health for the millions of patients with sleep apnea.
    %li
      %p
        %strong Will I get advice about my health from the study?
      %p No. We will provide you with information about symptoms of untreated sleep apnea, ways to reduce sleep apnea treatment and sleep apnea treatments but we will not provide you with specific advice, even if the information you provide us is very abnormal. The information we provide to you, including that shared by other patients, does not in any way substitute for professional medical advice, diagnosis, or treatment that your doctor or nurse may give you. Always ask your doctor if you have any questions about your health. Do not ignore the advice of your doctor or nurse or delay seeing your doctor or nurse because of something you have read as part of this study. If you think you may have a medical emergency, call your doctor or dial 911 immediately.
    %li
      %p
        %strong What other choices do I have if I do not take part in this study?
      %p You are free to choose not to participate in the MyApnea.Org research portal. If you decide not to take part, there will be no penalty to you.
    %li
      %p
        %strong You may be asked to join other research studies and Patient-Powered Research Networks (PPRNs).
      %p You may be invited to participate in other research studies related to sleep apnea or Patient-Powered Research Networks for other related health conditions. Each of these studies and networks will have a separate consent form and will be explained in detail so you may decide if you would like to be a part of it. Participation in these other research studies and PPRNs is optional. That is, you can still be a part of the MyApnea.Org research portal without participating in the other studies or PPRNs. If you do consent to participate in other research studies or PPRNs your information will be linked across research studies to increase the likelihood of meaningful analysis.
    %li
      %p
        %strong How is my information protected?
      %p
        We will do our best to make sure that the personal information we collect about you is kept private and secure.
        %strong The MyApnea.Org research portal will never sell, rent, or lease your contact information.
        If information from this study is published or presented at scientific meetings, your name and other personal information will not be used. However, we cannot guarantee total privacy — your personal information may be given out if required by law (e.g., to prevent possible injury to yourself or others).
      %p Your information will be sent and stored using very secure systems. The network servers where your data are stored sit behind firewalls that do not allow unauthorized access and are physically located in a secure server room that can only be accessed by critical staff members.
    %li
      %p
        %strong What are the costs of taking part in this study?
      %p You will not be charged for any aspect of participating in the MyApnea.Org research portal.
    %li
      %p
        %strong Will I be paid for taking part in this study?
      %p You will not be paid for taking part in the MyApnea.Org research portal.
    %li
      %p
        %strong What are my rights if I take part in this study?
      %p Taking part in this study is your choice. You may choose either to take part or not to take part in the study. If you decide to take part in this study, you may leave the study at any time. No matter what decision you make, there will be no penalty to you.
      %p We will tell you about new information or changes in the study that may affect your willingness to continue in the study.
    %li
      %p
        %strong Who can answer my questions about the study?
      %p
        You can contact the study staff at
        or
        about any questions, concerns, or complaints you have.
      %p
        If you want to speak with someone
        %strong not
        directly involved in this research study, please contact the Partners Human Research Committee office. You can call them at
      %p
        You can talk to them about:
        %strong (1)
        your rights as a research subject,
        %strong (2)
        your concerns about the research,
        %strong (3)
        a complaint about the research.
      %p Also, if you feel pressured to take part in this research study, or to continue with it, they want to know and can help.


  - if current_user
    .center
      = link_to 'Join Study', yoga_path(id: 1), class: 'btn btn-lg btn-success'
      or
      = link_to 'I do not accept', research_path
