- @active_top_nav_link = :participate

.survey-report-container.panel
  .survey-report-question.rounded-top
    %h3 What is your current marital status?
  .survey-report-answer
    %p
      Your answer:
      %span.f500= "Prefer not to answer"
  .survey-report-info
    #marital-status{ data: { object: 'd3-report', question: 'marital-status' } }

.survey-report-container.panel
  .survey-report-question.rounded-top
    %h3 What best describes your current main daily activities?
  .survey-report-answer
    %p
      Your answer:
      = "Prefer not to answer"
  .survey-report-info
    #daily-activities{ data: { object: 'd3-report', question: 'daily-activities' } }

.survey-report-container.panel
  .survey-report-question.rounded-top
    %h3 How hard is it for you (and your family) to pay for basics like food, rent, or mortgage, heating, etc.?
  .survey-report-answer
    %p
      Your answer:
      %span.f500= "Very hard"
  .survey-report-info
    #difficulty-paying-basics{ data: { object: 'd3-report', question: 'difficulty-paying-basics' } }
