- @active_top_nav_link = :participate

.survey-report-container.panel
  .survey-report-question.rounded-top
    %h3
      What symptoms do you currently experience?
  .survey-report-answer
    %p
      Your symptoms include:
      %span.f500= "Tiredness, Fatigue"
  .survey-report-info
    %h3 The following symptoms were commonly experienced by diagnosed members of MyApnea.Org
    %br
    .row
      .col-sm-2.col-sm-offset-1
        %h1.report-statistic= "81%"
      .col-sm-8
        %p.lead.text-left
          of members report experiencing
          %span.darkerer-blue snoring
          for at least one year before diagnosis
    %br
    .row
      .col-sm-2.col-sm-offset-1
        %h1.report-statistic= "72%"
      .col-sm-8
        %p.lead.text-left
          of members report experiencing
          %span.darkerer-blue sleepiness
          for at least one year before diagnosis
    %br
    .row
      .col-sm-2.col-sm-offset-1
        %h1.report-statistic= "61%"
      .col-sm-8
        %p.lead.text-left
          of members report experiencing
          %span.darkerer-blue irritation
          for at least one year before diagnosis
