- @data = Report.comorbidity_map.push(["Sleep Apnea", "conditions-sleep-apnea", 100])
- result = { nodes: [], links: [] }
- result[:nodes] = @data.collect{|d| { name: d[0], id: d[1], frequency: d[2] }}
- result[:links] = @data.collect{|d| { source: d[1], target: 'conditions-sleep-apnea' }}

.survey-report-container.panel
  .survey-report-question.rounded-top
    %h3 Health Conditions Related to Sleep Apnea
  .survey-report-answer
    %p.lead
      Sleep apnea is related, and can lead, to many other health issues. People may develop other health conditions before and after they are diagnosed with sleep apnea. Researchers are interested in examining the relationship between sleep apnea and other health conditions in order to improve treatments and overall health.
      %br
      %br
      Many of these conditions are common in the general population, and some, such as diabetes, may be particularly common in people with sleep apnea. One goal of MyApnea.Org is to better understand the links among these diseases and sleep apnea. This information may help identify how treatment of sleep apnea impacts many aspects of health.
  .survey-report-info
    %p.lead
      Use your mouse to
      %span.f500 click on
      each circle to learn more!
    #health-conditions-info
    #health-conditions{ style: 'position:relative', data: { object: 'd3-report', question: 'health-conditions', health_conditions_json: "#{result.to_json}" } }
      #tooltip.hidden.hidden-xs{ style: 'position: absolute;' }
