- @active_top_nav_link = :participate

.survey-report-container.panel
  .survey-report-question.rounded-top
    %h3 In general, how would you rate your health?
  .survey-report-answer
    %p.lead Your answer: Poor
  .survey-report-info
    #health-rating{ data: { object: 'd3-report', question: 'health-rating' } }

.survey-report-container.panel
  .survey-report-question.rounded-top
    %h3 Compared to one year ago, how would you rate your health in general now?
  .survey-report-answer
    %p.lead Your answer: Somewhat better now than one year ago
  .survey-report-info
    #health-improvement{ data: { object: 'd3-report', question: 'health-improvement' } }

.survey-report-container.panel
  .survey-report-question.rounded-top
    %h3 In general, how would you rate your quality of life?
  .survey-report-answer
    %p.lead Your answer: Very good
  .survey-report-info
    #qol-rating{ data: { object: 'd3-report', question: 'qol-rating' } }
