- @active_top_nav_link = :participate

.row.reset-layout{ style: 'background-color: rgb(207, 226, 248)'}
  .col-md-12.centered-text.lighterer-blue-bcg
    %h3.f500.text-dark7 How many hours of sleep do you usually get per night on weekdays or workdays?
    %p.lead.text-dark6 Your answer: 5-6 hours
    %br
    .row
      .col-xs-4.text-right
        %h1.primary-orange.cabin-sketch{ style: 'margin-top:0px' }
          70%
      .col-xs-8.text-left
        %p.lead.text-light9
          of MyApnea members report getting less than the recommended amount of sleep.
    %br
    %p.lead.text-dark7
      The National Sleep Foundation recommends all adults over the age of 18 to get a minimum of 7 hours of sleep every night. Nearly half of all US Americans report getting less than the recommended amount of sleep, which contributes to a myriad of health and mental problems.
  .col-md-12.centered-text
    %h3.f400.text-dark7 How many hours of sleep do you usually get per night on weekends or days off?
    %p.lead.text-dark6 Your answer: 9 hours
    .row
      .col-xs-4.text-right
        %h1.lighter-orange.cabin-sketch{ style: 'margin-top:0px' }
          90%
      .col-xs-8.text-left
        %p.lead.text-light9
          of MyApnea members report getting different amounts of sleep on the weekends than on weekdays.
    %br
    %p.lead.text-dark7
      Having the same bedtime and wake up time on workdays and weekends could help you fall asleep and stay asleep all night because it helps keep your body's clock regular.
.row.reset-layout{ style: 'background-color: rgb(207, 226, 248)'}
  .col-md-12.centered-text.lighterer-blue-bcg
    %h3.f500.text-dark7 Considering only your own "feeling best" rhythm, at what time would you get up if you were entirely free to plan your day?
    %p.lead.text-dark6 Your answer: 6:30 - 7:45 am
    .row
      .col-xs-10.col-xs-offset-1
        #clock
          %ul.digits
            %li 1
            %li 2
            %li 3
            %li 4
            %li 5
            %li 6
            %li 7
            %li 8
            %li 9
            %li 10
            %li 11
            %li 12
          %span.hand.minute
          %span.hand.hour
      .col-xs-10.col-xs-offset-1
        %p.lead
          The average MyApnea member would prefer to wake up at
          %span.primary-orange.f500 7:45 am
        %p.lead
          Some people prefer to wake up earlier in the morning and go to bed earlier at night (sometimes called morning larks). Others prefer to sleep later in the mroning and stay up later at night (sometime's called night owls). Researchers study the body's internal clock, or circadian rhythm, to learn more about the differences between morning larks and night owls.
.row.reset-layout{ style: 'background-color: rgb(207, 226, 248)'}
  .col-md-12.centered-text
    %h3.f500.text-dark7 The last question of this survey asked you to note how likely you would be to doze off or fall asleep in a variety of situations.
    %h4.f300.text-dark7 This series is known as the Epworth Sleepiness Scale (ESS), and provides a measure of how sleep you feel.
    %p.lead Your score:
    %h1.f500.cabin-sketch.primary-orange
      18
    %p.lead
      Normal scores are less than 10. Scores of 11 or more indicate sleepiness, with scores greater than 16 indicating high levels of sleepiness.  Sleepiness may occur because of untreated sleep apnea, inadequately treated sleep apnea, not getting enough sleep per night (most adults need 7 to 8 hours of sleep per night) or another sleep disorder.  If your score is greater than 10, you may want to talk to your health care provider as well as review your sleep habits to make sure you are getting 7 to 8 hours of sleep per night.
