.content-container
  .survey-report-question
    %h3
      What symptoms do you currently experience?
  - my_risk_symptoms = TemporaryReport.risk_symptoms(@answer_session, 'risk-symptoms').collect { |ao| ao.answer_templates.first.text }
  - if my_risk_symptoms.count > 0
    .survey-report-answer
      %p
        Your symptoms include:
        %span.f500= my_risk_symptoms.join(', ')
  .survey-report-info
    %h3 The following symptoms were commonly experienced by members of MyApnea.Org before their diagnosis:
    - question = @survey.questions.find_by(slug: 'risk-symptoms')
    = render 'surveys/reports/sleep_apnea_symptoms_statistics', question: question
