- @active_top_nav_link = :participate

.survey-report-container.panel
  .survey-report-question.rounded-top
    %h3
      What symptoms do you currently experience?
  .survey-report-answer
    %p
      Your symptoms include:
      %span.f500= Report.selected_symptoms("baseline", "risk-symptoms", current_user).join(", ")
  .survey-report-info
    %h3 The following symptoms were commonly experienced by members of MyApnea.Org before their diagnosis:
    = render partial: 'surveys/reports/sleep_apnea_symptoms_statistics'
