- @active_top_nav_link = :participate

.survey-report-container.panel
  .survey-report-question.rounded-top
    %h3 Health Conditions Related to Sleep Apnea
  .survey-report-answer
    %p.lead
      If you currently do not have a diagnosis of sleep apnea, but have one or more of these health conditions and experience many symptoms related to sleep apnea, you should consult your medical provider.
  .survey-report-info
    %p.lead
      Use your mouse to
      %span.f500 click on
      each circle to learn more!
    #health-conditions-info
    #health-conditions{ style: 'position:relative', data: { object: 'd3-report', question: 'health-conditions' } }
      #tooltip.hidden.hidden-xs{ style: 'position: absolute;' }

