- promis_score = Report.personal_promis_score('baseline', current_user)

.survey-report-container.panel
  .survey-report-question.rounded-top
    %h3 The PROMIS Sleep Disturbance Scale
  .survey-report-answer
    .row
      .range-container.col-xs-10.col-xs-offset-1
        = range_field_tag 'quality', promis_score, in: 1...100, step: '1', list: 'quality-options', disabled: true
        .range-text.range-left 0
        .range-text.range-center 50
        .range-text.range-right 100
    - if promis_score.present? and !promis_score.nan?
      %p.lead
        Your sleep disturbance score:
        %span.f500= "%0.2f" % promis_score
  .survey-report-info.rounded-bottom
    - if promis_score.present? and !promis_score.nan?
      %p.lead
        %span.f500
          = "You did a great job with your sleep this week!" if promis_score < 50
          = "You could do a better job with your sleep this week." if promis_score >= 50
    %p.lead
      This scale allows you to see how your perceived sleep quality compares with the average adult's sleep quality over the past week. The average score is 50, with values greater than that indicating poorer sleep quality, and values less than that indicating better sleep quality.
