- @active_top_nav_link = :participate

.row.reset-layout{ style: 'background-color: rgb(207, 226, 248)'}
  .col-md-12.centered-text
    %h3.f500.text-dark7 Health Conditions Related to Sleep Apnea
    %p.lead If you currently do not have a diagnosis of sleep apnea, but have one or more of these health conditions and experience many symptoms related to sleep apnea, you should consult your medical provider.
    #vis

