- @active_top_nav_link = :participate

.row.reset-layout{ style: 'background-color: rgb(207, 226, 248)'}
  .col-md-12.centered-text
    %h3.f500.text-dark7 How frequently your symptoms are experienced by diagnosed members of MyApnea
    .row
      .col-sm-2.col-sm-offset-1
        %h1.primary-orange.cabin-sketch{ style: 'margin-top: 0px'} 86%
      .col-sm-8
        %p.lead.text-left
          of members report experiencing
          %span.darkerer-blue snoring
          for at least one year before diagnosis
    .row
      .col-sm-2.col-sm-offset-1
        %h1.primary-orange.cabin-sketch{ style: 'margin-top: 0px'}
          72%
      .col-sm-8
        %p.lead.text-left
          of members report experiencing
          %span.darkerer-blue sleepiness
          for at least one year before diagnosis
    .row
      .col-sm-2.col-sm-offset-1
        %h1.primary-orange.cabin-sketch{ style: 'margin-top: 0px'}
          61%
      .col-sm-8
        %p.lead.text-left
          of members report experiencing
          %span.darkerer-blue irritation
          for at least one year before diagnosis
