.full-survey-container:not(#simple-survey) {
  input[type=date] {
    line-height: normal;
  }

  .survey-custom-date {
    border-color: $lightest-blue;
    border-radius: 20px;
    font-size: 35px;
    margin: 0 auto;
    padding: 7px;
    width: 80%;
  }

  .survey-custom-date:focus {
    box-shadow: 0 0 10px $lightest-blue;
    outline: none;
  }

  .survey-custom-date::-webkit-input-placeholder { color: $darker-gray; }

  .survey-custom-date:-moz-placeholder { color: $darker-gray; }

  .survey-custom-date::-moz-placeholder { color: $darker-gray; }

  .survey-custom-date:-ms-placeholder { color: $darker-gray; }
}

@media (max-width: $screen-md) {
  .survey-custom-date {
    font-size: 20px;
  }
}
