/* Thanks to help from danield770 http://jsfiddle.net/danield770/YvCHW/4232/ */
.full-survey-container:not(#simple-survey) {
  select.height-select {
    border: 1px solid #111;
    background: transparent;
    width: 150px;
    padding: 5px;
    font-size: 34px;
    border: 1px solid #ccc;
    height: 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: asset-url("myapnea/icons/arrowdown.png") 96% / 15% no-repeat #fff;
  }

  .height-label {
    font-size: 34px;
    padding: 5px;
  }
}


@media all and (max-width:778px) {
  .full-survey-container:not(#simple-survey) {
    select.height-select {
      width:100px;
      font-size:18px;
      margin:5px;
    }
    .height-label {
      margin:5px;
      font-size:22px;
    }
  }
}

/*target Internet Explorer 9 and Internet Explorer 10:*/
@media screen and (min-width:0\0) {
  .full-survey-container:not(#simple-survey) {
    select.height-select {
      background:none;
      padding: 5px;
    }
  }
}
