.reveal-next-input ~ .hidden-input {
  display:none;
}
.reveal-next-input:checked ~ .hidden-input {
  display: inline-block;
  margin: 7px 5%;
  width: 90%;
  float:left;
  margin-bottom:30px;
}


/* RESPONSIVE */
@media all and (max-width: 1200px) {}
@media all and (max-width: 992px) {}
@media all and (max-width: 768px) {}
