.full-survey-container:not(#simple-survey) {
  input[type=number].number-input {
    border-radius: 5px;
    font-size: 34px;
    width: 150px;
  }

  .number-label {
    font-size: 34px;
  }

  input[type=number].number-input::-webkit-inner-spin-button,
  input[type=number].number-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@media all and (max-width:$screen-sm) {
  .full-survey-container:not(#simple-survey) {
    input[type=number].number-input {
      font-size: 18px;
      margin: 5px;
      width: 130px;
    }

    .number-label {
      font-size: 22px;
      margin: 5px;
    }
  }
}
