input[type=text].number-input {
  font-size: 34px;
  width:150px;
  border-radius:5px;
  max-length: 3;
}

.number-label {
  font-size: 34px;
}


@media all and (max-width:778px) {
  input[type=text].number-input {
    width:130px;
    font-size:18px;
    margin:5px;
  }
  .number-label {
    margin:5px;
    font-size:22px;
  }
}
