.full-survey-container:not(#simple-survey) {
  .input-container:not(#foo) input[type=radio] {
    display: none;
  }

  .label-default {
    background-color: transparent;

    label {
      background-color: $lightest-blue;
      border: 6px double transparent;
      border-radius: 20px;
      cursor: pointer;
      display: inline-block;
      padding: 10px;
      vertical-align: middle;
      width: 100%;

      .hotkey {
        color: $white;
        font-size: 18px;
        font-weight: 300;
      }

      p {
        color: rgba(0, 0, 0, .6);
        font-size: 20px;
        font-weight: 300;
      }
    }
  }

  .label-default input[type=radio]:checked ~ label {
    background-color: $lighter-blue;
    border: 6px double $white;
  }

  .label-sm {
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 20%;

    p {
      margin: auto;
      padding: 0;
    }
  }

  .label-med {
    margin: 4px auto;
    padding: 5px;
    width: 45%;
  }

  .label-lg {
    margin: 4px auto;
    width: 70%;
  }

  .label-xl {
    margin-left: 10%;
    margin-right: 10%;
    width: 85%;
  }

  $neutral: #bbb;
  $blue: #7fb2eb;

  .survey-scale label {
    background-color: transparentize($neutral, .7);
    border: 6px double transparent;
    border-radius: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    vertical-align: middle;
    width: 100%;
  }

  .survey-scale input[type=radio]:checked ~ label {
    background-color: transparentize($neutral, .1);
    border: 6px double $white;
  }

  .survey-scale-blue label {
    background-color: transparentize($blue, .7);
  }

  .survey-scale-blue input[type=radio]:checked ~ label {
    background-color: transparentize($blue, .1);
    border: 6px double $white;
  }

  .survey-scale-emergency label {
    background-color: transparentize($emergency, .7);
  }

  .survey-scale-emergency input[type=radio]:checked ~ label {
    background-color: transparentize($emergency, .1);
    border: 6px double $white;
  }

  .survey-scale-danger label {
    background-color: transparentize($danger, .7);
  }

  .survey-scale-danger input[type=radio]:checked ~ label {
    background-color: transparentize($danger, .1);
    border: 6px double $white;
  }

  .survey-scale-warning label {
    background-color: transparentize($warning, .7);
  }

  .survey-scale-warning input[type=radio]:checked ~ label {
    background-color: transparentize($warning, .1);
    border: 6px double $white;
  }

  .survey-scale-moderate label {
    background-color: transparentize($moderate, .7);
  }

  .survey-scale-moderate input[type=radio]:checked ~ label {
    background-color: transparentize($moderate, .1);
    border: 6px double $white;
  }

  .survey-scale-good label {
    background-color: transparentize($good, .7);
  }

  .survey-scale-good input[type=radio]:checked ~ label {
    background-color: transparentize($good, .1);
    border: 6px double $white;
  }

  .survey-scale-great label {
    background-color: transparentize($great, .7);
  }

  .survey-scale-great input[type=radio]:checked ~ label {
    background-color: transparentize($great, .1);
    border: 6px double $white;
  }

  .survey-scale-excellent label {
    background-color: transparentize($excellent, .7);
  }

  .survey-scale-excellent input[type=radio]:checked ~ label {
    background-color: transparentize($excellent, .1);
    border: 6px double $white;
  }

  .option-of-multiple {
    display: inline-block;
    float: left;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;

    label {
      .hotkey {
        color: rgba(0, 0, 0, .4);
        font-size: 14px;
        font-weight: 500;
        padding: 0;
      }

      p {
        color: rgba(0, 0, 0, .6);
        font-size: 18px;
        font-weight: 300;
        height: 55px;
        line-height: 22px;
        padding: 0;
        vertical-align: middle;
      }
    }
  }

  .option-of-7 { width: 14.2%; label p { font-size: 15px; } }
  .option-of-6 { padding: 0 2px; width: 16.6%; label { padding: 0; p { font-size: 15px; } } }
  .option-of-5 { width: 20%; label { padding: 0; } }
  .option-of-4 { width: 25%; }
  .option-of-3 { width: 33%; }
  .option-of-2 { width: 50%; }
}

@media (max-width: $screen-lg) {
  .full-survey-container:not(#simple-survey) {
    .option-of-7 {
      width: 100%;

      label {
        p {
          color: rgba(0, 0, 0, .6);
          height: auto;
          margin: 0;
          padding: 0;
          vertical-align: middle;
        }
      }
    }
  }
}

@media all and (max-width: $screen-md) {
  .full-survey-container:not(#simple-survey) {
    .input-container {
      .label-med {
        margin: 2px auto;
        padding: 3px;
        width: 80%;

        p {
          font-size: 18px;
          margin: 0;
          padding: 0;
        }

        .hotkey {
          display: none;
        }
      }

      .label-lg,
      .label-xl {
        margin: 2px 0;
        padding: 3px;
        width: 100%;

        p {
          font-size: 16px;
          margin: 0;
          padding: 0;
        }

        .hotkey {
          display: none;
        }
      }
    }

    .option-of-multiple {
      width: 100%;

      label {
        p {
          color: rgba(0, 0, 0, .6);
          font-size: 18px;
          font-weight: 300;
          height: auto;
          line-height: 18px;
          margin: 0;
          padding: 0;
          vertical-align: middle;
        }

        .hotkey {
          display: none;
        }
      }
    }
  }
}
