.full-survey-container:not(#simple-survey) {
  .survey-container.active .panel .input-container .multiple-question-container.current {
    background-color: transparentize($lightest-blue, .9);
    border-radius: 20px;
  }

  .input-container .multiple-question-container {
    margin-bottom: 50px;

    h4 {
      color: rgba(0, 0, 0, .7);
    }
  }
}
