.range-container {
  margin-top: 30px;
  margin-bottom: 50px;
}

.range-container input[type=range] {
  -webkit-appearance: none;
  background-color: transparent;
  border:3px solid white;
  border-radius:25px;
}

.range-container input[type=range]:focus {
  outline: none;
}

.range-container input[type=range] ~ .range-text {
  width:33.3%;
  float:left;
  margin-top: 10px;
  font-size:18px;
  font-weight:500;
  color:white; color: rgba(0,0,0,.4);
}
.range-container input[type=range] ~ .range-text {
  color: black; color: rgba(0,0,0,.7);
}
.range-container input[type=range] ~ .range-left {
  text-align:left;
}
.range-container input[type=range] ~ .range-center {
  text-align:center;
}
.range-container input[type=range] ~ .range-right {
  text-align:right;
}

/* Thanks to help from
http://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html
*/
// Webkit
.range-container input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  border-radius:20px;
  background: rgba(255,61,61,1);
  background: -moz-linear-gradient(left, rgba(171,255,158,1) 0%, rgba(255,61,61,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(171,255,158,1)), color-stop(100%, rgba(255,61,61,1)));
  background: -webkit-linear-gradient(left, rgba(171,255,158,1) 0%, rgba(255,61,61,1) 100%);
  background: -o-linear-gradient(left, rgba(171,255,158,1) 0%, rgba(255,61,61,1) 100%);
  background: -ms-linear-gradient(left, rgba(171,255,158,1) 0%, rgba(255,61,61,1) 100%);
  background: linear-gradient(to right, rgba(171,255,158,1) 0%, rgba(255,61,61,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#abff93', endColorstr='#ff3d3d', GradientType=1 );
}

.range-container input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #fff;
  width: 10px;
  height: 40px;
  border-radius:7px;
  box-shadow: 0px 1px 1px #ddd;
}


// Firefox
.range-container input[type=range]::-moz-range-track {
  background-color: #ddd;
  border-radius:20px;
  border: none;
}

.range-container input[type=range]::-moz-range-thumb {
  background-color: #fff;
  width: 20px;
  height: 40px;
  box-shadow: 0px 1px 1px #ddd;
  border-radius:10px;
  border:none;
}

.range-container input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

.range-container input[type=range]:focus::-moz-range-track {
  background: rgba(255,61,61,1);
  background: -moz-linear-gradient(left, rgba(255,61,61,1) 0%, rgba(171,255,158,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,61,61,1)), color-stop(100%, rgba(171,255,158,1)));
  background: -webkit-linear-gradient(left, rgba(255,61,61,1) 0%, rgba(171,255,158,1) 100%);
  background: -o-linear-gradient(left, rgba(255,61,61,1) 0%, rgba(171,255,158,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,61,61,1) 0%, rgba(171,255,158,1) 100%);
  background: linear-gradient(to right, rgba(255,61,61,1) 0%, rgba(171,255,158,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3d3d', endColorstr='#abff9e', GradientType=1 );
}


// IE10+
.range-container input[type=range]::-ms-track {
  background-color: #ddd;
  border-radius:20px;
}

.range-container input[type=range]::-ms-fill-lower {
  background-color: #ddd;
}

.range-container input[type=range]::-ms-fill-uper {
  background-color: #ddd;
}

.range-container input[type=range]::-ms-thumb {
  background-color: #fff;
  width: 20px;
  height: 40px;
  box-shadow: 0px 1px 1px #ddd;
  border-radius:10px;
  border:none;
}

.range-container input[type=range]:focus::-ms-fill-lower {
  background: rgba(255,61,61,1);
  background: -moz-linear-gradient(left, rgba(255,61,61,1) 0%, rgba(171,255,158,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,61,61,1)), color-stop(100%, rgba(171,255,158,1)));
  background: -webkit-linear-gradient(left, rgba(255,61,61,1) 0%, rgba(171,255,158,1) 100%);
  background: -o-linear-gradient(left, rgba(255,61,61,1) 0%, rgba(171,255,158,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,61,61,1) 0%, rgba(171,255,158,1) 100%);
  background: linear-gradient(to right, rgba(255,61,61,1) 0%, rgba(171,255,158,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3d3d', endColorstr='#abff9e', GradientType=1 );
}

.range-container input[type=range]:focus::-ms-fill-lower {
  background: rgba(255,61,61,1);
  background: -moz-linear-gradient(left, rgba(255,61,61,1) 0%, rgba(171,255,158,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,61,61,1)), color-stop(100%, rgba(171,255,158,1)));
  background: -webkit-linear-gradient(left, rgba(255,61,61,1) 0%, rgba(171,255,158,1) 100%);
  background: -o-linear-gradient(left, rgba(255,61,61,1) 0%, rgba(171,255,158,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,61,61,1) 0%, rgba(171,255,158,1) 100%);
  background: linear-gradient(to right, rgba(255,61,61,1) 0%, rgba(171,255,158,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3d3d', endColorstr='#abff9e', GradientType=1 );
}

@media all and (max-width: 1200px) {}
@media all and (max-width: 992px) {}
@media all and (max-width: 768px) {}
