.full-survey-container#simple-survey {
  #make-it-exciting {
    display: block;
  }

  #make-it-simple {
    display: none;
  }

  .survey-container .panel {
    background-color: $white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .5);
  }

  .or-press-enter {
    display: none;
  }

  // Checkboxes
  .check-box-container:not(.preferred-not-to-answer) {
    text-align: left;
  }

  .check-box-container {
    label {
      .hotkey {
        display: none;
      }
    }
  }

  // Radio inputs
  .radio-input-container {
    margin-left: 30px;
    text-align: left;

    label {
      .hotkey {
        display: none;
      }
    }
  }

  .label-default {
    background-color: $white;
  }

  // Multiple radio inputs
  .multiple-question-container {
    margin-bottom: 30px;
  }
}
