/* 5.0 */
.survey-container {
  padding:0;
  background-color: transparent;
}

.survey-container .panel {
  background-color: transparent;
  box-shadow: none;
  width:100%;
  padding: 50px 20px 20px 20px;
  .question-container {
    width:100%;
    text-align: center;
    h3 {
      color: black; color: rgba(0,0,0,.7);
    }
  }
  .input-container {
    display:inline-block;
    width:100%;
    margin-top:30px;
    text-align: center;
    margin-bottom:50px;
  }
  .button-container {
    display:none;
  }
}

.survey-container.active .panel {
  background-color: white;
  box-shadow:0px 3px 5px rgb(0,0,0);
  box-shadow:0px 3px 5px rgba(0,0,0,.5);
  .button-container {
    display: block;
    text-align:center;
    .next-question {
      display:inline-block;
    }
    p {
      margin-top:10px;
    }
  }
}

@media all and (max-width: 1200px) {}
@media all and (max-width: 992px) {
  .survey-intro {
    h1, h2, h3, h4, h5, h6, p {
      padding: 0px !important;
    }
  }
}
@media all and (max-width: 768px) {}
