.survey-short-text {
  border-color: $lightest-blue;
  border-radius: 20px;
  font-size: 50px;
  max-width: 100%;
  padding: 7px;
}

.survey-short-text:focus {
  box-shadow: 0 0 10px $lightest-blue;
  outline: none;
}

.survey-short-number {
  text-align: center;
  width: 300px;
}

.survey-text-small {
  font-size: 18px;
}

@media (max-width: $screen-md) {
  .survey-short-text {
    font-size: 20px;
  }
}
