- response ||= []
.survey-choices
  - (@json.dig("variable", "domain_options") || []).each do |domain_option_json|
    - checked = domain_option_json["value"].in?(response)
    %label.survey-choice.box-shadow{ class: checked ? "active" : nil }
      = check_box_tag "response[]", domain_option_json["value"], checked, data: { mutually_exclusive: domain_option_json["mutually_exclusive"] }
      = domain_option_json["name"]
= render "survey/decoration/errors"
= render "survey/decoration/field_note"
