.form-group.string-container
  = form.select :response, (@json.dig("variable", "domain_options") || []).collect { |doj| [doj["name"], doj["value"]] }, { include_blank: "Select answer", selected: response }, class: "form-control #{"is-invalid" if @json.dig("errors", @variable.name).present?}"
  = render "survey/decoration/errors"
  = render "survey/decoration/field_note"
