.form-group.string-container
  .form-inline
    = render "survey/decoration/weight_pounds", value: value
    &nbsp;
    = render "survey/decoration/weight_ounces", value: value
  = render "survey/decoration/errors"
  = render "survey/decoration/field_note"
