// Main CTA
#btn-join {
  margin: auto;
  margin-top: 30px;
  font-size: 40px;
  padding: 10px;
  width: 100%;
  background-color: #FFA400;
  color: #fff;
  border: 1px solid white;
  border-radius: 100px;
  font-weight: 500;
  box-shadow: 0px 2px 0px 0px #ccc;
}

#landing-video-play {
  display: inline-block;
  margin: 10px 50px;
  font-size: 20px;
  // padding: 10px 20px;
  // background-color: rgb(255,255,255);
  // background-color: rgba(255,255,255,.6);
  color: rgb(255,255,255);
  color: rgba(255,255,255,.8);
  border-radius: 5px;
  i { font-size: 1.3em; }
  i, p { display: inline-block; margin-bottom: 0; }
}
#landing-video-play:hover {
  cursor: pointer;
  color: rgba(255,255,255,.9);
}

#slide1 {
  background-image: asset-url('myapnea/welcome/img-large/myapnea_landing_05262015_flipped.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -ms-behavior: asset-url('ie8/backgroundsize.min.htc');
  position:relative;
  min-height: 700px;
  padding-bottom:100px;
  padding-top: 50px;
  #signup-form-above-fold {
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,.8);
    border-radius: 5px;
    padding: 20px;
    form {
      width: 100%;
      padding-top: 20px;
      .input-group {
        width: 90%;
        margin: 10px auto;
        label {
          text-align: left;
        }
      }
    }
    #btn-join {
      margin-top: 10px;
    }
    #risk-callout {
      margin-top: 30px;
    }
  }
  #scroll-carat {
    position:absolute;
    bottom:0px;
    width:100%;
    text-align:center;
  }
}

.text-content-container {
  width: 80%;
  margin: 0% 10%;
  background-color: inherit;
}

#slide2 {
  background-color: #fff;
  padding: 100px 0 150px 0;
  border-top: 5px solid #ffa400;
  #myapnea-mission {
    line-height: 1.3em;
    color: #233063;
    margin-bottom: 70px;
  }
  h3 { color: #1765BC; }
}

#slide3 {
  background-color: white;
  border-top: 5px solid #5999de;
  position: relative;
  height: 300px;
  #testimonial-giver {
    border-right: 5px solid transparent;
    background: #5999de; /* Old browsers */
    background: -moz-linear-gradient(top,  #5999de 0%, #233063 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5999de), color-stop(100%,#233063)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #5999de 0%,#233063 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #5999de 0%,#233063 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #5999de 0%,#233063 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #5999de 0%,#233063 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5999de', endColorstr='#233063',GradientType=0 ); /* IE6-9 */
    width: 241px;
    position: absolute;
    top: 0;
    left: 0;
  }
  #testimonial {
    padding-top: 50px;
    margin-left: 250px;
  }
}

#slide4 {
  background-color: #5999de;
  padding: 150px 0 170px 0;
  border-top: 5px solid #5999de;
  .circle {
    margin: auto;
    width: 275px;
    height: 275px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    line-height: 275px;
    span {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
      font-size: 25px;
      color: #5999de;
      font-weight: 500;
    }
  }
}

#slide5 {
  background-color: #233063;
  padding: 200px 0 200px 0;
  // border-top: 5px solid #5999de;
}

#slide6 {
  background-color: black;
  border-top: 5px solid #5999de;
  border-bottom: 5px solid #FFA400;
  #partners-banner {
    padding-top:20px;
    max-width: 1000px;
    margin: auto;
    #partner-ASAA {
      height: 80px;
      width: 400px;
      float: left;
    }
    #partner-PCORNET {
      height: 80px;
      width: 300px;
      float: left;
    }
    #partner-BWH {
      height: 80px;
      width: 300px;
      float: left;
    }
  }
}


@media (max-width: 1200px) {
}

@media (max-width: 992px) {
  #slide1 {
    #signup-form-above-fold {
      background-color: rgb(255,255,255);
      background-color: rgba(255,255,255,.95);
    }
  }
  #slide3 {
    #testimonial-giver {
      border-bottom: none;
    }
  }
  #slide4 {
    .circle {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 768px) {
  #slide1 {
    #signup-form-above-fold {
      form #user_first_name {
        margin-bottom: 10px;
      }
    }
  }
  #slide2 {
    #myapnea-mission {
      line-height: 1.2em;
    }
    text-align: center;
    img {
      margin: auto;
    }
  }
  #slide3 {
    height: auto;
    #testimonial-giver {
      position: static;
      display: block;
      text-align: center;
      border-right: none;
      border-bottom: 5px solid #5999de;
      margin: auto;
      img { margin: auto; }
    }
    #testimonial {
      padding: 10px 15px;
      margin: 0px;
    }
  }
}
