// Main CTA
#btn-join {
  background-color: $primary-orange;
  border: 1px solid $white;
  border-radius: 100px;
  box-shadow: 0 2px 0 0 $light-gray;
  color: $white;
  font-size: 40px;
  font-weight: 500;
  margin: auto;
  margin-top: 30px;
  padding: 10px;
  width: 100%;
}

#landing-video-play {
  border-radius: 5px;
  color: rgba(255, 255, 255, .8);
  display: inline-block;
  font-size: 20px;
  margin: 10px 50px;

  i { font-size: 1.3em; }

  p {
    display: inline-block;
    font-size: 1.3em;
    margin-bottom: 0;
  }
}

#landing-video-play:hover {
  color: $white;
  cursor: pointer;
}

#slide1 {
  background-image: asset-url('myapnea/welcome/img-large/myapnea_landing_05262015_flipped.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -ms-behavior: asset-url('ie8/backgroundsize.min.htc');
  min-height: 700px;
  padding-bottom: 100px;
  padding-top: 50px;
  position: relative;

  #signup-form-above-fold {
    background-color: rgba(255, 255, 255,.8);
    border-radius: 5px;
    padding: 20px;

    form {
      padding-top: 20px;
      width: 100%;

      .input-group {
        margin: 10px auto;
        width: 90%;

        label {
          text-align: left;
        }
      }
    }

    #btn-join {
      margin-top: 10px;
    }

    #risk-callout {
      margin-top: 30px;
    }
  }
}

.text-content-container {
  background-color: inherit;
  margin: 0% 10%;
  width: 80%;
}

#slide2 {
  background-color: $white;
  border-top: 5px solid $primary-orange;
  padding: 100px 0 150px;

  #myapnea-mission {
    color: $logo-color;
    line-height: 1.3em;
    margin-bottom: 70px;
  }

  h3 { color: $darkest-blue; }
}

#slide3 {
  background-color: $white;
  border-top: 5px solid $primary-blue;
  height: 300px;
  position: relative;

  #testimonial-giver {
    background: linear-gradient(to bottom, $primary-blue 0%, $logo-color 100%);
    border-right: 5px solid transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$primary-blue', endColorstr='$logo-color',GradientType=0);
    left: 0;
    position: absolute;
    top: 0;
    width: 241px;
  }

  #testimonial {
    margin-left: 250px;
    padding-top: 50px;
  }
}

#slide4 {
  background-color: $primary-blue;
  border-top: 5px solid $primary-blue;
  padding: 150px 0 170px;

  .circle {
    background-color: $white;
    border-radius: 50%;
    height: 275px;
    line-height: 275px;
    margin: auto;
    text-align: center;
    width: 275px;

    span {
      color: $primary-blue;
      display: inline-block;
      font-size: 25px;
      font-weight: 500;
      line-height: normal;
      vertical-align: middle;
    }
  }
}

#slide5 {
  background-color: $logo-color;
  padding: 200px 0;
}

#slide6 {
  background-color: $black;
  border-bottom: 5px solid $primary-orange;
  border-top: 5px solid $primary-blue;

  #partners-banner {
    margin: auto;
    max-width: 1000px;
    padding-top: 20px;

    #partner-BWH {
      float: left;
      height: 80px;
      width: 300px;
    }
  }
}


@media (max-width: $screen-md) {
  #slide1 {
    #signup-form-above-fold {
      background-color: rgba(255, 255, 255, .95);
    }
  }

  #slide3 {
    #testimonial-giver {
      border-bottom: 0;
    }
  }

  #slide4 {
    .circle {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: $screen-sm) {
  #slide1 {
    #signup-form-above-fold {
      form #user_first_name {
        margin-bottom: 10px;
      }
    }
  }

  #slide2 {
    text-align: center;

    #myapnea-mission {
      line-height: 1.2em;
    }

    img {
      margin: auto;
    }
  }

  #slide3 {
    height: auto;

    #testimonial-giver {
      border-bottom: 5px solid $primary-blue;
      border-right: 0;
      display: block;
      margin: auto;
      position: static;
      text-align: center;

      img {
        margin: auto;
      }
    }

    #testimonial {
      margin: 0;
      padding: 10px 15px;
    }
  }
}
