.slide-providers-signup {
  background-image: asset-url('myapnea/welcome/img-large/seattle2.jpg');
  background-repeat: no-repeat;
  background-position: center ;
  background-size: cover;
  -ms-behavior: asset-url('ie8/backgroundsize.min.htc');
  background-color: rgb(15, 18, 27);
  position:relative;
  min-height:800px;
  padding-bottom:100px;
  font-family: 'Dosis', sans-serif;
  padding-top: 120px;
  .btn-join {
    font-weight: bold;
    border-radius:100px;
    margin-top:50px;
  }
}

.providers-video-play {
  background-color: rgba(250, 250, 250, .85);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 30px;
  text-align: center;

  i {
    $background-color: #c5ddfa;
    border-radius: 50%;
    color: $background-color;
    font-size: 147px;
    line-height: 118px;
  }

  p {
    color: rgba(0, 0, 0, .7);
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: 20px;
    padding-bottom: 0px;
  }
}


.slide-providers-mission {
  background-color: $white;
  padding: 100px 0;

  img {
    background-color: white;
    border: 5px solid $lighter-orange;
    border-radius: 3px;
    margin-top: 60px;
    max-width: 300px;
    padding: 20px;
  }
}

.slide-provider-signup {
  background-image: asset-url('myapnea/welcome/img-large/unsplash_tree_nofocus.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  -ms-behavior: asset-url('ie8/backgroundsize.min.htc');
  font-family: 'Dosis', sans-serif;
  padding: 100px 0;

  h1 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
  }

  li {
    font-size: 18px;
  }
}

.provider-signup-form {
  background-color: $white;
  border-radius: 3px;
  padding: 30px;
}

