.provider-view-notice {
  background-color: $darkest-blue;
  color: rgba(255, 255, 255, .9);
  padding: 10px;

  a {
    color: $primary-orange;
  }
}

.slide-provider-welcome {
  background-color: $primary-blue;
  color: $white;
  padding: 100px 0;
}

.slide-provider-explanation {
  background-color: $white;
  padding: 100px 0;

  img {
    margin: auto;
    max-width: 300px;
  }
}

.community-highlight-links {
  border: 5px solid $primary-orange;
  border-radius: 5px;
  color: $darker-gray;
  padding: 10px;

  &:hover {
    background-color: $lighter-orange;
    text-decoration: none;
  }
}

@media (max-width: $screen-sm) {
  .slide-provider-explanation {
    .centered {
      text-align: left;
    }
  }
}
