#privacy-policy:hover {
  cursor: pointer;
}

#panel-sign-up {
  h4 {
    margin-bottom: 15px;
    padding: 0 10px;
  }

  input {
    margin: 10px auto;
  }

  .input-group {
    font-size: 16px;
    margin: 10px 0;
    width: 100%;

    input {
      margin: 0 auto;
    }

    .signup-error {
      background-color: $error-background;
      color: $error-color;
    }
  }
}

#submit-join {
  background-color: $primary-blue;
  color: $white;
  font-size: 18px;
  height: auto;
  padding: 10px;
}
