- @background_color = '#fff'
.content-main-header
  .container
    %h1
      = link_to 'Surveys', builder_surveys_path
      &middot;
      = link_to @survey.name, builder_survey_path(@survey.slug_was)
      &middot;
      Edit

.container= render 'form'
