- active = false unless defined?(active)
%li.nav-item{ class: active || current_page?(path) ? "active" : nil }
  = link_to title, path, class: "nav-link"
  - if current_page?(path)
    %span.sr-only (current)
