.modal.fade#firstSessionIntroModal{ tabindex:'-1', role:'dialog', aria: { labelledby: 'firstSessionIntroModalLabel', hidden: 'true' } }
  .modal-dialog.modal-lg{ style: 'z-index:1050' }
    .modal-content
      .modal-header
        %button.close{ type: 'button', data: { dismiss: 'modal' } }
          %span{ aria: { hidden: 'true' } } &times;
          %span.sr-only Close
        %h4.modal-title#firstSessionIntroModalLabel Welcome to MyApnea.Org
      .modal-body{ style: 'overflow-y:scroll; max-height:600px; font-size:20px;' }
        %h4.f300
          We're excited to have you join our growing community!
        %h5.f300
          Before you get started, let us give you a brief tour of the site so you can be well prepared to use it!
      .modal-footer
        .btn.btn-primary{ type: 'button', data: { toggle: 'modal', target: '#firstSessionIntroModal' } }
          Give me the tour!
