.panel.survey-container.progress-w-enter.check-w-letter
  .question-container
    %h3.f300 What is your race?
    %h5.f300.reset-layout (Check all that apply)
  .input-container
    - input_name = 'race'
    .check-box-container
      = check_box_tag input_name, 'A', nil, id: 'A'
      %label{ for: 'A' }
        %span A
        %p Asian (i.e. Asian Indian, Chinese, Filipino, Japanese, Korean, Vietnamese, Hmong, Laotian, Thai, Pakistani, Cambodian, etc.)
    .check-box-container
      = check_box_tag input_name, 'B', nil, id: 'B'
      %label{ for: 'B' }
        %span B
        %p Black, African American, African, or Afro-Caribbean (i.e. African American, Haitian, Nigerian, etc.)
  .button-container
    .btn.btn-primary.next-question
      Go to next question
    %p.text-muted Or press ENTER
