.panel.survey-container.progress-w-enter.active
  .question-container
    %h3.f300 How many hours of sleep did you get last night?
  .input-container
    = text_field_tag 'hours', nil, maxlength: 2, class: 'survey-short-text survey-short-number'
  .button-container
    .btn.btn-primary.next-question
      Go to next question
    %p.text-muted Or press ENTER
