.panel.survey-container.progress-w-enter
  .question-container
    %h3.f300 In the past 7 days, how was your sleep quality?
  .input-container
    = range_field_tag 'quality', nil, in: 1...10, step: '0.1', list: 'quality-options'
    .range-text.range-left Poor
    .range-text.range-center Fair
    .range-text.range-right Good
  .button-container
    .btn.btn-primary.next-question
      Go to next question
    %p.text-muted Or press ENTER
