= render 'blank/menu'

.page-box.myapnea-blue-bg
  = render 'blank/sun'
  .full-page-slide.last-slide.dashboard-container-full-page
    .container
      .dashboard-container
        %strong menu

= render 'layouts/footer'
