- case @theme
- when "night"
  - content_for :footer, render("decorations/moon")
- when "sunset"
  - content_for :footer, render("decorations/sunset")

-# content_for :footer, render("decorations/sun")
-# content_for :footer, render("decorations/sun_horizon_half")
-# content_for :footer, render("decorations/moon")
-# content_for :footer, render("decorations/sunset")
