.landing-sentence.text-center.mb-5.text-white
  .mb-3
    Welcome
    = succeed "!" do
      %span.text-accent.small= current_user.username
  = link_to dashboard_path, class: "btn btn-xl btn-accent btn-shadow" do
    My dashboard
    %i.fa.fa-caret-right

