.page-box.last-box.d-flex.align-items-center.text-white
  .container
    - if current_user
      .landing-sentence.text-center.mb-5
        Thank you for
        %span.text-accent making a difference
        on MyApnea.
    - else
      .landing-sentence.text-center.mb-5
        Join
        %span.text-accent thousands
        of people already making a difference on MyApnea.

      .text-center
        = link_to slice_research_path, class: "btn btn-xl btn-accent btn-shadow" do
          Get started
          %i.fa.fa-caret-right
