- text_class = "text-dark" unless defined?(text_class)
.row.no-gutters.orange-title-container.orange-title-strong
  .col.orange-bar.d-none.d-sm-block
  .col.col-sm-auto.orange-title{ class: text_class }= title
  .col.orange-bar.d-none.d-sm-block
