.page-box.myapnea-dark-blue-light-center-bg.d-flex.flex-column.justify-content-around
  .container{ style: "position: relative;" }

    .row.d-flex.align-items-center{ style: "z-index: 1020;position: relative;" }
      .col-12.col-md.mb-5.d-flex.flex-column.justify-content-center
        .mb-5.text-center
          = image_tag "logos/myapnea-logo-large-whitetext.png", style: "height: auto; max-width: 540px; width: 100%;", class: "img-ignore-selection"
        .landing-about-slide-tagline
          MyApnea is a community of patients, doctors, and researchers
          trying to improve the diagnosis and treatment of sleep apnea. You
          can engage in discussions with other members, read research articles,
          and participate in research studies.
      - if current_user
        .col-12.col-md= render "landing/dashboard_preview"
      - else
        .col-12.col-md= render "landing/registration"

%div{ style: "position: relative;" }
  %div{ style: "position: relative;" }
    = link_to "#research", data: { object: "scroll-anchor" }, class: "text-white scroll-down-arrow-visible link-unstyled" do
      %i.fa.fa-chevron-down
