.logo-container
  .container.d-flex.flex-column.flex-lg-row.align-items-center.pb-3
    %div.mr-0.mr-lg-5.mb-3.mb-lg-0= image_tag "logos/myapnea-logo-large-whitetext.png", style: "height: auto; width: 320px;", class: "img-ignore-selection"

    .landing-about-slide-tagline
      MyApnea is a community of patients, doctors, and researchers
      trying to improve the diagnosis and treatment of sleep apnea.
