.content-main-header2
  %h1
    = link_to 'Surveys', builder_surveys_path
    &middot;
    = link_to @survey.name, builder_survey_path(@survey)
    &middot;
    = link_to @question.slug_was, builder_survey_question_path(@survey, @question.slug_was)
    &middot;
    Edit

= render 'builder/questions/form'
