.dashboard-container.dashboard-disclaimer.text-center
  Please be advised that these posts may contain sensitive material or
  unsolicited medical advice. MyApnea does not endorse the content of these
  posts.
  %br.d-none.d-lg-inline
  The information provided on this site is not intended nor recommended
  as a substitute for advice from a health care professional who has evaluated
  you.
