.centered{ style: 'font-size: 10px;color: #777;margin-bottom: 20px' }
  Please be advised that these posts may contain sensitive material or
  unsolicited medical advice. MyApnea.Org does not endorse the content of these
  posts.
  %br.hidden-xs.hidden-sm
  The information provided on this site is not intended nor recommended
  as a substitute for advice from a health care professional who has evaluated
  you.
