.row
  .col-xs-6
    %p.lead
      <mark>Highlight</mark> text.
  .col-xs-6
    %p.lead
      \==Highlight== text.

.row
  .col-xs-6
    %p.lead
      The 2<sup>nd</sup> time.
  .col-xs-6
    %p.lead
      The 2^(nd) time.


.row
  .col-xs-6
    %blockquote Quoted text.
  .col-xs-6
    %p.lead
      > Quoted text.

.row
  .col-xs-6
    %p.lead
      Text <u>underline</u>.
  .col-xs-6
    %p.lead
      Text _underline_.


.row
  .col-xs-6
    %p.lead
      Text <del>removed</del>.
  .col-xs-6
    %p.lead
      Text ~~removed~~.

.row
  .col-xs-6
    %ul.lead
      %li Item 1
      %li Item 2
      %li Item 3
  .col-xs-6
    %p.lead
      \- Item 1
      %br
      \- Item 2
      %br
      \- Item 3

= link_to 'View More Markup', markup_topics_path, target: '_blank'
