.content-main-header
  .container
    %h1 Edit Topic
    %p
      = link_to 'Forum', topics_path
      &middot;
      = link_to @topic.name, @topic

.content-container
  .container
    = render 'form'
