- @background_color = '#5999de'
- @title = "Edit Topic: #{@topic.name_was}"

.content-container
  .content-main-header2
    %h1
      = link_to 'Forum', topics_path
      &middot;
      = link_to @topic.name_was, @topic
      &middot; Edit

  = render 'form'
