.content-main-header
  .container
    %h1 Forum Post Markup
    %p Looking to spice up your forum post? Learn more below!

.container
  %a.anchor-top{ name: 'highlight' }
  .content-container
    .content-body
      %h2
        Highlight
        %a.anchor-link{ href: '#highlight' }

      %code
        The following text is ==highlighted==.

      The following text is <mark>highlighted</mark>.

  %a.anchor-top{ name: 'superscript' }
  .content-container
    .content-body
      %h2
        Superscript
        %a.anchor-link{ href: '#superscript' }

      %code
        This is the 2^(nd) time.

      This is the 2<sup>nd</sup> time.

  %a.anchor-top{ name: 'quotes' }
  .content-container
    .content-body
      %h2
        Quotes
        %a.anchor-link{ href: '#quotes' }

      %code
        > This is a quote.

      %blockquote.p{ style: 'margin:0px' } This is a quote.

  %a.anchor-top{ name: 'underline' }
  .content-container
    .content-body
      %h2
        Underline
        %a.anchor-link{ href: '#underline' }

      %code
        The following text is _underlined_.

      The following text is <u>underlined</u>.

  %a.anchor-top{ name: 'strikethrough' }
  .content-container
    .content-body
      %h2
        Strikethrough
        %a.anchor-link{ href: '#strikethrough' }

      %code
        This is ~~removed~~.

      This is <del>removed</del>.

  %a.anchor-top{ name: 'horizontal-rule' }
  .content-container
    .content-body
      %h2
        Horizontal Rule
        %a.anchor-link{ href: '#horizontal-rule' }

      %pre
        Here is some text...
        &nbsp;
        \---
        &nbsp;
        \...and some more text.

      Here is some text...
      %hr
      \...and some more text.

  %a.anchor-top{ name: 'footnotes' }
  .content-container
    .content-body
      %h2
        Footnotes
        %a.anchor-link{ href: '#footnotes' }

      %pre
        This is a sentence.[^1]
        This is another sentence.[^2]
        [^1]: This is a footnote.
        [^2]: This is a second footnote.

      %a.anchor-top{ name: 'fnref1' }
      %p This is a sentence.<sup><a href="#fn1" rel="footnote">1</a></sup>
      %a.anchor-top{ name: 'fnref2' }
      %p This is another sentence.<sup><a href="#fn2" rel="footnote">2</a></sup>
      .footnotes
      %hr
      %ol
        %li
          %a.anchor-top{ name: 'fn1' }
          %p This is a footnote.&nbsp;<a href="#fnref1" rev="footnote">&#8617;</a>
        %li
          %a.anchor-top{ name: 'fn2' }
          %p
            This is a second footnote.&nbsp;<a href="#fnref2" rev="footnote">&#8617;</a>

  %a.anchor-top{ name: 'links' }
  .content-container
    .content-body
      %h2
        Links*
        %a.anchor-link{ href: '#links' }

      %code
        Here is a [link](https://myapnea.org).

      Here is a
      = link_to('link', 'https://myapnea.org', target: '_blank') + '.'

      %p.lead
        * The ability to post links is earned.

  %a.anchor-top{ name: 'images' }
  .content-container
    .content-body
      %h2
        Images*
        %a.anchor-link{ href: '#images' }

      %code
        The current build status is ![Build Status](https://travis-ci.org/myapnea/www.myapnea.org.svg)

      The current build status is <img src="https://travis-ci.org/myapnea/www.myapnea.org.svg" alt="Build Status">

      %p.lead
        * The ability to post images is earned.

  %a.anchor-top{ name: 'tables' }
  .content-container
    .content-body
      %h2
        Tables
        %a.anchor-link{ href: '#tables' }

      %pre
        | Header 1 | Header 2 | Header 3&nbsp;|
        |:---------|:--------:|---------:|
        |&nbsp;Row&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;Center&nbsp;&nbsp;&nbsp;|&nbsp;Right&nbsp;&nbsp;&nbsp;&nbsp;|
        |&nbsp;Row&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;Center&nbsp;&nbsp;&nbsp;|&nbsp;Right&nbsp;&nbsp;&nbsp;&nbsp;|

      %table.table.table-striped
        %thead
          %tr
            %th{ style: "text-align: left" } Header 1
            %th{ style: "text-align: center" } Header 2
            %th{ style: "text-align: right" } Header 3
        %tbody
          %tr
            %td{ style: "text-align: left" } Row 1
            %td{ style: "text-align: center" } Center
            %td{ style: "text-align: right" } Right
          %tr
            %td{ style: "text-align: left" } Row 2
            %td{ style: "text-align: center" } Center
            %td{ style: "text-align: right" } Right
