- @title = "New Topic"

- @menu = "blue"
- @body = "grey"
- @footer = "grey"

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        = @title

.dashboard-container
  = render "form", topic: @topic
