- question = @survey.questions.find_by_slug question_slug
- answer_template = question.first_radio_or_checkbox_answer_template if question
- answer_option_counts = TemporaryReport.answer_option_counts(@survey, question, answer_template, encounter: @encounter, range: range, users: @users_by_date)

- range.each do |answer_option_value|
  - report_item = ReportItem.new(answer_option_counts, answer_template, answer_option_value)
  %p
    %span.f500
      = succeed ':' do
        = report_item.text
    %span.primary-blue= report_item.count || 0
