.col-12.col-md-3.col-xl-2.sidebar-wrapper
  .sidebar
    #sidebar-nav-wrapper.sidebar-nav-wrapper.collapse
      .pt-3.py-md-3.mx-3.my-0.ml-md-3.mb-md-3.mr-md-0
        %ul.sidebar-menu.sidebar-menu-shadow
          %li.sidebar-menu-header= render "sidebar/toggle", title: "Reports"
          %li= link_to "Spam Report", admin_spam_report_path, class: params[:controller] == "admin" && params[:action] == "spam_report" ? "active" : nil
          %li= link_to "Searches", admin_searches_path, class: current_page?(admin_searches_path) ? "active" : nil
