- @title = 'Daily Engagement'
.content-main-header
  %h1
    = @title
  %p.lead.text-light8{ style: 'margin-bottom: 0px;'}
    = link_to 'Admin Dashboard', admin_path

.content-container
  #daily-engagement-week.daily-engagement-report

.content-container
  #daily-engagement-posts.daily-engagement-report

.content-container
  #daily-engagement-users.daily-engagement-report

.content-container
  #daily-engagement-surveys.daily-engagement-report
