- @title = "Admin Dashboard"

- @body = "sky"
- @footer = "grass"

- content_for :container_class, "container-fluid"

- content_for :sidebar do
  = render "admin/sidebar"

- content_for :header, @title

- content_for :footer do
  = render "blank/sunset"

.dashboard-container
  .dashboard-title You can do things here!
  .dashboard-body
    %p
      We have
      = succeed "." do
        = link_to "news", blog_path

    %p And other stuff. Just for you, hurray!

    %p My Recent Topics I participated in
