.content-main-header
  %h1
    Admin Dashboard

%ul
  %li= link_to 'Users', users_path if current_user.has_role? :owner
  %li= link_to 'Surveys', admin_surveys_path
  %li= link_to 'Research Topics', admin_research_topics_path
  %li= link_to 'Current Version Stats', admin_version_stats_path
