- @title = 'Location'
.content-main-header
  .container
    %h1= @title
    %p= link_to 'Admin Dashboard', admin_path

.container
  .content-container
    %h3 Regular Member Sign Ups by Country\
    = render 'location_list', users: User.current, selector: "country"

  .content-container
    %h3 Regular Member Sign Ups by State in the United States
    = render 'location_list', users: User.current, selector: "state"
