.content-main-header
  %h1
    Surveys
  %p.lead.text-light8{ style: 'margin-bottom: 0px;'}
    = link_to 'Admin Dashboard', admin_path

.content-container
  .content-header
    %p
      %span.f500 Total MyApnea.Org members:
      %span.text-info= User.current.count
    %p
      %span.f500 Members with signed consent:
      %span.text-info= User.current.where("accepted_consent_at is not null").count
  .content-body
    = render partial: "surveys/partials/list"
