
%h3
  Member Management
  = link_to export_users_path( format: 'csv' ), class: 'btn btn-xs btn-default' do
    .fa.fa-file-excel-o
    Export CSV

.content-container
  .content-header
    %h3 Users
    .btn-toolbar{role: "toolbar"}
      %form#user-search.form-inline{ role: 'form', action: users_path, style: "display: inline;" }

        .col-sm-6
          .btn-group.btn-group-sm{data: {toggle: 'buttons'}}
            %label.btn.btn-default
              %input{type: 'radio', name: 'search_role', value: ''} All Members
            %label.btn.btn-default
              %input{type: 'radio', name: 'search_role', value: 'owner'} Owners
            %label.btn.btn-default
              %input{type: 'radio', name: 'search_role', value: 'moderator'} Moderators
        .col-sm-4
          .btn-group
            %input#auth-token{name: 'authenticity_token', type: "hidden", value: form_authenticity_token}
            %label.control-label.sr-only Limit by member email
            .input-group
              %input.form-control{type: 'search', placeholder: 'Search by Email', name: 'search', value: params[:search]}
              %span.input-group-btn
                %button.btn.btn-default{type: "submit", value: ""} Search
        .col-sm-2
          %span.label.label-primary
            = pluralize @users.count, 'Member'
  .content-body
    .table-responsive
      %table.table#role{data: {add_target: add_role_path, remove_target: remove_role_path, destroy_target: destroy_user_path}}
        %thead
          %tr
            %th
              Member
            %th
              Role

        %tbody
          - @users.each do |user|
            %tr.user{data: {user_id: user.id}}
              %td= user.email
              %td
                - user.roles.each do |role|
                  %span.label.label-default{:style => "margin-right: 5px;"}
                    = role.name.titleize
                    %a.remove-role{data: {role: role.name}, :style => "color: inherit;"}
                      %i.fa.fa-times

                / Single button
                .btn-group.pull-right
                  %button.btn.btn-primary.btn-xs.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
                    Action
                    %span.caret
                  %ul.dropdown-menu{role: "menu"}
                    %li
                      %a.add-role{href: "#", data: {role: 'owner'}} Make Owner
                    %li
                      %a.add-role{href: "#", data: {role: 'moderator'}} Make Moderator
                    %li.divider
                    %li
                      %a.delete-user{href: "#"} Delete Member




