- content_for :body_class do
  gray-background

.row
  .col-sm-6.col-sm-offset-3
    %h1.center.f300{ style: 'font-size: 24px;margin-bottom: 40px' } Resend unlock instructions
    .content-container
      = form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, class: 'form-vertical' }) do |f|
        - if resource.errors.any?
          .bs-callout.bs-callout-danger
            - if resource.errors.messages.keys.include?(:unlock_token)
              %strong
                Your unlock token has expired. Please enter an email to regenerate
                a new unlock token and URL.
            - elsif resource.errors.messages.keys.include?(:email)
              %strong
                Please provide a valid email address to reset your password.

        .form-group
          = f.label :email, nil, class: 'control-label'
          = f.email_field :email, autofocus: true, class: 'form-control'

        .form-group
          = f.submit 'Resend unlock instructions', class: 'btn btn-primary btn-block'
