= link_to "#", data: { toggle: "collapse", target: "#sidebar-nav-wrapper" }, aria: { controls: "sidebar-nav-wrapper", expanded: "false", label: "Toggle navigation" }, class: "d-inline d-md-none" do
  %i.fa.fa-caret-down
