- @background_color = '#fff'
.content-main-header
  .container
    %h1
      = link_to 'Encounters', builder_encounters_path
      &middot;
      = link_to @encounter.slug_was, builder_encounter_path(@encounter.slug_was)
      &middot;
      Edit

.container= render 'builder/encounters/form'
