.content-main-header
  %h1
    = link_to 'Encounters', builder_encounters_path
    &middot;
    = link_to @encounter.slug_was, builder_encounter_path(@encounter.slug_was)
    &middot;
    Edit

.content-container
  .content-body
    = render 'builder/encounters/form'
