- @background_color = '#fff'
.content-main-header
  .container
    %h1
      = link_to 'Encounters', builder_encounters_path
      &middot;
      New Encounter

.container= render 'builder/encounters/form'
