- if my_response.present?
  %table.table-borderless.table-sm
    %col{ width: "1px" }
    %col
    - design_option.fetch("domain_options", []).each do |domain_option|
      - voted = (my_response&.include?(domain_option.dig("value")))
      - display_name = domain_option.dig("name").gsub(/\(.*\)/, "")
      %tr
        %td
          - if voted
            %i.fa.fa-check-square
          - else
            %i.fa.fa-square-o
        %td= display_name
- else
  .survey-review-my-response
    = render "slice/reviews/not_answered"
