- if subject_event
  .card.card-dimmed.mb-3
    .card-body
      .text-center{ style: "font-size: 6rem;" }
        %i.fa.fa-check.text-success
      %h4.card-title
        = subject_event.name
        Surveys
      .progress
        .progress-bar.progress-bar-striped.bg-success{ role: "progressbar", style: "width: 100%;", aria: { valuenow: "100", valuemin: "0", valuemax: "100" } }
      %p.card-text
        .card-information Complete!
