- if notification.reply
  = render "notifications/show/reply", notification: notification
- if notification.admin_export
  = render "notifications/show/admin_export", notification: notification
- else
  %td{ colspan: 2 }
  %td.d-none.d-md-table-cell

%td.d-none.d-md-table-cell.text-muted
  %small
    = time_ago_in_words notification.created_at
    ago

%td
  - unless notification.read?
    = link_to icon("fas", "check"), notification_path(notification, notification: { read: true }), method: :patch, remote: true, class: "text-muted"
