// Forms
.field_with_errors {
  .form-control:focus {
    border-color: darken($alert-danger-border, 10%);
    $myshadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $alert-danger-border;
    @include box-shadow($myshadow);
  }

  .form-control {
    border: 1px solid $alert-danger-border;
  }
}