
// Head Images
p.lead {
  font-style:italic;
  font-size: $font-size-large;
}

#carousel {
  height:200px;
  overflow:hidden;
  position: relative;
  z-index: 99;
  background: $ma-blue;
  margin: 0 0px;


}


#signup {
  overflow: hidden;
  cursor: pointer;
  z-index: 1000;
}

.row.mosaic-bg {
  > .col-md-8 {
    .panel {
      margin-left: 15px;
    }
  }
}