%hr/

.row#footer
  .col-sm-3
    %ul
      MyApnea
      %li Learn
      %li Community
      %li Forums
      %li Research
      %li Surveys
      %li Providers
  .col-sm-3
    %ul
      About
      %li Team
      %li Advisors
      %li Partners
      %li Privacy Policy
      %li Terms of Access
      %li Frequently Asked Questions
  .col-sm-3
    %ul
      Connect
      %li Facebook
      %li Twitter
  .col-sm-3
    = link_to image_tag('myapnea/icons/ASAA.png', class: "img-responsive"), 'http://www.sleepapnea.org/'

  / .col-md-2.small
  /   = link_to 'FAQs', main_app.faqs_path
  /   %br/
  /   = link_to "Team", main_app.team_path
  /   %br/
  /   = link_to 'Privacy Policy', main_app.privacy_path
  /   %br/

  / .col-md-10.small
  /   .row
  /     .col-md-4= link_to image_tag('myapnea/icons/ASAA.png', class: "img-responsive"), 'http://www.sleepapnea.org/'
  /     .col-md-4= link_to image_tag('myapnea/icons/pcornet.png', class: "img-responsive"), 'http://www.pcornet.org/'
  /     .col-md-4= link_to image_tag('myapnea/icons/brigham.png', class: "img-responsive"), 'http://www.brighamandwomens.org/'
