- @title = "Edit User"

- @body = "sky"
- @footer = "grass"

- content_for :container_class, "container-fluid"

- content_for :sidebar do
  = render "admin/sidebar"

- content_for :header do
  = link_to @user.full_name_was, @user
  Edit

.dashboard-container
  = render "form", user: @user
