- content_for :body_class do
  gray-background

.row
  .col-sm-6.col-sm-offset-3
    %h1.centered.f300{ style: 'font-size: 24px;margin-bottom: 40px' } Forgot your password?
    .content-container
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-vertical' }) do |f|
        %p
          Enter your email address to receive a password reset email. You may
          = mail_to ENV['support_email'], 'contact us', subject: 'Forgot my sign up email on MyApnea.Org'
          if you don't remember which email you used to register.
        .form-group= f.email_field :email, autofocus: true, autocomplete: 'off', placeholder: 'Email address', class: 'form-control'
        - if resource.errors.key?(:email)
          .alert.alert-danger
            Sorry, the email provided was not found.
        .form-group
          = f.submit 'Send me reset password instructions', class: 'btn btn-primary btn-block'
