.row{ style: 'margin-top:40px' }
  .col-md-6.col-md-offset-3
    #sign-in.panel.panel-default
      .panel-body
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
          %h4 Forgot your password?
          %p
            Enter your email address to receive a password reset email. You may
            = mail_to ENV['pprn_support_email'], 'contact us', subject: 'Forgot my sign up email on MyApnea.Org'
            if you don't remember which email you used to register.
          .form-group= f.email_field :email, autofocus: true, autocomplete: 'off', placeholder: 'Email address', class: 'form-control input-lg'
          - if resource.errors.key?(:email)
            .alert.alert-danger
              Sorry, the email provided was not found.
          %div= f.submit 'Send me reset password instructions', class: 'btn btn-lg btn-primary btn-block'
