- @title = 'Congratulations!'
.content-main-header
  .container
    %h1=@title

.container
  .content-container
    %p.lead
      You have successfully linked your Health eHeart account with your
      MyApnea.Org account!

    %p.lead
      = link_to 'Go To My Dashboard', dashboard_path
