- @title = 'Congratulations!'
.content-main-header2
  %h1=@title

.content-container
  %p.lead
    You have successfully linked your Health eHeart account with your
    MyApnea.Org account!

  %p.lead
    = link_to 'Go To My Dashboard', dashboard_path
