- @title = 'Join Health eHeart'
.content-main-header
  .container
    %h1=@title

.container
  .content-container
    %p.lead MyApnea.Org to Health eHeart Bridge Consent

    %p.lead
      We invite you to enroll in the Health eHeart Study. The MyApnea.Org team
      is working together with Health eHeart research network and the
      Patient-Centered Outcomes Research Institute (PCORI) to improve the
      diagnosis and treatment of sleep apnea. To do this, we would like to use
      the data we collect at MyApnea.Org together with the data collected by the
      Health eHeart research network, which is part of PCORI's Patient-Centered
      Outcomes Research Network (PCORnet). You can read more about Health eHeart
      and PCORnet if you're interested.

    %p.lead
      By clicking the link below, you acknowledge that you have reviewed the
      bridge consent and will be redirected to the Health eHeart research. We
      will then share the data you contribute to MyApnea.Org back to the
      Health eHeart research network, and use it for joint research projects.

    %p.lead
      The Health eHeart informed consent form offers more information about the
      Health eHeart Study, including details about the type of data collected
      and all the security measures used.

    %p.lead
      For now, though, we just want to make sure you understand that AFTER you
      consent to participate in the MyApnea.Org Study you are granting us
      permission to work together with the Health eHeart research network and
      that we will share your data with them.

    %p.lead
      Is that OK?


    %p
      = link_to 'I Consent, Connect Me To Health eHeart', goto_health_eheart_path, class: 'btn btn-primary-custom btn-xs'
      = link_to 'I Do Not Consent', dashboard_path, class: 'btn btn-danger btn-xs'

