- @title = @admin_export.name

- @body = "sky"
- @footer = "grass"

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("admin/sidebar")
- content_for :header, @title

.dashboard-container
  #progress{ data: { object: "#{"ajax-timer" if @admin_export.status == "started"}", path: progress_admin_export_path(@admin_export) } }
    = render "admin/exports/progress", export: @admin_export

  .form-group.row
    .col-md-2.col-form-label
      .form-label-elegant Status
    .col-md-10
      .form-control-plaintext#export_status
        = render "admin/exports/status", export: @admin_export

  = render "forms/horizontal/show/generic", title: "Creator", content: @admin_export.user.full_name
