- @title = @admin_export.name

- @body = "sky"
- @footer = "grass"

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("admin/sidebar")
- content_for :header, @title

.dashboard-container{ style: "position: relative;" }
  - if @admin_export.status == "started"
    #progress.custom-progress-bar{ style: "width: #{@admin_export.percent}%;", data: { object: "#{"ajax-timer" if @admin_export.total_steps != @admin_export.completed_steps}", path: progress_admin_export_path(@admin_export) } }

  #export-status= render "admin/exports/status", export: @admin_export
