- @title = @admin_export.name

- @body = "sky"
- @footer = "grass"

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("admin/sidebar")
- content_for :header, @title

.dashboard-container
  #progress{ data: { object: "#{"ajax-timer" if @admin_export.status == "started"}", path: progress_admin_export_path(@admin_export) } }
    = render "admin/exports/progress"

  %p
    %strong Creator
    = @admin_export.user.full_name
