#MyApnea {
  .pprn-heading {
    height: 119px;
    position: relative;
    //margin-top: 15px;

    #nav-bg-lines {
      .blue, .yellow {
        width: 100%;
        position: absolute;
      }

      .yellow {
        top: 64px;
        height: 23px;
        background-color: $ma-light-yellow;

      }
    }


    .brand {
      position: relative;
      width: 100%;
      display: block;

      #logo-top {
        position: absolute;
        top: 0;
        left: 0;
      }

      #logo-bottom{
        position: absolute;
        top: 95px;
        left: 0px;
        color: white;
        background-color: $ma-light-blue;
        width: 100%;
        .text {
          line-height: 24px;
          padding-left: 71px;
        }
      }

    }

    .nav-pills {
      > li {

        > a {
          &:hover,
          &:focus {
            color: $ma-dark-yellow;
            background-color: transparent;

          }
          font-size: $font-size-h5;
        }
        // Active state
        &.active > a {
          &,
          &:hover,
          &:focus {
            color: $ma-dark-yellow;
            background-color: transparent;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .pprn-nav {
    margin-top: 30px;

  }

}
