#shade.shade
.full-video-frame
  .full-video-frame-close
    &times;
  .embed-responsive.embed-responsive-16by9
    %iframe.embed-responsive-item{ src: "", webkitallowfullscreen: true, mozallowfullscreen: true, allowfullscreen: true }
