.featured-article {
  position: relative;
  width: 100%;
  max-width: 320px;
  margin: $spacer 0;
  min-height: 200px;
  padding-top: $spacer * 3;

  &:hover {
    text-decoration: none;
  }

  @include media-breakpoint-up(md) {
    margin: 0 $spacer;
  }

  .featured-article-background-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .featured-article-title {
    padding-top: $spacer * 3;
    position: relative;
    font-weight: bold;
    background-image: linear-gradient(-180deg, transparent 0%, #{$black} 150%);
    padding: $spacer;
    width: 100%;
  }

  &::after {
    content: "ARTICLE";
    position: absolute;
    top: 0;
    left: 0;
    margin: $spacer;
    padding: $spacer * .25 $spacer * .5;
    font-size: .8rem;
  }
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .featured-article {
      background-color: map-get($theme, p500);

      .featured-article-title {
        color: map-get($theme, brand-white);
      }

      &::after {
        background-color: $p500-orange;
        color: map-get($theme, brand-white);
      }
    }
  }
}
