.just-voted {
  animation: pulsate 300ms linear 1;
}

// This is for %ul elements
.blog-menu {
  list-style: none;
  margin-bottom: 20px;
  padding-left: 0;

  li {
    display: block;
    position: relative;

    a {
      border-left: 2px solid transparent;
      display: block;
      overflow: hidden;
      padding: 7px 15px;
      position: relative;
      text-overflow: ellipsis;
    }

    .active,
    a:hover,
    a:focus {
      background-color: $p400-blue;
      border-color: $p200-orange;
      color: $brand-white;
      text-decoration: none;
    }

    &.blog-menu-header {
      font-size: 85%;
      font-weight: normal;
      letter-spacing: 1px;
      margin-bottom: 5px;
      padding-left: 15px;
      padding-right: 15px;
      text-transform: uppercase;
    }

    // Add a margin to the top of a menu header if it has other menu items
    // preceding it
    + .blog-menu-header {
      margin-top: 20px;
    }
  }

  &.blog-menu-shadow {
    background-color: $brand-white;
    border-radius: 3px;
    box-shadow: 0 1px 5px $box-shadow-color;
  }
}

.menu-logo {
  margin-bottom: 30px;
  margin-top: 30px;
}

.author-box {
  font-weight: 300;
  padding-left: 15px;

  .author-key {
    font-size: 85%;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-transform: uppercase;
  }

  .author-value {
    color: $p400-grey;
    margin-bottom: 10px;
    padding-left: 5px;
  }
}

.landing-blog-info {
  background-color: rgba($p500-blue, .75);
  border-radius: $border-radius;
  position: relative;
}

.landing-blog-title {
  color: $brand-white;
  font-weight: 300;
  line-height: 1.2;
  font-size: 2rem;
  border-bottom: 2px solid $p500-orange;
  padding: $spacer;

  @include media-breakpoint-up(sm) {
    font-size: 2.5rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 3rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 4rem;
  }
}

.landing-blog-title-alternate-border {
  .landing-blog-title {
    border: 0;
    position: relative;
    // padding: 0;
  }

  position: relative;

  &::before {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid $p500-orange;
    content: " ";
    height: 1px;
  }
}

.landing-blog-content {
  font-weight: 300;
  line-height: 1.2;
  font-size: 1rem;
  padding: $spacer;
  background-color: $brand-white;

  @include media-breakpoint-up(sm) {
    font-size: 1.25rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 1.5rem;
  }
}

@keyframes opacityin {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.blog-fullscreen-backdrop {
  animation: opacityin 250ms;
  background-color: rgba($black, .75);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $zindex-modal;

  .blog-fullscreen-content {
    background-color: $black;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}
