.comments-link {
  color: $brand-gray;
  font-weight: bold;
}

.just_voted {
  animation: pulsate 300ms linear 1;
}


// This is for UL elements
.blog-menu {
  list-style: none;
  margin-bottom: 20px;
  padding-left: 0;

  li {
    display: block;
    position: relative;

    a {
      border-left: 2px solid transparent;
      display: block;
      padding: 7px 15px;
      position: relative;
    }

    .active,
    a:hover,
    a:focus {
      background-color: $primary-blue;
      border-color: $primary-orange;
      color: $brand-white;
      text-decoration: none;
    }

    &.blog-menu-header {
      font-size: 85%;
      font-weight: normal;
      letter-spacing: 1px;
      margin-bottom: 5px;
      padding-left: 15px;
      padding-right: 15px;
      text-transform: uppercase;
    }

    // Add a margin to the top of a menu header if it has other menu items
    // preceding it
    + .blog-menu-header {
      margin-top: 20px;
    }
  }
}

.menu-logo {
  margin-bottom: 30px;
  margin-top: 30px;
}

.author-box {
  padding-left: 15px;
  font-weight: 300;

  .author-key {
    font-size: 85%;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-transform: uppercase;
  }

  .author-value {
    color: $brand-gray;
    padding-left: 5px;
    margin-bottom: 10px;
  }
}
