.dashboard-container {
  &.broadcast-container {
    position: relative;
    padding-bottom: 20px;
  }
}

.broadcast-by {
  background-color: $p100-orange;
  border-radius: 0 0 4px 4px;
  bottom: 0;
  left: 0;
  overflow: hidden;
  padding: 10px;
  position: absolute;
  right: 0;
  text-overflow: ellipsis;
  white-space: nowrap;

  .broadcast-info {
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@include media-breakpoint-up(sm) {
  .broadcast-by {
    padding: 10px 30px;
  }
}

.broadcast {
  @include remove-last-child-bottom-margin;

  margin-bottom: 40px;

  a {
    word-wrap: break-word;
  }

  img {
    @include ignore-selection;

    border: 1px solid $p200-grey;
    display: block;
    height: auto;
    margin: 10px auto 16px;
    max-width: 100%;
    padding: 5px;
  }

  p {
    line-height: 25.6px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    border-bottom: 1px solid $p400-grey;
    font-weight: 600;
    margin-bottom: 12px;
    margin-top: 40px;
    padding-bottom: 6.5px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  h4,
  h5,
  h6 {
    font-size: 16px;
  }

  blockquote {
    border: 0;
    border-left: 2px solid $p200-grey;
    color: $p500-grey;
    font-size: $font-size-base;
    margin: 0 0 11px;
    padding: 0 10px;
  }
}

.broadcast-title {
  border-bottom: 1px solid $p400-grey;
  font-size: 28px;
  font-weight: 600;
  padding-bottom: 9.5px;
}

@include media-breakpoint-up(sm) {
  .broadcast-title {
    font-size: 34px;
  }
}

.broadcast-outer {
  margin-bottom: 20px;
  position: relative;
}

.broadcast-left-fixed {
  color: $link-color;
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  width: 32px;
}

.broadcast-right-fluid {
  position: relative;
}

@include media-breakpoint-up(sm) {
  .broadcast-left-fixed {
    display: block;
  }

  .broadcast-right-fluid {
    margin-left: 32px;
  }
}

.broadcast-box {
  background-color: $brand-white;
  border: 1px solid $p300-grey;
  border-radius: 2px;
}

.broadcast-header {
  padding: 10px 10px 0;
  position: relative;
}

.broadcast-body {
  @include scale-images;

  padding: 10px;
}

.broadcast-header::before {
  border-bottom: 7px solid transparent;
  border-right: 7px solid $p300-grey;
  border-top: 7px solid transparent;
  content: '';
  height: 0;
  left: -7px;
  position: absolute;
  top: 14px;
  width: 0;
}

.broadcast-header::after {
  border-bottom: 7px solid transparent;
  border-right: 7px solid $brand-white;
  border-top: 7px solid transparent;
  content: '';
  height: 0;
  left: -6px;
  position: absolute;
  top: 14px;
  width: 0;
}

.broadcast-discussion {
  padding-bottom: 40px;

  .broadcast-discussion-header {
    background-color: $p50-orange;
    border: 2px solid $p200-orange;
    box-shadow: 0 1px 5px $box-shadow-color;
    margin: 10px 0;
    padding: 20px;
  }
}
