.consent-fields {
  border-radius: $border-radius;
  padding: $spacer $spacer $spacer * .5;
  margin-bottom: map-get($spacers, 4);
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .consent-fields {
      background-color: $mark-bg;
      border-left: 2px solid $p100-yellow;
    }
  }
}
