.consent-administrative {
  border: 1px solid $p200-grey;
  color: $p400-grey;
  padding: $spacer;
}

.consent-fields {
  background-color: $p50-grey;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  padding: $spacer $spacer $spacer * .5;
  margin-bottom: $spacer * 1.5;
}
