@keyframes cookie-animate {
  0% {
    bottom: -$footer-height;

  }
  100% {
    bottom: 0;
  }
}

.cookie-consent {
  animation: cookie-animate 300ms linear 1;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: $spacer 0;
  background-color: $brand-white;
  height: $footer-height;
  box-shadow: $box-shadow;
  z-index: $zindex-fixed;
}
