// TODO: Remove (only used for prototyping)

.menu-bar {
  background-color: $p600-blue;
  color: $brand-white;
  height: $header-height;
  line-height: $header-height;
}

.menu-bar-fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: $zindex-fixed;
}

.menu-bar-sunset {
  background-color: $p600-deep-orange;
}

.menu-bar-night {
  background-color: $p600-indigo;
}

.menu-bar-green {
  background-color: $p600-green;
}

.menu-bar-orange {
  background-color: $p600-orange;
}
