@keyframes pulse-notifications {
  from {
    color: $p200-orange;
  }

  to {
    color: $p100-orange;
  }
}

.navbar-default .navbar-nav .notifications-link span {
  color: $brand-muted;
}

.navbar-default .navbar-nav .notifications-link:hover span {
  color: darken($brand-muted, 15%);
}

.navbar-default .navbar-nav .notifications-link-active span {
  animation: pulse-notifications 2s ease-in infinite alternate;
  color: $p200-orange;
}

.navbar-default .navbar-nav .notifications-link-active:hover span {
  color: darken($p200-orange, 15%);
}
