@keyframes pulse-notification {
  from {
    color: $p200-orange;
  }

  to {
    color: $p100-orange;
  }
}

.notifications-link-active i {
  animation: pulse-notification 2s ease-in infinite alternate;
  color: $p200-orange;
}

.notifications-link-active:hover i {
  color: darken($p200-orange, 15%);
}
