.projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.project-box {
  flex: 1 0 200px;
  margin: 0 5px 10px;
  padding-bottom: 42px;
  position: relative;

  .project-box-footer {
    background-color: $p100-orange;
    border-radius: 0 0 4px 4px;
    bottom: 0;
    left: 0;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    right: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@media screen and (min-width: $screen-sm-min) {
  .project-box {
    .project-box-footer {
      padding: 10px 30px;
    }
  }
}
