.random-text {
  font-size: 2rem;
}

.random-small-text {
  font-size: 1.25rem;
  font-weight: 200;
  margin-left: $spacer;
}

.logo-container {
  padding: map-get($spacers, 4) 0 map-get($spacers, 3);
}

.logo-container-original {
  margin-top: 0 !important;
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .random-text {
      color: map-get($theme, brand-white);
      text-shadow: 0 2px 3px map-get($theme, shadow-color);
    }

    .random-small-text {
      color: $p200-grey;
      text-shadow: 0 2px 3px map-get($theme, shadow-color);
    }

    .logo-container-original {
      background-color: darken(map-get($theme, p900), 6.5%);
      @if map-get($theme, header-border) {
        border-bottom: 2px solid map-get($theme, header-border);
      }
    }
  }
}

