.random-text {
  font-size: 2rem;
  color: $brand-white;
  text-shadow: 0 2px 3px $standard-shadow-color;
}

.random-small-text {
  color: $p400-grey;
  font-size: 1.25rem;
  font-weight: 200;
  margin-left: $spacer;
  text-shadow: 0 2px 3px $standard-shadow-color;
}

@keyframes spiral {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(-360deg);
  }
  to {
    opacity: 1;
    transform: scale(1.0) rotate(0deg);
  }
}

.random-hover-size {
  animation: spiral 1000ms cubic-bezier(.17,.67,.61,1.24) 1;
  background-color: $dashboard-bg;
  border-radius: $border-radius;
  box-shadow: 0 1px 5px $box-shadow-color;
  cursor: pointer;
  padding: map-get($spacers, 1);
  overflow: hidden;
  transition: transform .25s ease-out;

  @media (hover) {
    &:hover {
      transform: scale(1.1);
    }
  }
}
