.reply-outer-container {
  background-color: $brand-white;
  box-shadow: 0 1px 5px $box-shadow-color;
  margin-bottom: 20px;
  padding: 20px;
}

.reply-container {
  &.reply-even {
    background-color: $comment-unread-even;
  }

  &.reply-odd {
    background-color: $comment-unread-odd;
  }

  .reply-container {
    margin-right: -11px;
    margin-top: 10px;
    padding: 10px;
  }
}

@include media-breakpoint-up(sm) {
  .reply-container {
    .reply-container {
      border-radius: 4px;
      margin-right: 0;
    }
  }
}

.reply-unread {
  border-left: 4px solid $p100-orange;
}

.reply-read {
  border-left: 4px solid $p50-grey;

  &.highlighted-reply {
    border-color: $p100-yellow;
  }
}

.highlighted-reply {
  background-color: $mark-bg;

  > .reply-container.reply-even,
  > .reply-container.reply-odd {
    background-color: $mark-bg;
  }
}

.topic-preview,
.reply-body {
  blockquote {
    border: 0;
    border-left: 2px solid $p200-grey;
    color: $p500-grey;
    font-size: $font-size-base;
    margin: 0 0 11px;
    padding: 0 10px;
  }
}

.reply-body {
  padding-bottom: 10px;
  padding-left: 0;
  padding-top: 10px;
  word-wrap: break-word;
}

.reply-body-formatted {
  .img-zoom-message {
    color: $brand-white;
    position: relative;
    display: inline-block;
    cursor: zoom-in;
    margin-bottom: $spacer;

    img {
      @include ignore-selection;

      max-height: 200px;
      height: auto;
      max-width: 100%;
    }

    &::after {
      background-color: rgba($black, 0.4);
      bottom: 0;
      content: "Zoom in";
      display: inline-block;
      left: 0;
      overflow: hidden;
      padding: $spacer;
      position: absolute;
      right: 0;
      text-align: center;
      white-space: nowrap;
    }

    &.img-zoom-large-view {
      cursor: zoom-out;
      display: block;
      max-height: none;
      margin-left: auto;
      margin-right: auto;

      img {
        display: block;
        max-height: none;
        margin-left: auto;
        margin-right: auto;
      }

      &::after {
        display: none;
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .reply-body {
    padding-left: 20px;
  }
}

.reply-inner-container {
  margin-left: 0;
  position: relative;
}

.reply-avatar {
  display: none;

  img {
    @include ignore-selection;
  }
}

@include media-breakpoint-up(md) {
  .reply-avatar {
    display: block;
    left: -70px;
    position: absolute;
  }

  .reply-inner-container {
    margin-left: 70px;
  }
}

.reply-remove-margin-bottom {
  @include remove-last-child-bottom-margin;
}

.reply-simple-full-hover-box {
  background-color: $brand-white;

  .reply-simple-full-link {
    background-color: $p100-grey;
  }

  &:hover .reply-simple-full-link {
    background-color: $p100-orange;
    text-decoration: none;
  }

  .img-zoom-message {
    display: inline-block;

    img {
      @include ignore-selection;

      height: auto;
      max-height: 50px;
      max-width: 100%;
    }
  }
}
