$comment-unread-even: $brand-white;
$comment-unread-odd: $brand-gray-lightest;
$comment-read-even: #e6edf4;
$comment-read-odd: #e1e7ee; // $comment-unread-odd * $comment-read-even

.topic-read {
  color: $p200-blue;
  font-style: italic;

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    color: darken($p200-blue, 15%);
  }
}

.topic-unread {
  color: $p500-blue;

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    color: darken($p500-blue, 15%);
  }
}

.reply-inner-container {
  margin-left: 0;
  position: relative;
}

.reply-avatar {
  display: none;
}

@media screen and (min-width: $screen-md-min) {
  .reply-inner-container {
    margin-left: 70px;
  }

  .reply-avatar {
    display: block;
    left: -70px;
    position: absolute;
  }
}

.reply-outer-container {
  background-color: $brand-white;
  box-shadow: $box-shadow;
  margin-bottom: 20px;
  padding: 20px;
}

.reply-container {
  &.reply-even {
    background-color: $comment-unread-even;
  }

  &.reply-odd {
    background-color: $comment-unread-odd;
  }

  .reply-container {
    border: 1px solid $brand-gray-lighter;
    border-radius: 4px 0 0 4px;
    margin-right: -11px;
    margin-top: 10px;
    padding: 10px;
  }
}

@media screen and (min-width: $screen-sm-min) {
  .reply-container {
    .reply-container {
      border-radius: 4px;
      margin-right: 0;
    }
  }
}

.reply-read {
  background-color: $comment-read-even;

  .reply-container.reply-even {
    background-color: $comment-read-even;
  }

  .reply-container.reply-odd {
    background-color: $comment-read-odd;
  }

  blockquote {
    border-color: $brand-gray;
  }
}

.highlighted-reply {
  background-color: $state-warning-bg;

  > .reply-container.reply-even,
  > .reply-container.reply-odd {
    background-color: $state-warning-bg;
  }
}

.reply-body {
  padding-bottom: 10px;
  padding-left: 0;
  padding-top: 10px;
  word-wrap: break-word;

  img {
    cursor: zoom-in;
    max-height: 100px;
    max-width: 100%;

    &.large-view {
      cursor: zoom-out;
      max-height: none;
    }
  }

  blockquote {
    border: 0;
    border-left: 2px solid $brand-gray-lighter;
    color: $blockquote-gray;
    font-size: $font-size-base;
    margin: 0 0 11px;
    padding: 0 10px;
  }
}

@media screen and (min-width: $screen-sm-min) {
  .reply-body {
    padding-left: 20px;
  }
}
