.research-study {
  margin-bottom: $spacer;

  .research-study-icon {
    font-variant: small-caps;
    font-weight: 300;
    font-size: 3rem;
    padding: $spacer;
  }

  .research-study-name {
    font-variant: small-caps;
    font-weight: 300;
    font-size: 1.5rem;
    margin-bottom: $spacer * .25;
  }

  .research-study-body {
    padding: $spacer;
    flex-grow: 1;
  }

  .research-study-footer {
    padding: $spacer * .5;
    font-size: 1.25rem;
    font-weight: 300;
  }
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .research-study {
      background-color: map-get($theme, brand-white);
      box-shadow: 0 1px 5px map-get($theme, box-shadow-color);

      .research-study-icon {
        background-color: map-get($theme, p500);
        color: map-get($theme, brand-white);
      }

      .research-study-body {
        background-color: map-get($theme, p50);
      }

      .research-study-footer {
        background-color: $p50-grey;
        color: $text-muted;
      }
    }
  }
}

.noscroll {
  overflow: hidden;
}

@keyframes opacityin {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.research-study-fullscreen-backdrop {
  animation: opacityin 250ms;
  background-color: rgba(0, 0, 0, .75);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $zindex-modal;

  .research-study-fullscreen-content {
    margin: $spacer auto;
    max-height: calc(100vh - #{$spacer * 2});
    width: 100%;

    @each $breakpoint in map-keys($container-max-widths) {
      @include media-breakpoint-up($breakpoint) {
        max-width: #{map-get($container-max-widths, $breakpoint)};
      }
    }
  }

  .research-study-fullscreen-backdrop-body {
    @include remove-last-child-bottom-margin;

    overflow-y: scroll;
  }
}
