.dashboard-title,
.settings-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.dashboard-body,
.settings-body {
  margin-bottom: 20px;
}

@include media-breakpoint-up(sm) {
  .dashboard-title,
  .settings-title {
    font-size: 28px;
  }
}
