.subject-timeline-item {
  border-left: 4px solid $p100-blue;
  margin-bottom: $spacer;
  padding-left: map-get($spacers, 1)
}

.subject-survey-progress {
  background-color: $dashboard-bg;
  border-radius: $border-radius;
  box-shadow: 0 1px 5px $box-shadow-color;
  margin-bottom: $spacer;

  .progress {
    border-radius: 0 0 0 $border-radius;
  }

  .progress-completed {
    border-radius: 0 0 $border-radius $border-radius;
  }

  &:hover .subject-survey-progress-link {
    background-color: $p100-orange;
    text-decoration: none;
  }

}

.subject-survey-progress-body {
  padding: 10px 10px 0 10px;

  @include media-breakpoint-up(sm) {
    padding: 30px 30px 0 30px;
  }
}
