.survey-question-container {
  @include remove-last-child-bottom-margin;
  @include scale-images;

  background-color: $brand-white;
  border-radius: 3px;
  box-shadow: 0 1px 5px $box-shadow-color;
  // color: $text-color;
  margin-bottom: 40px;
  padding: 10px;
  position: relative;

  > div,
  > table {
    &:last-child {
      margin-bottom: 0;
    }
  }

  + .center > .pagination {
    margin-top: 0;
  }
}

@include media-breakpoint-up(sm) {
  .survey-question-container {
    padding: 30px;
  }
}

.survey-question {
  margin-bottom: 1.5rem;

  .survey-question-lead {
    font-size: 20px;
  }

  .survey-question-text {
    margin-bottom: 1rem;
  }

  .survey-question-desc {
    color: $text-muted;

    border-top: 1px solid transparent;
    margin-top: 10px;
  }
}

.survey-choice {
  background-color: $p50-grey;
  border-radius: 4px;
  box-shadow: 0 1px 5px $box-shadow-color;
  cursor: pointer;
  display: block;
  margin-bottom: 10px;
  padding: 10px;

  &:hover,
  &:focus {
    background-color: $p100-blue;
  }

  &:active,
  &.active {
    background-color: $p300-blue;
    box-shadow: inset 0 1px 5px $box-shadow-color;
    color: $brand-white;
    text-decoration: none;
  }
}

.survey-choice-text {
  margin-left: 32px;
}

@include media-breakpoint-up(sm) {
  .survey-question {
    .survey-question-lead {
      font-size: 28px;
    }

    .survey-question-desc {
      font-size: 14px;
    }
  }
}

.progress-bar-container {
  height: 5px;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.progress-simple {
  border-radius: 0;
  height: 5px;
  margin-bottom: 0;
  .progress-bar {
    transition: width 0.6s ease;
  }
}

.string-container {
  background-color: $p50-grey;
  border-radius: 4px;
  margin-bottom: 1rem;
  padding: 10px;
}

.survey-question {
  input[type="number"] {
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
