.team-member-picture {
  background-color: $p100-grey;
  border: 2px solid $p400-orange;
  border-radius: 50%;
  display: inline-block;
  width: 100%;
}

.team-member-photo {
  flex: 0 0 auto;
}

.team-member-name {
  font-size: 2rem;
}

.team-member-designations {
  color: $p500-grey;
  display: inline;
  font-size: 1.5rem;
  font-weight: 300;
}

.team-member-role {
  font-size: 1.5rem;
  font-weight: 300;
}

.team-member-bio {
  font-size: 1.25rem;
  font-weight: 300;
}

.team-member-box {
  border-radius: $border-radius;
  cursor: move; // Cursor fallback
  cursor: grab;
  margin-bottom: map-get($spacers, 1);
  padding: map-get($spacers, 2);
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .team-member-box {
      background-color: map-get($theme, dashboard-bg);
      box-shadow: 0 1px 5px map-get($theme, box-shadow-color);
      color: theme-color($theme, body-color, $p900-grey);
    }
  }
}

.ui-sortable-helper {
  .team-member-box {
    cursor: move; // Cursor fallback
    cursor: grabbing;
  }
}
