.myapnea-sky-bg,
.myapnea-night-bg {
  .survey-question-lead {
    color: $p500-blue;
  }

  .survey-question-desc {
    border-color: $p100-blue;
  }
}

.theme-sunset-bg {
  .survey-question {
    .survey-question-lead {
      color: $p500-orange;
    }

    .survey-question-desc {
      border-color: $p100-orange;
    }
  }
}
