.table-borderless {
  .topic-line-read {
    border-left: 4px solid transparent !important;
  }

  .topic-line-unread {
    border-left: 4px solid $p100-orange !important;
  }
}

.topic-read {
  color: $p300-blue;

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    color: darken($p200-blue, 15%);
  }
}

.topic-unread {
  color: $p500-blue;

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    color: darken($p500-blue, 15%);
  }
}
