.topics {
  border-radius: $border-radius;
  box-shadow: 0 1px 5px $box-shadow-color;
  margin-bottom: $spacer * 1.5;
}

.topic-line-mark {
  width: 4px;

  &.topic-line-unread {
    background-color: $p100-orange;
  }
}

.topic-read {
  color: $p300-blue;
  font-weight: bold;

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    color: darken($p300-blue, 15%);
  }
}

.topic-unread {
  color: $p500-blue;
  font-weight: bold;

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    color: darken($p500-blue, 15%);
  }
}

.back-to-forum {
  margin-top: -4px;

  @include media-breakpoint-up(md) {
    margin-top: -15px;
  }

  @include media-breakpoint-up(lg) {
    margin-top: -20px;
  }
}
