.topic-line-mark {
  width: 4px;

  &.topic-line-unread {
    background-color: $p100-orange;
  }
}

.topic-read {
  color: $p300-blue;

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    color: darken($p300-blue, 15%);
  }
}

.topic-unread {
  color: $p500-blue;

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    color: darken($p500-blue, 15%);
  }
}
