- @active_top_nav_link = "Daily Trends"
- questions = Group.find_by_id(2).questions #{"How would you describe your general well-being over the last week?" => ["Generally Well", "Slightly below Par", "Poor", "Very Poor", "Terrible"], "On average, over the past week, would you rate your abdominal pain as..." => ["None","Mild","Moderate","Severe"], "On average, over the past week, how many liquid or very soft stools have you had per day?" => ["0","1","2","3","4-7","8-14","15+"]}

%form.form-inline{role: "form"}

- questions.each do |question|
  %h4= question.text_en
  - if question.answer_templates.first.answer_options.present?
    .text-center
      - question.answer_templates.first.answer_options.each do |answer_option|
        .btn.btn-default= answer_option.value.to_i
  - else
    .form-group
      %input.form-control{type: "text"}
  %hr/