- Broadcast.current.published.where(archived: false).order(pinned: :desc, publish_date: :desc).limit(limit).each do |broadcast|
  .broadcast-outer
    .broadcast-left-fixed
      %div{ style: 'position: absolute;right: 10px;top: 10px;' }
        %i.fa.fa-comments-o.logo-color
    .broadcast-right-fluid
      .broadcast-box
        .broadcast-header
          %strong= link_to broadcast.title, blog_post_path(broadcast.url_hash)
        .broadcast-body
          = first_image(broadcast)
          = broadcast.short_description

.broadcast-outer
  .broadcast-left-fixed
  .broadcast-right-fluid
    .center= link_to 'Visit Blog', blog_path
