- Engagement.current.each do |engagement|
  - if engagement.applicable_to?(current_user) && !engagement.answered_by?(current_user)
    .engagement-highlight
      %p.f500.white= engagement.text
      = form_for [engagement, engagement.engagement_responses.new], url: engagement_engagement_responses_path(engagement), remote: true, method: :post do |f|
        = f.text_area :response, placeholder: engagement.response_placeholder, rows: 3, class: 'form-control'
        %br
        .pull-right
          = f.submit 'Save', class: 'btn btn-warning-custom'
        .clearfix
    - break
