- tracked_link = "join_from_" + referrer
- message = nil unless defined?(message)
#join-the-community-callout
  .text-content-container.centered
    - if message.present?
      %h1.white= message
    - else
      %h1.white
        - if false
          %span.primary-orange= number_with_delimiter User.current.count
          people are already making a difference
        - else
          Join
          %span.primary-orange thousands
          of people already making a difference on MyApnea.Org.
    = link_to 'Join Today', get_tracked_link(tracked_link.to_sym), class: 'btn btn-primary', id: 'btn-join'
