- tracked_link = "join_from_" + referrer
#join-the-community-callout
  .text-content-container.centered
    %h1.text-white
      %span.primary-orange= number_with_delimiter User.current.count
      people are already making a difference
    = link_to 'Join Today', get_tracked_link(tracked_link.to_sym), class: 'btn btn-primary', id: 'btn-join'
