- Reply.current.where(reply_id: nil).joins(:chapter).merge(Chapter.current).joins(:user).merge(User.current.where(shadow_banned: [nil, false])).order(created_at: :desc).limit(10).each do |reply|
  = render 'replies/show', level: 0, reply: reply, include_chapter_title: true
