.content-main-header2
  %h1
    = link_to 'Admin Dashboard', admin_path
    &middot;
    Engagements
  %p
    = link_to 'New Engagement', new_engagement_path

- @engagements.each do |engagement|
  = render engagement

