.profile-menu-container
  %ul.blog-menu.profile-menu
    %li.blog-menu-header Settings
    %li= link_to "Account", settings_account_path, class: current_page?(settings_account_path) ? "active" : nil
    %li= link_to "Email", settings_email_path, class: current_page?(settings_email_path) ? "active" : nil
    %li= link_to "Profile", settings_profile_path, class: current_page?(settings_profile_path) ? "active" : nil
    %li.blog-menu-header Return to
    %li
      = link_to dashboard_path, class: current_page?(dashboard_path) ? "active" : nil do
        %i.fa.fa-caret-left
        Dashboard
