- @title = "Email Settings"

.card
  %h4.card-header
    %i.fa.fa-envelope
    Change email
  .card-body
    = form_with model: current_user, url: settings_update_email_path, method: :patch, local: true do |form|
      = render "forms/vertical/email_field", form: form, object: current_user, key: :email
      = render "forms/vertical/check_box", form: form, object: current_user, key: :emails_enabled, key_name: "Enable Forum Emails", help_text: "Allow the NSRR to send you emails when a topic receives a reply to which you are subscribed, and when someone mentions you on the forum. Unchecking this box will disable forum emails. You will still receive emails for: (1) Data request updates, (2) Password reset emails"
      = render "forms/vertical/submit", form: form, object: current_user, submit_text: "Update email", cancel: false
