#bmi-ahi-calculator {
  select {
    border: 1px solid #111;
    background: transparent;
    width: 70px;
    padding: 3px;
    font-size: 20px;
    border: 1px solid #ccc;
    height: 35px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: asset-url("myapnea/icons/arrowdown.png") 96% / 15% no-repeat #fff;
  }
  .select-label {
    font-size: 18px;
    font-weight: 300;
    margin-right:10px;
  }
  input[type=text] {
    font-size: 20px;
    width: 60%;
    max-width: 100px;
    border-radius:5px;
    margin-bottom:10px;
  }
  input[type=number] {
    font-size: 20px;
    width:80%;
    max-width:150px;
    border-radius:5px;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

#ahi-graph cite {
  font-size: 10px;
}


.underweight {
  fill: #00CBE7;
}
.overweight {
  fill: #F4F328;
}
.normal {
  fill: #00DA3C ;
}
.obese {
  fill: #FD8603;
}

#bmi-ahi-results-container {
  margin-top:20px;
}

#bmi-ahi-results-container.dimmed-and-disabled {
  display:none;
  .list-group-item {
    background-color: #eee;
    color: #777;
  }
  pointer-events: none;
}

#severity-graph {
  margin: 10px;
  padding: 20px;
  border: 2px solid #1765bc;
  border-radius: 20px;
  .row {
    .col-xs-3:first-of-type {
      border-right:1px solid #1765bc;
      padding: 0px;
    }
    .col-xs-3 {
      height:70px;
      .circle {
        width:50px;
        height:50px;
        border-radius:50%;
        margin:auto;
        background-color: #1765cd;
      }
    }
  }
  .row.active {
    color: #ffa400;
    .circle { background-color: #ffa400; }
  }
  .row:last-of-type {
    border-top: 1px solid #1765bc;
  }
}

@media (max-width: $screen-sm) {
  #calculate-min-weight {
    margin-top: 10px;
  }
}
