#bmi-ahi-calculator {
  select {
    appearance: none;
    background: asset-url('myapnea/icons/arrowdown.png') 96% / 15% no-repeat $white;
    border: 1px solid $light-gray;
    font-size: 20px;
    height: 35px;
    padding: 3px;
    width: 70px;
  }

  .select-label {
    font-size: 18px;
    font-weight: 300;
    margin-right: 10px;
  }

  input[type=text] {
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 10px;
    max-width: 100px;
    width: 60%;
  }

  input[type=number] {
    border-radius: 5px;
    font-size: 20px;
    max-width: 150px;
    width: 80%;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

$bar-color: #4682b4;
$bar-hover: #a52a2a;

.bar {
  fill: $bar-color;
}

.bar:hover {
  fill: $bar-hover;
}

.axis {
  font: 10px sans-serif;

  path,
  line {
    fill: none;
    shape-rendering: crispEdges;
    stroke: $black;
  }

  &.x path {
    display: none;
  }
}


$underweight: #00cbe7;
$overweight: #f4f328;
$normal: #00da3c;
$obese: #fd8603;


#ahi-graph cite {
  font-size: 10px;
}

.underweight { fill: $underweight; }

.overweight { fill: $overweight; }

.normal { fill: $normal; }

.obese { fill: $obese; }

#bmi-ahi-results-container {
  margin-top: 20px;

  &.dimmed-and-disabled {
    display: none;
    pointer-events: none;

    .list-group-item {
      background-color: $lighter-gray;
      color: $dark-gray;
    }
  }
}

#severity-graph {
  border: 2px solid $darkest-blue;
  border-radius: 20px;
  margin: 10px;
  padding: 20px;

  .row {
    .col-xs-3:first-of-type {
      border-right: 1px solid $darkest-blue;
      padding: 0;
    }

    .col-xs-3 {
      height: 70px;

      .circle {
        background-color: $darkest-blue;
        border-radius: 50%;
        height: 50px;
        margin: auto;
        width: 50px;
      }
    }

    &.active {
      color: $primary-orange;

      .circle {
        background-color: $primary-orange;
      }
    }
  }

  .row:last-of-type {
    border-top: 1px solid $darkest-blue;
  }
}

@media (max-width: $screen-sm) {
  #calculate-min-weight {
    margin-top: 10px;
  }
}
