#risk-assessment-results-container {
  background-color: #f3f3f3;
}

$row-height: 150px;

.risk-indicator-bar {
  height: $row-height;
  p {
    text-align: center;
    line-height: $row-height;
    color: #777;
  }
  p.f500 {
    color: #fff;
  }
}

$danger: #e54835;
$warning: #f4b46d;
$excellent: #16C63C;

#high-risk-bar {
  background-color: $danger;
  background-color: transparentize($danger, .9);
}
#middle-risk-bar {
  background-color: $warning;
  background-color: transparentize($warning, .9);
}
#low-risk-bar {
  background-color: $excellent;
  background-color: transparentize($excellent, .9);
}


#high-risk-bar.risk-level-active {
  background-color: $danger;
  background-color: transparentize($danger, .1);
}
#middle-risk-bar.risk-level-active {
  background-color: $warning;
  background-color: transparentize($warning, .1);
}
#low-risk-bar.risk-level-active {
  background-color: $excellent;
  background-color: transparentize($excellent, .1);
}


.risk-connector {
  height: $row-height;
  border-top: 45px solid #f3f3f3;
  border-bottom: 45px solid #f3f3f3;
  border-width: ($row-height - 10) / 2;
}

#high-risk-connector.risk-level-active {
  background-color: $danger;
}

#middle-risk-connector.risk-level-active {
  background-color: $warning;
}

#low-risk-connector.risk-level-active {
  background-color: $excellent;
}

#risk-assessment-results-1, #risk-assessment-results-2, #risk-assessment-results-3 {
  height: $row-height * 3;
  border: 10px solid #f3f3f3;
  border-radius: 20px;
  background-color: white;
}

#risk-assessment-results-3 { border-color: $danger; }
#risk-assessment-results-2 { border-color: $warning; }
#risk-assessment-results-1 { border-color: $excellent; }
