$results-color: #f3f3f3;
$row-height: 150px;

#risk-assessment-results-container {
  background-color: $results-color;
}

.risk-indicator-bar {
  height: $row-height;

  p {
    color: $dark-gray;
    line-height: $row-height;
    text-align: center;

    &.f500 {
      color: $white;
    }
  }
}

#high-risk-bar {
  background-color: transparentize($danger, .9);

  &.risk-level-active {
    background-color: transparentize($danger, .1);
  }
}

#middle-risk-bar {
  background-color: transparentize($warning, .9);

  &.risk-level-active {
    background-color: transparentize($warning, .1);
  }
}

#low-risk-bar {
  background-color: transparentize($excellent, .9);

  &.risk-level-active {
    background-color: transparentize($excellent, .1);
  }
}

.risk-connector {
  border-bottom: 45px solid $results-color;
  border-top: 45px solid $results-color;
  border-width: ($row-height - 10) / 2;
  height: $row-height;
}

#high-risk-connector.risk-level-active {
  background-color: $danger;
}

#middle-risk-connector.risk-level-active {
  background-color: $warning;
}

#low-risk-connector.risk-level-active {
  background-color: $excellent;
}

#risk-assessment-results-1,
#risk-assessment-results-2,
#risk-assessment-results-3 {
  background-color: $white;
  border: 10px solid $results-color;
  border-radius: 20px;
  min-height: $row-height * 3;
  padding-bottom: 20px;
}

#risk-assessment-results-3 { border-color: $danger; }

#risk-assessment-results-2 { border-color: $warning; }

#risk-assessment-results-1 { border-color: $excellent; }
