#health-conditions-info {
  background-color: $primary-orange;
  border: 5px solid $lightest-orange;
  border-radius: 20px;
  color: $white;
  margin: auto;
  width: 80%;

  p {
    color: rgba(255, 255, 255, .95);
  }
}

#conditions-sleep-apnea {
  fill: $primary-blue !important;
  position: relative;
  stroke: $primary-blue !important;
}
