#health-conditions-info {
  width: 80%;
  margin: auto;
  border-radius: 20px;
  border: 5px solid #ffc864;
  background-color: #ffa400;
  color: white;
  h2 {
    text-decoration: underline;
  }
  p {
    color: rgba(255,255,255,.95);
  }
}
