// Thanks to code from @andsens, https://medium.com/@andsens/radial-progress-indicator-using-css-a917b80c43f9

.radial-progress {
  $circle-size: 120px;
  $circle-background: #eee;
  $circle-color: $great;

  background-color: $circle-background;
  border-radius: 50%;
  height: $circle-size;
  width: $circle-size;

  $transition-length: 1s;
  $inset-size: 90px;
  $inset-color: #fbfbfb;
  $shadow: 1px 3px 5px rgba(0, 0, 0, .2);
  $percentage-color: #5a5252;
  $percentage-color-complete: #0f7513;
  $percentage-font-size: 20px;
  $percentage-text-width: 60px;

  .circle {
    .mask,
    .fill,
    .shadow {
      border-radius: 50%;
      height: $circle-size;
      position: absolute;
      width: $circle-size;
    }

    .mask,
    .fill {
      -webkit-backface-visibility: hidden;
      transition: transform $transition-length;
    }

    .fill {
      background-color: $circle-color;
    }

    .mask {
      clip: rect(0, $circle-size, $circle-size, $circle-size/2);

      .fill {
        clip: rect(0, $circle-size/2, $circle-size, 0);
      }
    }

    .shadow {
      box-shadow: $shadow inset;
    }
  }

  .inset {
    background-color: $inset-color;
    border-radius: 50%;
    box-shadow: $shadow;
    height: $inset-size;
    margin-left: ($circle-size - $inset-size)/2;
    margin-top: ($circle-size - $inset-size)/2;
    position: absolute;
    width: $inset-size;

    .percentage {
      font-size: $percentage-font-size;
      height: $percentage-font-size;
      left: ($inset-size - $percentage-text-width) / 2;
      line-height: 1;
      overflow: hidden;
      position: absolute;
      text-align: center;
      top: ($inset-size - $percentage-font-size) / 2;
      transition: $percentage-font-size;
      width: $percentage-text-width;

      .numbers {
        color: $percentage-color;
        margin-top: -$percentage-font-size;
        transition: width $transition-length;

        span {
          color: $percentage-color;
          display: inline-block;
          text-align: center;
          vertical-align: top;
          width: $percentage-text-width;
        }
      }

      .numbers-complete {
        color: $percentage-color-complete;

        span {
          color: $percentage-color-complete;
        }
      }
    }
  }
}
