.survey-report-question {
  font-weight: 500;
}
.survey-report-answer {
  border-top: 1px solid #c5c5c5;
  border-bottom: 1px solid #c5c5c5;
  padding: 10px 0;
  font-weight: 300;
}
.survey-report-info {
  padding: 20px 10px;
}
.report-statistic {
  font-family: 'Oswald', sans-serif;
  color: $primary-orange;
  font-size:60px;
  font-weight:300;
  margin-top: 0px;
}
.report-statistic-descriptor {
  font-weight: 300;
  font-size: 21px;
}
#tooltip {
  background-color: #333;
  color: #ddd;
  padding: 5px;
  border-radius: 3px;
}

@media all and (max-width: $screen-sm) {
  .survey-report-info {
    svg {
      max-width: 100% !important;
    }
  }
}
