.survey-report-question {
  font-weight: 500;
}

.survey-report-answer {
  border-bottom: 1px solid $border-color;
  border-top: 1px solid $border-color;
  font-weight: 300;
  padding: 10px 0;
}

.survey-report-info {
  padding: 20px 10px;
}

.report-statistic {
  color: $primary-orange;
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  font-weight: 300;
  margin-top: 0;
}

.report-statistic-descriptor {
  font-size: 21px;
  font-weight: 300;
}

#tooltip {
  background-color: $darker-gray;
  border-radius: 3px;
  color: $light-gray;
  padding: 5px;
}

@media all and (max-width: $screen-sm) {
  .survey-report-info {
    svg {
      max-width: 100% !important;
    }
  }
}
