.survey-report-container {
  text-align: center;
  color: black; color: rgba(0,0,0,.7);
  .survey-report-question {
    padding: 10px;
    background-color: #B1D2F6;
    font-weight: 500;
  }
  .survey-report-answer {
    padding: 10px 0;
    background-color: rgb(207, 226, 248);
    font-weight: 300;
    p {
      font-size: 21px;
    }
  }
  .survey-report-info {
    padding: 20px 10px;
  }
  .report-statistic {
    font-family: 'Oswald', sans-serif;
    color: #ffa400;
    font-size:60px;
    font-weight:300;
    margin-top: 0px;
  }
  .report-statistic-descriptor {
    font-weight: 300;
    font-size: 21px;
  }
}
