// Thanks to http://nicolasgallagher.com/pure-css-speech-bubbles/demo/
.rectangle-speech-border {
  background: $white;
  border-radius: 20px;
  border-style: solid;
  border-width: 3px;
  color: rgba(0, 0, 0, .7);
  padding: 15px;
  position: relative;
}

.rectangle-speech-border-orange {
  border-color: $lightest-orange;
  margin-bottom: 30px;
}

.rectangle-speech-border-blue {
  border-color: $lightest-blue;
  margin-bottom: 60px;
}

// Creates larger curve
.rectangle-speech-border-left:before {
  background: transparent;
  background-color: $white;
  border-bottom-right-radius: 80px 50px;
  border-color: $lightest-orange;
  border-style: solid;
  border-width: 0 3px 3px 0;
  bottom: -30px;
  content: '';
  display: block;
  height: 30px;
  left: 53px;
  position: absolute;
  width: 39px;
  z-index: 10;
}

// Creates smaller curve
.rectangle-speech-border-left:after {
  background: transparent;
  background-color: $body-background;
  border-bottom-right-radius: 40px 50px;
  border-color: $lightest-orange;
  border-style: solid;
  border-top: 3px solid $lightest-orange;
  border-width: 0 3px 3px 0;
  bottom: -30px;
  content: '';
  display: block;
  height: 30px;
  left: 50px;
  position: absolute;
  width: 20px;
  z-index: 10;
}

// Creates a white rectangle to cover part of the oval border
.rectangle-speech-border-left > :first-child:after {
  background: $white;
  bottom: -10px;
  content: '';
  height: 15px;
  left: 70px;
  position: absolute;
  width: 20px;
}

// Creates larger curve
.rectangle-speech-border-right:before {
  background: transparent;
  background-color: $white;
  border-bottom-left-radius: 80px 50px;
  border-color: $lightest-blue;
  border-style: solid;
  border-width: 0 0 3px 3px;
  bottom: -30px;
  content: '';
  display: block;
  height: 30px;
  position: absolute;
  right: 53px;
  width: 39px;
  z-index: 10;
}

// Creates smaller curve
.rectangle-speech-border-right:after {
  background: transparent;
  background-color: $body-background;
  border-bottom-left-radius: 40px 50px;
  border-color: $lightest-blue;
  border-style: solid;
  border-top: 3px solid $lightest-blue;
  border-width: 0 0 3px 3px;
  bottom: -30px;
  content: '';
  display: block;
  height: 30px;
  position: absolute;
  right: 50px;
  width: 20px;
  z-index: 10;
}

// Creates a white rectangle to cover part of the oval border
.rectangle-speech-border-right > :first-child:after {
  background: $white;
  bottom: -10px;
  content: '';
  height: 15px;
  position: absolute;
  right: 70px;
  width: 20px;
}
