-# For Facebook
%meta{ property: "og:url", content: ENV["website_url"] + "/" }
%meta{ property: "og:title", content: ENV["website_name"] }
%meta{ property: "og:description", content: "Improving sleep apnea through information, support, and research." }
%meta{ property: "og:image", content: ENV["website_url"] + "/assets/" + asset_path("logos/MyApneaLogo_border_whitetext_square.png").split("/assets/").last }
