-# General
%meta{ name: "description", content: "Can't sleep? Sleep apnea is one of the largest causes of chronic sleep deprivation. MyApnea.Org was created by people with sleep apnea, sleep researchers, and sleep doctors to help people with sleep apnea treat their sleep apnea symptoms." }
%meta{ name: "author", content: "Remo Mueller" }
%meta{ name: "keywords", content: @keywords.present? ? @keywords : "sleep apnea, cpap devise, research study, sleep apnea forums, sleep apnea help" }
