-# For Google+
%meta{ itemprop: "name", content: ENV["website_name"] }
%meta{ itemprop: "description", content: "Improving sleep apnea through information, support, and research" }
%meta{ itemprop: "image", content: ENV["website_url"] + "/assets/" + asset_path("logos/MyApneaLogo_border_whitetext_square.png").split("/assets/").last }
