.dashboard-container.dashboard-container-border-accent
  - if section.name.present?
    - if section.level == 0
      %h2= section.name
    - else
      %h4= section.name
  = simple_markdown(section.description)
