- @title = [@json.dig("design", "name"), @json.dig("event", "name")].compact.join(" - ")

= render "projects/theme", project: @project

- content_for :header, @json.dig("design", "name")

- start = (@json.dig("design", "current_page") - 1) * 100 / @json.dig("design", "pages_count")
- percent = (@json.dig("design", "current_page")) * 100 / @json.dig("design", "pages_count")
- start = percent if @json.dig("errors").present?
- content_for :progress_bar, render("slice/surveys/progress_bar", start: start, percent: percent)


= render "slice/surveys/page", project: @project, event: params[:event], design: params[:design], page: @page, json: @json, section: @section, variable: @variable, dashboard: false
