- if params[:theme].present?
  - @theme = params[:theme]
- else
  -# TODO: Should be the following:
  -# @theme = project.theme.presence || "default"
  - @theme = "default"

= render "themes/decorations"
