- @title = "Edit Project: #{@project.name_was}"

- @menu = "night"
- @body = "night"
- @footer = "night"

- content_for :container_class, "container-fluid"

- content_for :sidebar, render("admin/sidebar")

- content_for :header do
  = link_to @project.name_was, @project
  Edit

- content_for :footer, render("blank/moon")

.dashboard-container
  = render "form", project: @project
