- @title = "New Project"

- @menu = "night"
- @body = "night"
- @footer = "night"

- content_for :container_class, "container-fluid"

- content_for :sidebar do
  = render "admin/sidebar"

- content_for :header, @title

- content_for :footer, render("blank/moon")

.dashboard-container
  = render "form", project: @project
