%span= select_tag "response[hours]", options_for_select((1..12).collect { |f| [f, f] }, value ? value["hours"] : nil), include_blank: "hh", class: "custom-select #{"is-invalid" if @json.dig("errors", @variable.name).present?}"
