%span= select_tag "response[minutes]", options_for_select((0..59).collect { |f| [format("%02d", f), f] }, value ? value["minutes"] : nil), include_blank: "mm", class: "custom-select #{"is-invalid" if @json.dig("errors", @variable.name).present?}"
