// Place all the styles related to the admin/clinical_trials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clinical-trial-container {
  border: 1px solid #ddd;
  background-color: white;
  padding: 10px;
  color: #555;
}
