.clinical-trial-container {
  background-color: $white;
  border: 1px solid $light-gray;
  color: $darker-gray;
  padding: 10px;
  position: relative;

  .industry-sponsored-alert {
    background-color: lighten($primary-orange, 3);
    border-radius: 0 0 0 2px;
    padding: 3px;
    position: absolute;
    right: 0;
    top: 0;
  }
}
