$user-color: #008000;
$survey-color: #f00;
$post-color: #4682b4;

.daily-engagement-report {
  .axis path,
  .axis line {
    fill: none;
    shape-rendering: crispEdges;
    stroke: $black;
  }

  .x.axis path {
    display: none;
  }

  .posts-line {
    fill: none;
    stroke: $post-color;
    stroke-width: 1.5px;
  }

  .users-line {
    fill: none;
    stroke: $user-color;
    stroke-width: 1.5px;
  }

  .surveys-line {
    fill: none;
    stroke: $survey-color;
    stroke-width: 1.5px;
  }
}
