$user-color: #008000;
$survey-color: #f00;
$post-color: #4682b4;

.daily-engagement-report {
  .axis path,
  .axis line {
    fill: none;
    shape-rendering: crispEdges;
    stroke: $black;
  }

  .x.axis path {
    display: none;
  }

  .posts-line {
    fill: none;
    stroke: $post-color;
    stroke-width: 1.5px;
  }

  .users-line {
    fill: none;
    stroke: $user-color;
    stroke-width: 1.5px;
  }

  .surveys-line {
    fill: none;
    stroke: $survey-color;
    stroke-width: 1.5px;
  }
}


// Engagement report

rect.bordered {
  stroke: #E6E6E6;
  stroke-width:2px;
}

text.mono {
  font-size: 9pt;
  font-family: Consolas, courier;
  fill: #aaa;
}

text.axis-workweek {
  fill: #000;
}

text.axis-worktime {
  fill: #000;
}
