// Place all the styles related to the admin/partners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.partner-container {
  position: relative;
  padding: 20px;
  .partner-img-wrapper {
    position:absolute; top:0; right:0; bottom:0;
    text-align:center;
  }
  .admin-bar {
    position: absolute;
    top:0;
    right:0;
  }
}

.promotional-partner-container {
  text-align: center;
  img {
    max-height:75px
  }
  margin-bottom: 20px;
}

.img-centerer {
  display:inline-block;
  vertical-align:middle;
  height:100%;
}

.partners-logo-square {
  display:inline-block;
  vertical-align:middle;
  max-width:80%;
}

@media (max-width: 992px) {
}
