.team-member-container {
  position: relative;

  .team-member-image-wrapper {
    text-align: right;
  }

  .team-member-img {
    border: 2px solid $p400-orange;
    border-radius: 50%;
    height: 180px;
    width: 180px;
  }

  .designations {
    color: $p600-grey;
    font-size: .65em;
    font-weight: 300;
  }

  h3 {
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 5px;
  }

  .admin-bar {
    position: absolute;
    right: 0;
    top: 0;
  }
}

// TODO: Fix max-width screen css
// @media (max-width: $screen-md) {
//   .team-member-container {
//     .team-member-image-wrapper {
//       text-align: center;
//     }
//   }
// }
