.team-member-container {
  position: relative;
  .team-member-image-wrapper {
    text-align: right;
  }
  .team-member-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 2px solid $primary-orange;
  }
  h2 {
  }
  span.designations {
    font-size: .65em;
    font-weight: 300;
    color: gray;
  }
  h3 {
    margin-top: 5px;
    margin-bottom: 15px;
    font-weight: 300;
  }
  .admin-bar {
    position: absolute;
    top:0;
    right:0;
  }
}

@media (max-width: $screen-md) {
  .team-member-container {
    .team-member-image-wrapper {
      text-align: center;
    }
  }
}
