
.row
  .col-md-12
    .pprn-heading
      #nav-bg-lines
        .yellow


      - if content_for(:sidenav)
        .offcanvas-toggle.visible-sm-block.visible-xs-block.left
          %a.btn.btn-default{"data-toggle" => "offcanvas-left"}
            .fa.fa-bars
      %a.brand{href: main_app.root_path}

        #logo-top= image_tag "myapnea/myApneaLogoTop.png"
        #logo-bottom
          .text Improving sleep apnea through information, support, and research

      .pull-right
        %br/


        %ul.nav.nav-pills.small.visible-md-block.visible-lg-block
          = render partial: 'layouts/navigation/options_nav'
      .offcanvas-toggle.visible-sm-inline.visible-xs-inline.right
        %a.btn.btn-default{"data-toggle" => "offcanvas-right"}
          .fa.fa-ellipsis-v

%br/
.visible-xs-block
  %br/
