%p{ style: p_style }
  Hello!

%p{ style: p_style }
  You have been invited by one of your patients to join the research community at
  = succeed '!' do
    = link_to 'MyApnea.Org', @custom_url, style: link_style

%p{ style: p_style }
  The dawn of a new era in sleep apnea research is here. We hope you join our community, and gain access to our great features:

%ul{ style: p_style }
  %li
    %span{ style: emphasis_style } Collect
    detailed health information about your patients over time and compare with the larger sleep apnea community.
  %li
    %span{ style: emphasis_style } Connect
    with other care providers, researchers, and patients on the forums to help those who are struggling.
  %li
    %span{ style: emphasis_style } Submit
    research topics with the hopes of getting full endorsement from the patients in the community, who will benefit from your research the most.

%p{ style: p_style }
  Welcome and we look forward to finding answers together with you!

%p{ style: p_style }
  The MyApnea.Org Team
