- @title = 'About Us'
- @page_content = "Can't sleep? Sleep apnea is one of the largest causes of chronic sleep deprivation. MyApnea.Org was created by people with sleep apnea, sleep researchers, and sleep doctors to help people with sleep apnea treat their sleep apnea symptoms."

.page-box.last-slide.center-vertically.myapnea-sky-bg
  = render 'blank/sun'
  .container
    .myapnea-heading
      MyApnea.Org

= render 'layouts/footer', theme: 'footer-grass'
