.content-main-header
  %h1 Sleep Apnea Patient Centered Outcomes Network Advisory Council Charter

.panel
  .panel-body
    %h2.centered-text Governance and Collaboration
    %p.centered-text Version 1.0
    %p.centered-text November 20, 2014
    .list-group-item
      %h3 Charter Overview
      %p.lead
        This document will serve as a tool to guide the Advisory Council of the Sleep Apnea Patient Centered Outcomes Network (SAPCON).  It will be version-controlled by the SAPCON project director and reviewed and approved by SAPCON’s Steering Committee and Advisory Council as well as SAPCON’s PCORnet program manager to ensure alignment with overall PCORnet goals.  Each of SAPCON’s committee and council charters will be made available to all SAPCON leadership members and will be posted on the www.MyApnea.Org website for network members to review.  Decisions will be made by trying to achieve consensus and votes will be made by simple majority (50% plus 1) as needed.
    .list-group-item
      %h3 Mission and Goals
      %h5 Vision Statement
      %p.lead
        To improve the health and wellbeing of people with sleep apnea.
      %h5 Mission Statement
      %p.lead
        The mission of the Sleep Apnea Patient Centered Outcomes Network is to improve the diagnosis and treatment of sleep apnea through the active engagement of patients, families, researchers, and healthcare providers in a community that facilitates patient-centered research.
      %h5 Goals
      %ul
        %li Recruit at least 50,000 members to fight sleep apnea through comparative effectiveness and patient-reported outcomes research.
        %li Foster a patient-centered approach to focus research on questions and results that are most important to people with sleep apnea or at risk of sleep apnea.
        %li Build an online community that is representative of all appropriate racial/ethnic and socioeconomic backgrounds.
    .list-group-item
      %h3 Advisory Council's Goal/Purpose
      %p.lead
        The purpose of the SAPCON Advisory Council is to provide general review of SAPCON’s activities and ensure that the patient’s voice is reflected in Network governance.  Membership consists of patients, patient advocates, researchers, clinicians, and other healthcare professionals that help provide general advice and counsel to Network leadership and help with specific tasks as called upon by the Advisory Council Co-Chairs or Steering Committee. Members are expected to help provide general direction and promotion of the website and engage in specific activities at their choosing as set forth below.  Advisory Council members will be asked to provide input on: general Network activities, web and outreach content, partnership building, enhancing diversity, participation in research trials, as well as research questions and instruments identified by other Network members. There is no set number of people that can be members of the Advisory Council and patient members may also serve on the Patient Engagement Panel.  Advisory Council members will be acknowledged on the website and other materials where appropriate.
    .list-group-item
      %h3 Management Information
      %table.table.table-striped
        %tbody
          %tr
            %td.f500 Co-chair(s)
            %td
              Dr. Carl Stepnowsky, Veterans Affairs San Diego Healthcare System (patient)
              %br
              Dr. Joe Borelli, MRI at Belfair (patient)
          %tr
            %td
            %td
          %tr
            %td.f500 Project Director
            %td
              Dan Mobley, Brigham and Women's Hospital
          %tr
            %td
            %td
          %tr
            %td.f500 Members
            %td
              = link_to "https://pcornet.centraldesktop.com/p/aQAAAAAB3suN"
          %tr
            %td
            %td
          %tr
            %td.f500 Steering Committee Meeting Schedule
            %td
              Advisory Council members participate mostly via email, SAPCON’s private Facebook group and via conference call as needed.  Co-chairs and PCORnet task force representatives participate on the Steering Committee call, which is held on the last Monday of each month at 5:30.  Advisory Committee members also communicate through a private Facebook page and SAPCON’s workspace on Central Desktop.  The project director provides at least monthly project updates to the Advisory Council via email.
    .list-group-item
      %h3 General Aims
      %ol
        %li
          Engage members of the Advisory Council to ensure that the patient’s voice is reflected in major decisions and implementation taken by the Steering Committee and Network.
        %li
          Help Identify emerging research questions relevant for sleep apnea comparative effectiveness research through patient and expert input, review of opinion survey and poll data conducted in the “Community” side of the Network.
        %li
          Review tools (i.e., questionnaires, surveys and other instruments) and associated psychometric data related to risk and outcome assessments to be used on MyApnea.Org.
        %li
          Review and advise on recruitment, retention strategies and messaging to encourage patients/caregivers, parents, academic centers and other external agencies/partners to participate in the Network.
        %li
          Assist in the review of plans for enhancing communications among patients and across the Network.
        %li
          Provide input to the Steering Committee on prioritization and implementation of plans for securing and enhancing partnership relationships for outreach and engagement.
        %li
          Help identify and approve priority messages, materials and communication vehicles developed by SAPCON’s outreach team.
        %li
          Provide input on requests to the Network for participation on research trials.
        %li
          Provide input on how trials might be designed (e.g., need to collect information on sleep duration, sleep apnea, or daytime sleepiness).
    .list-group-item
      %h3 Advisory Council Voting Procedure
      %p.lead
        To the extent possible, Advisory Council co-chairs will attempt to seek and build consensus in matters before the Council.  In matters requiring a vote, each member of the Advisory Council will have one vote including each of the co-chairs. Votes will be decided by simple majority (50% plus 1) of the members attending.  Ex-officio members participating on Advisory Council calls or in meetings do not have a vote.
    .list-group-item
      %h3 Specific Participation and Communication Expectations
      %p.lead
        This section briefly describes the expectations related to participation of members of the Advisory Council and workflow with others in the Network.
    .list-group-item
      %h3 Levels of Communication and Decision Making
      %table.table.table-striped
        %tbody
          %tr
            %td.f500 Advisory Council Co-chair(s)
            %td
              %ol
              %li Assist Principal Investigator and Steering Committee with overall leadership
              %li Actively participate in decisions and contribute to deliverables
              %li Attend Advisory Council, Patient Engagement Panel, and Steering Committee meetings and calls and lead selected calls
              %li Represent patient perspectives in all decisions
              %li Coordinate the work of SAPCON’s representatives on PCORnet’s task forces and advise the Steering Committee on deliverables and milestones as well as all work product relevant to the network
              %li Seek opinions of Advisory Council members on matters before them and oversee voting process as necessary
          %tr
            %td
            %td
          %tr
            %td.f500 Advisory Council Project Director
            %td
              %ol
                %li Monitor deliverable progress and work to ensure deliverables are completed on time
                %li Proactively inform co-chairs and/or Principal Investigator of any issues that cannot be resolved by the Advisory Council or will impact the project
                %li Raise potential risks and/or issues that have been identified by the Steering Committee, Advisory Council or other team members/volunteers
                %li Schedule and attend Advisory Council calls and meetings
                %li Keep Advisory Council meeting/call minutes and distribute action items to team members
                %li Provide project updates to Advisory Council members
          %trials
            %td
            %td
          %tr
            %td.f500 Advisory Council Members
            %td
              %ol
                %li Members of Advisory Council commit to specifically doing at least one of the following:
                %ol
                  %li Participate in the forum by posing questions or topics or helping to   facilitate dialogue with other members
                  %li Write a periodic blog to share new research findings or perspectives on issues of interest to Network members
                  %li Volunteer to be on a PCORnet task force or SAPCON working group
                  %li Become a “sleep champion” and participate in active patient engagement and enrollment
                %li General commitment to support and promote the website through social networks, organizations, institutions, friends and colleagues.
                %li Attend Advisory Council calls and meetings as scheduled
                %li Actively participate in decisions and contribute to deliverables and milestones
                %li Raise issues with Co-chairs and Principal Investigator
                %li Be available to provide expertise and counsel as needed
