.content-main-header
  %h1 Sleep Apnea Patient Centered Outcomes Network Steering Committee Charter

.panel
  .panel-body
    %h2.centered-text Governance and Collaboration
    %p.centered-text Version 2.0
    %p.centered-text October 5, 2014
    .list-group-item
      %h3 Charter Overview
      %p.lead
        This document will serve as a tool to guide the Steering Committee of the Sleep Apnea Patient Centered Outcomes Network (SAPCON) project.  It will be version-controlled by the SAPCON project director and reviewed and approved by SAPCON’s Steering Committee as well as SAPCON’s PCORnet program manager to ensure alignment with overall PCORnet goals.  Each of SAPCON’s committee and council charters will be made available to all SAPCON Advisory Council members and will be posted on the www.MyApnea.Org website for Network members to review.
    .list-group-item
      %h3 Mission and Goals
      %h5 Vision Statement
      %p.lead
        To improve the health and wellbeing of people with sleep apnea.
      %h5 Mission Statement
      %p.lead
        The mission of the Sleep Apnea Patient Centered Outcomes Network is to improve the diagnosis and treatment of sleep apnea through the active engagement of patients, families, researchers, and healthcare providers in a community that facilitates patient-centered research.
      %h5 Goals
      %ul
        %li Recruit at least 50,000 members to fight sleep apnea through comparative effectiveness and patient-reported outcomes research.
        %li Foster a patient-centered approach to focus research on questions and results that are most important to people with sleep apnea or at risk of sleep apnea.
        %li Build an online community that is representative of all appropriate racial/ethnic and socioeconomic backgrounds.
    .list-group-item
      %h3 Steering Committee's Goal/Purpose
      %p.lead
        The purpose of the SAPCON Steering Committee is to provide oversight of the work of developing the Network.  It prioritizes short and long-term strategic initiatives; develops approaches for coordinating partnership relationships, identifies opportunities to enhance progress towards meeting milestones; coordinates the work of the Advisory Council; reviews and approves major recommendations from the Advisory Committee, consultants and other volunteers; approves any changes in budget and consulting agreements. The Steering Committee will assign tasks to the Advisory Council and consultants or other team members as needed.
    .list-group-item
      %h3 Management Information
      %table.table.table-striped
        %tbody
          %tr
            %td.f500 Principal Invesitgator
            %td Dr. Susan Redline, Brigham and Women's Hospital
          %tr
            %td
            %td
          %tr
            %td.f500 Co-chair(s)
            %td
              Dr. Susan Redline, Brigham and Women's Hospital
              %br
              Adam Amdur, American Sleep Apnea Association (patient)
          %tr
            %td
            %td
          %tr
            %td.f500 Project Director
            %td
              Darrel Drobnich, midAmr Group
          %tr
            %td
            %td
          %tr
            %td.f500 Members
            %td
              Dr. Judith Owens, Chief Medical Officer, American Sleep Apnea Association
              %br
              Will Headapohl, Chair, Board of Directors, American Sleep Apnea Association (patient)
              %br
              Dr. Vishesh Kapur, University of Washington (patient)
          %tr
            %td
            %td
          %tr
            %td.f500 Steering Committee Meeting Schedule
            %td
              The second and last Monday of every month at 5:30 PM ET or as needed via conference call.  The co-chairs and project director meet every Monday via conference call at 2:15 PM ET or as needed
    .list-group-item
      %h3 Specific Aims
      %ol
        %li Create initial governance policies and procedures for SPACON and MyApnea.Org; ensure applicability of policies and procedures as SAPCON and MyApnea.Org activities evolve.
        %li Develop guidance documents for SAPCON and staff.
        %li Establish policies and procedures for broad partner and patient outreach.
        %li Review recommendations from the Advisory Council and implement approved recommendations.
    .list-group-item
      %h3 Steering Committee Voting Procedure
      %p.lead
        To the extent possible Steering Committee co-chairs will attempt to seek and build consensus in matters before the Steering Committee.  In matters requiring a vote, each member of the Steering Committee will have one vote including each of the co-chairs. Votes will be decided by simple majority (50% plus 1) of all five Steering Committee members.  Ex-officio members participating on Steering Committee calls or in meetings do not have a vote.
    .list-group-item
      %h3 Communication and Management
      %p.lead
        Timely communication is essential given the pace of this initiative. This section briefly describes the approach to communication both within the Task Forces and with external stakeholders.
    .list-group-item
      %h3 Levels of Communication and Decision Making
      %table.table.table-striped
        %tbody
          %tr
            %td.f500 Principal Invesitgator
            %td
              %ul
                %li Lead the project and provide overall direction
                %li Ensure deliverables and timelines are met
                %li Co-lead Steering Committee meetings and calls
                %li Serve as SAPCON’s representative at required meetings with PCORI’s Steering and Coordinating Committees
                %li Report progress and issues, as requested by Executive Leadership Committee and Project Management Office (PMO)
          %tr
            %td
            %td
          %tr
            %td.f500 Co-chair(s)
            %td
              %ul
                %li Provide overall leadership of SAPCON and MyApnea.Org
                %li Actively participate in decisions and contribute to deliverables
                %li Attend Steering Committee meetings and calls and lead selected calls
                %li Represent awardee and patient perspectives within PCORnet
                %li Serve as SAPCON representatives on cross-awardee communications and as spokespeople in media and partner engagement
          %tr
            %td
            %td
          %tr
            %td.f500 Project Director
            %td
              %ul
                %li Monitor deliverable progress and work to ensure deliverables are completed on time
                %li Proactively inform co-chairs and/or Principal Investigator of any issues that will impact the project
                %li Raise potential risks and/or issues that have been identified by the Steering Committee or other team members/volunteers
                %li Schedule and attend Steering Committee calls and meetings
                %li Keep Steering Committee meeting/call minutes and distribute action items to team members
          %tr
            %td
            %td
          %tr
            %td.f500 Steering Committee Members
            %td
              %ul
                %li Attend Steering Committee calls and meetings
                %li Actively participate in decisions and contribute to deliverables
                %li Raise issues with co-chairs and Principal Investigator
                %li Oversee stewardship of SAPCON and MyApnea.Org
                %li Decisions will be made by trying to achieve consensus and votes will be made by simple majority (50% plus 1) as needed
