.content-main-header2
  %h1 Sleep Apnea Patient Centered Outcomes Network Patient Engagement Panel Charter

.content-container
  %h2.center Governance and Collaboration
  %p.center Version 1.0
  %p.center November 20, 2014
  .list-group-item
    %h3 Charter Overview
    %p.lead
      This document will serve as a tool to guide the Patient Engagement Panel, which is a working group of the Advisory Council of the Sleep Apnea Patient Centered Outcomes Network (SAPCON).  It will be version-controlled by the SAPCON project director and reviewed and approved by SAPCON’s Steering Committee and Advisory Council co-chairs as well as SAPCON’s PCORnet program manager to ensure alignment with overall PCORnet goals.  Each of SAPCON’s committee and council charters will be made available to all SAPCON leadership members and will be posted on the www.MyApnea.Org website for network members to review.  Decisions will be made by trying to achieve consensus and votes will be made by simple majority (50% plus 1) as needed.
  .list-group-item
    %h3 Mission and Goals
    %h5 Vision Statement
    %p.lead
      To improve the health and wellbeing of people with sleep apnea.
    %h5 Mission Statement
    %p.lead
      The mission of the Sleep Apnea Patient Centered Outcomes Network is to improve the diagnosis and treatment of sleep apnea through the active engagement of patients, families, researchers, and healthcare providers in a community that facilitates patient-centered research.
    %h5 Goals
    %ul
      %li Recruit at least 50,000 members to fight sleep apnea through comparative effectiveness and patient-reported outcomes research.
      %li Foster a patient-centered approach to focus research on questions and results that are most important to people with sleep apnea or at risk of sleep apnea.
      %li Build an online community that is representative of all appropriate racial/ethnic and socioeconomic backgrounds.
  .list-group-item
    %h3 Patient Engagement Panel's Goal/Purpose
    %p.lead
      The purpose of the SAPCON Patient Engagement Panel is to provide ongoing critical review of SAPCON’s activities and ensure that the patient’s voice is reflected in major decisions and implementation.  It will consist of 8-10 patients from various backgrounds and perspectives that commit to providing specific feedback and direction regarding Network milestones and direction.  The Panel is a working group of the Advisory Council that is selected through an application process and will be coordinated by the Advisory Council Co-chairs and project director.  The Panel will provide specific input on: Network activities, web and outreach content, partnership building, enhancing diversity, participation in research trials, as well as research questions and instruments identified by other Network members and the Advisory Council.  It will play a lead in providing input to the Steering Committee on approaches, policy documents, plans for ensuring patient privacy and confidentiality as well as processes related to informed consent and data use agreements.  Patient Engagement Panel members will be acknowledged on the website and other materials where appropriate.
  .list-group-item
    %h3 Management Information
    %table.table.table-striped
      %tbody
        %tr
          %td.f500 Co-chair(s)
          %td
            Dr. Carl Stepnowsky, Veterans Affairs San Diego Healthcare System (patient)
            %br
            Dr. Joe Borelli, MRI at Belfair (patient)
        %tr
          %td
          %td
        %tr
          %td.f500 Project Director
          %td
            Dan Mobley, Brigham and Women's Hospital
        %tr
          %td
          %td
        %tr
          %td.f500 Members
          %td
            To be determined
        %tr
          %td
          %td
        %tr
          %td.f500 Steering Committee Meeting Schedule
          %td
            Patient Engagement Panel members must commit to being available at least 2/3 hours per month to review documents, participate on conference calls as or other Panel work as scheduled. The project director provides monthly project updates to Panel members via email.
  .list-group-item
    %h3 General Aims
    %ol
      %li
        Engage members of the Patient Advisory Panel to ensure that the patient’s voice is reflected in major decisions and implementation taken by the Steering Committee and Network, especially around specific PCORnet milestones.
      %li
        Identify emerging research questions relevant for sleep apnea comparative effectiveness research through patient and expert input, review of opinion survey and poll data conducted in the “Community” side of the Network.
      %li
        Review tools (i.e., questionnaires, surveys and other instruments) and associated psychometric data related to risk and outcome assessments to be used on MyApnea.Org.
      %li
        Coordinate with the SAPCON’s representatives on PCORnet task forces to incorporate new policy or guidance documents.
      %li
        Review and advise on recruitment, retention strategies and messaging to encourage patients/caregivers, parents, academic centers and other external agencies/partners to participate in the network.
      %li
        Review plans for enhancing communications among patients and across the Network.
      %li
        Make recommendations to the Steering Committee on prioritization and implementation of plans for securing and enhancing partnership relationships for outreach and engagement.
      %li
        Help identify and approve priority messages, materials and communication vehicles developed by SAPCON’s outreach team.
      %li
        Provide input on requests to the Network for participation on research trials.
      %li
        Provide input on how trials might be designed (e.g., need to collect information on sleep duration, sleep apnea, or daytime sleepiness).
  .list-group-item
    %h3 Patient Engagement Panel Voting Procedure
    %p.lead
      To the extent possible, Advisory Council co-chairs will attempt to seek and build consensus in matters before the Panel.  In matters requiring a vote, each member of the Patient Engagement Panel will have one vote. Votes will be decided by simple majority (50% plus 1) of the members attending.
  .list-group-item
    %h3 Specific Participation and Communication Expectations
    %p.lead
      This section briefly describes the expectations related to participation of members of the Patient Engagement Panel and workflow with others in the Network.
  .list-group-item
    %h3 Communication and Management
    %p.lead
      Timely communication is essential given the pace of this initiative. This section briefly describes the approach to communication both within the Task Forces and with external stakeholders.
  .list-group-item
    %h3 Levels of Communication and Decision Making
    %table.table.table-striped
      %tbody
        %tr
          %td.f500 Patient Engagement Panel Co-chair(s)
          %td
            %ol
              %li Assist Principal Investigator and Steering Committee with overall leadership
              %li Actively participate in decisions and contribute to deliverables
              %li Attend Advisory Council, Patient Engagement Panel, and Steering Committee meetings and calls and lead selected calls
              %li Represent patient perspectives in all decisions
              %li Coordinate the work of SAPCON’s representatives on PCORnet’s task forces and advise the Steering Committee on deliverables and milestones as well as all work product relevant to the network
              %li Seek opinions of Patient Engagement Panel members on matters before them and oversee voting process as necessary
              %li Oversee application process for Patient Engagement Panel members
        %tr
          %td
          %td
        %tr
          %td.f500 Patient Engagement Panel Project Director
          %td
            %ol
              %li Monitor deliverable progress and work to ensure deliverables are completed on time
              %li Proactively inform co-chairs and/or Principal Investigator of any issues that cannot be resolved by the Patient Engagement Panel or will impact the project
              %li Raise potential risks and/or issues that have been identified by the Steering Committee, Patient Engagement Panel or other team members/volunteers
              %li Schedule and attend Patient Engagement Panel calls and meetings
              %li Keep Patient Engagement Panel meeting/call minutes and distribute action items to team members
              %li Provide project updates to Patient Engagement Panel members
              %li Coordinate application process for Patient Engagement Panel members
        %tr
          %td
          %td
        %tr
          %td.f500 Patient Engagement Panel Members
          %td
            %ol
              %li General commitment to support and promote the website through their social networks, organizations, institutions, friends and colleagues.
              %li Attend Patient Engagement Panel calls and meetings as scheduled
              %li Actively commit two to three hours per month to:
              %li Review documents and website content (e.g., approaches, policies, surveys, etc.)
              %li Participate on monthly or other scheduled calls to provide feedback on specific milestones, documents, web and outreach content.
              %li Review and help prioritize issues related to PCORnet milestones (e.g., research topics, patient-reported outcomes).
              %li Contribute to the development of deliverables and milestones
              %li Raise issues with Co-chairs and Principal Investigator
              %li Be available to provide expertise and counsel as needed
