#registration-progress
  = link_to get_started_privacy_path do
    .circle-progress.viewed
      %h3 1
  .track-progress.viewed
  = link_to get_started_consent_path do
    .circle-progress.viewed
      %h3 2
  .track-progress.viewed
  = link_to get_started_about_me_path do
    .circle-progress.viewed
      %h3 3
- if current_user and @survey
  = render partial: 'surveys/demographics'
