.content-main-header
  .container
    %h1 This is a main content header

.container
  .content-container
    %h1 Heading one

    %h2 Heading two

    %h3 Heading three

    %h4 Heading four

    %h5 Heading five

    %h6 Heading six

    %p Paragraph

    %p.lead Paragraph - lead

    %p.spaced
      This is a long paragraph with increased spacing between lines. This improves readability for long blocks of text, and helps to make such chunks appear more like familiar print materials.

    .row
      .col-sm-6
        %ul
          %li Item 1
          %li Item 2
          %li Item 3
      .col-sm-6
        %ol
          %li Item 1
          %li Item 2
          %li Item 3
    %ul
      %li
        This is an indented list
      %ul
        %li It has multiple sub lists
        %li Each with descending sizes
        %li And altering line spacing
        %ol
          %li Generally, these should not be used too frequently
          %li And limited to three levels
