<!-- WELCOME / JOIN -->

  <div class="row row-fullscreen" style="" id="slide-1">
    <div class="col-md-7 col-md-offset-1">
      <h1 class="text-white"><strong>Finding answers to sleep apnea, together.</strong></h1>
      <h2 class="lighter-orange">Sleep apnea currently affects over 18 million of us. We want to work together to improve patient support and treatment through extensive information and research.</h2>
      <h3 class="text-white">Interested in beating this disease?
      <button type="button" class="btn btn-primary" id="btn-join">Join the Community</button>
      </h3>
    </div>

  </div> <!-- END ROW -->


<!-- MISSION -->

  <div class="row row-fullscreen" id="slide-2">

    <div class="col-md-6 col-md-offset-1">
      <h1 class="primary-orange">Our Mission</h1>
      <h2 class="lighterer-orange">We plan to dramatically improve sleep apnea through information, support, and research</h2>
      <p class="text-white">MyApnea.Org is what’s called patient-powered research. Together, members share health information, discuss experiences regarding treatment, and express views directly to researchers and sleep experts on future research projects that can make a difference. In return, you will get easy-to-use tools to track your health and will be able to learn from others about treatments, symptoms, and coping with sleep apnea to take control of your life. And we will report back on all interesting research findings, in language you don’t have to be a scientist to understand.</p>
    </div>
    <div class="col-md-4">
      <%= image_tag 'myapnea/welcome/img-small/team-hands-cropped.jpg' %>
    </div>
  <!--

    <div class="col-md-2 col-md-offset-2 col-button" id="col-button-1" style="clear:both">
      <p>     button one</p>
    </div>
    <div class="col-md-2 col-md-offset-1 col-button">
      <p>     button one</p>
    </div>
    <div class="col-md-2 col-md-offset-1 col-button">
      <p>     button one</p>
    </div>
 -->
  </div>


<!-- PLATFORM -->

  <div class="row row-fullscreen" id="slide-3">
    <div class="col-md-4">
      <%= image_tag 'myapnea/welcome/img-large/unsplash-dont-stand-there.jpg' %>
    </div>
    <div class="col-md-6 col-md-offset-1">
      <h1 class="lighter-orange">Our Platform</h1>
      <h2 class="lighterer-orange">We plan to dramatically improve sleep apnea through information, support, and research</h2>
      <p class="text-white">MyApnea.Org is what’s called patient-powered research. Together, members share health information, discuss experiences regarding treatment, and express views directly to researchers and sleep experts on future research projects that can make a difference. In return, you will get easy-to-use tools to track your health and will be able to learn from others about treatments, symptoms, and coping with sleep apnea to take control of your life. And we will report back on all interesting research findings, in language you don’t have to be a scientist to understand.</p>
    </div>
  <!--

    <div class="col-md-2 col-md-offset-2 col-button" id="col-button-1" style="clear:both">
      <p>     button one</p>
    </div>
    <div class="col-md-2 col-md-offset-1 col-button">
      <p>     button one</p>
    </div>
    <div class="col-md-2 col-md-offset-1 col-button">
      <p>     button one</p>
    </div>
 -->
  </div>

  <div class="row row-fullscreen" id="slide-4">

    <div class="col-md-10 col-md-offset-1">

    </div><!-- END COL-10 -->

  </div>

  <div class="row row-fullscreen" id="slide-5">

    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Join MyApnea.Org Now!</h2>
        </div>
        <div class="panel-body" id="panel-sign-up">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="First name">
<!--            <span class="input-group-addon"></span> -->
          </div>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Last name">
          </div>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Year of birth">
          </div>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Email">
          </div>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Password">
          </div>
        </div>
      </div>
    </div> <!-- END COL-10 -->

  </div>
