<!-- WELCOME / JOIN -->

  <div class="row row-fullscreen" style="" id="slide-1">
    <div class="col-md-7 col-md-offset-1">
      <h2 class="text-white"><strong>Finding answers to sleep apnea, together.</strong></h2>
      <h3 class="lighter-orange">Sleep apnea currently affects over 18 million of us. We are working together to improve patient support and treatment through information exchange and research.</h3>
      <h4 class="text-white">Wake up to a better future - join now!</h4>
      <button type="button" class="btn btn-primary" id="btn-join"><strong>Join the Community</strong></button>
    </div>

  </div> <!-- END ROW -->


<!-- MISSION -->
  <div class="row row-fullscreen" id="slide-2">

    <div class="col-md-6 col-md-offset-1">
      <h1 class="primary-blue"><strong>Our Mission</strong></h1>
      <h3 class="lighter-blue">We plan to improve sleep apnea through information, support, and research</h3>
      <h5 class="">MyApnea.Org is what’s called patient-powered research. Together, members share health information, discuss experiences regarding treatment, and express views directly with researchers and sleep experts on future research projects that can make a difference. In return, you get easy-to-use tools to track your health and will be able to learn from others about treatments, symptoms, and coping with sleep apnea to take control of your life. And we will report back on all interesting research findings, in language you don’t have to be a scientist to understand.</h5>
    </div>
    <div class="col-md-4">
      <%= image_tag 'myapnea/welcome/img-small/team-hands-cropped.jpg', class: 'hidden-sm hidden-xs' %>
    </div>
  </div><!-- END ROW -->

<!-- PLATFORM -->
  <div class="row row-fullscreen" id="slide-3">
    <div class="col-md-3 col-md-offset-1 col-sm-12">
      <%= image_tag 'myapnea/welcome/img-large/unsplash-dont-stand-there.jpg', class: 'hidden-sm hidden-xs' %>
    </div>
    <div class="col-md-6 col-md-offset-1">
      <h1 class="primary-orange">Our Platform</h1>
      <h3 class="lighter-orange">We plan to dramatically improve sleep apnea through information, support, and research</h3>
      <h5 class="">We are inviting thousands of people with sleep apnea and their caregivers to come together at MyApnea.Org to learn more about symptoms and treatment, to share their experiences with others within the community, and to become part of a national research network to improve lives. It’s a whole new way of finding help—for you and for millions of people with sleep apnea.</h5>
    </div>
  </div><!-- END ROW -->

<!-- COMMUNITY -->
  <div class="row row-fullscreen centered-text" id="slide-4">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1 class="primary-blue">Our Community</h1>
        <h2 class="lighter-blue">Join a new patient-led community created to fight sleep apnea. MyApnea.Org is a network created by people with sleep apnea to empower others and to help get needed answers.</h2>
      </div><!-- END COL-10 -->
    </div><!-- END ROW -->
    <div class="row">
      <a href="https://myapnea.org/forums/"><div class="col-md-3 col-md-offset-1 col-button" id="col-button-1" style="clear:both">
        <h1 class="text-white">Active </br> Forums</h1>
        <p>Nam malesuada erat sit amet sapien aliquet dictum. Nulla porttitor luctus vestibulum. Curabitur et neque velit. Cras mattis dignissim gravida. Vivamus molestie ex massa, a molestie felis congue nec. In hac habitasse platea dictumst. In sed malesuada mauris. Proin ac vestibulum nisl. Mauris fermentum finibus sollicitudin. Nullam hendrerit nisl vitae consequat tempus. Nam sodales malesuada urna, sed elementum neque tempus nec.</p>
      </div></a><!-- END COL-3 -->
      <a href="https://myapnea.org/research_surveys/"><div class="col-md-3 col-button">
        <h1 class="text-white">Research </br> Surveys</h1>
        <p>Nam malesuada erat sit amet sapien aliquet dictum. Nulla porttitor luctus vestibulum. Curabitur et neque velit. Cras mattis dignissim gravida. Vivamus molestie ex massa, a molestie felis congue nec. In hac habitasse platea dictumst. In sed malesuada mauris. Proin ac vestibulum nisl. Mauris fermentum finibus sollicitudin. Nullam hendrerit nisl vitae consequat tempus. Nam sodales malesuada urna, sed elementum neque tempus nec.</p>
      </div></a><!-- END COL-3 -->
      <a href="https://myapnea.org/social"><div class="col-md-3 col-button">
        <h1 class="text-white">Support </br> Groups</h1>
        <p>Nam malesuada erat sit amet sapien aliquet dictum. Nulla porttitor luctus vestibulum. Curabitur et neque velit. Cras mattis dignissim gravida. Vivamus molestie ex massa, a molestie felis congue nec. In hac habitasse platea dictumst. In sed malesuada mauris. Proin ac vestibulum nisl. Mauris fermentum finibus sollicitudin. Nullam hendrerit nisl vitae consequat tempus. Nam sodales malesuada urna, sed elementum neque tempus nec.</p>
      </div></a><!-- END COL-3 -->
    </div><!-- END ROW -->
  </div><!-- END ROW -->


<!-- JOIN US -->
  <div class="row row-fullscreen" id="slide-5">

    <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
      <h1 class="primary-orange">Wake up to a better future!</h1>
      <div class="panel ">
        <div class="panel-body" id="panel-sign-up">
          <h4 class="">By joining, you gain access to a unique group of resources and a growing community that will always be available to offer support and advice. </br></br>
          It's fast, simple, and completely free of cost to join and start making a difference!</br></h4>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="First name">
          </div>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Last name">
          </div>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Year of birth">
          </div>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Email">
          </div>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Password">
          </div>
          <div class="input-group" id="submit-join">
            <input type="submit" class="form-control" value="Join!">
          </div>
        </div>
      </div>
    </div> <!-- END COL-10 -->

  </div><!-- END ROW -->
