$link-color: $p500-blue !default;
$breadcrumb-link-color: $p100-blue !default;
$standard-shadow-color: rgba(0, 0, 0, .3);
$box-shadow-color: rgba(0, 0, 0, .15);
$dashboard-bg: $brand-white !default;
$standard-shadow-color: rgba(0, 0, 0, .3);
$standard-shadow-hover-color: rgba(0, 0, 0, .2);
$comment-unread-even: $brand-white;
$comment-unread-odd: $brand-gray-lightest;
