// Branding
$brand-white: #fff;
$brand-black: $p900-grey;

// TODO: Recheck colors
$link-color: $p500-blue !default;
$breadcrumb-link-color: $p100-blue !default;
$dashboard-bg: $brand-white !default;
$comment-unread-even: $brand-white;
$comment-unread-odd: $p50-grey;
