%p.lead
  Answers to these questions will help us all better understand the symptoms,
  diagnoses and experiences of people with (or at-risk of) sleep apnea. After
  you complete each survey, you can compare your answers to others within the
  network.
