%table.table
  %thead
    %tr
      %th Name
      %th Number of Questions
      %th Number Started
      %th Number Completed
  %tbody
    - Survey.viewable.each do |survey|
      %tr
        %td= survey.name
        %td= survey.total_questions
        %td= survey.answer_sessions.count
        %td= survey.answer_sessions.where(locked: true).count
