%table.table
  %thead
    %tr
      %th Name
      %th Number of Questions
      %th Number Started
      %th Number Completed
  %tbody
    - Survey.viewable.each do |qf|
      %tr
        %td= qf.name
        %td= qf.total_questions
        %td= qf.answer_sessions.count
        %td= qf.answer_sessions.where(completed: true).count
