<div class='content-main-header'>
  <h1>Survey Results</h1>
</div>


<% @survey = Survey.complete(current_user).second %>

<% if @survey %>

  <!-- THANK YOU FOR COMPLETING SURVEYS -->
  <div class="panel">
    <div class="panel-body">
      <h3 class='f400'>
        Thank you for completing the
        <span class='primary-orange'><%= @survey.name %></span>
        survey!
      </h3>
      <h5 class='f400 lighter-blue' style='margin-bottom:30px;'>Congratulations, you have received one entry into the next monthly drawing!</h5>
      <h4 class='f300 spaced'>Now take some time to review your answers and see how they compare to other members of the community. If you want to continue the discussion, bring any questions or concerns to the forums to hear from doctors, researchers, and other people with sleep apnea.</h4>
    </div>
    <div class="panel-footer f400">
      We would love your feedback!
      <a class='primary-blue u-voice'>Get in touch with us</a>.
    </div>
  </div>

  <% answer_session = AnswerSession.most_recent(@survey.id, current_user.id) %>

  <% @survey.all_questions.each do |question| %>
    <% answer = question.user_answer(answer_session)  %>
    <%= render partial: 'surveys/reports/question_and_answer', locals: { question: question, answer: answer } %>

  <% end %>

<% else %>

  <!-- APOLOGIZE AND REDIRECT -->
  <div class="panel">
    <div class="panel-body">
      <h3 class='f400'>Oops! Looks like you haven't completed this survey yet.</h3>
      <h4 class='f300 spaced'>
        Return to the
        <%= link_to 'survey page', surveys_path %>
        to work on your surveys!
      </h4>
    </div>
  </div>

<% end %>
