= form_for current_user.social_profile, html: {role: "form", class: 'form-horizontal'}, url: social_profile_path do |f|
  .panel
    .panel-body.text-dark8
      %h3.f300.col-xs-12.centered-text.text-dark9{ style: 'margin-bottom:30px;'} My Social Profile
      .form-group
        %label.col-sm-3.col-sm-offset-3.control-label
          = image_tag current_user.photo_url, :class => "img-responsive img-thumbnail"
        .col-sm-6
          %h4.f300 Change Photo
          =f.file_field :photo
      .form-group{ style: 'margin-top:20px;' }
        %label.col-sm-3.control-label Nickname
        .col-sm-6
          =f.text_field(:name, class: 'form-control' )
      .form-group
        %label.col-sm-3.control-label Age
        .col-sm-6
          =f.number_field(:age, class: 'form-control')
      .form-group
        %label.col-sm-3.control-label Gender
        .col-sm-6
          = f.text_field(:sex, class: 'form-control')
          -# =f.select(:sex, ["Male", "Female", "Other"], {}, class: 'form-control')
      -# =f.submit("Save Changes", class: 'btn btn-primary col-sm-6 col-sm-offset-3 centered-text')
    .panel-footer.text-dark9.row{ style: 'margin:10px 0;'}
      %h4.f500.centered-text
        This is how you will appear to other members of MyApnea.Org
      %p.lead.centered-text
        If you would prefer to be shown anonymously, you can leave these fields blank. You can change this any time by visiting your settings!
      =f.submit("Save Changes", class: 'btn btn-primary col-sm-4 col-sm-offset-4 centered-text')
      - if current_user.social_profile.errors.any?
        .alert.alert-danger.alert-dismissable
          %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
          %strong Profile Errors
          %ul
            - current_user.social_profile.errors.full_messages.each do |msg|
              %li= msg.html_safe
