- @active_top_nav_link = :participate
- @page_title = 'Our Sleep Apnea Community'
.content-main-header
  %h1.content-main-title Our Community

%div{ style: "height: 500px; min-width: 310px; max-width: 600px; margin: 0 auto", data: { object: 'draw-map', membership: Map.states_for_map.to_json } }





%div{ style: "height: 500px; min-width: 310px; max-width: 600px; margin: 0 auto", data: { object: 'draw-world-map', membership: Map.countries_for_map.to_json } }
