.input-group
  = number_field_tag "response[feet]", value ? value["feet"] : nil, maxlength: 2, class: "form-control #{"is-invalid" if @json.dig("errors", @variable.name).present?}", autocomplete: "off"
  = render "survey/decoration/addon", addon: "ft"
