.form-group.string-container
  .form-inline
    = render "slice/surveys/decoration/height_feet", value: value
    &nbsp;
    = render "slice/surveys/decoration/height_inches", value: value
  = render "slice/surveys/decoration/errors"
  = render "slice/surveys/decoration/field_note"
