- @title = "Edit Broadcast: #{@broadcast.title_was}"

.content-main-header2
  %h1
    = link_to 'Blog Posts', broadcasts_path
    &middot;
    = link_to @broadcast.title_was, @broadcast
    &middot;
    Edit

= render 'form'
