- @title = "Edit Broadcast: #{@broadcast.title_was}"

- @menu = "blue"
- @body = "sky"
- @footer = "grass"

- content_for :container_class, "container-fluid"

- content_for :sidebar, render("admin/sidebar")

- content_for :header do
  = link_to @broadcast.title_was, @broadcast
  Edit

.dashboard-container
  = render "form", broadcast: @broadcast
