/ Expects a @survey and @answer_session variable
/ Dynamically Loaded:
- @survey.all_questions_descendants.each do |question|
  = render partial: "surveys/question_templates/#{question.display_type}", locals: { question: question, answer_session: @answer_session, answer: Answer.first_or_new(question, @answer_session) }

/ End of Survey
.survey-container.progress-w-enter
  .panel
    .question-container
      %h3.f300 Congratulations! You've reached the end of the survey, and will gain an entry into our monthly prize drawing!
    .button-container
      = link_to "Continue to My Social Profile", account_path, class: 'btn btn-primary btn-lg'
      = link_to "Go Home", home_path, class: 'btn btn-default btn-lg'


