- if current_user.is_nonacademic? and !current_user.provider?
  .content-container
    .content-header
      %h2.f300
        Thank you for completing the
        %span.darkerer-blue.f500= @survey.name
        survey!
    .content-body
      %h3.lighter-blue
        Congratulations, you have received one entry into the next monthly drawing!
      %br
      %p
        Now take some time to review your answers and see how they compare to other members of the community. If you want to continue the discussion, bring any questions or concerns to the forums to hear from doctors, researchers, and other people with sleep apnea.
    .content-footer
      %p
        We would love your feedback
        %a.u-voice.primary-blue Get in touch with us.

- elsif (current_user.is_only_academic?)
  .content-container
    .content-header
      %h2.f300
        Welcome to the data viewer for the
        %span.darker-blue= @survey.name
        survey!
    .content-body
      %p
        Please only use this data in accordance with our
        = link_to('Terms of Access', terms_of_access_path) + '.'
