-# Select next survey for completion
- next_survey = current_user.next_survey(@survey)
- continue_path = next_survey.present? ? survey_path(next_survey) : surveys_path
.content-container
  .content-header
    %h2.f300.centered-text.text-dark7
      Congratulations on finishing this survey - you're doing great!
  .content-body
    = link_to "Click here to continue", continue_path, class: "btn btn-primary btn-lg btn-block", style: 'width: 70%; margin: 10px auto;'
