.panel
  .panel-body.centered-text
    %h1.f700.oswald{ style: 'color: red; color: crimson; ' }
      = "! ! !"
    %h3
      Before continuing, you must accept the recent modification to our consent and privacy policy
    %p.lead
      Our privacy policy and consent have been slightly modified. If you wish to review them, please do so by clicking one of the links below.
    %br
    .row
      %button.btn.btn-default
        = link_to 'Privacy Policy', privacy_path
      %button.btn.btn-default
        = link_to 'Consent', consent_path
      %button.btn.btn-primary
        = link_to 'I acknowledge these changes', accepts_update_path, method: :post, style: 'color: white'
