.survey-container.active
  .btn.btn-primary.next-question
    Go to next question
.survey-container
  .btn.btn-primary.next-question
    Go to next question
.survey-container
  .btn.btn-primary.next-question
    Go to next question
.survey-container
  .btn.btn-primary.next-question
    Go to next question
.survey-container
  .btn.btn-primary.next-question
    Go to next question
.survey-container
  .btn.btn-primary.next-question
    Go to next question
.survey-container
  .btn.btn-primary.next-question
    Go to next question
