- @active_top_nav_link = :participate

.content-main-header
  %h1.f300 Research Surveys

.panel
  .panel-body
    %p.lead MyApnea.Org is part of a growing national network of patients, health care providers and researchers. This partnership is built upon the open exchange of information about sleep apnea. Here we provide a series of questions to help the sleep apnea community better understand the symptoms found in patients with sleep apnea or at risk for sleep apnea, their experiences with getting diagnosed, and their health conditions. Many of you will have answered some of these questions before but it is important for us to ask them again so that we have an understanding of the MyApnea community now and over time. After you complete each survey, you will see how your answers compare to the others within the network.
    %p.lead
      You may navigate away from the surveys at any time and your answers will be
      saved for you to complete upon your return. Each
      %b completed survey
      earns you an entry into our monthly drawing for a chance to win a $250
      %i.fa.fa-cc-visa
      Visa Gift card*! The more surveys you complete the more chances to win! Drawings are
      held the last day of each month.

    %p.lead{ style: 'font-style:italic'}
      %i *Must be a United States resident to be eligible to win. Proof of eligibility must be given (i.e. SSN) upon notification of award.

.panel
  .panel-body
    .row
      - current_user.smart_surveys.each do |survey|
        .col-sm-4.centered-text
          = render partial: 'surveys/partials/survey_progress', locals: { survey: survey }

