#answer-session
  .panel.panel-default
    .panel-heading
      = render partial: 'surveys/partials/header', locals: { survey: @survey }
    .panel-body
      %p
        = markdown @survey.description
    .panel-footer
      %div
        = link_to "Lets Start!", start_survey_path(survey_id: @survey.id), class: 'btn btn-primary btn-lg'
