.row
  .col-md-12
    .panel.panel-success
      .panel-heading
        Start Survey
      .panel-body
.row
  .col-md-12
    .panel.panel-primary
      .panel-heading
        Visit Forum
      .panel-body
.row
  .col-md-5
    .panel.panel-info
      .panel-heading
        Your Daily Health Trends
      .panel-body
  .col-md-7
    .panel.panel-default
      .panel-heading
        Vote on Research Topics
      = render partial: "research_topics/research_topics", locals: {research_topics: ResearchTopic.popular.take(5), editable: false, disabled: true}

