.col-sm-10.col-sm-offset-1.primary-orange-bcg.content-main-header
  %h1.content-main-title Share MyApnea.Org
.col-sm-10.col-sm-offset-1.panel{ style: 'margin-top:50px; margin-bottom:50px; padding-top: 50px; padding-bottom:50px; ' }
  .col-sm-4{ style: 'text-align:center;' }
    = link_to image_tag('myapnea/icons/twitter_icon.png', class: 'share-icons-lg share-icons-animate' ,style: 'width:60%; height:60%; border-radius:100%;'), 'http://ctt.ec/Qeg7f'
  .col-sm-4{ style: 'text-align:center;' }
    = link_to image_tag('myapnea/icons/facebook_icon.png', class: 'share-icons-lg share-icons-animate' ,style: 'width:60%; height:60%; border-radius:100%;'), 'http://www.facebook.com/share.php?u=https://myapnea.org/'
  .col-sm-4{ style: 'text-align:center;' }
    = link_to image_tag('myapnea/icons/gplus_icon.png', class: 'share-icons-lg share-icons-animate' ,style: 'width:60%; height:60%; border-radius:100%;'), 'https://plusone.google.com/_/+1/confirm?hl=en&url=http%3A%2F%2F%20https://myapnea.org/'
.col-sm-10.col-sm-offset-1.panel{ style: 'margin-bottom:50px;' }
  .panel-heading
    %h2 Join as a Provider!
  .panel-body
    %h4 By joining as a partner, you become a great person!
