<!-- HEADER BAR -->
<div class='col-sm-10 col-sm-offset-1 primary-orange-bcg content-main-header'>
  <h1 class='content-main-title'>Survey Results</h1>
</div>

<!-- THANK YOU FOR COMPLETING SURVEYS -->
<div class="col-sm-10 col-sm-offset-1 panel">
  <div class="panel-body">
    <h3 class='f400'>Thank you for completing the survey!</h3>
    <h5 class='f400 lighter-blue' style='margin-bottom:30px;'>Congratulations, you have received one entry into the next monthly drawing!</h5>
    <h4 class='f300 spaced'>Now take some time to review your answers and see how they compare to other members of the community. If you want to continue the discussion, bring any questions or concerns to the forums to hear from doctors, researchers, and other people with sleep apnea.</p>
  </div>
  <div class="panel-footer f400">
    We would love your feedback! <span class='primary-blue' style='text-decoration:underline;'>Get in touch with us</span>.
  </div>
</div>

<% @survey = Survey.complete(current_user).first %>

<% if @survey %>
  <% answer_session = AnswerSession.most_recent(@survey.id, current_user.id) %>

  <% @survey.all_questions.each do |question| %>
    <% answer = question.user_answer(answer_session)  %>
    <%= render partial: 'surveys/reports/question_and_answer', locals: { question: question, answer: answer } %>

  <% end %>

<% end %>



<!--
<script type="text/javascript" src="//www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {

    var data = google.visualization.arrayToDataTable([
      ['Task', 'Hours per Day'],
      ['Work',     11],
      ['Eat',      2],
      ['Commute',  2],
      ['Watch TV', 2],
      ['Sleep',    7]
    ]);

    var options = {
      title: 'My Daily Activities'
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart'));

    chart.draw(data, options);
  }
</script>
-->
