<!-- Turn off UserVoice -->
<div style="display:none" data-object="no-user-voice"></div>

<div class='row'>
<!-- SIDE NAVBAR -->
  <div id='container-left' class='primary-blue-bcg'>
    <!-- PSEUDO-ROW -->
      <!-- USER IMAGE -->
      <div class='col-lg-5 col-md-6 col-sm-8'>
        <%= image_tag 'myapnea/testimonials/sRedline-cropped.png', class: 'user-picture' %>
      </div>
      <!-- USER NAME -->
      <div class='col-md-6 col-sm-8'>
        <h4 class='user-name text-white'>Susan Redline</h4>
      </div>
    <!-- PSEUDO ROW -->
      <div class='col-xs-12 reset-layout' style='margin-top:30px;'>
        <ul class="list-group">
          <li class="list-group-item">Community Profile</li>
          <li class="list-group-item">Forums</li>
          <li class="list-group-item">Research Surveys</li>
          <li class="list-group-item">Research Questions</li>
        </ul>
      </div>
  </div>

<!-- MAIN CONTENT -->
  <div id='container-right'>
    <!-- HEADER BAR -->
    <div class='col-sm-10 col-sm-offset-1 primary-orange-bcg content-main-header'>
      <h1 class='content-main-title'>Survey Results</h1>
    </div>

    <!-- THANK YOU FOR COMPLETING SURVEYS -->
    <div class="col-sm-10 col-sm-offset-1 panel">
      <div class="panel-body">
        <h3 class='f400'>Thank you for completing the survey!</h3>
        <h5 class='f400 lighter-blue' style='margin-bottom:30px;'>Congratulations, you have received one entry into the next monthly drawing!</h5>
        <h4 class='f300 spaced'>Now take some time to review your answers and see how they compare to other members of the community. If you want to continue the discussion, bring any questions or concerns to the forums to hear from doctors, researchers, and other people with sleep apnea.</p>
      </div>
      <div class="panel-footer f400">
        We would love your feedback! <span class='primary-blue' style='text-decoration:underline;'>Get in touch with us</span>.
      </div>
    </div>

    <!-- SURVEY QUESTIONS AND DATA -->
    <div class="rectangle-speech-border rectangle-speech-border-left rectangle-speech-border-orange col-sm-9 col-sm-offset-1">
      <h4>Have you ever taken part in research projects related to your health or the health of a family member?</h4>
    </div>
    <div class="rectangle-speech-border rectangle-speech-border-right rectangle-speech-border-blue col-sm-9 col-sm-offset-2">
      <h5 class="f300" style='margin-bottom:30px;'>My answer: <span class='primary-blue'>Yes</span></h5>
      <h5>Compare your answers to the rest of the community</h5>
      <div class="col-sm-4" style='margin:20px auto;'>
        <table class='table-bordered' style='padding:10px; width:100%'>
          <tr>
            <th style='text-align:center;'>Option</th>
            <th style='text-align:center;'>Frequency</th>
          </tr>
          <tr style='background-color:rgba(245,245,245,.7)'>
            <td>Yes</td>
            <td>25%</td>
          </tr>
          <tr>
            <td>No</td>
            <td>75%</td>
          </tr>
        </table>
      </div>
      <div class='col-sm-8'>
        <div id="piechart" style="width:100%;"></div>
      </div>
    </div>

    <div class="rectangle-speech-border rectangle-speech-border-left rectangle-speech-border-orange col-sm-9 col-sm-offset-1">
      <h4>In general, you would say your quality of life is...</h4>
    </div>
    <div class="rectangle-speech-border rectangle-speech-border-right rectangle-speech-border-blue col-sm-9 col-sm-offset-2">
      <h5 class="f300" style='margin-bottom:30px;'>My answer: <span class='primary-blue'>Excellent</span></h5>
      <h5>Compare your answers to the rest of the community</h5>
      <div class="col-sm-4" style='margin:20px auto;'>
        <table class='table-bordered' style='padding:10px; width:100%'>
          <tr>
            <th style='text-align:center;'>Option</th>
            <th style='text-align:center;'>Frequency</th>
          </tr>
          <tr style='background-color:rgba(245,245,245,.7)'>
            <td>Excellent</td>
            <td>15%</td>
          </tr>
          <tr>
            <td>Very Good</td>
            <td>34%</td>
          </tr>
          <tr>
            <td>Good</td>
            <td>35%</td>
          </tr>
          <tr>
            <td>Fair</td>
            <td>14%</td>
          </tr>
          <tr>
            <td>Poor</td>
            <td>3%</td>
          </tr>
        </table>
      </div>
      <div class='col-sm-8'>
        <div id="piechart" style="width:100%;"></div>
      </div>
    </div>


    <div class="rectangle-speech-border rectangle-speech-border-left rectangle-speech-border-orange col-sm-9 col-sm-offset-1">
      <h4>Give a blood sample?</h4>
    </div>
    <div class="rectangle-speech-border rectangle-speech-border-right rectangle-speech-border-blue col-sm-9 col-sm-offset-2">
      <h5 class="f300" style='margin-bottom:30px;'>My answer: <span class='primary-blue'>Yes</span></h5>
      <h5>Compare your answers to the rest of the community</h5>
      <div class="col-sm-4" style='margin:20px auto;'>
        <table class='table-bordered' style='padding:10px; width:100%'>
          <tr>
            <th style='text-align:center;'>Option</th>
            <th style='text-align:center;'>Frequency</th>
          </tr>
          <tr>
            <td>Hello</td>
            <td>World</td>
          </tr>
          <tr style='background-color:rgba(245,245,245,.7)'>
            <td>Hello</td>
            <td>World</td>
          </tr>
        </table>
      </div>
      <div class='col-sm-8'>
        <div id="piechart" style="width:100%;"></div>
      </div>
    </div>

  </div> <!-- END CONTAINTER RIGHT -->
</div> <!-- END ROW -->


<script type="text/javascript" src="//www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {

    var data = google.visualization.arrayToDataTable([
      ['Task', 'Hours per Day'],
      ['Work',     11],
      ['Eat',      2],
      ['Commute',  2],
      ['Watch TV', 2],
      ['Sleep',    7]
    ]);

    var options = {
      title: 'My Daily Activities'
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart'));

    chart.draw(data, options);
  }
</script>
