.col-sm-10.col-sm-offset-1.primary-orange-bcg.content-main-header
  %h1.content-main-title Share MyApnea.Org
.col-xs-8.col-xs-offset-2.panel{ style: 'margin-top:50px; margin-bottom:30px; padding-top: 20px; padding-bottom:20px; ' }
  .col-xs-4{ style: 'text-align:center;' }
    = link_to image_tag('myapnea/icons/twitter_icon.png', class: 'share-icons-lg share-icons-animate' ,style: 'width:60%; height:60%; border-radius:100%;'), 'http://ctt.ec/Qeg7f'
  .col-xs-4{ style: 'text-align:center;' }
    = link_to image_tag('myapnea/icons/facebook_icon.png', class: 'share-icons-lg share-icons-animate' ,style: 'width:60%; height:60%; border-radius:100%;'), 'http://www.facebook.com/share.php?u=https://myapnea.org/'
  .col-xs-4{ style: 'text-align:center;' }
    = link_to image_tag('myapnea/icons/gplus_icon.png', class: 'share-icons-lg share-icons-animate' ,style: 'width:60%; height:60%; border-radius:100%;'), 'https://plusone.google.com/_/+1/confirm?hl=en&url=http%3A%2F%2F%20https://myapnea.org/'
.col-xs-10.col-xs-offset-1.panel{ style: 'margin-bottom:30px;' }
  .panel-heading.panel-heading-orange
    %h3 Join as a Provider!
  .panel-body
    %h4 By joining as a provider, you become a great person! You also get access to really cool things, and can look really cool by joining.
    %h4.centered-text Wanna be cool?
    .centered-text{ style:'margin:0 auto; width:20%; background-color: #5999de; padding:10px; border-radius:5px; color:white;'} Click Here
.col-xs-10.col-xs-offset-1.panel{ style: 'margin-bottom:30px;' }
  .panel-heading.panel-heading-orange
    %h3 Join as a Provider!
  .panel-body
    %h4 By joining as a provider, you become a great person! You also get access to really cool things, and can look really cool by joining.
    %h4.centered-text Wanna be cool?
    .centered-text{ style:'margin:0 auto; width:20%; background-color: #5999de; padding:10px; border-radius:5px; color:white;'} Click Here
