.col-sm-10.col-sm-offset-1.primary-orange-bcg.content-main-header
  %h1.content-main-title Terms and Conditions

.col-xs-10.col-xs-offset-1.panel
  .panel-heading
    %h2.f300{ style: 'margin-bottom:20px;' } Discussion Forum
  .panel-body
    %p
      By accessing the
      %strong MyApnea.Org Forum
      (hereinafter
      %em we, us, our, MyApnea.Org Forum
      ), you agree to be legally bound by the following terms. If you do not agree to be legally bound by all of the following terms then please do not access and/or use the
      %strong MyApnea.Org Forum.
      We may change these at any time and we’ll do our utmost in informing you, though it would be prudent to review this regularly yourself as your continued usage of the
      %strong MyApnea.Org Forum
      after changes mean you agree to be legally bound by these terms as they are updated and/or amended.
    %br/
    %p
      You agree
      not to post any abusive, obscene, vulgar, slanderous, hateful, threatening, sexually-orientated or any other material that may violate any laws of your country, the country where
      %strong MyApnea.Org Forum
      is hosted or international law. Doing so may lead to you being immediately and permanently banned, with notification of your Internet service provider if deemed required by us. The IP address of all posts are recorded to aid in enforcing these conditions. You agree that
      %strong MyApnea.Org Forum
      have the right to remove, edit, move or close any topic at any time should we see fit. As a user you agree to any information you have entered to being stored in a database. While this information will not be disclosed to any third party without your consent, MyApnea.Org shall not be held responsible for any hacking attempt that may lead to the data being compromised.
  .panel-footer
    .pull-right
      = link_to :back, class: 'btn btn-default btn-lg' do
        .fa.fa-arrow-left
        &nbsp;
        Back
      = link_to forem.root_path, class: "btn btn-primary btn-lg" do
        .fa.fa-list-alt
        &nbsp;
        Enter forums
    .clearfix
