= link_to forum_topic_post_path(post.forum, post.topic, post, post: { status: 'approved' }), method: :patch, data: { toggle: 'tooltip', container: 'body'}, title: 'Approve Post', class: 'no-underline text-dark8' do
  %i.fa.fa-thumbs-up
= link_to forum_topic_post_path(post.forum, post.topic, post, post: { status: 'hidden' }), method: :patch, data: { toggle: 'tooltip', container: 'body'}, title: 'Hide Post', class: 'no-underline text-dark8' do
  %i.fa.fa-eye-slash
= link_to forum_topic_post_path(post.forum, post.topic, post, post: { status: 'spam' }), method: :patch, data: { toggle: 'tooltip', container: 'body'}, title: 'Mark as Spam', class: 'no-underline text-dark8' do
  %i.fa.fa-thumbs-down
