.myapnea-aims.primary-blue-bcg
  .container
    .row
      .col-sm-4
        %br
        = image_tag 'myapnea/logos/MyApneaLogo_border_whitetext_300x80.png', class: 'img-responsive'
      .col-sm-8
        %h2.f300.white
          a place to learn about sleep apnea.
