.content-main-header
  .container
    %h1 Causes of Sleep Apnea

.content-container
  .container
    %p
      Sleep apnea can be caused by different physical and health conditions.  Some examples are listed below.
    %br
    .row
      .col-md-5
        %h4.f500
          Obstructive Sleep Apnea
        %ul
          %li Large tonsils/adenoids
          %li Large neck size (17 inches in men, 16 inches in women)
          %li Large tongue
          %li Obesity - especially an “apple” body shape
          %li Small or narrow airway
          %li A short lower jaw (compared to the upper jaw)
          %li Other structural abnormalities in the airway
      .col-md-2.hidden-sm.hidden-xs
      .col-md-5
        %h4.f500
          Central Sleep Apnea
        %ul
          %li Heart failure
          %li Certain medicines, such as narcotic painkillers
          %li Stroke
          %li Brain infection
          %li Brainstem disorders
          %li Congenital disorders

    = render 'learn/links', previous_article: { link: complex_sleep_apnea_path, name: 'Complex Sleep Apnea' }, next_article: { link: symptoms_of_sleep_apnea_path, name: 'Symptoms of Sleep Apnea' }, number: 5

= render 'learn/learn_callout'
