.content-main-header
  .container
    %h1 Central Sleep Apnea

.content-container
  .container
    %p
      Central sleep apnea (CSA) is related to abnormalities in how the brain senses and responds to changes in oxygen
      and carbon dioxide while breathing. In CSA, the muscles that control breathing do not receive normal signals
      from the brain that tell them when to function.
    %br
    %p
      Central sleep apnea can be due to problems with the brainstem, which is responsible for our basic operations
      such as breathing, and may be seen in children or other individuals with certain congenital problems.  Some
      adults may develop CSA after a stroke has affected their brainstem. CSA is frequently caused by other health
      conditions, including heart failure, and the use of pain medication (opiates). The lack of breathing can cause
      frequent wakening with gasping for air while sleeping.
    %br
    %p
      Central sleep apnea can be very challenging to treat. When possible, treating underlying risk factors - such as
      heart failure - is advised.

    = render 'learn/links', previous_article: { link: obstructive_sleep_apnea_path, name: 'Obstructive Sleep Apnea' }, next_article: { link: complex_sleep_apnea_path, name: 'Complex Sleep Apnea' }, number: 3

= render 'learn/learn_callout'
