.content-main-header
  .container
    %h1 Diagnosis of Sleep Apnea

.content-container
  .container
    %p
      If you think you may have sleep apnea, you should visit your health care provider and let them know of your
      concerns. Usually, they will complete a physical exam and ask about your medical history for risk factors. There
      are several questionnaires your health care provider might ask you to complete to help determine your risk level.
    %p
      There are a few things you can do to help prepare for this visit to make sure that things go as smoothly as
      possible, and to make sure that you are informed and can advocate for your health properly:
    %br
    %ul
      %li
        Ask your bed partner if they have heard you snoring loudly, gasping for breath, or making choking noises while
        asleep.
      %li
        Complete the
        = link_to 'Sleep Apnea Risk Assessment', sleep_apnea_risk_assessment_path
      %li
        Compare recent sleep pattern changes/difficulties with any changes in your diet or exercise routine.
      %li
        Bring a list of medications, vitamins, and herbal supplements that you are currently using.
      %li
        If you have had trouble sleeping or daytime sleepiness, consider keeping a sleep diary for at least seven
        nights before your appointment. Include the time you go to bed each night, the time you wake up each morning,
        and any information about your sleep you think might be helpful.
    %br
    %p
      If sleep apnea is suspected, the best way to confirm a diagnosis is to have a sleep study.  Your health care
      provider can help arrange an overnight sleep study. They may refer you directly to a sleep physician for
      consultation, diagnosis, and treatment.
    %br
    %p
      A sleep study is sometimes performed in a sleep lab where a sleep technologist will monitor you while you sleep.
      Studies in a sleep lab usually involve sleeping while connected to several monitoring devices that measure
      things like breathing, heart rate, blood oxygen levels, body position, brain activity, and muscle activity.
      Although some people worry that they won’t be able to sleep while wearing sensors, most people find this is not
      a problem.
    %br
    %p
      Some centers offer “full” sleep studies - the ones that measure brain activity as well as breathing - in a home
      setting. Some of these provide for remote monitoring of the study at a sleep lab while you sleep in your own bed.
    %br
    %p
      Commonly, “limited” home sleep apnea tests are performed to identify sleep apnea. These tests are usually
      reserved for people with several risk factors for sleep apnea, but little risk for other sleep disorders or
      complicated medical conditions. They are similar to in-lab sleep tests, but the information collected focuses on
      breathing and oxygen levels, which are needed to make a diagnosis of sleep apnea. The devices are smaller and
      easy to set up, and the results are analyzed only after the device is sent back to the sleep lab. If your health
      care provider suggests a home sleep test, be sure to ask any questions you have, and make sure they explain the
      process and how to properly use the machine.

    = render 'learn/links', previous_article: { link: risk_factors_for_sleep_apnea_path, name: 'Risk Factors for Sleep Apnea' }, next_article: { link: treatment_options_for_sleep_apnea_path, name: 'Treatment Options for Sleep Apnea' }, number: 8

= render 'learn/learn_callout'
