.content-main-header
  .container
    %h1
      Risk Factors for Sleep Apnea

.content-container
  .container
    %p
      There are many other health conditions that can increase the risk of sleep apnea or exaggerate the effects of
      sleep apnea. These include:
    %br
    %h4.f500
      Risk Factors
    %ul
      %li High blood pressure (hypertension)
      %li Heart disease (coronary heart disease, heart failure, heart arrhythmias such as atrial fibrillation)
      %li Stroke
      %li Overweight and obesity
      %li Large neck size (>17 inches for men, >16 inches for women)
      %li Diabetes
      %li Family history of sleep apnea
      %li Low physical activity

    = render 'learn/links', previous_article: { link: symptoms_of_sleep_apnea_path, name: 'Symptoms of Sleep Apnea' }, next_article: { link: diagnosis_of_sleep_apnea_path, name: 'Diagnosis of Sleep Apnea' }, number: 7

= render 'learn/learn_callout'
