.content-main-header
  .container
    %h1 Symptoms of Sleep Apnea

.content-container
  .container
    %p
      The symptoms of sleep apnea are fairly common for both obstructive sleep apnea and central sleep apnea. Most
      people have some of these symptoms. It is not well understood who gets which symptoms. Some symptoms include:
    %br
    .row
      .col-md-5
        %h4.f500
          Nighttime Symptoms
        %ul
          %li Loud snoring
          %li Making choking noises while asleep
          %li Frequent awakenings
          %li Frequent urination at night
          %li Trouble falling asleep (can be mistaken with insomnia)
          %li Waking up gasping for air
        %br
        %h4.f500
          Morning Symptoms
        %ul
          %li Waking up in the morning feeling groggy or excessively tired
          %li Waking up in the morning with a headache
          %li Waking up in the morning with a sore throat
          %li Waking up in the morning with a dry mouth
        %br
      .col-md-2.hidden-sm.hidden-xs
      .col-md-5
        %h4.f500
          Daytime Symptoms
        %ul
          %li Excessive daytime sleepiness
          %li Decreased energy levels
          %li Increased fatigue
          %li Difficulty concentrating
          %li Difficulty learning and retaining new information
          %li Decreases in memory
          %li Poor school or workplace performance
          %li Moodiness and irritability
          %li Worsening depression
          %li Decreased sex drive
        %br
        %h4.f500
          Other Health Indicators of Possible Sleep Apnea
        %ul
          %li High blood pressure (hypertension)
          %li Diabetes
          %li Overweight or obesity

    = render 'learn/links', previous_article: { link: causes_of_sleep_apnea_path, name: 'Causes of Sleep Apnea' }, next_article: { link: risk_factors_for_sleep_apnea_path, name: 'Risk Factors for Sleep Apnea' }, number: 6

= render 'learn/learn_callout'
