.content-main-header
  .container
    %h1
      Traveling with your PAP Device

.container
  .content-container
    %p.lead
      Jump to a specific question by clicking the links below.
    .list-group-item
      = link_to 'Should I take my PAP device when traveling?', '#q1'
    .list-group-item
      = link_to 'What if I cannot find distilled water when traveling?', '#q2'
    .list-group-item
      = link_to 'What do I do if I am admitted to the hospital for day or overnight surgery?', '#q3'

    %br

    = link_to pap_path, class: 'btn btn-primary' do
      &larr;
      Return to PAP Devices main page

  %a.anchor#q1
  .content-container
    .content-header
      %h2.f300.centered
        Should I take my PAP device when traveling?
    .content-body
      %p
        Yes. If traveling where baggage is checked, we highly recommend that you take your device as a carry-on to ensure its safe arrival at your destination. A travel letter and case should be provided to you during your initial set-up - if you're missing one of these, contact your PAP specialist. Taking a surge protector with an extended cord with you when you travel may save you some frustration once you reach your destination. Night tables in hotel rooms are often attached to the wall, making access to a plug inconvenient, but many surge protectors have a cord that will easily stretch across the room if necessary.
      %p
        When traveling to different altitudes, it may be necessary to change the altitude setting on your device. Some devices will do this automatically, while others required a manual change. If you manually changed the altitude setting, remember to return it to the original altitude setting when returnig home.
      %p
        If you are traveling outside the United States, most PAP models automatically convert to the electrical current in your destination. Be sure that you bring a plug adapter appropriate for the country you are visiting. Always check your device's manual to be sure your device can handle international current.
      %p.italic
        NOTE: many international airlines have seats available with electrical outlets. This will allow you to use your PAP device for longer or overnight flights.
      %p
        If you camp or spend time on a boat, there are battery operated machines available. Some PAP machines can be plugged into a cigarette lighter with the proper adapter. Check your device manual to see which kind of adapter you will need. Unfortunately, because it is considered a luxury item, the adapter is not covered by most insurances.

  %a.anchor#q2
  .content-container
    .content-header
      %h2.f300.centered
        What if I cannot find distilled water when traveling?
    .content-body
      %p
        Occasional use of bottled water while traveling is fine, but do not use tap or bottled water continuously. Rather than stopping PAP use, continue PAP using bottled water if you cannot find distilled water. Many popular vacation locations and cruise lines can provide distilled water for medical equipment if you let them know in advance.

  %a.anchor#q3
  .content-container
    .content-header
      %h2.f300.centered
        What do I do if I am admitted to the hospital for day or overnight surgery?
    .content-body
      %p
        General anesthesia and painkillers can depress your breathing, making sleep apnea worse. Be sure to tell your physician about your medical history prior to your admission. If you are scheduled for a surgical procedure, even same-day surgery, make sure the surgeon and anesthesiologist know of your PAP use ahead of time.
      %p
        If you are being admitted to the hospital, we recommend that you take your device with you. If your visit is planned, inform your doctors prior to your admission. Some hospitals may conduct an electrical test before allowing you to use it, while other hospitals will use their own equipment. If the hospital uses its own equipment, it is important that you know your pressure settings. Do not be alarmed if hospital staff seems unfamiliar with your equipment. PAP therapy is typically designed for in-home usage, and is less common on hospital floors.
