.content-main-header
  .container
    %h1 Treatment Options for Sleep Apnea

.content-container
  .container
    %p
      Depending on the type and severity of sleep apnea that you have, you may have several possible options to treat
      your sleep apnea.
    %br
    %p.f500
      General Strategies
    %ul
      %li
        Most people with sleep apnea have worse symptoms when sleeping on their back. There are several devices and
        tricks that can be used to encourage sleeping on the side or belly which can improve sleep apnea symptoms,
        especially in people with “position-dependent” sleep apnea.
      %li
        Recent research shows that regular walking - even 3 times a week - can improve sleep apnea. This may be
        because walking helps keep fluid from accumulating in the neck during sleep, which can make sleep apnea
        symptoms worse. Elastic stockings or calf exercises have also been shown to help with fluid accumulation as
        well.
      %li
        There is growing interest in myofunctional therapy, voice or speech training, or even didgeridoo playing as
        ways for improving the tone of the muscles in the throat. Some research shows these approaches can improve
        sleep apnea.
      %li
        For overweight people, weight management programs can be useful. Those with obesity who are unable to lose
        weight using medical approaches may benefit from bariatric surgery.
      %li
        For people with nasal stuffiness, treatment of nasal congestion or allergies may be useful. For those people
        with nasal deviation or obstruction (for example, from a deviated septum), use of breathing dilator strips or
        nasal surgery may be helpful.

.content-container
  .container
    %h2
      Continuous Positive Airway Pressure (CPAP)
    %p
      Continuous positive airway pressure (CPAP) therapy is the most common medical treatment for OSA. When using
      CPAP, you wear a small mask that is attached to a lightweight hose. The hose attaches to a small machine
      responsible for creating the air pressure. This machine is the CPAP device.  CPAP masks come in many shapes and
      sizes.  Nasal masks cover only the nose, while nasal pillows are designed to fit in the edge of your nose.  If
      you breathe through your mouth, a full face mask can be used to cover your nose and mouth so you do not have to
      try to keep your mouth closed.  CPAP machines and masks must be prescribed by a physician and are usually
      provided by a home care company. Over the last few years, there have been further refinements of the available
      masks and machines aimed at providing more choices for individual patients.

.content-container
  .container
    %h2
      Automatic Positive Airway Pressure (APAP)
    %p
      Automatic positive airway pressure (APAP) therapy differs from CPAP in that these devices automatically change
      the pressure level delivered during sleep. This change, called titration, helps ensure that the patient is
      receiving the minimum necessary amount of air pressure to keep the airway open.  These devices are more dynamic
      and respond to changes in the user’s breathing in real-time. APAP devices work with the same masks and tubing as
      CPAP machines, and these devices must be prescribed by your physician. Some insurance companies require the use
      of APAP rather than CPAP since APAP may be prescribed without requiring an in-lab study for the purpose of
      choosing CPAP pressure.

.content-container
  .container
    %h2
      Bi-level Positive Airway Pressure (BPAP)
    %p
      Bi-level positive airway pressure (BPAP) therapy, sometimes called variable positive airway pressure therapy or
      BiPAP, applies air pressure at two different levels. These levels are inspiratory positive airway pressure (
      IPAP) and expiratory positive airway pressure (EPAP), which is normally lower than the IPAP.  These levels are
      for inhalation and expiration, respectively, and allow for easier breathing. These devices may be prescribed
      when CPAP is not well tolerated or if there is a need to provide the lungs with extra ventilatory support.

.content-container
  .container
    %h2
      Adaptive Servo-Ventilation (ASV)
    %p
      Adaptive servo-ventilation (ASV) is one of the primary methods of treating central sleep apnea or complex sleep
      apnea (when central apneas occur during CPAP titration). ASV works similarly to BiPAP in that it provides the
      user with positive inspiratory and expiratory pressure (IPAP and EPAP, respectively) at separate levels.
      However, ASV can detect both obstructive and central sleep apnea events and can automatically adjust air
      pressures to help prevent both types of events.
    %br
    %p
      It had been hoped that therapy would be useful for patients with heart failure who have central sleep apnea.
      However, in May 2015 the results of a large clinical trial that evaluated this treatment in patients with heart
      failure and sleep apnea showed that this therapy resulted in a higher heart disease death rate than no
      treatment. Therefore, this treatment is not recommended for use in patients with symptomatic heart failure.

.content-container
  .container
    %h2
      Oral Appliance Therapy
    %p
      Oral appliance therapy is a type of sleep apnea treatment that uses a customized, mechanical device (mandibular
      advancement device) to help reposition the jaw and mouth structure. A majority of current devices work to either
      reposition the lower jaw, moving it forward and providing the airway more structural room, or fix the position
      of the tongue while asleep, so that it doesn’t restrict the opening of the airway. Oral appliance therapy is
      usually only helpful to treat OSA. These devices must be prescribed by your physician, and will need to be
      fitted by a dentist or oral surgeon who specializes in the treatment of sleep apnea with oral appliances. The
      devices usually don’t improve the AHI as much as CPAP and therefore are usually used when CPAP is not tolerated.
      However, some patients are able to wear the devices for longer periods each night than CPAP, and thus might
      derive benefit.

.content-container
  .container
    %h2
      Tonsillectomy
    %p
      Tonsillectomy, sometimes paired with adenoidectomy, is usually the first treatment for children with obstructive
      sleep apnea. This is due to the fact that enlarged tonsils can limit the opening of the airway in the back of
      the throat, resulting in obstructions in air flow during sleep. For children with obstructive sleep apnea,
      tonsillectomy has proven to be very effective, with upwards of 75% of patients seeing improvements. In children,
      tonsillectomy has been shown to improve behavior, alertness, and quality of life.

.content-container
  .container
    %h2
      Surgery
    %p
      There are a variety of surgeries available as treatment options for sleep apnea. UPPP (
      uvulopalatopharyngoplasty) is surgery that removes excess tissue in the throat - including the tonsils, uvula,
      and parts of the soft palate. It is estimated that about 50% of patients receive  some benefit from this surgery.
    %br
    %p
      %span.f500
        Jaw surgery
      usually involves surgically moving the jaw bones to make room in the airway. Sometimes jaw surgery is done along
      with UPPP.
    %br
    %p
      %span.f500
        Nasal deviation surgery
      is intended to improve airflow through the nose. Sometimes this surgery is used to help patients better adjust
      to their CPAP machines.
    %br
    %p
      %span.f500
        Bariatric surgery
      is used to reduce food intake by changing the room in the stomach or how the intestines absorb nutrients. This
      type of surgery can be effective in weight loss and can improve sleep apnea in patients whose sleep apnea is
      related to being overweight.
    %br
    %p
      If you are considering a surgical procedure, it is important that you and your health care provider tailor the
      selected surgery to the type of sleep apnea you have, and the primary cause of your apnea. Whichever treatment
      method you decide to use, it is important that you stick to the treatment schedule. Left untreated or improperly
      treated, sleep apnea can lead to worsening health conditions, including obesity, heart failure, and depression.

    = render 'learn/links', previous_article: { link: diagnosis_of_sleep_apnea_path, name: 'Diagnosis of Sleep Apnea' }, next_article: { link: what_is_sleep_apnea_path, name: 'What is Sleep Apnea?' }, number: 9

= render 'learn/learn_callout'
