.content-main-header
  %h1
    Obstructive Sleep Apnea

.content-container
  .content-header
    %h2.f300.centered
      What is Obstructive Sleep Apnea?
  .content-body
    %p
      Obstructive sleep apnea (OSA) is the most common type of sleep apnea and occurs when the airway becomes blocked or collapses during sleep. This stops air from reaching the lungs and you wake up gasping for breath. It can be scary to watch someone stop breathing or struggle for breath while they sleep, but most people with sleep apnea don't actually know that they have it. People with severe apnea may stop breathing hundreds of times every night.
    %p
      Left untreated, obstructive sleep apnea may be associated with significant health consequences including excessive sleepiness, impaired job performance, increased risk of hypertension, heart disease, and stroke. Sleep apnea is also a major factor in auto accidents. It is estimated that sleepy drivers cause over 300,000 accidents a year. Some states are currently considering laws to prosecute sleepy drivers the same as drunk drivers.
