.content-main-header
  %h1
    Obstructive Sleep Apnea
  %p
    Next:
    = link_to 'Central Sleep Apnea', central_sleep_apnea_path

.content-container
  .content-body
    %p
      Obstructive sleep apnea (OSA) is the most common type of sleep apnea. It is estimated that nearly one in 12
      adults has OSA. OSA is especially common in people who are overweight, older, have diabetes, and have high blood
      pressure. However, anyone can have sleep apnea and as many as 20% of people with sleep apnea are not overweight.
      Once thought as mostly a men’s disorder, sleep apnea is now recognized to  be common in women. The prevalence of
      sleep apnea increases in women after menopause. OSA affects people of all ethnic and racial groups. Recent
      research indicates that OSA is particularly common in people with Asian ancestry.
    %br
    %p
      Obstructive sleep apnea happens when the throat closes frequently while sleeping. The nightly breathing
      cessations are due to the airway becoming “obstructed”. This restricted airway can result from a number of
      factors, including a narrow throat and a large tongue that blocks part of the airway while asleep. This closing
      prevents proper oxygen intake and each apnea can cause significant drops in the body’s level of oxygen. Drops in
      oxygen levels can cause stress on the heart, blood vessels, and impair brain function. Since the airway is
      severely restricted or obstructed, air must squeeze through a small area of the throat, which can cause loud
      snoring or the feeling of waking up gasping for air. People with OSA often snore through the night and wake up
      frequently because their body struggles to get air through the narrowed airway. In its severest form, this
      happens hundreds of times every night, which leaves the brain, heart, and lungs in a severe state of oxygen and
      sleep deprivation.
    %br
    %p
      Most people with sleep apnea are not aware of the fact that they are repeatedly waking up in the middle of the
      night because  they do not wake up fully and fall back asleep without realizing it. This may be one reason why
      more than 80 percent of potential sleep apnea cases go undiagnosed.
