.content-main-header
  %h1
    PAP Care and Maintenance

.content-container
  .content-body
    %p.lead
      Jump to a specific question by clicking the links below.
    .list-group-item
      = link_to "What kind of water should I use to fill my humidifier chamber?", '#q1'
    .list-group-item
      = link_to "How do I clean my PAP device?", '#q2'
    .list-group-item
      = link_to "How often should I replace my equipment and supplies?", '#q3'
  .content-footer
    %p
      Return to
      = link_to 'PAP Devices', learn_pap_path
      main page.

%a.anchor#q1
.content-container.horizontal-inset
  .content-body
    %h3
      What kind of water should I use to fill my humidifier chamber?
    %p.lead
      Always use distilled water because it is mineral-free. If you are unable to find distilled water, occasional use of bottled water is fine. DO NOT use tap or bottled water continuously, as it will corrode the bottom of your chamber.
      %br
      %span.italic
        Note: You should never top off or reuse the water in your humidifier. You may adjust the amount you put in the chamber if you find that you need less water.

%a.anchor#q2
.content-container.horizontal-inset
  .content-body
    %h3
      How do I clean my PAP device?
    %p.lead
      %span.f500 Daily:
      Empty any water left in the humidifier chamber and let it air dry. If you forget, empty the device and try to get as much moisture out as you can before refilling it with fresh distilled water. Wipe your mask with a damp cloth to remove residual oils. This will prolong the softness and life of your mask. Your mask should be replaced every six months.
    %p.lead
      %span.f500 Weekly:
      Soak your mask, headgear, tubing and humidifier chamber for 20 minutes in a solution of warm water with mild soap. Rinse with clean water and let it air dry. Remove the filter from the back of your PAP device and rinse it under warm, running water. Squeeze out excess water and allow it to air dry
      %span.underlined completely
      before replacing it in your machine.

%a.anchor#q3
.content-container.horizontal-inset
  .content-body
    %h3
      How often should I replace my equipment and supplies?
    %p.lead
      Bacteria collect in the mask and tubing despite weekly cleaning. The cushion on the mask breaks down over time, which minimizes the seal and allows leaks to occur. Your mask, headgear, and tubing should be replaced as often as your insurance allows, usually every six months. Allergy filters such as the ultra fine particle filter should be replaced when they get a moderate gray look to them.
