.content-main-header
  %h1
    PAP Quick Setup Guide

.panel
  .panel-body
    %p.lead
      This is a sample setup guide for a PAP device. You should have received instructions with your device and/or from your care provider. These are only meant to act as a supplement to those, and to also help explain the process to people who are curious about PAP devices.
  .panel-footer
    %p
      Return to
      = link_to 'PAP Devices', learn_pap_path
      main page.

.panel
  .panel-body
    %ol
      %li.lead
        Set up your PAP device on a table beside your bed. Do not put it on the floor, high chest, or bureau. Some patients prefer to place their machine on top of a plastic mat or a hand towel. If you use a towel, do not block the filter in the back of the unit.
      %li.lead
        Plug the unit into a grounded outlet, preferably into a surge protector. Warranty coverage may be void if the unit is damaged by an electrical surge and insurance may not cover a replacement.
      %li.lead
        Fill the humidifier chamber
        %span.f500 after
        it is removed from the device, to avoid accidental spillage of water onto the heating plate. Distilled water should be used because it is mineral free. Fill to the "fill line."
        %br
        %span.italic
          Note: The amount of water used by the unit will vary. Each morning, throw out any water that is left in the unit. Don't be alarmed if it appears that you have not used much during the night.
      %li.lead
        Place the chamber back onto the device, make sure it is connected properly. With ResMed devices, it is important to snap close the lid over the chamber. If you have a Philips/Respironics device, the chamber latch should be closed before sliding it completely into place so the lid shuts easily.
      %li.lead
        Connect the tubing to your device. The tubing has universal ends, so it does not matter which end you use. Connect one end to the device and the other end to the mask. Many devices will automatically turn on once the mask is placed on your face. You may want to connect the tube to the mask
        %span.f500 after
        you have fitted to mask to your face. This will avoid a rush of air while you are adjusting the fit.
      %li.lead
        Put your mask on using the instructions that were demonstrated to you by your PAP specialist. Until you are acclimated to your mask, you may need to use a mirror or have a family member assist you. Do not over-tighten the mask or pull the top straps (if any) too far. If your mask has a forehead pad, it should rest gently against your skin. Bottom straps should be below the earlobes. If you were fitted with a nasal pillow mask, you may also need to pivot the nasal piece upwards or downwards to create a seal. Because your PAP specialist fitted your mask to you while you were seated, you may need to make adjustments once you lie down.
      %li.lead
        Once your mask is fitted, turn your device on. Check your mask for leaks when the PAP device is
        %span.f500 full
        pressure and not while the ramp feature is engaged. You may find it easier to adjust your mask for leaks by lying back on your pillow. Once you resolve any leaks, press the ramp button (Philips/Respironics and Fisher & Paykel) if you choose to use it. On a ResMed device, the ramp feature automatically engages, so turn the ramp feature off until you properly fit your mask. Restart the ramp feature by using the up and down arrows just above the "Start/Stop" button. The ramp feature on a ResMed device will increase in five-minute increments until it reaches its maximum time.
