.content-main-header
  .container
    %h1
      Risk Factors for Sleep Apnea
    %p
      Next:
      = link_to 'Diagnosis of Sleep Apnea', diagnosis_of_sleep_apnea_path

.content-container
  .container
    %p
      There are many other health conditions that can increase the risk of sleep apnea or exaggerate the effects of
      sleep apnea. These include:
    %br
    %ul
      %li High blood pressure (hypertension)
      %li Heart disease (coronary heart disease, heart failure, heart arrhythmias such as atrial fibrillation)
      %li Stroke
      %li Overweight and obesity
      %li Large neck size (>17 inches for men, >16 inches for women)
      %li Diabetes
      %li Family history of sleep apnea
      %li Low physical activity
