.content-main-header
  %h1
    Symptoms of Sleep Apnea
  %p
    Next:
    = link_to 'Risk Factors for Sleep Apnea', risk_factors_for_sleep_apnea_path

.content-container
  .content-body
    %p
      The symptoms of sleep apnea are fairly common for both obstructive sleep apnea and central sleep apnea. Most
      people have some of these symptoms. It is not well understood who gets which symptoms. Some symptoms include:
    %br
    %p.f500
      Nighttime Symptoms
    %ul
      %li Loud snoring
      %li Making choking noises while asleep
      %li Frequent awakenings
      %li Frequent urination at night
      %li Trouble falling asleep (can be mistaken with insomnia)
      %li Waking up gasping for air
    %br
    %p.f500
      Morning Symptoms
    %ul
      %li Waking up in the morning feeling groggy or excessively tired
      %li Waking up in the morning with a headache
      %li Waking up in the morning with a sore throat
      %li Waking up in the morning with a dry mouth
    %br
    %p.f500
      Daytime Symptoms
    %ul
      %li Excessive daytime sleepiness
      %li Decreased energy levels
      %li Increased fatigue
      %li Difficulty concentrating
      %li Difficulty learning and retaining new information
      %li Decreases in memory
      %li Poor school or workplace performance
      %li Moodiness and irritability
      %li Worsening depression
      %li Decreased sex drive
    %br
    %p.f500
      Other Health Indicators of Possible Sleep Apnea
    %ul
      %li High blood pressure (hypertension)
      %li Diabetes
      %li Overweight or obesity

