.content-main-header
  .container
    %h1 What is Sleep Apnea?
    %p
      Next:
      = link_to 'Obstructive Sleep Apnea', obstructive_sleep_apnea_path

.content-container
  .container
    %p
      The word “apnea” derives from a Greek word meaning “no breathing.” Sleep apnea refers to a common and serious
      medical disorder where breathing during sleep stops for periods of 10 seconds or more repetitively over the
      night. In the mildest form, breathing interruptions are partial — these events are called “hypopneas.” People
      are diagnosed with sleep apnea when the number of apneas plus hypopneas per hour of sleep (referred to as the
      “AHI”) recorded on an overnight sleep test is greater than 5 per hour of sleep and there are symptoms such as
      snoring and daytime sleepiness. Sleep apnea is also diagnosed when the AHI is greater than 15, even in the
      absence of symptoms.
    %br
    %p
      There are two main types of sleep apnea:
      = link_to 'obstructive sleep apnea', obstructive_sleep_apnea_path
      and
      = succeed '.' do
        = link_to 'central sleep apnea', central_sleep_apnea_path
