.content-main-header
  .container
    %h1 Research Highlights

.container
  - @research_articles.each do |article|
    = render 'admin/research_articles/preview', research_article: article, admin_access: false

- unless current_user
  = render 'home/join_the_community', referrer: 'research', message: 'Make a direct impact on the future of sleep apnea research'
