.content-main-header
  %h1 New Frontiers in the Treatment of Sleep Apnea: Unilateral Hypoglossal Nerve Stimulation

.well
  .row
    .col-sm-2.col-xs-4
      = image_tag 'myapnea/research/kingman_strohl.png', class: 'img-responsive pull-right', style: 'width: 100px'
    .col-sm-10.col-xs-8
      %h2.f300
        Kingman P Strohl, MD
      %p.text-dark7
        Professor of Medicine, Case Western Reserve University

.content-container
  .content-body
    %h3 What is it?
    %p
      Unilateral stimulation of the hypoglossal nerve (the nerve that controls the movement of the tongue) is a new treatment for people with moderate to severe OSA who are unable to use continuous positive prtessure therapy (CPAP). CPAP, oral appliances, and some surgeries work “from the outside in” to prevent the tissues from relaxing and blocking the upper airway (nasal and oral passages).
      %sup 1
      This nerve stimulation therapy works “from the inside out” to move the muscles and keep the airway open. The device includes a nerve stimulator that activates the tongue muscle, causing it to open the upper airway. After the device is implanted during surgery performed under general anesthesia, it is turned on and tuned to adjust its setting to most effectively eliminate apneas.  Patients then turn it on before going to sleep and turn it off when getting up. In other words, patients control when to turn on and off the device and the device only treats apnea when it is turned on.
    %p
      This therapy can prevent upper airway collapse that occurs in obstructive sleep apnea patients. However, it cannot restore breathing which occurs as result of central sleep apnea.
    %br
    %h3 How was it developed?
    %p
      Unilateral hypogossal nerve stimulation therapy was FDA approved in April 2014 as an implanted system that works with the structure of patients’ mouth, throat and tongue. The approval was the result of over 20 years of research done with animals and humans on the role of muscle contraction in obstructive sleep apnea.  About 10 years ago the Inspire company and others formed and began sponsorship of clinical trials to first examine such factors as: what is the harm and does it work? Then this work continued to small and then larger clinical trials.
      %sup 2
      The early trials helped to identify the patient characteristics that best predicted good treatment response for the stimulator known as “Inspire”.  A larger study that included 126 patients was designed in collaboration with the FDA.  The one year follow-up results were  published in 2014 in the New England Journal of Medicine.
      %sup 3
      This study group will continue to be monitored at regular intervals for 5 years after the original implant.  The 18 month and two year follow-up data have confirmed that the treatment response is preserved.
      %sup 4,5
    %br

.row.inset-horizontal
  .col-sm-6.col-sm-push-6
    = image_tag 'myapnea/research/hiw-take-comfort.png', class: 'img-responsive', style: 'margin: auto'
  .col-sm-4.col-sm-offset-1.col-sm-pull-6.col-xs-10.col-xs-offset-1
    %br
    %p.lead
      "This nerve stimulation therapy works 'from the inside out' to move the muscles and keep the airway open. The device includes a nerve stimulator that activates the tongue muscle, causing it to open the upper airway."
    %br
%br

.content-container
  .content-body
    %h3 What is the evidence that it works?
    %p
      There are three aspects of therapy to consider- the patient, the placement of the device, and the performance of the device.
    %p
      This therapy is only recommended for certain patients. The FDA trial included patients who were unable to tolerate or use positive airway pressure (PAP) therapy and had an apnea hypopnea index (AHI) greater than 20 and less than or equal to 50, a body mass index of less than 32 kg/m2, and had no obvious anatomic blockages during wakefulness; and in a separate study, patients did not have a concentric (camera-shutter like) closure of the back of the throat (more on this below).  The patient had to have good heart and lung health, less than 25% of apneas as central, and no chronic conditions of the nerves or muscles.
    %p
      Implantation, or the placement of the device, was generally uneventful, with post-operative soreness, swelling, and skin infection cited as the majority of the side effects. There were no device related deaths, and less than 2% serious events related to the device.
    %p
      When evaluated after one year, it was found that the device resulted in significant improvement in many aspects of sleep apnea—include the AHI level and measures of sleepiness and quality of life.  The FDA trial reported that two-thirds of patients had their AHI lowered to less than 15. Sleepiness and quality of life were reported to improve in 80% of patients. Immediately after the 12 month visit there was a group of 46 patients who had responded well to the Inspire therapy and half had the device turned off for a week. Those that had the device turned off had return of sleep apnea to a similar degree and all wanted it turned back on; both groups had identical good responses at 18 months post implantation [4].
    %br
    %h3 Who benefits most from stimulation therapy and why?
    %p
      Stimulation therapy is considered to be a “rescue therapy”, because it is invasive and a permanent implant (like a hip replacement). Before patients consider stimulation therapy, they need to try alternative treatments such as PAP or an oral appliance.
    %p
      Since the device works by stimulating the tongue to move, the device may not work as well in patients who are obese since obesity may make the airway stiffer and smaller.  The original trial used a BMI  less than 32, but the FDA permits consideration of patients up to a BMI of 35 (the level used in Europe).
    %p
      Before stimulation therapy can be recommended for a patient, they must receive an ENT examination as well as undergo a drug induced sedation endoscopy. This procedure will help determine how and where the upper airway might close during sleep. There is a specific finding that is looked for- a concentric collapse at the back of throat –that if present, appears to lower the chance for success.
    %br
    %h3 What do I need to have to be assessed for this therapy?
    %p
      You should speak with your doctor about whether you are a good candidate for this treatment. If so, you will need to have had a sleep study within 6 to 12 months and have a record of your history of a “good try” at other sleep apnea treatments. Note that using PAP therapy 6 years ago when the machine was “dropped off” at the house is not considered a “good try”.  Bring an open mind, because PAP therapy has changed for the better (masks, machines, etc.) and oral therapy has improved. Keep in mind that the implantable system requires anesthesia, and the potential for a lifetime with a device inside your body.
    %br
    %h3 What does it cost?
    %p
      The stimulator is a new therapy, and insurance companies will determine the implant on a case-by-case basis. Medicare will determine coverage at a regional level. Each hospital determines its pathways and this may vary across centers.
    %p
      The assessments, the office airway examination, and the endoscopy are procedures that would generally be covered by insurance; however, plans vary by co-pay, deductible, and health benefit accounts.
    %br
    %h3 What happens after the implant?
    %p
      After the implant, at a minimum, there will be a follow-up visit with the ENT doctor  and a one month visit to the sleep medicine physician to activate the device. Reassessment of the device setting may occur 1-2 times before a sleep study is performed for the purpose of verifying and/or adjusting the settings. It is estimated that 80% of patients will need only one sleep study after the device is implanted. Patients should have a routine follow-up every 3-4 months for a year and then every 6-12 months.
    %br
    %h3 Are there other stimulator devices?
    %p
      Companies other than Inspire are now going through the process of development and clinical trials towards an FDA application. There are likely to be more options in the future.
    %br

.content-container.inherit-background.horizontal-inset
  .content-header
    %h4.f300 References
  .content-body
    %ol
      %li
        Jordan, A.S., D.G. McSharry, and A. Malhotra, Adult obstructive sleep apnoea. Lancet, 2014. 383(9918): p. 736-47.
      %li
        Kezirian, E.J., et al., Electrical stimulation of the hypoglossal nerve in the treatment of obstructive sleep apnea. Sleep Med Rev, 2010. 14(5): p. 299-305.
      %li
        Strollo, P.J., Jr., et al., Upper-airway stimulation for obstructive sleep apnea. N Engl J Med, 2014. 370(2): p. 139-49.
      %li
        Strollo PJ, Jr., Gillespie MB, Soose RJ, et al. Upper Airway Stimulation for Obstructive Sleep Apnea: Durability of the Treatment Effect at 18 Months. Sleep 2015 (in press).
      %li
        Soose RJ, Woodson BT, Gillespie MB, et al. Upper Airway Stimulation for Obstructive Sleep Apnea: Self-reported Outcomes at 24 Months. Journal of clinical sleep medicine : JCSM : official publication of the American Academy of Sleep Medicine 2015 (in press).
