.content-main-header
  %h1 New Study Shows Women with Sleep Apnea at Increased Risk for Heart Disease As They Age

.well
  .row
    .col-sm-2.col-xs-4
      = image_tag 'myapnea/team/redline_200x200.jpg', class: 'img-responsive pull-right', style: 'width: 100px'
    .col-sm-10.col-xs-8
      %h2.f300
        Susan Redline, MD, MPH
      %p.text-dark7
        Instructor of Medicine, Harvard Medical School
        %br
        MyApnea.Org Principal Investigator and Steering Committee Co-chair

.content-container
  .content-body
    %p
      In a recent study, my colleagues at Brigham and Women’s Hospital, Columbia University and Baylor Medical Center
      and I found that older women are at higher relative risk of developing sleep apnea-related heart disease than
      older men.  This study turns on its head the notion that sleep apnea is a “man’s” disease- that is, traditional
      thinking that men are both more likely to have sleep apnea and have sleep apnea-related health problems.
    %br
    %p
      To address the question of sex, sleep apnea, and heart disease, we evaluated the links among sleep apnea,
      subclinical markers of heart disease, and occurrence of adverse heart outcomes (heart failure, coronary heart
      disease, enlargement of the heart, or death) in 1,625 individuals who were free of heart disease when first
      studied, and then followed for an average of almost 14 years. Study participants underwent sleep studies at
      “baseline” which provided measurements of sleep apnea.  Participants were followed with standardized
      measurements of health outcomes, mortality, and underwent echocardiographic studies to assess the size and
      function of the heart. At baseline, when participants were an average age of approximately 63 years, 23% of men
      and 10% of women had undiagnosed moderate to severe sleep apnea.  In women, sleep apnea was associated with
      higher blood levels of troponin (hs-TnT)- a blood test that provides information on “subclinical” (or early)
      evidence of heart injury. Over the subsequent 14 years,  46% of men and 32% of women experienced a significant
      adverse cardiac event, death, or had an enlarged heart by echocardiography. Even after considering the potential
      impact of other factors such as age, blood pressure and diabetes,  women with moderate to severe sleep apnea (
      Apnea Hypopnea Index greater than 15) were more than 30% more likely to experience adverse heart problems
      compared to women without sleep apnea. This relationship was not significant in men, suggesting that factors
      such as age, obesity, hypertension and diabetes explained most of the observed heart disease risk in the men
      studied in this study.
    %br
    %p
      This study sheds light on a controversial subject- Are women with sleep apnea at increased risk for heart
      problems such as heart failure, enlargement of the heart, coronary heart disease and death? It is well known
      that risk factors and outcomes of heart disease differ for men vs women. However, it has not been clear from
      prior research whether the effects of sleep apnea on heart disease is similar for men and women. Some prior
      publications indicated sleep apnea is a stronger risk factor for heart disease in men than in women.  However,
      prior studies may not have had sufficient follow-up times to fully assess risk as women age- when heart disease
      rates increase, and over long periods of time when the effects of sleep apnea on the heart may accumulate.  The
      current study examined women who at baseline were almost all post-menopausal--a time when risk for sleep apnea
      and heart disease are both elevated. The study followed participants for a longer period than most prior
      research and examined several complementary outcomes, each of which was rigorously assessed. Finally, the study
      had blood samples for a marker of subclinical heart injury--allowing a possible mechanistic link to be explored.
    %br
    %p
      The finding that sleep apnea is associated with subclinical heart injury and an elevation in long term risk of
      heart failure, coronary heart disease, enlargement of the heart muscle, and death in women indicates that sleep
      apnea is an important heart disease risk factor and sleep apnea screening and treatment should include women as
      well as men.  This study even suggests that older women may be at relatively greater risk of sleep apnea related
      heart disease than men. Although the reasons are not clear, it is possible that women with sleep apnea have more
      severe sleep apnea in REM sleep, when oxygen levels may drop the most and sympathetic tone increase, or because
      of different responses women and men may have to stresses such as sleep apnea.
    %br
    %p
      You can read the full report
      = succeed '.' do
        = link_to 'here', 'http://www.ncbi.nlm.nih.gov/pubmed/26316620'
