.content-main-header
  .container
    %h1 Does sleep influence memory and “brain plasticity”?

.well
  .container
    .row
      .col-sm-2.col-xs-4
        = image_tag 'myapnea/research/Ina_Djonlagic.jpg', class: 'img-responsive pull-right', style: 'width: 100px'
      .col-sm-10.col-xs-8
        %h2.f300
          Ina Djonlagic, MD
        %p.text-dark7
          Instructor in Medicine, Harvard Medical School
          %br
          Associate Physician, Division of Sleep and Circadian Disorders, Departments of Medicine and Neurology, Brigham and Women's Hospital

.content-container
  .container
    %h3 Key Stages in Memory
    %p
      Before addressing the role of sleep in memory, let’s review what goes into making memories and how the underlying brain activities that form memory can change over time.
    %br
    %p
      Problems in memory can mainly happen at three different stages: encoding, consolidation, and retrieval. Each stage has its own function and occurs within specific brain regions.
    %ul
      %li
        %span.f500 Encoding
        refers to the first process when new information is received and stored.
      %li
        %span.f500 Consolidation
        includes processes that “stabilize” and “enhance” memories - anchor them in place and make them durable over the long run. Sleep is especially important for this process that leads to the long term storage of memories.
      %li
        %span.f500 Retrieval
        is the process where you can recall or access information stored in your memory reserves.
    %br
    %h3 Brain Plasticity
    %p
      We all are continuously learning and forming new memories. These processes cause ongoing changes in the connections between our brain cells (synapses). This process of ongoing changes in our brain circuitry is referred to as “brain plasticity”.
    %br
    %p
      Sleep not only allows our bodies to recharge, but also allows our brains to help stabilize our memories through its effects on brain plasticity.
    %br
    %p
      Lack of oxygen may cause the death or dysfunction of cells in the brain’s memory area (hippocampus). Animals that experience drops in oxygen levels (to reflect what might happen in a patient with OSA) have trouble with maze tasks, indicating problems with learning and memory.
    %br
    %p
      Very exciting research has also shown that lack of sleep causes a build-up of toxins, such as amyloid (associated with Alzheimer’s disease) in the brain. Thus, lack of sleep may contribute to changes in brain structures that lead to dementia.
    %br
    %h3 Memory and Sleep
    %p
      There are a number of different kinds of memories, such as procedural memory and declarative memory. Procedural memories occur after we repeatedly perform activities resulting in more effortless performance such as tying a shoe, playing a piano sonata or riding a bike. With repeated practice, we use our procedural memory to do these tasks without having to consciously think about them. Once acquired, procedural memories are long lasting.
    %br
    %p
      Declarative memories, in contrast are memories that are consciously recalled, such as facts or knowledge which reflect personal experiences or prior learning. For example, declarative memory is used when we describe what a book is about, answer the question on a test, or tell about a past experience.
    %br
    %p
      Research has shown that sleep can improve a number of memory tasks. Interestingly, different stages of sleep (for example, deep sleep or Stage 3, or REM or Rapid Eye Movement) affect different types of memory. Some types of memories get stronger with more light sleep, while other memory functions get better with more deep sleep or REM (dream) sleep. For example, simple procedural memory, tested with a finger tapping task, improves with more light stage 2 sleep. In contrast, improvement on more complex tests, especially those that require us to learn rules and identify patterns, such as learning a foreign language, is associated with getting more REM sleep. More slow wave sleep (deep sleep) is associated with more improvement in learning new word associations.
    %br
    %h3 Sleep Apnea and Memory
    %p
      As you can see, sleep can affect learning and memory in a number of ways. It is not surprising therefore that a disorder such as obstructive sleep apnea (OSA) can result in problems with memory and cognitive performance.
    %br
    %p
      My colleagues and I have studied young people with mild OSA who were each trained to do a motor learning task. In this task, subjects repeatedly type a 5-digit sequence on a standard computer keyboard (e.g., 4-1-3-2-4) with their non-dominant (left) hand and we measure their speed and accuracy. After a night of sleep, the group of healthy individuals without OSA performed this task better than the group with mild OSA. This indicated that mild OSA interfered with the ability to consolidate memories related to this type of learning task.
    %br
    %p
      In a follow-up study using the same motor skill learning task, we also found that increased age was associated with poorer sleep-dependent memory consolidation in individuals with OSA. In contrast, among healthy individuals without OSA we did not see an effect of age on this type of memory consolidation. This suggests that the effects of OSA on disrupting sleep and depriving the brain of oxygen may have an additive effect over time and accelerate the aging processes in the brain.
    %br
    %p
      We also showed that individuals with OSA can learn a declarative memory task as quickly as individuals without OSA. For this task subjects had to learn 40 related word pairs presented on a computer (for example: joy-harmony, flood-tide). However, compared to healthy individuals without OSA, they are less likely to recall the newly learned information after a night of sleep. This may be due to the inability of people with OSA to fall into deep, slow wave sleep- the stage that is particularly importance for this type of memory consolidation.
    %br
    %p
      Individuals with OSA also have been shown to have reduced ability to recall emotional elements of scenes. In a “recall” test, they also showed a poorer ability to classify what objects they were seeing for the first time and instead resorted to more vague answering choices such as an object was “similar” to previously seen objects.
    %br
    %p
      A large study has reported that cognitive problems are more common in older people who have both OSA plus a copy of the ApoE e4 gene (the gene for Alzheimer’s disease) than those who have only OSA or only the ApoE e4 gene. This suggests that genetic background may influence which people with OSA are most susceptible to memory problems. Inheriting the ApoE e4 gene and having OSA may be a “double whammy.”
    %br
    %h3 Effects of OSA Treatment on Memory
    %p
      A recent study looked at spatial memory (a memory that is needed to learn the location of objects and to navigate in our environment), in patients with OSA, comparing performance after a night of CPAP to a night without CPAP. Spatial memory was significantly worse after a single night without using CPAP.
    %br
    %p
      We recently studied the effect of the first night of CPAP use in a group of 15 healthy controls and 29 patients with moderate-severe OSA on memory consolidation and attention. We showed an immediate improvement in attention. Although the study participants reported more rested after one night of CPAP use, they did not show significant overnight improvement on a motor skill learning task.
    %br
    %p
      A larger multicenter study called Apnea Positive Pressure Long-term Efficacy Study (APPLES) was designed to determine the effects of CPAP therapy on neurocognitive test performance in patients with OSA. CPAP use resulted in a small transient improvement of executive and frontal-lobe function (examples are working memory, reasoning, problem solving, planning and execution) for those with severe disease. Part of the reason why the results were rather underwhelming may have been the selection of the neurocognitive tasks, many of which don’t specifically rely on sleep-dependent memory consolidation.
    %h3 Summary: What We Know and What We Need to Know
    %p
      Sleep is important to strengthen memories created during the day. Sleep is also important to help the brain get rid of toxins that may impair the brain circuits needed for memory. Poor sleep can negatively impact memory and brain plasticity. There are well-described effects of sleep deprivation, sleep disruption and low levels of oxygen on brain function. Poor sleep negatively affects the brain’s memory center (hippocampus) and also impairs processes associated with “brain plasticity.”
    %br
    %p
      Some studies have shown that patients with OSA may perform poorer on several memory tasks than healthy people without sleep apnea. In particular, patients with OSA may not get the memory “boost” that we expect from a good night’s sleep. However, there appears to be individual differences in the effects of OSA on cognition. Both aging and genetic background may interact to increase susceptibility to OSA’s effect on brain function. Many patients with OSA report great improvements in their attention after using CPAP and some studies show that even one night of CPAP can improve cognition. However, there are actually very little data to show how CPAP or other sleep apnea treatments (oral appliances) affect cognition or the likelihood of developing dementia.
    %ul
      %li
        Can sleep-dependent memory problems recover over time?
      %li
        Does OSA accelerate the brain’s aging process?
      %li
        How important is the timing of the diagnosis and treatment of OSA—is there a critical window of time (for example, when younger) when treatment of OSA would be expected to lead to the biggest improvement in cognition?
      %li
        What are the factors that predispose a person with OSA to have cognitive impairment: family history? Age when they first had OSA? Duration they were untreated? Degree of severity of their OSA?
      %li
        Which patients with OSA may derive the most profound improvements in cognition with OSA treatment—is it patients who have the highest numbers of arousals during sleep or lowest levels of oxygen or both?
      %li
        How do sleep duration and the time in REM or deep sleep play also influence cognition of patients with OSA?
      %li
        Are there very specific memory and cognitive functions most likely to be impaired by OSA?
    %p
      Let's talk more about these questions and identify how to develop the research to fill these important knowledge gaps.

.container
  %h4.f300 References
  %ol
    %li Stickgold R. Sleep-dependent memory consolidation. Nature. Oct 27 2005;437(7063):1272-1278.
    %li Diekelmann S, Born J. The memory function of sleep. Nature reviews. Feb;11(2):114-126.
    %li Djonlagic I, Saboisky J, Carusona A, Stickgold R, Malhotra A. Increased sleep fragmentation leads to impaired off-line consolidation of motor memories in humans. PLoS One. 2012;7(3):e34106. Epub 2012 Mar 28.
    %li Djonlagic I, Guo M, Carusona A, Matteis P, Stickgold R, Malhotra A. Untreated Sleep-disordered Breathing: Links to Aging-related Decline in Sleep-Dependent Memory Consolidation. PLoS One. 2014 Jan 29;9(1).
    %li Djonlagic I, Guo M, Carusona A, Matteis P, Stickgold R, Malhotra A. First-Night of CPAP: Impact on Memory Consolidation, Attention and Subjective Experience. Sleep Medicine (in press)
    %li Varga, A. W., Kishi, A., Mantua, J., Lim, J., Koushyk, V., Leibert, D. P., & Ayappa, I. (2014). Apnea-Induced Rapid Eye Movement Sleep Disruption Impairs Human Spatial Navigational Memory.Journal of Neuroscience, 34(44), 14571–14577.
    %li Kushida CA, Nichols DA, Holmes TH, et al. Effects of continuous positive airway pressure on neurocognitive function in obstructive sleep apnea patients: The Apnea Positive Pressure Long-term Efficacy Study (APPLES). Sleep 2012;35(12):1593-602

- unless current_user
  = render 'home/join_the_community', referrer: 'research', message: 'Make a direct impact on the future of sleep apnea research'
