.content-main-header
  %h1 Didgeridoos: A Potentially Novel Intervention for Sleep Apnea

.well
  .row
    .col-sm-2.col-xs-4
      = image_tag 'myapnea/research/dennis_hwang.jpg', class: 'img-responsive pull-right', style: 'width: 100px'
    .col-sm-10.col-xs-8
      %h2.f300
        Dennis Hwang, MD
      %p.text-dark7
        Medical Director of the Sleep Program, Kaiser South California

.content-container
  .content-body
    %h3 Introduction
    %p
      In 2005, the British Medical Journal published a research study that made the American Thoracic Society International Conference “Top 5 Articles of the Year”, and since has remained a frequently talked about study that has also seemingly gained a cult following.  In a randomized controlled research study, Dr. Braendli’s team in Switzerland discovered that playing the didgeridoo, a native Australian wind instrument, resulted in improvement in obstructive sleep apnea (or OSA).
    %p
      OSA is a condition in which the upper airway collapses during sleep resulting in a pause in breathing due to blocked airflow.  This leads to recurrent episodes of low bloodstream oxygen and disruption of sleep that can increase the risk of heart disease and affect the ability to achieve restful sleep.  There are many risk factors for OSA that are related to  narrowing of the airway (specifically, the area in back of the throat to the voice box or laryngeal area) such as obesity in which fat tissue around the airway causes it to be narrower.  However, additional factors must be involved because apnea does not occur when a person is awake, but rather is specific to when a person is sleeping.  It has been shown that during sleep, the muscles around the airway relax or become “floppier” due to a loss of muscle tone.  Therapies for OSA all focus on making the airway larger or less collapsible.   For example, CPAP “stents” the airway open by direct air pressure as well as by inflating the lungs.  Mandibular advancement devices (or “oral appliances”) open up the airway by pulling the jaw forward and keeping the tongue out of the way.  However, many have wondered whether strengthening  the muscles in the throat could be a possible method of treating sleep apnea.  Specifically, could exercising the upper airway muscles strengthen them to the point where the airway would be “stiffer” and less likely to collapse during sleep , thus reducing apneas?  This is an attractive idea because this would potentially be a cure without the need for wearing mechanical devices during sleep, possibly for the rest of one’s life.
    %br
    %h3 Background
    %p
      Up until Dr. Braendli’s study, there was no significant evidence that exercising airway muscles was effective.  There have been studies that looked at musicians, a natural group to investigate since singers and those that play wind instruments naturally exercise their airway muscles.  However, those studies were inconclusive.  A randomized controlled research study (where by a “flip of the coin” a patient is assigned one or another treatment) evaluated the impact of singing exercises for 20 minutes a day in almost 100 people with snoring or moderate OSA. This study found that people who participated in singing exercises  had improved snoring and sleepiness after 3 months.  On the other hand, in another study, there were no differences in those same symptoms when comparing wind versus non-wind instrument players in an orchestra.  A third study of nearly 1000 musicians found that those that specifically played a double reed wind instrument had fewer OSA related symptoms, suggesting that an effect might be present but limited to specific kinds of airway motions or exercises (and this idea is relevant when we talk about the type of “circular” breathing when playing the didgeridoo-see below for an explanation.)  These studies were limited in that they did not actually test for a change in apnea severity such as the apnea-hypopnea index (AHI).
    %br
    %h3 Didgeridoo Research Study
    %p
      A Swiss didgeridoo instructor named Alex Suarez was told by his students that some noticed improvement in their snoring.  Mr. Suarez discussed this observation with  Dr. Braendli, a lung specialist and researcher. This team then designed  a research study to further investigate the role of didgeridoo playing on sleep apnea.  In their study, they randomized 25 people with a moderate degree of OSA (AHI between 15-30) to two groups. One group of 14 people was  asked to learn and practice the didgeridoo at least 5 days per week and at least 20 minutes per day.  The other group of 11 people  served as a “control”—they  did not learn to play the didgeridoo nor received any treatment for their OSA.  Each group was re-tested after 4 months when it was found that the didgeridoo players had an average decrease in AHI by 50% (from an average of 22 to 12).  It should be noted that the control group also had an improvement of about 25% (from 20 to 15), but the improvement in the didgeridoo group was statistically greater.  Furthermore, when measuring sleepiness with a survey called the Epworth Sleepiness Scale, the didgeridoo group had a much greater and statistically significant improvement compared to the control group.
    %br
    %h3 How does it work?
    %p
      The didgeridoo is a native Australian wind instrument that is traditionally made out of termite hallowed eucalyptus tree branches. The technique utilized to play this instrument is called circular breathing in which air is exhaled through the “tube” and generates the musical sound.  As the lung begins to run out of air, the cheeks act as an air reservoir which allows for air to be expelled simultaneously as the person inhales and replenishes the air in their lungs.  When this technique is perfected, a continuous note can be played indefinitely (40 minutes has been observed!) without a break in the sound.  While other singers and musicians (Kenny G, trumpet) occasionally use circular breathing, only didgeridoo players use it as the sole mechanism for playing an instrument.  We hypothesize that circular breathing might exercise just the right muscles that results in improvement in airway stability and OSA.
    %p
      In 2008, I received a couple research grants to evaluate how the didgeridoo improves airway stability.  My team measured the  “floppiness” of a person’s airway with a measurement  called “Pcrit”.  We made very specific measurements that allowed us to  separately measure the relative contributions of anatomy and neuromuscular tone towards that “floppiness”.  Our study aimed to measure Pcrit in 10 people with OSA before and after 3 months of didgeridoo instruction and playing.  Unfortunately, we primarily discovered that teaching players to properly play the didgeridoo is a difficult endeavor as only 2 out of 10 people adequately learned. Our results were obviously inconclusive. However, the idea and potential is there.
    %br
    %h3 Is this an option for you?
    %p
      I think it makes mechanistic sense that playing the didgeridoo can truly improve OSA, and the results of Dr. Braendli’s study is exciting, even if I also believe that additional evidence is needed to confirm.  If you are interested in learning to play the didgeridoo as a possible therapy for your OSA, you should keep in mind several considerations:
    %ol
      %li
        The research study did not include any people who were obese with a BMI greater than 30, and it is possible that those with obesity may potentially not respond as well.
      %li
        How much do you need to practice?  It’s unknown whether 20 minutes per day and 5 days per week is necessary, nor whether practicing more than that would lead to greater improvement.
      %li
        What happens if you stop practicing?  This is also unknown, but just as any muscle that is not regularly exercised will lose strength, it’s likely that the beneficial effects will eventually disappear if didgeridoo playing is not continued indefinitely.
      %li
        When I met with Alex Suarez in 2009, he was promoting an additional technique called Asate. This technique adds airway motions in addition to the usual circular breathing, and Alex believed that Asate was necessary to improve OSA.  There was no mention of this in the paper, and I later communicated with Dr. Braendli who stated that he didn’t think Asate was needed.  Still, it raises the question of whether circular breathing is sufficient to have a beneficial effect.
    %p
      If you do decide to take up the didgeridoo, talk to your doctor about how to stage this with your other sleep apnea treatments. You can see that there are many  questions and uncertainty regarding the true effect of playing the didgeridoo.  Generally, patients beginning the didgeridoo for sleep apnea should continue their usual therapy for OSA whether it’s CPAP or another therapy during the period of  practicing.  Repeat testing for sleep apnea after a period of practicing can be done to measure whether there has been any improvement in OSA. Relying on changes in your symptoms alone may not be enough to judge the effect of practicing.
    %br
    %p
      Whether you do improve or not,
      %span.f500 please share your experiences.
      I think we would all benefit from your experience! Let us also know your ideas of how to design and conduct better research studies to get more definitive answers to this interesting question. Is the time right for another attempt at a good study in the US on this topic?


- unless current_user
  = render 'home/join_the_community', referrer: 'research', message: 'Make a direct impact on the future of sleep apnea research'
