- @active_top_nav_link = :research

.content-main-header
  %h1 Does treatment of sleep apnea influence body weight?

.well
  .row
    .col-sm-2.col-xs-4
      = image_tag 'myapnea/research/kevin_gleason.jpg', class: 'img-responsive pull-right', style: 'width: 100px'
    .col-sm-10.col-xs-8
      %h3.f300
        Kevin Gleason
      %h4.f300.text-dark7
        Sleep Researcher, Brigham and Women's Hospital Department of Sleep and Circadian Disorders

.content-container
  .content-body
    %p.lead
      Researchers and providers continually explore how treatments for sleep apnea may impact an individual’s quality of life. One current debate regarding treatment is the influence of positive airway pressure (PAP) devices and other sleep apnea treatments on body weight. On the one hand, treatment for sleep apnea can improve one’s quality of sleep, which can then lead to improved alertness, energy and mood. Such improvements may then increase one’s ability to exercise and engage in other wellness activities that can reduce body weight. On the other hand, because treatment for sleep apnea may decrease the effort used for breathing during sleep, it is plausible that such treatments may reduce the amount of energy (and calories) burned during sleep
      (Quan, et al).1,2
      If this is the case, and the reduction in nighttime energy expenditure is not balanced by an increase in physical activity and/or adjustments to one’s diet, there is the possibility that an individual may gain weight after initiating treatment for sleep apnea. In addition, changes in quality or patterns of sleep may occur with changes in appetite, eating habits, or even hormone levels, all of which could also potentially impact weight
      (Patel).1,3
    %p.lead
      Much of the research we currently have that examines the relationship between body weight and sleep apnea treatments has come from observing people over time or retrospective reviews of medical records, and not from what we call “controlled experiments”.
      4-6
      In these “observational” or “uncontrolled” studies, it is difficult to determine what causes changes in weight even when such changes occur. For example, if a study looks at several individuals who use PAP, but does not include individuals who were PAP “free”, researchers cannot determine if changes in weight occur specifically because of PAP use. It might be the case that individuals receiving PAP treatment received weight management advice from their treatment provider and made changes to exercise or diet habits that caused the weight loss. To account or “control” for other possible explanations, researchers need to conduct studies where they can better isolate the effect of the treatment.
    %p.lead
      Recently, data from controlled experiments has been analyzed. In November 2014, the first meta-analysis (a study that analyzes data from a large number of other studies) was published
      (Drager, et al).7
      The meta-analysis looked at data from 25 randomized control trials (RCT’s). An RCT is a type of study that randomly, by chance, assigns participants into an experimental group which receives one type of treatment or a control group which typically does not receive any treatment. As the study is conducted, differences between the control and experimental groups in the outcomes being studied (such as body weight) can be attributed to this random treatment assignment, and thus to the treatment being evaluated. These 25 studies all looked at the impact of Continuous PAP compared to non-PAP use, and the review of body weight changes from all of these studies together. The meta-analysis found that new PAP users experienced a slight increase in weight, estimated to be between 0.10 and 0.24 kg (0.22 – 0.53 lbs).
      7
      However, the range of weight change following CPAP use varied by each study, from about a 1 kg (2.2 lb) decrease to about a 2 kg (4.5 lb) increase. Additionally, more than half of the studies available to the authors involved 50 participants or less, and more than half of the studies lasted 3 months or shorter. Also, because the meta-analysis reviewed overall data such as study averages, the authors were unable to assess whether changes to other influences on weight, such as physical activity or diet, affects the influence PAP has on the body weight of a particular individual. Thus, further research is needed to explore the relationship between sleep apnea treatment and body weight.
    %p.lead
      Possible directions for future research of this complex relationship include:
    %ul
      %li
        evaluating the impact of changes to physical activity or diet performed in conjunction with starting treatment;
      %li
        investigating ways that the relationship between treatment and body weight might change based on age, gender or ethnicity;
      %li
        assessing whether changes in body weight with sleep apnea treatment shift over longer durations; and
      %li
        comparing the relationship of treatments besides PAP (such as oral devices) with body weight.
    %p.lead
      By conducting more research on how sleep apnea treatments influence body weight and one’s quality of life, researchers hope to provide the tools necessary for treatment providers to deliver the best possible care to their patients. You can get involved in this research by completing our surveys within the research portal of MyApnea.Org.
    %p.lead
      Until more research is available, it is prudent to recommend that all individuals (whether or not on PAP) follow healthy lifestyle recommendations, including following American Heart Association guidelines for
      nutrition
      and
      exercise.
      People who are overweight and starting PAP may want to identify this time as an opportunity to “start fresh”--with their renewed alertness, use this as the moment for a renewed commitment to eating right and being more active.

.content-container.inherit-background.horizontal-inset
  .content-header
    %h3.f300 References
  .content-body
    %ol
      %li
        Quan SF, Budhiraja R, Clarke DP, et al. Impact of treatment with continuous positive airway pressure (CPAP) on weight in obstructive sleep apnea. J Clin Sleep Med 2013;9:989-93.
      %li
        Stenlöf K, Grunstein R, Hedner J, Sjöström L. Energy expenditure in obstructive sleep apnea: effects of treatment with continuous positive airway pressure. Am J Physiol 1996;271:E1036-43.
      %li
        Patel SR. The complex relationship between weight and sleep apnoea. Thorax 2014 (epub ahead of print).
      %li
        Redenius R, Murphy C, O'Neill E, Al-Hamwi M, Zallek S. Does CPAP lead to change in BMI? J Clin Sleep Med 2008;4:205-9.
      %li
        Fujii H, Miyamoto M, Miyamoto T, Muto T. Weight loss approach during routine follow-up is effective for obstructive sleep apnea hypopnea syndrome subjects receiving nasal continuous positive airway pressure treatment. Ind Health 2010;48:511-6.
      %li
        Garcia JM, Sharafkhaneh H, Hirshkowitz M, Elkhatib R, Sharafkhaneh A. Weight and metabolic effects of CPAP in obstructive sleep apnea patients with obesity. Respir Res 2011;12:80.
      %li
        Drager LF, Brunoni AR, Jenner R, Lorenzi-Filho G, Bensenor IM, Lotufo PA. Effects of CPAP on body weight in patients with obstructive sleep apnoea: a meta-analysis of randomised trials. Thorax 2014 (epub ahead of print).
