- @active_top_nav_link = :research

.content-main-header
  %h1 Obstructive Sleep Apnea and Adenotonsillectomy in Children

.well
  .row
    .col-sm-2.col-xs-4
      = image_tag 'myapnea/team/owens_200x200.jpg', class: 'img-responsive pull-right', style: 'width: 100px'
    .col-sm-10.col-xs-8
      %h3.f300
        Judith Owens, MD, MPH
      %h4.f300.text-dark7
        Director of Sleep Medicine at Children's National Medical Center and MyApnea.Org Steering Committee Member.

.content-container
  .content-body
    %h4 Background
    %p.lead
      Obstructive sleep apnea is now the number one reason for performing adenotonsillectomy (surgical removal of the tonsils and adenoids) in children in the U.S. It is estimated that over 500,000 adenotonsillectomies are performed annually in children. While in general this procedure is considered low risk, there are known potential consequences include bleeding and blockage of the airway due to swelling in the immediate post-operative period. Media attention paid to the unfortunate brain death of a 13-year-old girl in Oakland, California following an adenotonsillectomy last December raised understandable concerns for parents regarding the safety of this procedure.
    %h4 The Study
    %p.lead
      A large prospective study by Dr. Anchana Thongyan and colleagues was designed specifically to address the question of what factors might predict medical complications in children in the 2-week period following surgery.
      1
    %h4 Study Results
    %p.lead
      There were 329 subjects; 27% were less than 3 years old and 24% were obese and thus a substantial percentage was considered “high risk”. Almost 30% had some respiratory complications, and a third had non-respiratory complications such as bleeding, although none of these were serious. Severity of sleep apnea as determined by an overnight sleep study done prior to the surgery was associated with respiratory but not non-respiratory complications. African American children and those less than 3 years old were also at higher risk for respiratory complications.
    %h4 What does this research mean to you?
    %p.lead
      While adenotonsillectomy for sleep apnea in children is generally safe, there may be specific groups that have an increased risk of complications related to surgery, including very young and African-American children. In these groups, more intensive monitoring in the post-surgery period may be warranted. The association between severity of sleep apnea and complications points out the importance of obtaining a sleep study before surgery to determine relative risk.
.content-container.inherit-background.horizontal-inset
  .content-header
    %h3.f300 References
  .content-body
    %ol
      %li
        Thongyam A, Marcus CL, Lockman JL, Cornaglia MA, Caroff A, Gallagher PR, Shults J, Traylor JT, Rizzi MD, Elden L. Predictors of Perioperative Complications in Higher Risk Children after Adenotonsillectomy for Obstructive Sleep Apnea: A Prospective Study. Otolaryngol Head Neck Surg. 2014 Oct 9. pii: 0194599814552059. [Epub ahead of print]
