// Voting form

// Index display
.research-topic-index-display {
  border: 1px solid #ddd;
  background-color: white;
  padding: 10px;
  color: #555;
  .badge {
    float: right;
  }
  p {
    margin-right: 50px;
  }
}

a.research-topic-index-display {
  display: block;
  color: #333;
  text-decoration: none;
}

a.research-topic-index-display:hover {
  background-color: #fbfbfb;
  border-color: #b1d2f6;
  color: #111;
}

.scroll-container {
  height: 400px;
  overflow-y: auto;
}

// Progress meter
.progress-meter {
  height: 30px;
  width: 100%;
  position: relative;
  background-color: #ddd;
  border: 5px solid white;
  border-radius: 20px;
  box-shadow: inset 0 -1px 1px rgba(255,255,255,.3);
  z-index:2;
  span {
    background-color: #78c679;
    border-radius: 20px 5px 5px 20px;
    overflow: hidden;
    height: 100%;
    z-index:1;
  }
  span.border20 {
    border-radius: 20px;
  }
}

// Comments from show page
.comment-container {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  background-color: #fcfcfc;
  .user-image {
    width: 50px;
    height: 100%;
    background-color: #f3f3f3;
    position: absolute;
    top:0px;
    left:0px;
  }
  .comment-description {
    padding-top:5px;
    margin-left: 60px;
    margin-right: 30px;
  }
  .comment-toolbar {
    position: absolute;
    top:0px;
    right:0px;
    width:25px;
    height: 100%;
    border-left: 1px solid #fdfdfd;
    background-color: #f3f3f3;
    text-align: center;
    a {
      margin: auto;
    }
  }
}
.comment-container-review {
  min-height: 90px;
  .comment-toolbar {
    background-color: #f4b46d;
  }
}
.comment-container-spam {
  .comment-toolbar {
    background-color: #e54835;
  }
}
