.panel-rank-research tr td:nth-of-type(1) {
  width:15%;
  text-align:center;
  padding-top:0;
}
.panel-rank-research tr td:nth-of-type(2) {
  width:85%;
}

.fa-rank:hover {
  color: #B1D2F6;
}

.expand-research-topic {
  color: #B1D2F6;
  text-decoration: underline;
  cursor: pointer;
}

.progress {
  margin-top:20px;
}
.progress-bar {
  -webkit-transition: width 1.5s ease-in-out;
  transition: width 1.5s ease-in-out;
}



.panel-rank-research {
  table {
    tr {
      td {
        a i, a i.disabled {
          color: grey;
          color: rgba(0,0,0,.8);
        }
        a i.voted {
          color: rgb(89, 153, 222);
        }
      }
    }
  }
}
