.rt-list-item {
  margin: 20px 0;
  position: relative;

  .rt-user-img {
    border: 1px solid $border-color;
    border-radius: 50%;
    left: 0;
    position: absolute;
    top: 10px;
    width: 50px;

  }

  .rt-content {
    background-color: $white;
    box-shadow: $box-shadow;
    margin-left: 60px;
    padding: 10px;

    .rt-detail {
      color: $gray;
      font-size: 12px;

      i {
        color: $link-color;

        &:hover {
          color: darken($link-color, 8);
          cursor: pointer;
          text-decoration: underline;
        }
      }

      a {
        display: inline-block;
      }
    }

    .rt-voters {
      color: $gray;
      font-size: 12px;
    }
  }
}

.commenter-thumbnail {
  border-radius: 10px;
  box-shadow: $box-shadow;
  height: 20px;
  width: 20px;
}

.commenter-thumbnail-more {
  background-color: $lightest-gray;
  border-radius: 10px;
  box-shadow: $box-shadow;
  color: $dark-gray;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  min-width: 20px;
  text-align: center;
}

.highlight-header {
  background-color: $primary-blue;
  border: 1px solid $border-color;
  border-bottom: 0;
  border-radius: 2px 2px 0 0;
  color: $white;
  font-weight: 400;
  margin-top: 20px;
  padding: 5px;

  p {
    margin-bottom: 0;
  }
}

.rt-highlight {
  background-color: $white;
  border: 1px solid $border-color;
  border-radius: 0 0 2px 2px;
  margin-bottom: 20px;
  padding: 5px;
}

.progress {
  margin-top: 20px;
}

.progress-bar {
  transition: width 1.5s ease-in-out;
}
