.rt-list-item {
  position: relative;
  margin: 20px 0px;
  .rt-user-img {
    position: absolute;
    top: 10px;
    left: 0;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #c5c5c5;
  }
  .rt-content {
    padding: 5px;
    background-color: white;
    border: 1px solid #c5c5c5;
    border-radius: 2px;
    margin-left: 60px;
    .rt-detail {
      font-size: 12px;
      color: gray;
      a {
        display: inline-block;
      }
    }
    .rt-voters {
      font-size: 12px;
      color: gray;
      .commenter-thumbnail {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 2px 1px #eee;
      }
      .commenter-thumbnail-more {
        display: inline-block;
        min-width: 20px;
        height: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 2px 1px #eee;
        background-color: #F2F1EC;
        color: #848484;
        line-height: 20px;
        text-align: center;
      }
    }
  }
}

.highlight-header {
  margin-top: 20px;
  padding: 5px;
  background-color: #5999de;
  color: white;
  border: 1px solid #c5c5c5;
  border-radius: 2px 2px 0 0;
  border-bottom-width: 0px;
  font-weight: 400;
  p {
    margin-bottom: 0px;
  }
}
.rt-highlight {
  margin-bottom: 20px;
  padding: 5px;
  background-color: white;
  border: 1px solid #c5c5c5;
  border-radius: 0 0 2px 2px;
}





// Probably deprecated
.progress {
  margin-top:20px;
}
.progress-bar {
  -webkit-transition: width 1.5s ease-in-out;
  transition: width 1.5s ease-in-out;
}
