.research-topic-container {
  background-color: white;
  box-shadow:0px 0px 5px rgba(0,0,0,.5);
  margin-bottom: 20px;
  .research-topic-header {
    padding: 5px 0px;
    background-color: #F8F7F5;
    border-bottom: 1px solid #eee;
    .research-topic-header-details {
      width: 80%;
      max-width: 800px;
      margin: auto;
      min-height: 50px;
    }
  }
  .research-topic-body {
    padding: 20px 0px;
    width: 70%;
    max-width: 800px;
    margin: auto;
  }
  .research-topic-footer {
    border-top: 1px solid #ddd;
    background-color: #f7f7f7;
    .voting-form {
      width: 80%;
      max-width: 800px;
      margin: auto;
      .voting-form-header {
        padding: 20px 30px 0px 30px;
        font-weight: 500; font-weight: bold;
      }
      .endorsement-container {
      }
      .endorse-button-container {
        input[type=radio] {
          display: none;
        }
        .endorse-label {
          display: inline-block;
          padding: 10px;
          border-radius: 20px;
          width: 120px;
          background-color: #fff;
          border: 2px solid #5999de;
          cursor: pointer;
        }
        input[type=radio]:checked ~ .endorse-label {
          background-color: #b1d2f6;
          color: #fff;
        }
      }
      .endorse-positive {
        .endorse-label {
          border-color: #78c679;
        }
        input[type=radio]:checked ~ .endorse-label {
          background-color: #78c679;
        }
      }
      .endorse-negative {
        .endorse-label {
          border-color: #e54835;
        }
        input[type=radio]:checked ~ .endorse-label {
          background-color: #e54835;
        }
      }
      .voting-form-submit {
        padding: 20px;
        text-align: center;
      }

    }
  }
}
