.research-topic-container {
  background-color: white;
  box-shadow:0px 0px 5px rgba(0,0,0,.5);
  margin-bottom: 20px;
  .research-topic-header {
    padding: 5px 0px;
    background-color: #F8F7F5;
    border-bottom: 1px solid #eee;
    .research-topic-header-details {
      width: 80%;
      max-width: 800px;
      margin: auto;
      min-height: 50px;
    }
  }
  .research-topic-body {
    padding: 20px 0px;
    width: 70%;
    max-width: 800px;
    margin: auto;
    .endorse-button-container {
      input[type=radio] {
        display: none;
      }
      .endorse-label {
        display: inline-block;
        padding: 10px;
        border-radius: 20px;
        width: 200px;
        background-color: #fff;
        border: 2px solid #5999de;
        cursor: pointer;
      }
      input[type=radio]:checked ~ .endorse-label {
        background-color: #b1d2f6;
      }
    }
  }
}
