- @title = "Edit Category: #{@admin_category.name_was}"

- @body = "sky"
- @footer = "grass"

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("admin/sidebar")
- content_for :header do
  = link_to @admin_category.name_was, @admin_category
  Edit

.dashboard-container
  = render "form", admin_category: @admin_category
