- @title = "Edit Broadcast: #{@admin_category.name_was}"

- content_for :body_class do
  myapnea-sky-bg

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        = link_to @admin_category.name_was, @admin_category
        Edit

.drawer-and-shelf-container
  .drawer
    = render 'admin/menu'
  .shelf
    .dashboard-container
      = render 'form', admin_category: @admin_category
