- @title = 'New Category'

.content-main-header2
  %h1
    = link_to 'Admin Dashboard', admin_path
    &middot;
    = link_to 'Categories', admin_categories_path
    &middot;
    New

= render 'form'
