- @title = 'New Category'

- content_for :banner do
  .content-main-header
    .container
      %h1
        = link_to 'Categories', admin_categories_path
        &middot;
        New

- @background_color = '#fff'
.container= render 'form'
