= render :partial => 'forem/forums/head', :locals => { :forum => @topic.forum }

- if @topic
  #forum_topic_links.btn-group.pull-right.btn-group-sm
    = link_to "Back to conversations", forem.forum_path(@forum), :class => "btn btn-info"

%h3 Create a new discussion
= render "form"