.content-main-header
  .container
    %h1 Edit Post
    %p
      = link_to 'Forums', forums_path
      &middot;
      = link_to @forum.name, @forum
      &middot;
      = link_to @topic.name, [@forum, @topic]

.container
  .content-container
    = render 'form'
