.content-main-header
  .container
    %h1 Edit Post
    %p
      = link_to 'Forum', topics_path
      &middot;
      = link_to @topic.name, @topic

.container
  .content-container
    = render 'form'
