#account-link-container {
  margin-top: 20px;
  position: fixed;
  top: 81px;
  right: 0px;
  width: 400px;
  padding: 20px;
  a {
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
  }
  a:hover {
    text-decoration: none;
  }
}

#account-section-container {
  margin-right: 400px;
  margin-left: 20px;
}

// Fix for input form-controls losing border radius when error field is applied
.input-group .has-error:first-child input.form-control {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#filedrag {
  display: none;
  // font-weight: bold;
  text-align: center;
  padding: 1em 0;
  margin: 1em 0;
  color: #777;
  border: 1px dashed #777;
  border-radius: 4px;
  cursor: default;
}

#filedrag:hover {
  color: #66afe9;
  border-color: #66afe9;
  border: 1px dashed #333;
}

@media (max-width: 998px) {
  #account-link-container {
    display: none;
  }

  #account-section-container {
    margin-right: 0px;
    margin-left: 0px;
  }
}
