.text-right {
  text-align: right;
}

.center,
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.inline-block {
  display: inline-block;
}

.overflow-hidden {
  overflow: hidden;
  text-overflow: ellipsis;
}
