.nowrap {
  white-space: nowrap;
}

.overflow-hidden,
.overflow-hover {
  overflow: hidden;
  text-overflow: ellipsis;
}

.overflow-hover {
  @media (hover) {
    &:hover {
      overflow: visible;
    }
  }
}

.breakword {
  word-break: break-word;

  code {
    white-space: pre-wrap;
  }
}

.center-vertically {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center-both {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-horizontally {
  display: flex;
  justify-content: center;
}
