// Anchors

.anchor-top {
  display: block;
  height: 0;
  position: relative;
  top: -($header-height) - 10px;
  visibility: hidden;
  width: 0;
}

.anchor-menu {
  display: block;
  height: 0;
  position: relative;
  top: -($header-height);
  visibility: hidden;
  width: 0;
}
