// TODO: Move these to "stylesheets/animations/"

@keyframes wiggle {
  25% {
    transform: rotate(7deg);
  }

  75% {
    transform: rotate(-7deg);
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1.0, 1.0);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1.0, 1.0);
  }
}

.animate-wiggle {
  animation: wiggle 500ms ease-out infinite;
}

.animate-wiggle-hover {
  @media (hover) {
    &:hover {
      animation: wiggle 500ms ease-out 1;
    }
  }
}

.animate-pulsate-hover {
  @media (hover) {
    &:hover {
      animation: pulsate 500ms ease-out 1;
    }
  }
}
