// TODO: Move these to "stylesheets/animations/"

@keyframes wiggle {
  25% {
    transform: rotate(7deg);
  }

  75% {
    transform: rotate(-7deg);
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.5, 1.5);
  }

  100% {
    transform: scale(1, 1);
  }
}

.animate-wiggle {
  animation: wiggle 500ms ease-out infinite;
}
