.forum-badge {
  border-radius: 2px;
  font-size: 8px;
  padding: 2px 4px;
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .forum-badge {
      background-color: $p200-grey;

      &.forum-badge-color {
        background-color: map-get($theme, p500);
        color: map-get($theme, brand-white);
      }
    }

    .badge-accent {
      background-color: $p500-orange;
    }
  }
}
