html {
  min-height: 100%;
  position: relative;
}

body {
  &.full-page {
    margin-bottom: $footer-height;
  }

  &.full-page-no-header {
    margin-bottom: $footer-height;
  }

  &.full-page-no-header-no-footer {
    margin-bottom: 0;
  }
}

::selection {
  background-color: rgba($p200-orange, .99);
  color: $body-color;
  text-shadow: none;
}

:focus {
  outline-color: $p200-orange !important;
}

.noscroll {
  overflow: hidden;
}

.shade {
  background-color: $black;
  display: none;
  height: 100%;
  left: 0%;
  opacity: .8;
  position: absolute;
  top: 0%;
  width: 100%;
  z-index: $zindex-modal-backdrop;
}
