.btn {
  transition: all .25s ease-out;
}

.btn-shadow {
  box-shadow: 0 0 15px $standard-shadow-color;

  &:hover,
  &:focus,
  &:active,
  &.active,
  &.disabled,
  &[disabled] {
    box-shadow: 0 0 8px $standard-shadow-hover-color;
  }
}

.btn-accent {
  background-color: $a200-orange;
  border: 1px solid $a400-orange;
  color: $a200-orange-text;

  &:hover,
  &:focus,
  &:active,
  &.active,
  &.disabled,
  &[disabled] {
    background-color: $a400-orange;
    border: 1px solid $a700-orange;
    color: $a200-orange-text;
  }
}

// TODO: Fix btn menu
// .btn-menu {
//   background-color: $navbar-default-bg;
//   border: 1px solid darken($navbar-default-bg, 6.5%);
//   color: $brand-white;

//   &:hover,
//   &:focus,
//   &:active,
//   &.active,
//   &.disabled,
//   &[disabled] {
//     background-color: darken($navbar-default-bg, 6.5%);
//     border: 1px solid darken($navbar-default-bg, 6.5%);
//     color: $brand-white;
//   }
// }
