.btn {
  transition: all .25s ease-out;
}

.btn-shadow {
  box-shadow: 0 5px 15px $standard-shadow-color;

  &:hover,
  &:focus,
  &:active,
  &.active,
  &.disabled,
  &[disabled] {
    box-shadow: 0 5px 8px $standard-shadow-hover-color;
  }
}

.btn-primary-dark {
  background-color: $navbar-default-bg;
  border: 1px solid darken($navbar-default-bg, 6.5%);
  color: $brand-white;

  &:hover,
  &:focus,
  &:active,
  &.active,
  &.disabled,
  &[disabled] {
    background-color: darken($navbar-default-bg, 6.5%);
    border: 1px solid darken($navbar-default-bg, 6.5%);
    color: $brand-white;
  }
}

// TODO: Remove Older styles

.btn-primary-custom {
  padding: 10px;
  border-radius: 3px;
  background-color: $primary-blue;
  border: 1px solid transparent;
  color: white;
  font-weight: 400;
}

.btn-primary-custom:hover {
  color: #eee;
}

.btn-default-custom {
  padding: 10px;
  border-radius: 3px;
  background-color: $white;
  border: 1px solid #ccc;
  color: #333;
  font-weight: 400;
}

.btn-default-custom:hover {
  color: #555;
}

.btn-default-custom-2 {
  background-color: $btn-default-bg;
  border: 1px solid $btn-default-border;
  color: $link-color;

  &:hover,
  &:focus,
  &:active,
  &.active,
  &.disabled,
  &[disabled] {
    background-color: darken($btn-default-bg, 10%);
    border-color: darken($btn-default-border, 12%);
    color: $link-hover-color;
  }
}

.btn-warning-custom {
  padding: 10px;
  border-radius: 3px;
  background-color: $primary-orange;
  border: 1px solid #e69400;
  color: $white;
  font-weight: 400;
}

.btn-warning-custom:hover {
  color: #eee;
}

.btn-w-border {
  border-width: 2px;
}

.btn-join {
  background-color: $primary-orange;
  border: 1px solid $white;
  border-radius: 100px;
  color: $white;
  font-size: 40px;
  font-weight: 500;
  margin: auto;
  margin-top: 30px;
  padding: 10px;
  width: 100%;
}

.btn-clear {
  color: $dark-gray;

  &:hover {
    color: $darker-gray
  }

  &:active {
    box-shadow: none;
  }
}
