.code-command-blank {
  background-color: $p100-grey;
  border: 1px solid $p200-grey;
  border-radius: 5px;
  font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
  font-size: 16px;
  line-height: 2;
  padding: 3px 5px;
  white-space: normal;
}

@media screen and (min-width: 768px) {
  .code-command-blank {
    font-size: 21px;
  }
}
