.dashboard-container-margins,
.dashboard-container {
  @include scale-images;

  border-radius: $border-radius;
  margin-bottom: map-get($spacers, 4);
  padding: 10px;

  > div,
  > table {
    &:last-child {
      margin-bottom: 0;
    }
  }

  &.dashboard-disclaimer {
    background-color: $p100-orange;
    font-size: 12px;
  }

  &.dashboard-no-padding {
    padding-left: 0;
    padding-right: 0;
  }

  @include media-breakpoint-up(sm) {
    padding: 30px;
  }
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .dashboard-container-margins,
    .dashboard-container {
      background-color: map-get($theme, dashboard-bg);
      box-shadow: 0 1px 5px map-get($theme, box-shadow-color);
      color: theme-color($theme, body-color, $p900-grey);
    }
  }
}

.dashboard-container {
  @include remove-last-child-bottom-margin;
}

.dashboard-table {
  padding: map-get($spacers, 1) 0;
}

.dashboard-container-border-accent {
  border-left: 4px solid $p200-orange;
}
