$drawer-width: 240px;

.drawer-and-shelf-container {
  display: flex;

  &.drawer-open {
    .drawer {
      flex: 1 0 auto;
      transform: translateX(0);
      height: auto;
    }

    .shelf {
      flex: 0 1 0px;
      overflow: hidden;
      height: 0;
      transform: translateX($drawer-width);
    }
  }
}

.drawer {
  flex: 0 1 0px;
  overflow: hidden;
  white-space: nowrap;
  height: 0;
  transition: all 2s;
  transform: translateX(-$drawer-width);
  transform-style: preserve-3d;
  transition-duration: .2s;
  transition-property: transform;
  transition-timing-function: ease-in-out;
}

.shelf {
  flex: 1 1 auto;
  height: auto;

  transform: translateX(0);
  transform-style: preserve-3d;
  transition-duration: .2s;
  transition-property: transform;
  transition-timing-function: ease-in-out;
}

@include media-breakpoint-up(md) {
  .drawer-and-shelf-container {
    &.drawer-open {
      .drawer {
        flex: 0 0 $drawer-width;
        transform: translateX(0);
      }

      .shelf {
        flex: 1 1 auto;
        overflow: visible;
        height: auto;
        transform: translateX(0);
      }
    }
  }

  .drawer {
    flex: 0 0 $drawer-width;
    transform: translateX(0);
    height: auto;
  }
}
