.footer-container {
  background-color: $brand-black;
  bottom: 0;
  color: $brand-white;
  height: $footer-height;
  position: absolute;
  width: 100%;

  .footer {
    height: $footer-height;
    padding: 40px 0;
  }

  a {
    color: $p300-blue; // Perhaps change back to $p300-orange;
    transition: color .4s ease-out;
  }

  a:hover {
    color: $p200-blue; // Perhaps change back to $p200-orange;
  }
}
