.page-heading {
  position: relative;
  text-shadow: 0 2px 3px $standard-shadow-color;
  word-break: break-word;

  // .page-heading-small-caps
  font-weight: 300;
  letter-spacing: .25rem;
  text-shadow: none;
  font-variant: small-caps;
  // end special small caps styling

  .btn,
  .dropdown-menu {
    text-shadow: none;
  }

  code {
    text-shadow: none;
  }
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .page-heading {
      > a:not([class]) {
        color: map-get($theme, p200);

        &:hover {
          color: darken(map-get($theme, p200), 10%);
        }
      }
    }
  }
}

.header-container {
  color: $brand-white;
  padding: 20px 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  h1 {
    font-size: 30px;
  }

  .dropdown,
  .float-right {
    font-variant: normal;
    letter-spacing: normal;
  }
}

@include media-breakpoint-up(sm) {
  .header-container {
    h1 {
      font-size: 38px;
    }
  }
}

@include media-breakpoint-up(md) {
  .header-container {
    h1 {
      font-size: 41px;
    }
  }
}

@each $name, $theme in $themes {
  $header-bg: map-get($theme, p800);
  @if map-get($theme, header-bg) {
    $header-bg: map-get($theme, header-bg);
  }

  .theme-#{$name}-bg {
    .header-container {
      background-color: $header-bg;
      @if map-get($theme, header-border) {
        border-bottom: 2px solid map-get($theme, header-border);
      }
      color: map-get($theme, brand-white);

      &.header-container-no-border {
        border: 0;
      }
    }
  }
}

.header-link {
  display: inline-block;
  font-size: 65%;
  font-weight: normal;
  line-height: 1;
  white-space: nowrap;

  a {
    color: $p100-blue;

    &:hover {
      color: $p50-blue;
    }
  }
}

.header-container-hide {
  h1 {
    visibility: hidden;
  }
}

.top-menu {
  position: sticky;
  top: 0;
  z-index: $zindex-fixed;

  .navbar-show-scrolled {
    display: none;
  }

  &.navbar-scrolled {
    @include media-breakpoint-down(md) {
      .display-small-scrolled {
        display: block;
      }
    }

    @include media-breakpoint-up(lg) {
      .menu-body {
        flex: initial;
        white-space: nowrap;
      }

      .display-small-scrolled {
        display: none;
      }
    }

    .display-lg-scrolled {
      display: none;
    }

    .navbar-hide-scrolled {
      display: none;
    }

    .navbar-show-scrolled {
      display: block;
      flex: 1 1 70%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.brand-title {
  font-size: 24px;
  margin-bottom: 15px;
  border-bottom: 2px solid $p200-orange;
  font-weight: bold;
}

.brand-subtitle {
  font-size: 20px;
  margin-bottom: 10px;
}

.brand-content {
  margin-bottom: 20px;
}

@include media-breakpoint-up(sm) {
  .brand-title {
    font-size: 28px;
  }

  .brand-subtitle {
    font-size: 22px;
  }
}
