.page-heading {
  font-variant: small-caps;
  font-weight: 300;
  letter-spacing: .25rem;
  position: relative;
  text-shadow: none;
  word-break: break-word;

  .btn,
  .dropdown-menu {
    text-shadow: none;
  }

  code {
    text-shadow: none;
  }
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .page-heading {
      text-shadow: 0 2px 3px map-get($theme, shadow-color);

      > a:not([class]) {
        color: map-get($theme, p200);

        &:hover {
          color: darken(map-get($theme, p200), 10%);
        }
      }
    }
  }
}

.header-container {
  padding: 20px 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  h1 {
    font-size: 30px;
  }

  .dropdown,
  .float-right {
    font-variant: normal;
    letter-spacing: normal;
  }
}

@include media-breakpoint-up(sm) {
  .header-container {
    h1 {
      font-size: 38px;
    }
  }
}

@include media-breakpoint-up(md) {
  .header-container {
    h1 {
      font-size: 41px;
    }
  }
}

@each $name, $theme in $themes {
  $header-bg: map-get($theme, p800);
  @if map-get($theme, header-bg) {
    $header-bg: map-get($theme, header-bg);
  }

  .theme-#{$name}-bg {
    .header-container {
      background-color: $header-bg;
      @if map-get($theme, header-border) {
        border-bottom: 2px solid map-get($theme, header-border);
      }
      color: map-get($theme, brand-white);

      &.header-container-no-border {
        border: 0;
      }
    }
  }
}

.header-container-hide {
  h1 {
    visibility: hidden;
  }
}

.top-menu {
  position: sticky;
  top: 0;
  z-index: $zindex-fixed;

  .navbar-show-scrolled {
    display: none;
  }

  &.navbar-scrolled {
    @include media-breakpoint-down(md) {
      .display-small-scrolled {
        display: block;
      }
    }

    @include media-breakpoint-up(lg) {
      .menu-body {
        flex: initial;
        white-space: nowrap;
      }

      .display-small-scrolled {
        display: none;
      }
    }

    .display-lg-scrolled {
      display: none;
    }

    .navbar-hide-scrolled {
      display: none;
    }

    .navbar-show-scrolled {
      display: block;
      flex: 1 1 70%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.brand-title {
  border-bottom: 2px solid transparent;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: map-get($spacers, 4);
}

.brand-subtitle {
  border-bottom: 1px solid transparent;
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: map-get($spacers, 5);
  margin-bottom: map-get($spacers, 3);
}

.brand-subsubtitle {
  font-size: 1.15rem;
  font-weight: 500;
  margin-bottom: map-get($spacers, 2);
}

@include media-breakpoint-up(sm) {
  .brand-title {
    font-size: 1.75rem;
  }

  .brand-subtitle {
    font-size: 1.375rem;
  }

  .brand-subsubtitle {
    font-size: 1.25rem;
  }
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .brand-title,
    .brand-subtitle {
      border-color: map-get($theme, accent);
    }
  }
}

.white-header-container {
  padding-bottom: $spacer;
  padding-top: $spacer;
}

.white-title,
.white-title-uppercase {
  border-bottom: 1px solid #2156A2;
  color: #2156A2;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.white-title-uppercase {
  text-transform: uppercase;
}
