.highlight-container {
  position: relative;
  background-color: white;
  padding: 10px;
  border-radius: 3px;
  box-shadow: $box-shadow;
  margin-bottom: 20px;
  .highlight-container-right-after {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0px 20px 0px 0px;
    padding: 5px;
  }
  a {
    text-decoration: none !important;
  }
  a:hover {
    text-decoration: none !important;
  }
}
