.highlight-container {
  background-color: $white;
  box-shadow: $box-shadow;
  margin-bottom: 20px;
  padding: 10px;
  position: relative;

  .highlight-container-right-after {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0px 20px 0px 0px;
    padding: 5px;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}
