#video-slide {
  display: none;
}

.video-box {
  position: relative;
  height: 770px;
  height: 56.25vw;
  // padding-bottom: 56.25%;
  background-color: white;
  max-height: 100vh;
}

.show-me-video {
  display: none;
}

.frozen-container {
  bottom: 0;
  left: 0;
  // pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
}

.page-box-down-arrow {
  bottom: 50px;
  font-size: 40px;
  left: 50%;
  margin-left: -25px;
  overflow: hidden;
  position: absolute;
  width: 50px;
  cursor: pointer;
  transition: all .3s ease-in-out;
  text-align: center;

  &:hover {
    transform: scale(1.5, 1.5);
  }

  a {
    color: #ccc;
    color: rgba(0, 0, 0, .25);
    transition: color .3s ease-in-out;

    &:hover {
      color: $p500-blue;
    }

    &.orange:hover {
      color: $p500-orange;
    }
  }
}

.myapnea-heading {
  color: $brand-white;
  font-size: 40px;
  margin-bottom: 5px;
  position: relative;
  text-align: center;
  text-shadow: 0 2px 3px $standard-shadow-color;
}

.myapnea-section-heading {
  color: $brand-white;
  font-size: 22px;
  // font-weight: bold;
  margin-bottom: 11px;
  text-shadow: 0 2px 3px $standard-shadow-color;
}

.myapnea-lead-sentence {
  color: $brand-white;
  font-size: 40px;
  font-weight: 200;
  text-align: center;
  margin-bottom: 20px;
}

@include media-breakpoint-up(sm) {
  .myapnea-heading {
    font-size: 60px;
    margin-bottom: 20px;
  }

  .myapnea-section-heading {
    font-size: 28px;
  }

  .myapnea-lead-sentence {
    font-size: 56px;
    margin-bottom: 40px;
  }
}

.landing-box-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.landing-box {
  flex: 1 1 300px;
  margin: 5px;
  position: relative;
  padding-bottom: 42px;

  a {
    word-break: break-word;
  }

  .landing-box-header {
    font-weight: bold;
    margin: 0 0 11px;
  }

  .landing-box-body {
    margin: 0 0 11px;
    padding-bottom: 11px;
  }

  .landing-box-footer {
    background-color: $p200-orange;
    bottom: 0;
    padding: 10px;
    position: absolute;
    left: 0;
    right: 0;
  }
}

@include media-breakpoint-up(sm) {
  .landing-box {
    .landing-box-footer {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

.landing-box-footer-content {
  color: $brand-white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  a {
    color: $brand-white;

    &:hover,
    &:focus,
    &:active {
      color: $link-hover-color;
    }
  }
}

.landing-box-footer-author-name {
  font-style: italic;
  display: inline;
}



.vertical-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vertical-flex {
  flex: 1;
}


.horizontal-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.horizontal-flex {
  flex: 1 1 350px;
  cursor: pointer;
  margin: 5px;
  position: relative;
}

.landing-sentence {
  font-weight: 300;
  line-height: 1.2;
  font-size: 2rem;

  @include media-breakpoint-up(sm) {
  }

  @include media-breakpoint-up(md) {
    font-size: 2.5rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 3.5rem;
  }
}

.landing-sentence-small {
  background-color: darken($p900-blue, 6.5%);
  font-weight: 300;
  line-height: 1.2;
  font-size: 1rem;

  @include media-breakpoint-up(sm) {
  }

  @include media-breakpoint-up(md) {
    font-size: 1.5rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 2.5rem;
  }
}

.scroll-down-arrow,
.scroll-down-arrow-visible {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 1rem;
  line-height: 1rem;
  font-size: 2rem;
  text-align: center;

  transition: opacity 250ms ease-in;
}

.scroll-down-arrow-top {
  top: 1rem;
  bottom: initial;
}

.scroll-down-arrow-visible {
  opacity: 1;

  &.scroll-down-arrow-invisible {
    opacity: 0;
  }
}

.landing-about-slide-title {
  font-weight: 300;
  line-height: 1.2;
  font-size: 2rem;
  border-bottom: 2px solid $p500-orange;
  padding: $spacer;

  @include media-breakpoint-up(sm) {
    font-size: 2.5rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 3rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 4rem;
  }
}

.orange-strike {
  position: relative;
  text-align: center;
  margin-bottom: $spacer;

  &::before {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid $p300-orange;
    content: " ";
    height: 1px;
  }

  .landing-about-slide-title-2 {
    display: inline-block;
  }
}

.orange-title-container {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;

  @include media-breakpoint-up(sm) {
    font-size: 2.5rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 3rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 4rem;
  }

  .orange-bar {
    width: 0;
    border-bottom: 2px solid $p300-orange;
    height: calc(2rem - 2px);

    @include media-breakpoint-up(sm) {
      height: calc(2.5rem - 2px);
    }

    @include media-breakpoint-up(md) {
      height: calc(3rem - 2px);
    }

    @include media-breakpoint-up(lg) {
      height: calc(4rem - 2px);
    }
  }

  .orange-title {
    padding: $spacer;
    text-align: center;
  }

  &.orange-title-strong {
    font-size: 1.25rem;
    line-height: initial;

    .orange-bar {
      border-bottom: 1px solid $p300-orange;
      height: calc(1.875rem - 1px);
    }
  }
}

.landing-about-slide-tagline {
  font-weight: 200;
  // line-height: 1.2;
  font-size: 1.25rem;
  color: $brand-white;
  text-shadow: 0 2px 3px $standard-shadow-color;

  @include media-breakpoint-up(sm) {
    font-size: 1.5rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 1.75rem;
  }
}

.landing-about-slide-title-2 {
  font-weight: 300;
  line-height: 1.2;
  font-size: 2rem;
  padding: $spacer;
  background-color: $brand-white;
  position: relative;

  @include media-breakpoint-up(sm) {
    font-size: 2.5rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 3rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 4rem;
  }
}

.landing-about-slide-feature-icon {
  font-size: 6rem;

  @include media-breakpoint-up(md) {
    margin-top: map-get($spacers, 4);
    margin-bottom: map-get($spacers, 4);
  }
}

.landing-about-slide-feature {
  display: block;
  margin-top: map-get($spacers, 2);
  margin-bottom: map-get($spacers, 5);

  @include media-breakpoint-up(md) {
    padding: map-get($spacers, 5);
    margin-top: map-get($spacers, 4);
    margin-bottom: map-get($spacers, 4);
  }
}

.landing-topic {
  background-color: $brand-white;
}

.landing-topic:nth-of-type(odd) {
  // background-color: $p50-blue;
  background-color: rgba(0, 0, 0, 0.025);
}
