.myapnea-heading {
  font-size: 40px;
  margin-bottom: 5px;
  position: relative;
  text-align: center;
}

.myapnea-section-heading {
  font-size: 22px;
  // font-weight: bold;
  margin-bottom: 11px;
}

.myapnea-lead-sentence {
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 20px;
  text-align: center;
}

@include media-breakpoint-up(sm) {
  .myapnea-heading {
    font-size: 60px;
    margin-bottom: 20px;
  }

  .myapnea-section-heading {
    font-size: 28px;
  }

  .myapnea-lead-sentence {
    font-size: 56px;
    margin-bottom: 40px;
  }
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .myapnea-heading {
      color: map-get($theme, brand-white);
      text-shadow: 0 2px 3px map-get($theme, shadow-color);
    }

    .myapnea-section-heading {
      color: map-get($theme, brand-white);
      text-shadow: 0 2px 3px map-get($theme, shadow-color);
    }

    .myapnea-lead-sentence {
      color: map-get($theme, brand-white);
    }
  }
}

.landing-sentence {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;

  @include media-breakpoint-up(sm) {
  }

  @include media-breakpoint-up(md) {
    font-size: 2.5rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 3.5rem;
  }
}

.landing-sentence-small {
  background-color: darken($p900-blue, 6.5%);
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.2;

  @include media-breakpoint-up(sm) {
  }

  @include media-breakpoint-up(md) {
    font-size: 1.5rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 2.5rem;
  }
}

.scroll-down-arrow,
.scroll-down-arrow-visible {
  bottom: 0;
  font-size: 2rem;
  left: 0;
  line-height: 1rem;
  padding-bottom: 1rem;
  position: absolute;
  right: 0;
  text-align: center;
  transition: opacity 250ms ease-in;
}

.scroll-down-arrow-top {
  bottom: initial;
  top: 1rem;
}

.scroll-down-arrow-visible {
  opacity: 1;

  &.scroll-down-arrow-invisible {
    opacity: 0;
  }
}

.orange-title-container {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;

  @include media-breakpoint-up(sm) {
    font-size: 2.5rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 3rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 4rem;
  }

  .orange-bar {
    border-bottom: 2px solid $p300-orange;
    height: calc(2rem - 2px);
    width: 0;

    @include media-breakpoint-up(sm) {
      height: calc(2.5rem - 2px);
    }

    @include media-breakpoint-up(md) {
      height: calc(3rem - 2px);
    }

    @include media-breakpoint-up(lg) {
      height: calc(4rem - 2px);
    }
  }

  .orange-title {
    padding: $spacer;
    text-align: center;
  }

  &.orange-title-strong {
    font-size: 1.25rem;
    line-height: initial;

    .orange-bar {
      border-bottom: 1px solid $p300-orange;
      height: calc(1.875rem - 1px);
    }
  }
}

.landing-about-slide-tagline {
  font-size: 1.25rem;
  font-weight: 200;

  @include media-breakpoint-up(sm) {
    font-size: 1.5rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 1.75rem;
  }
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .landing-about-slide-tagline {
      color: map-get($theme, brand-white);
      text-shadow: 0 2px 3px map-get($theme, shadow-color);
    }
  }
}

.landing-about-slide-feature-icon {
  font-size: 6rem;

  @include media-breakpoint-up(md) {
    margin-bottom: map-get($spacers, 4);
    margin-top: map-get($spacers, 4);
  }
}

.landing-about-slide-feature {
  display: block;
  margin-bottom: map-get($spacers, 5);
  margin-top: map-get($spacers, 2);

  @include media-breakpoint-up(md) {
    margin-bottom: map-get($spacers, 4);
    margin-top: map-get($spacers, 4);
    padding: map-get($spacers, 5);
  }
}

.bg-landing-video {
  background-image: asset-url("backgrounds/questions.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .bg-landing-video {
      background-color: map-get($theme, brand-white);
    }
  }
}
