// Links

.link-accent {
  color: $p500-orange;

  &:hover,
  &:focus,
  &:active {
    color: darken($p500-orange, 15%);
    text-decoration: none;
  }
}

.link-blend {
  color: $body-color;

  &:hover,
  &:focus,
  &:active {
    // color: $body-color;
    // text-decoration: none;
  }
}

.link-blend-semi-muted {
  color: $p800-grey;
}

.link-blend-muted {
  color: $text-muted;

  &:hover,
  &:focus,
  &:active {
    // color: $text-muted;
    // text-decoration: none;
  }
}

.link-muted {
  color: $text-muted;

  &:hover,
  &:focus,
  &:active {
    color: $text-muted;
    text-decoration: none;
  }
}

.link-unstyled {
  color: $body-color;

  &:hover,
  &:focus,
  &:active {
    color: $body-color;
    text-decoration: none;
  }
}

.link-white {
  color: $brand-white;

  &:hover,
  &:focus,
  &:active {
    color: $brand-white;
  }
}

// TODO: Cleanup/refactor following

a.no-underline,
a.no-underline:hover {
  text-decoration: none;
}


// TODO: Remove anchor
a.anchor {
  display: block;
  height: 0;
  position: relative;
  top: -($header-height);
  width: 0;
  visibility:hidden;
}
