.page-box {
  padding: 20px 0;
  position: relative;
  min-height: 960px;
}

@media screen and (min-width: $screen-md-min) {
  .page-box {
    padding: 30px 0;
  }
}

@media screen and (min-width: $screen-lg-min) {
  .page-box {
    padding: 40px 0;
  }
}

.full-page {
  .page-box {
    min-height: calc(100vh - #{$header-height});
  }

  .page-box {
    &.last-slide {
      min-height: calc(100vh - #{$header-height} - #{$footer-height});
    }
  }
}

.full-page-no-header {
  .page-box {
    min-height: 100vh;
  }

  .page-box {
    &.last-slide {
      min-height: calc(100vh - #{$footer-height});
    }
  }
}

.page-box-no-padding {
  padding: 0;
}
