.section-container + .section-container {
  margin-top: 20px;
}

@include media-breakpoint-up(md) {
  .section-container + .section-container {
    margin-top: 60px;
  }
}

@include media-breakpoint-up(lg) {
  .section-container + .section-container {
    margin-top: 80px;
  }
}

.section-title {
  color: $p200-orange;
  font-size: 20px;

  + .section-body {
    margin-top: 10px;
  }
}

@include media-breakpoint-up(sm) {
  .section-title {
    font-size: 24px;
  }
}


@include media-breakpoint-up(md) {
  .section-title {
    font-size: 28px;
  }
}
