.share-icons-lg {
  box-shadow: 0px 3px 5px #888;
  border-radius: 100%;
}

.share-icons-md {
  width:20%;
  max-height:50px;
  max-width: 50px;
  border-radius:100%;
  margin-left: 2%;
  margin-right: 2%;
}

.share-icons-sm {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: auto 5px;
}

.share-icons-animate {
  position:relative;
}

a.open-tab {
  color: $darker-blue;
}

a.open-tab:hover {
  color: $darkest-blue;
  cursor: pointer;
}

a#provider-link {
  text-decoration: none;
  text-align:center;
  display: block;
  .btn {
    background-color: $primary-orange;
    border-radius:20px;
    color:white;
  }
}

a#provider-link .btn:hover {
  background-color: #EC9F15;
}

a.home-news-link:hover {
  text-decoration:none;
  h4 {
    text-decoration:none;
    color: $lightest-orange;
  }
}

a.u-voice:hover {
  cursor: pointer;
}

@media (max-width: $screen-md) {
  .share-icons-md {
    position:relative;
    top:10px;
  }
  .footer .share-icons-md {
    top: 0px;
  }
}
