// This is for %ul elements
.sidebar-menu {
  list-style: none;
  margin-bottom: 0;
  padding: 10px 0;

  li {
    display: block;
    position: relative;

    a {
      border-left: 2px solid transparent;
      display: block;
      overflow: hidden;
      padding: 7px 15px;
      position: relative;
      text-overflow: ellipsis;
    }

    .active,
    a:hover,
    a:focus {
      text-decoration: none;
    }

    &.sidebar-menu-header {
      font-size: 85%;
      font-variant: small-caps;
      font-weight: normal;
      letter-spacing: 1px;
      margin-bottom: 5px;
      padding-left: 15px;
      padding-right: 15px;

      a {
        border: 0;
        padding: 0;
      }
    }

    // Add a margin to the top of a menu header if it has other menu items
    // preceding it.
    + .sidebar-menu-header {
      margin-top: 20px;
    }
  }

  &.sidebar-menu-shadow {
    border-radius: 3px;
  }
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .sidebar-menu {
      .badge-sidebar {
        background-color: map-get($theme, p400);
        color: map-get($theme, brand-white);
      }

      .active,
      a:hover,
      a:focus {
        background-color: map-get($theme, p400);
        border-color: map-get($theme, header-border); // $p200-orange
        color: map-get($theme, brand-white);

        > .badge-sidebar {
          background-color: map-get($theme, brand-white);
          color: map-get($theme, p400);
        }
      }

      .sidebar-menu-header {
        a {
          background-color: initial;
          color: map-get($theme, body-color);
        }
      }

      &.sidebar-menu-shadow {
        background-color: map-get($theme, brand-white);
        box-shadow: 0 1px 5px map-get($theme, box-shadow-color);
      }
    }
  }
}
