// This is for %ul elements
.sidebar-menu {
  list-style: none;
  margin-bottom: 0;
  padding: 10px 0;

  li {
    display: block;
    position: relative;

    a {
      border-left: 2px solid transparent;
      display: block;
      overflow: hidden;
      padding: 7px 15px;
      position: relative;
      text-overflow: ellipsis;
    }

    .active,
    a:hover,
    a:focus {
      background-color: $p400-blue;
      border-color: $p200-orange;
      color: $brand-white;
      text-decoration: none;
    }

    &.sidebar-menu-header {
      font-size: 85%;
      font-weight: normal;
      letter-spacing: 1px;
      margin-bottom: 5px;
      padding-left: 15px;
      padding-right: 15px;
      font-variant: small-caps;
    }

    // Add a margin to the top of a menu header if it has other menu items
    // preceding it.
    + .sidebar-menu-header {
      margin-top: 20px;
    }
  }

  &.sidebar-menu-shadow {
    background-color: $brand-white;
    border-radius: 3px;
    box-shadow: 0 1px 5px $box-shadow-color;
  }
}
