.table-fixed {
  table-layout: fixed;
}

.table {
  &.table-borderless {
    td,
    th {
      border-width: 0;
    }

    > tbody + tbody {
      border-width: 0;
    }
  }
}

.table-sticky {
  position: relative;
  z-index: 1;

  th {
    background-color: $p50-grey;
    position: sticky;
    top: $header-height - 1px;
    z-index: $zindex-sticky;
  }
}

.tr-align-middle {
  td,
  th {
    vertical-align: middle;
  }
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, .025);
}
