.header-tab {
  + .header-tab {
    margin-left: map-get($spacers, 1);
  }
}

.header-tab-active {
  font-weight: bold;
}

@each $name, $theme in $themes {
  @if map-get($theme, accent) {
    .theme-#{$name}-bg {
      @if map-get($theme, header-border) {
        .header-tabs {
          border-bottom: 2px solid map-get($theme, header-border);
        }
      }

      .header-tab {
        background-color: map-get($theme, p400);
        color: map-get($theme, brand-white);

        @if map-get($theme, header-border) {
          border-bottom: 2px solid map-get($theme, header-border);
          margin-bottom: -2px;
        }

        &:hover {
          background-color: $p300-grey;
          color: map-get($theme, brand-black);
        }
      }

      .header-tab-active,
      .header-tab-active:hover {
        background-color: $p100-grey;
        @if map-get($theme, header-border) {
          border-bottom: 2px solid $p100-grey !important;
          border-left: 2px solid map-get($theme, header-border) !important;
          border-right: 2px solid map-get($theme, header-border) !important;
          border-top: 2px solid map-get($theme, header-border) !important;
        }
        color: map-get($theme, brand-black);
      }

      .header-tabs-no-breadcrumbs {
        .header-tab-active,
        .header-tab-active:hover {
          background-color: $p50-grey;
          @if map-get($theme, header-border) {
            border-bottom: 2px solid $p50-grey !important;
          }
        }
      }
    }
  }

  $header-bg: map-get($theme, p800);
  @if map-get($theme, header-bg) {
    $header-bg: map-get($theme, header-bg);
  }

  .theme-#{$name}-bg {
    .header-tabs {
      background-color: $header-bg;
      color: map-get($theme, brand-white);
    }
  }
}
