.dashboard-container.dashboard-container-border-accent
  .dashboard-title
    %strong AHI
    Apnea Hypopnea Index

  %p
    A measure of the number of apneas and hypopneas over the course of a night.
    The word "apnea" derives from a Greek word meaning "no breathing." Sleep
    apnea is also diagnosed when the AHI is greater than 15, even in the absence
    of other symptoms.

  %p
    = link_to blog_slug_path("what-is-sleep-apnea") do
      Read more
      %i.fa.fa-caret-right
