- if project = Project.find_by(primary: true)
  .dashboard-container.dashboard-container-border-accent
    .search-result
      .search-result-title
        = link_to "#{project.name} Consent", slice_consent_path(project)
      .search-result-author
        Posted by MyApnea
      .search-result-body
        = strip_tags(simple_markdown(project.consent)).gsub(/\r/, " ").gsub(/\n/, " ").truncate(80, separator: " ")
