.dashboard-container.dashboard-container-border-accent
  .dashboard-title
    %strong CSA
    Central Sleep Apnea

  %p
    Central sleep apnea (CSA) is related to abnormalities in how the brain
    senses and responds to changes in oxygen and carbon dioxide while breathing.

  %p
    = link_to blog_slug_path("central-sleep-apnea") do
      Read more
      = icon("fas", "caret-right")
