.dashboard-container.dashboard-container-border-accent
  .dashboard-title
    Delete my account

  %p
    You may delete your account on your settings page.

  %p
    = link_to settings_account_path(anchor: "delete-account") do
      Account settings
      %i.fa.fa-caret-right
