.dashboard-container.dashboard-container-border-accent
  .dashboard-title
    %strong OSA
    Obstructive Sleep Apnea

  %p
    Obstructive sleep apnea (OSA) is the most common type of sleep apnea.
    Obstructive sleep apnea happens when the throat closes frequently while
    sleeping. The nightly breathing cessations are due to the airway becoming
    "obstructed".

  %p
    = link_to blog_slug_path("obstructive-sleep-apnea") do
      Read more
      %i.fa.fa-caret-right
