.dashboard-container.dashboard-container-border-accent
  .dashboard-title
    Reset my password

  - if current_user
    %p
      Reset your password on your account settings page.

    %p
      = link_to settings_account_path(anchor: "password") do
        Account settings
        %i.fa.fa-caret-right
  - else
    %p
      Request a password reset email on the link below.

    %p
      = link_to new_user_password_path do
        Request password reset
        %i.fa.fa-caret-right
