.dashboard-container.dashboard-container-border-accent
  .dashboard-title
    Privacy Policy

  %p
    We take your privacy seriously.

  %p
    Read the full
    = link_to privacy_policy_path do
      Privacy Policy
      = icon("fas", "caret-right")
