#registration-progress
  = link_to get_started_privacy_path do
    .circle-progress.viewed
      %h3 1
  .track-progress.viewed
  = link_to get_started_consent_path do
    .circle-progress.viewed
      %h3 2
  .track-progress
  = link_to get_started_about_me_path do
    .circle-progress
      %h3 3
= render partial: 'account/consent', locals: {part_of_registration: true}
