=# render 'account/get_started_indicators', progress1: true
.content-container
  .content-header
    %h1.f300.centered Welcome to MyApnea.Org!
  .content-body
    %p.lead
      Your valuable input can help shape the future direction of sleep apnea research, but first we need your permission to participate in the research community. Please read the
      = link_to 'privacy policy', privacy_path
      and informed consent below so that you may begin the research surveys and engage with all aspects of the community! For each survey that you complete, you will be entered into our monthly lottery for a
      %span.f500 $250 Visa Gift card.
    %br
    #consent-container
      = render 'account/consent', part_of_registration: true
    %br
    %br
    .centered
      - cancel_path = get_started_step_three_path
      = link_to "I agree and accept", accepts_consent_path(get_started: true), method: :post, class: 'btn btn-primary btn-lg'
      = link_to "I decline", cancel_path, class: 'btn btn-danger btn-lg'
    %br
    %br
  .content-footer
    %p
      %span.f500 Please note:
      You can sign the informed consent at any time. Forums are available to all users, even those who haven't signed the informed consent.
