.content-container{ class: "white #{current_user.endorsed?(research_topic) ? 'great-bcg' : 'danger-bcg' }" }
  %p.lead.horizontal-inset
    %i.fa.fa-lg{ class: "#{current_user.endorsed?(research_topic) ? 'fa-thumbs-up' : 'fa-thumbs-down' }" }
    &nbsp;
    You
    = current_user.endorsed?(research_topic) ? "agreed" : "disagreed"
    that this is a research priority.
    = link_to 'I changed my mind', change_vote_path(research_topic_id: research_topic.id), method: :patch, class: 'btn btn-default pull-right'
