- @title = ['Blog', @category ? @category.name : nil, @author ? @author.forum_name : nil].compact.join(' | ')

.content-main-header2
  %h1
    Blog

.row
  .col-sm-9
    - @broadcasts.each do |broadcast|
      %div{ style: 'margin-bottom: 80px;' }
        %h2.broadcast-title= link_to broadcast.title, blog_post_path(broadcast.url_hash)
        = render 'blog/extract', broadcast: broadcast
    .centered= paginate @broadcasts, theme: 'bootstrap'
  .col-sm-3.col-buffer
    = render 'blog/menu'
