- @background_color = '#fff'
.content-main-header
  .container
    %h1
      = link_to 'Surveys', builder_surveys_path
      &middot;
      = link_to @survey.name, builder_survey_path(@survey)
      &middot;
      = link_to @survey_user_type.user_type_was, builder_survey_survey_user_type_path(@survey, @survey_user_type)
      &middot;
      Edit

.container= render 'builder/survey_user_types/form'
