// @import "bootstrap-sprockets";

// // Core variables and mixins
// @import "bootstrap/variables";
// @import "bootstrap/mixins";

// // MyApnea Theme
// @import "myapnea/myapnea-variables";
// @import "myapnea/bootstrap-custom";


@import "bootstrap-sprockets";
@import "bootstrap";

@import "clean-variables";
@import "welcome";
@import "team";
@import "panels";
@import "speech-bubbles";
@import "share-icons";
@import "page-content";
@import "responsive";

@import "myapnea/components/callouts";
@import "myapnea/components/posts";
@import "myapnea/components/topics";
@import "radial-progress";


// body, html { height: 100%; }

// Clean theme document
/* DOCUMENT LAYOUT */

body {
  margin:0px;
  padding:0px;
  padding-top:81px;
}

body.day-mode {
  background-color: black;
}

body.night-mode {
    /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
  /* IE 5-7 */
  filter: alpha(opacity=65);
  /* Netscape */
  -moz-opacity: 0.65;
  /* Safari 1.x */
  -khtml-opacity: 0.65;
  opacity:.65;
  background-color: orange;
}

nav {
  padding-top:20px;
  background-color:rgb(36,50,100); // NEW LOGO
  background-color:rgba(36,50,100,.75); // NEW LOGO
  padding-bottom:10px;
  box-shadow: 1px 3px 5px #444;
  z-index:2;
}

#navbar-social {
  float:right;
  width:20%;
  margin-right:-15px;
}

#testnavbar {
  position:relative;
}

#testnavbar > li {
  font-size:18px;
  margin:0 1px;
  border-bottom: 5px solid transparent;
}

/* Reset bootstrap defaults */
  #testnavbar > li > a{
    padding:10px 20px 15px 20px;
    color: white;
    display: block;
    background-color: inherit;
  }
  #testnavbar > li > a:hover {
    background-color: inherit;
  }
  #testnavbar > li.dropdown.open a.dropdown-toggle {
    background-color:inherit;
  }

#testnavbar >li.active {
  border-bottom:5px solid #5999de;
}

#testnavbar > li:hover {
  border-bottom:5px solid rgb(89, 153, 222);
}

#testnavbar .dropdown-menu {
  border-radius: 0 0 5px 5px;
}
#testnavbar .dropdown-menu li {
  margin:2px;
}


// Ensure proper logo size for large screens
.navbar-header {
  // min-width:30%;
}

.navbar-right {
  margin-top:-5px;
}

.container-fluid > .row {
  background-image: asset-url('myapnea/welcome/textures/grey.png');
}


.footer {
  border-top:3px solid orange;
  background-color:white;
  float:left;
  padding-top:10px;
  width:100%;
  margin:0;
  z-index:2;
  clear:both;
}

  .footer ul {
    list-style-type: none;
    margin-left:0px;
  }

  .footer ul li {
    text-indent:5px;
  }

  .footer ul li a {
    color:#ffa400;
  }

  .footer ul li:before {
    content:"-";
    position:relative;
    left:-5px;
  }

#container-right {
  width: 20%;
  box-shadow: -3px 1px 5px #777;
  float:none;
  display:table-cell;
  vertical-align:top;
}

#container-right-fixed:before {
  content:'';
  height:81px;
  width:100%;
  background-color:inherit;
  display:inline-block;
  position: absolute;
  top:-81px;
}

#container-right-fixed {
  position:fixed;
  z-index:100;
  background-color: #5999DE;
  width: inherit;
  box-shadow:0px 3px 3px #ddd;
}

#user-profile-header-text {
  text-align:center;
}

/* USER SIDEBAR */

.form-control {
  font-size:16px;
}

#container-right .form-control {
  margin:10px auto;
}

.user-picture {
  width:100%;
  border-radius: 100%;
  border:2px solid rgb(255,255,255);
  border:2px solid rgba(255,255,255,.8);
  float:right;
}

.user-name {
  font-weight:300;
  padding:0;
}

#container-right .list-group {
  // border-bottom:1px solid rgb(255,255,255);
  // border-bottom:1px solid rgba(255,255,255,.4);
}

#container-right .list-group-item {
  color:rgb(255,255,255);
  color:rgba(255,255,255,.9);
  background-color:transparent;
  border:none;
  border-radius:0px;
  border-top:1px solid rgb(255,255,255);
  border-top:1px solid rgba(255,255,255,.4);
  font-size:16px;
  font-weight:300;
}

#user-profile-container .list-group-item {
  background-color: #387fcf;
  border:none;
  border-radius:20px 0 0 20px;
  font-size:16px;
  font-weight:300;
  margin:10px auto;
}

.list-shrink {
  width:95%;
  float:right;
}

.list-expand {
  width:100%;
  float:right;
}




