// @import "bootstrap-sprockets";

// // Core variables and mixins
// @import "bootstrap/variables";
// @import "bootstrap/mixins";

// // MyApnea Theme
// @import "myapnea/myapnea-variables";
// @import "myapnea/bootstrap-custom";


// @import "welcome";



@import "bootstrap-sprockets";
@import "bootstrap";

@import "clean-variables";
@import "welcome";
@import "team";
@import "panels";
@import "speech-bubbles";




// Clean theme document
/* DOCUMENT LAYOUT */

body {
  margin:0px;
  padding:0px;
  background-color: rgba(15, 18, 27, 1);
  padding-top:81px;
}

nav {
  padding-top:20px;
  background-color:rgba(36,50,100,.75); // NEW LOGO
  padding-bottom:10px;
  box-shadow: 1px 3px 5px #444;
  z-index:2;
}

// Ensure proper logo size for large screens
.navbar-header {
  min-width:30%;
}

.navbar-right {
  margin-top:-5px;
}

.container-fluid > .row {
  background-image: asset-url('myapnea/welcome/textures/grey.png');
}

#container-right {
  padding-top: 30px;
  width: 20%;
  position:fixed;
  right:0;
  box-shadow: 3px 1px 5px #777;
  // z-index: 5000;
  overflow-y:scroll;
}

#recent-news {
  position:relative;
  overflow-y:scroll;
}

#footer {
  border-top:3px solid orange;
  background-color:white;
  float:left;
  padding-top:10px;
  width:80%;
  margin:0;
}

  #footer ul {
    list-style-type: none;
    margin-left:0px;
  }

  #footer ul li {
    text-indent:5px;
  }

  #footer ul li a {
    color:#ffa400;
  }

  #footer ul li:before {
    content:"-";
    position:relative;
    left:-5px;
  }

//Show users that they can scroll -- need to fix
#recent-news-container:after {
  content:' v v v v ';
  font-size:10px;
  text-align:center;
  color:rgba(0,0,0,.4);
  display:inline-block;
  width:100%;
  background-color:rgba(245,245,245,.7);
}

#container-left {
  width:80%;
  float:left;
}


/* USER SIDEBAR */

.user-picture {
  width:100%;
  border-radius: 100%;
  border:2px solid rgba(255,255,255,.8);
  margin-left:15px;
}

.user-name {
  font-weight:300;
}

#container-right .list-group {
  border-bottom:1px solid rgba(255,255,255,.4);
}

#container-right .list-group-item {
  color:rgba(255,255,255,.9);
  background-color:transparent;
  border:none;
  border-radius:0px;
  border-top:1px solid rgba(255,255,255,.4);
  font-size:16px;
  font-weight:300;
}

#container-right .list-group-item:hover {
  position:relative;
  top:-2px;
  border-top:1px solid rgba(255,255,255,.3);
  box-shadow:1px 2px 5px rgba(255,255,255,.4);
  font-weight:400;
}


/* MAIN CONTENT */

.content-main-header {
  box-shadow:0px 1px 5px rgba(0,0,0,.5);
  min-height:150px;
  // Materials
    border-radius:20px;
    margin-top:40px;
    margin-bottom:0px;

}

.content-main-title {
  font-family: 'Lato', sans-serif;
  color: rgba(255,255,255,.85);
  position:absolute;
  bottom:20px;
  left:40px;
}



@media (max-width: 768px) {
  // put side navbar into an off-screen div
  #container-right {
    display:none;
  }

  #container-left {
    width:100%;
  }

  .footer {
    width:100%;
    margin:0px;
  }

  .footer ul {
    margin-top:50px;
  }
  .footer ul li {
    position:relative;
    left:-30px;
    font-size:18px;
  }
}
