.content-main-header2 {
  color: $logo-similar;
  padding: 5px 0;
  margin-bottom: 20px;
  border-bottom: 5px solid $primary-orange;

  h1 {
    font-size: 24px;
    margin-top: 10px;
  }

  p {
    margin-bottom: 0;
  }
}

.jumbotron-action {
  @include remove-last-child-bottom-margin;

  background-color: $primary-blue;
  color: $white;
  text-align: center;
}
