// MAIN CONTENT
.content-main-header {
  background-color: $primary-orange;
  padding: 5px 20px;

  h1 {
    color: rgba(255, 255, 255, .85);
    font-weight: 300;
  }

  p {
    color: rgba(255, 255, 255, .8);
    margin-bottom: 0;
  }
}

@media (max-width: $screen-lg) {
  .content-main-header {
    padding: 5px 20px;
  }
}

@media (max-width: $screen-md) {
  .content-main-header {
    padding: 10px 5px 5px;
  }
}

@media (max-width: $screen-sm) {
  .content-main-header {
    padding: 5px;
  }
}
