.flash-alert,
.flash-notice,
.flash-warning {
  padding: 10px 20px;

  .lead {
    margin: 0;
  }
}

.flash-alert {
  background-color: $danger;
  background-image: none;
  color: $white;
}

.flash-notice {
  background-color: $great; // .great-bcg in colors.scss
  background-image: none;
  color: $white;
}

.flash-warning {
  background-color: $moderate;
  background-image: none;
  color: $darker-gray;
}
