/* FONTS */
@font-face {
  font-family: 'Dosis';
  src: asset-url('myapnea/fonts/Dosis-Regular.otf') format("opentype");
}

@font-face {
  font-family: 'Dosis';
  font-weight: 600;
  src: asset-url('myapnea/fonts/Dosis-Bold.otf') format("opentype");
}

@font-face {
  font-family: 'Cabin Sketch';
  font-weight: 500;
  src: asset-url('myapnea/fonts/CabinSketch-Bold.otf') format("opentype");
}

@font-face {
  font-family: 'Oswald';
  src: asset-url('myapnea/fonts/Oswald-Regular.ttf') format("opentype");
}

@font-face {
  font-family: 'Oswald';
  font-weight: 500;
  src: asset-url('myapnea/fonts/Oswald-Bold.ttf') format("opentype");
}

.cabin-sketch { font-family: 'Cabin Sketch', sans-serif; }
.oswald { font-family: 'Oswald', sans-serif; }

@font-face {
  font-family: 'Agenda Condensed';
  src: asset-url('myapnea/fonts/Agenda-MediumCondensed.otf') format("opentype");
}

.centered-text { text-align:center; }
.right-justified { text-align: right; }
.left-justified { text-align: left; }

.wrapword{
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  white-space: pre-wrap;       /* css-3 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
  word-break: break-word;
  white-space: normal;
}

/* TYPOGRAPHY */

h1{ font-size: 50px; }
h2{ font-size: 36px; }
h3{ font-size: 30px; }
h4{ font-size: 24px; }
h5{ font-size: 18px; }
p { font-size: 14px; }

// Increase line-height by ceiling(30%)
h1.spaced { line-height: 65px; }
h2.spaced { line-height: 48px; }
h3.spaced { line-height: 39px; }
h4.spaced { line-height: 32px; }
h5.spaced { line-height: 24px; }
p.spaced { line-height: 19px; }

.f300 { font-weight:lighter; font-weight:300; }
.f400 { font-weight:400; }
.f500 { font-weight:bold; font-weight:500; }
.f600 { font-weight:bold; font-weight:600; }
.f700 { font-weight:bold; font-weight:700; }


@media (max-width: 1200px) {
  /* MEDIUM SCREENS */
  h1{ font-size: 42px; }
  h2{ font-size: 30px; }
  h3{ font-size: 24px; }
  h4{ font-size: 20px; }
  h5{ font-size: 16px; }
  p { font-size: 14px; }
  h1.spaced { line-height: 55px; }
  h2.spaced { line-height: 39px; }
  h3.spaced { line-height: 32px; }
  h4.spaced { line-height: 27px; }
  h5.spaced { line-height: 21px; }
  p.spaced { line-height: 19px; }

}

@media (max-width: 992px) {
  /* SMALL SCREENS */
  h1{ font-size: 42px; }
  h2{ font-size: 30px; }
  h3{ font-size: 24px; }
  h4{ font-size: 20px; }
  h5{ font-size: 16px; }
  p { font-size: 16px; }
  h1.spaced { line-height: 55px; }
  h2.spaced { line-height: 39px; }
  h3.spaced { line-height: 32px; }
  h4.spaced { line-height: 26px; }
  h5.spaced { line-height: 21px; }
  p.spaced { line-height: 21px; }
  p.long { font-size: 14px; }
  h1,h2,h3,h4,h5,p {
    padding: 0 15px;
  }
}

@media (max-width: 768px) {
  /* XSMALL SCREENS */
  h1{ font-size: 30px; }
  h2{ font-size: 24px; }
  h3{ font-size: 20px; }
  h4{ font-size: 18px; }
  h5{ font-size: 16px; }
  p { font-size: 16px; }
  h1.spaced { line-height: 39px; }
  h2.spaced { line-height: 32px; }
  h3.spaced { line-height: 26px; }
  h4.spaced { line-height: 24px; }
  h5.spaced { line-height: 21px; }
  p.spaced { line-height: 21px; }
  p.long { font-size: 14px; }
  h1,h2,h3,h4,h5,p {
    padding: 0 10px;
  }
  ul, ol {
    padding: 0 0 0 30px;
  }
}
