@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: asset-url('opensans/OpenSans-Light.woff') format('woff'),
       asset-url('opensans/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: asset-url('opensans/OpenSans-Regular.woff') format('woff'),
       asset-url('opensans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: asset-url('opensans/OpenSans-Bold.woff') format('woff'),
       asset-url('opensans/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Dosis';
  src: asset-url('myapnea/fonts/Dosis-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Dosis';
  font-weight: 600;
  src: asset-url('myapnea/fonts/Dosis-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Cabin Sketch';
  font-weight: 500;
  src: asset-url('myapnea/fonts/CabinSketch-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Oswald';
  src: asset-url('myapnea/fonts/Oswald-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Oswald';
  font-weight: 500;
  src: asset-url('myapnea/fonts/Oswald-Bold.ttf') format('opentype');
}

@font-face {
  font-family: 'Agenda Condensed';
  src: asset-url('myapnea/fonts/Agenda-MediumCondensed.otf') format('opentype');
}

.cabin-sketch { font-family: 'Cabin Sketch', sans-serif; }
.oswald { font-family: 'Oswald', sans-serif; }

.centered { text-align: center; }
.right-justified { text-align: right; }
.left-justified { text-align: left; }

.wrapword {
  white-space: normal;
  word-break: break-word;
}

.italic { font-style: italic; }


// TYPOGRAPHY

// Headers

h1 { font-size: 3em; }
h2 { font-size: 2.5em; }
h3 { font-size: 2em; }
h4 { font-size: 1.7em; }
h5 { font-size: 1.5em; }
h6 { font-size: 1.3em; }
p { font-size: 1.3em; }

.spaced { line-height: 1.7em; }

.f300 { font-weight: 300; }
.f400 { font-weight: 400; }
.f500 { font-weight: 500; }
.f600 { font-weight: 600; }
.f700 { font-weight: 700; }

// Lists

ul,
ol {
  font-size: 1.3em;
  line-height: 1.7em;

  ul,
  ol {
    font-size: .9em;
    line-height: 1.5em;

    ul,
    ol {
      font-size: .9em;
      line-height: 1.4em;
    }
  }

  p { font-size: 1em; }
}

// Responsive

// 90% of size
@media (max-width: $screen-lg) {
  h1 { font-size: 2.7em; }
  h2 { font-size: 2.25em; }
  h3 { font-size: 1.8em; }
  h4 { font-size: 1.53em; }
  h5 { font-size: 1.35em; }
  h6 { font-size: 1.17em; }
  p { font-size: 1.17em; }
  ul,
  ol { font-size: 1.17em; }
}

// 80% of size
@media (max-width: $screen-md) {
  h1 { font-size: 2.4em; }
  h2 { font-size: 2em; }
  h3 { font-size: 1.6em; }
  h4 { font-size: 1.36em; }
  h5 { font-size: 1.2em; }
  h6 { font-size: 1.1em; }
  p { font-size: 1.1em; }
  ul,
  ol { font-size: 1.04em; }
}

// 75% of size
@media (max-width: $screen-sm) {
  h1 { font-size: 2.25em; }
  h2 { font-size: 1.875em; }
  h3 { font-size: 1.5em; }
  h4 { font-size: 1.275em; }
  h5 { font-size: 1.125em; }
  h6 { font-size: 1em; }
  p { font-size: 1em; }
  ul,
  ol { font-size: 1em; }
}



// Forms
.form-control { font-size: 16px; }
