.footer {
  background-color: $logo-similar;
  border-top: 3px solid $primary-orange;
  clear: both;
  margin: 0;
  min-height: 222px;
  padding-top: 10px;
  width: 100%;
  z-index: 2;

  ul {
    line-height: 1.428571429;
    list-style-type: none;
    margin: 0;

    p {
      color: rgba(255, 255, 255, .7);
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 10px;
      padding: 0;
    }

    .address {
      color: rgba(255, 255, 255, .9);
      font-weight: 300;
      margin-bottom: 0;
    }

    a {
      color: rgba(255, 255, 255, .9);
      font-size: 14px;
      font-weight: 300;
    }

    a:hover {
      color: $white;
      text-decoration: none;
    }
  }

  .partners-img-footer {
    display: block;
    margin: 3px auto;
    max-height: 50px;
    max-width: 150px;
    width: 100%;
  }

  .share-icons-md {
    height: 30px;
    margin: 5px;
    width: 30px;
  }
}

@media (max-width: $screen-md) {
  .footer {
    ul a {
      font-size: 12px;
    }

    .share-icons-md {
      height: 25px;
      width: 25px;
    }
  }
}
