.topic-highlight-container {
  background-color: $white;
  border: 1px solid $border-color;
  border-radius: 2px;
  margin-bottom: 20px;
  padding: 5px;

  .topic-highlight {
    position: relative;

    .user-image {
      left: 0;
      position: absolute;
      top: 0;
      width: 35px;
      height: 35px;
    }

    .topic-highlight-content {
      margin-left: 40px;
      min-height: 35px;
    }
  }
}

.img-thumbnail {
  padding: 2px;
}
