html, body {
  height: 100%;
}

.reset-layout {
  margin:0;
  padding:0;
}

.no-padding {
  padding:0px !important;
}

.no-margin {
  margin:0px !important;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -222px;
}

.wrapper:after {
  height: 222px;
}

html {
  background: white;
  background-image: asset-url('myapnea/welcome/textures/grey.png');
}

body {
  margin:0px;
  padding:0px;
  padding-top:81px;
}

body.day-mode {
  background-color: transparent;
}

body.night-mode {
    /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
  /* IE 5-7 */
  filter: alpha(opacity=65);
  /* Netscape */
  -moz-opacity: 0.65;
  /* Safari 1.x */
  -khtml-opacity: 0.65;
  opacity:.65;
  background-color: orange;
}

nav {
  padding-top:20px;
  background-color:rgb(36,50,100); // NEW LOGO
  background-color:rgba(36,50,100,.75); // NEW LOGO
  padding-bottom:10px;
  box-shadow: 1px 3px 5px #444;
  z-index:2;
}

.navbar-brand {
  width:70%;
  line-height:100%;
  min-width:160px;
  max-width:260px;
  padding:0;
  padding-left:15px;
  img {
    width: 100%;
    position:relative;
    top:-15px;
  }
}

#navbar-social {
  float:right;
  width:20%;
  margin-right:-15px;
}

#myapneanavbar {
  position:relative;
}

#myapneanavbar > li {
  font-size:18px;
  margin:0 1px;
  border-bottom: 5px solid transparent;
}

/* Reset bootstrap defaults */
  #myapneanavbar > li > a{
    padding:10px 20px 15px 20px;
    color: white;
    display: block;
    background-color: inherit;
  }
  #myapneanavbar > li > a:hover {
    background-color: inherit;
  }
  #myapneanavbar > li.dropdown.open a.dropdown-toggle {
    background-color:inherit;
  }

#myapneanavbar >li.active {
  border-bottom:5px solid #5999de;
}

#myapneanavbar > li:hover {
  border-bottom:5px solid rgb(89, 153, 222);
}

#myapneanavbar .dropdown-menu {
  border-radius: 0 0 5px 5px;
}
#myapneanavbar .dropdown-menu li {
  margin:2px;
}


// Ensure proper logo size for large screens
.navbar-header {
  // min-width:30%;
}

.navbar-right {
  margin-top:-5px;
}

// .container-fluid > .row {
//   background-image: asset-url('myapnea/welcome/textures/grey.png');
// }


.footer {
  height:222px;
  border-top:3px solid orange;
  background-color:#1b244b;
  float:left;
  padding-top:10px;
  width:100%;
  margin:0;
  z-index:2;
  clear:both;
  ul {
    list-style-type: none;
    margin-left:0px;
    p {
      padding: 0px;
      font-weight:400;
      font-size:12px;
      margin-bottom:10px;
      color: white;
      color: rgba(255,255,255,.7);
    }
    p.address {
      font-weight:300;
      margin-bottom:0px;
      color: rgba(255,255,255,.9);
    }
    li {
      a {
        font-size:14px;
        color: white;
        color: rgba(255,255,255,.9);
        font-weight:300;
      }
      a:hover {
        text-decoration: none;
        color:white;
      }
    }
  }
  .partners-img-footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    max-height:50px;
    max-width:150px;
    background-color: rgb(90,100,138);
    border-radius: 10px;
    margin:3px auto;
  }
}




@media (max-width: 992px) {
  .footer {
    ul {
      p {}
      p.address {}
      li {
        a {
          font-size:12px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar-brand img {
    top: -10;
  }
}


