// Document structure
$default-margin-size: 20px;

// Helper classes

// TODO: Remove references to .reset-layout
.reset-layout {
  margin: 0;
  padding: 0;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.with-padding-y {
  padding-bottom: $default-margin-size;
  padding-top: $default-margin-size;
}

.wrapper {
  height: 100%;
  margin: 0 auto -222px;
  min-height: 100%;
}

.wrapper:after {
  height: 222px;
}

.nowrap { white-space: nowrap; }

nav {
  background-color: $logo-similar;

  .nav .open > a,
  .nav .open > a:hover,
  .nav .open > a:focus {
    background-color: $logo-similar;
  }

  .navbar-nav > li {
    background-color: $logo-similar;
    &.active,
    &:focus,
    &:hover {
      color: $white;
    }
    > a {
      color: $white;
      &.active,
      &:focus,
      &:hover {
        background-color: $logo-similar;
      }
    }
  }

  .navbar-brand {
    padding: 2px;

    img {
      height: 100%;
    }
  }
}

.navbar-toggle {
  .icon-bar {
    background-color: $white;
  }
}

@media screen and (min-width: $screen-md-min) {
  nav {
    .navbar-nav > li {
      background-color: $logo-similar;

      &.active,
      &:focus,
      &:hover {
        border-bottom: 5px solid $primary-blue;
        color: $white;
        margin-bottom: -5px;
      }

      > a {
        color: $white;
        height: 46px;
        &.active,
        &:focus,
        &:hover {
          background-color: $logo-similar;
        }
      }
    }
  }
}

.navbar-collapse {
  box-shadow: none;
}

.navbar-form {
  box-shadow: none;
}

.navbar-nav .notifications-link span {
  animation: wiggle 250ms linear 4;
  color: $primary-orange;
}

.navbar-nav .notifications-link:hover span {
  color: $primary-blue;
}
