// Document structure
$default-margin-size: 20px;

// Helper classes

.reset-layout {
  margin: 0;
  padding: 0;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.with-padding-y {
  padding-bottom: $default-margin-size;
  padding-top: $default-margin-size;
}

.wrapper {
  height: 100%;
  margin: 0 auto -222px;
  min-height: 100%;
}

.wrapper:after {
  height: 222px;
}

.nowrap { white-space: nowrap; }

// Navigation
nav {
  background-color: rgba(15, 30, 68, .87);
  padding-bottom: 10px;
  padding-top: 20px;
  z-index: 2;

  .navbar-brand {
    line-height: 100%;
    padding: 0;
    padding-left: 15px;
    width: 260px;

    img {
      position: relative;
      top: -15px;
      width: 100%;
    }
  }

  #main-nav {
    color: $white;
    margin-right: 30px;
    position: relative;
    top: 15px;

    li {
      border-bottom: 5px solid transparent;
      font-size: 18px;
      margin: 0 1px;

      a {
        padding: 10px 20px 15px;
        color: $white;
        display: block;
        background-color: inherit;
      }

      a:hover { background-color: inherit; }

      &.active {
        border-bottom: 5px solid $primary-blue;
      }
    }

    li:hover {
      border-bottom: 5px solid $primary-blue;
    }
  }

  #user-nav {
    color: $white;
    margin-right: 15px;
    position: relative;
    top: 15px;

    li {
      border-bottom: 5px solid transparent;
      font-size: 18px;
      margin: 0 1px;

      a {
        background-color: inherit;
        color: $white;
        display: block;
        padding: 10px 20px 15px;
      }

      a:hover { background-color: inherit; }
    }

    .dropdown-menu {
      border-radius: 0 0 5px 5px;

      li {
        border-bottom: 0;
        margin: 2px;

        a {
          color: $darker-gray;
        }
      }

      li:hover {
        background-color: $lighter-gray;
      }
    }
  }

  #log-in-nav {
    color: $white;
    margin-right: 15px;
    position: relative;
    top: 15px;

    li {
      border: 1px solid $primary-blue;
      border-radius: 10px;
      font-size: 18px;
      margin: 0 1px;

      a {
        background-color: inherit;
        border-radius: 10px;
        color: $white;
        padding: 10px 20px 15px;
      }

      a:hover { background-color: inherit; }
    }

    li.dropdown {
      border: 1px solid $white;
      border-color: rgba(255, 255, 255, .4);

      &.open {
        border-radius: 10px 10px 0 0;

        a.dropdown-toggle {
          border-radius: 10px 10px 0 0;
        }
      }
    }

    .dropdown-menu {
      border-radius: 0 0 5px 5px;
      color: $dark-gray;
      left: inherit;
      right: -1px;

      li {
        margin: 2px;
      }
    }
  }
}


@media (max-width: $screen-lg) {
  .navbar-brand {
    max-width: 240px;
  }
}

@media (max-width: $screen-md) {
  nav {
    .navbar-collapse {
      &.in,
      &.collapsing {
        background-color: #243264;
      }
    }

    #main-nav {
      padding-bottom: 15px;

      li,
      li.active,
      li:hover {
        border-bottom-width: 0;

        a {
          padding: 10px 15px;
        }
      }
    }

    #user-nav {
      .dropdown-menu {
        li {
          a {
            color: $white;
          }
        }
      }
    }
  }
}


@media (max-width: $screen-sm) {
  nav {
    .navbar-brand {
      width: 200px;

      img {
        top: -5px;
      }
    }
  }
}
