/* MAIN CONTENT */

.content-main-header {
  padding: 50px 15px 15px 15px;
  background-color: #ffa400;
    border-radius:20px;
    box-shadow:0px 1px 5px rgb(0,0,0);
    box-shadow:0px 1px 5px rgba(0,0,0,.5);
}

.content-main-header h1 {
  font-family: 'Lato', sans-serif;
  color: rgb(255,255,255);
  color: rgba(255,255,255,.85);
}

.content-body {}
