/* MAIN CONTENT */

.content-main-header {
  padding: 5px 30px;
  background-color: #ffa400;
  border-radius: 16px;
  box-shadow:0px 1px 5px rgba(0,0,0,.5);
  margin-bottom:20px;
}

.content-main-header h1 {
  font-family: 'Lato', sans-serif;
  color: rgb(255,255,255);
  color: rgba(255,255,255,.85);
}

.content-body {}

@media (max-width: 1200px) {
  /* MEDIUM SCREENS */
  .content-main-header {
    padding: 5px 20px;
  }
}

@media (max-width: 992px) {
  /* SMALL SCREENS */
  .content-main-header {
    padding: 10px 5px 5px 5px;
  }
}

@media (max-width: 768px) {
  /* XSMALL SCREENS */
  .content-main-header {
    padding: 5px;
    border-radius:0;
    position:relative;
    height:70px;
    box-shadow:3px 1px 3px rgba(0,0,0,.5);
  }
  .content-main-header:after {
    content:'';
    position:absolute;
    width:40px;
    height:70px;
    background-color: #ffa400;
    right:-40px; top: 0;
    box-shadow:3px 1px 3px rgba(0,0,0,.5);
  }
  .content-main-header:before {
    content:'';
    position:absolute;
    width:40px;
    height:70px;
    background-color: #ffa400;
    left:-40px; top: 0;
    box-shadow:3px 1px 3px rgba(0,0,0,.5);
    z-index: -1;
  }
}
