.panel-rank-research {
  table {
    tr {
      td {
        a i, a i.disabled {
          color: grey;
          color: rgba(0,0,0,.8);
        }
        a i.voted {
          color: rgb(89, 153, 222);
        }
      }
    }
  }
}
