$reaction-color: #bd7a00;

.btn-blank {
  border: 0;
}

.btn-like {
  background-color: transparent;
  color: $dark-gray;

  &.liked {
    color: $reaction-color;
  }

  &.liked:hover {
    color: darken($reaction-color, 8.5%);
  }
}

.btn-like:focus,
.btn-like:active:focus,
.btn-like:active {
  box-shadow: none;
  outline: none;
}

.reaction-summary {
  padding: 10px 10px 0;

  p {
    color: $gray;
    font-size: 14px;
    font-weight: 700;
  }
}
