/* MOBILE NAVIGATION */
#slide-nav .navbar-toggle {
    cursor: pointer;
    position: relative;
    line-height: 0;
    float: left;
    text-align: center;
    margin: 0;
    width: 50px;
    height: 43px;
    padding: 13px;
    border: 1px solid white;
    border-radius: 5px;
    background: transparent;
}

#slide-nav .navbar-toggle .icon-bar {
    width: 100%;
    display: block;
    height: 3px;
    background-color: white;
}

#slide-nav .navbar-toggle.active-sidebar .icon-bar {
  background-color: orange;
}

/* MAIN CONTENT */
#container-main {
  display: table;
  position:relative;
  min-width:100%;
  margin-left:0px;
  margin-right:0px;
  overflow:hidden;
  min-height:80vh;
  #container-major-padding {
    padding: 40px 70px;
  }
  #container-major-padding,
  #container-major {
    display:table-cell;
    vertical-align:top;
    float:none;
  }
  #container-minor {
    width:250px;
    box-shadow: -3px 1px 5px #777;
    background-color: #5999DE;
    float:none;
    display:table-cell;
    vertical-align:top;
  }
}


/* RESPONSIVE DESIGN */
@media all and (min-width: 1600px) {}
@media all and (max-width: 992px) {
  #slide-nav .navbar-toggle {
    display: block !important;
  }
  #container-main {
    #container-major-padding {
      padding: 20px;
    }
    #container-major-padding,
    #container-major {
      width:100%;
      margin:0px;
      margin-left:0;
      float: left;
    }
    #container-minor {
      margin-right:-200%;
      float:left;
      box-shadow: none;
      width:60%;
    }
  }
  #container-main.js.active-sidebar {
    #container-major-padding,
    #container-major {
      margin-left:-60%;
    }
    #container-minor {
      margin-left:0;
      width:60%;
      box-shadow: none;
      min-height: 80vh;
    }
  }

  #user-profile-header-text {
    text-align:center;
  }
}
@media all and (max-width: 768px) {
  // New methods
  #container-major-padding { padding: 20px 5px; }
  #container-major { }
}
