.navbar-right {
  margin-top: -5px;
}

.navbar-header {
  position: relative;
}

.navbar-toggle {
  background: transparent;
  border: 1px solid $white;
  border-radius: 5px;
  cursor: pointer;
  height: 43px;
  line-height: 0;
  padding: 13px;
  position: absolute;
  right: 20px;
  text-align: center;
  top: -10px;
  width: 50px;

  .icon-bar {
    background-color: $white;
    display: block;
    height: 3px;
    width: 100%;
  }

  &.active-sidebar .icon-bar {
    background-color: $primary-orange;
  }
}

