body.slide-active {
  // overflow-x: hidden;
  // overflow-y: hidden;
}

#slide-nav .navbar-toggle {
    cursor: pointer;
    position: relative;
    line-height: 0;
    float: left;
    text-align: center;
    margin: 0;
    width: 50px;
    height: 43px;
    padding: 13px;
    border: 1px solid white;
    border-radius: 5px;
    background: transparent;
}

#slide-nav .navbar-toggle .icon-bar {
    width: 100%;
    display: block;
    height: 3px;
    background-color: white;
}

#slide-nav .navbar-toggle.slide-active .icon-bar {
  background-color: orange;
}

.navbar-header {
    position: relative
}

nav.slide-active {
  padding-top: 25px;
  padding-bottom:15px;
}

.navbar-brand.slide-active {
  position:absolute;
}

#container-left {
    width:80%;
    float:left;
    padding: 70px;
  }

@media (min-width: 1600px) {
  .user-picture {
    float:right;
    margin-right:15px;
  }
}
@media (max-width: 992px) {
  #container-left {
    padding: 40px;
  }
  #user-profile-header-text {
    text-align:center;
  }
  #recent-news-container ul li p {
    margin:0px 2px;
  }

}
@media (max-width: 768px) {
  // #user-profile-header-picture {
  //   text-align:center;
  // }
  #container-left {
    width:100%;
    margin:0px;
    padding: 25px;
  }
  #container-right {
    position:absolute;
    left: 100%;
    float:right;
    margin:0px;
  }
  .content-main-header {
    padding: 25px 15px 15px 15px;
  }
  .footer ul {
    margin-top:50px;
  }
  .footer ul li {
    position:relative;
    left:-30px;
    font-size:18px;
  }
  .footer .col-xs-7 {
    float:right;
  }
}
