#container-right {
  .form-control {
    margin:10px auto;
  }
  .user-picture {
    width:100%;
    border-radius: 100%;
    border:2px solid rgb(255,255,255);
    border:2px solid rgba(255,255,255,.8);
  }
  #right-nav,
  #right-nav-mobile {
    margin-top:10px;
    margin-bottom: 10px;
    margin-left: 10%;
    .list-shrink {
      width:95%;
      float:right;
    }
    .list-expand {
      width:100%;
      float:right;
    }
    .list-group-item {
      color:rgb(255,255,255);
      color:rgba(255,255,255,.9);
      font-size:16px;
      font-weight:300;
      background-color: #387fcf;
      border:none;
      border-radius:20px 0 0 20px;
      font-size:16px;
      font-weight:300;
      margin:5px auto;
      text-decoration:none;
    }
  }
  .user-stats {
    position: relative;
    background-color: #7fb2eb;
    color: white;
    font-weight:300;
    padding:5px;
    line-height:100%;
    p.small {
      margin-bottom:3px;
    }
    h5 {
      margin-top:0px;
      margin-bottom:0px;
    }
    padding-left:20px;
  }
  #user-stats {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}


@media all and (max-width: 992px) {
  #container-right {
    .user-picture {
      float: right;
    }
    .user-stats {
      padding-left: 0px;
    }
  }
}
