.share-icons-lg {
  position:relative;
  box-shadow: 0px 3px 5px #888;
}

.share-icons-animate {
  position:relative;
}

a.open-tab {
  text-decoration:underline;
  color: #387fcf;
}

a.open-tab:hover {
  color: #1765bc;
  cursor: pointer;
}
