.progress-list {
  margin-bottom: 40px;
  .progress-item {
    position: relative;
    padding-top: 5px;
    margin-bottom: 5px;
    background-color: #387fcf;
    margin-left: 15px;
    border-radius: 15px 0 0 15px;
    .progress-indicator {
      position: absolute;
      left: 7.5px;
      top: 20%;
      width: 20px;
      height: 20px;
      font-size: 12px;
      line-height: 18px;
      text-align: center;
      border-radius: 50%;
      background-color: #fff;
      border: 1px solid #ddd;
    }
    .progress-indicator-complete {
      background-color: #78c679;
      border-color: #fff;
      color: #fff;
    }
    .progress-indicator-locked {
      background-color: #ccc;
      border-color: #fff;
      color: #777;
      padding-left: 2px;
    }
    p {
      display: inline-block;
      margin-left: 35px;
      margin-right: 5px;
      font-size: 16px;
      color: rgb(255,255,255);
      color: rgba(255,255,255, .85);
    }
  }
}

a:hover .progress-item {
  p {
    color: rgb(255,255,255);
  }
}
