/* DEBUGGING */
.locate {
  border:1px solid pink;
}

.reset-layout {
  margin:0;
  padding:0;
}

/* DOCUMENT LAYOUT */

nav {
  // background-color:rgba(30,23,71,1);  // OLD LOGO
  background-color:rgba(36,50,100,.75); // NEW LOGO
  // background-color: #5b658b;
  padding-bottom:10px;
  box-shadow: 1px 3px 5px #444;
  z-index:2;
}

.container-fluid > .row {
  background-image: asset-url('myapnea/welcome/textures/grey.png');
}

#container-left {
  padding-top:30px;
  width:20%;
  float:left;
  min-height:1300px;
  position:fixed;
  box-shadow: 3px 1px 5px #777;
  z-index:100000;
}

#container-right {
  width:80%;
  float:right;
  min-height:2000px;
}


/* USER SIDEBAR */

.user-picture {
  width:100%;
  border-radius: 100%;
  border:2px solid rgba(255,255,255,.8);
  margin-left:15px;
}

.user-name {
  font-weight:300;
}

#container-left .list-group {
  border-bottom:1px solid rgba(255,255,255,.4);
}

#container-left .list-group-item {
  color:rgba(255,255,255,.9);
  background-color:transparent;
  border:none;
  border-radius:0px;
  border-top:1px solid rgba(255,255,255,.4);
  font-size:16px;
  font-weight:300;
}

#container-left .list-group-item:hover {
  position:relative;
  top:-2px;
  border-top:1px solid rgba(255,255,255,.3);
  box-shadow:1px 2px 5px rgba(255,255,255,.4);
  font-weight:400;
}


/* MAIN CONTENT */

.content-main-header {
  padding-top:50px;
  margin-bottom:50px;
  box-shadow:4px 1px 5px rgba(0,0,0,.25);
  min-height:150px;
}

.content-main-title {
  font-family: 'Lato', sans-serif;
  color: rgba(255,255,255,.85);
  position:absolute;
  bottom:20px;
  left:40px;
  // font-size:52px;
}


/* CAROUSEL */

#carousel-steering-committee {
  clear:both;
  position:relative;
}

#carousel-steering-committee .item {
  height:444px;
}

#carousel-steering-committee .item .row h2,
#carousel-steering-committee .item .row h3 {
}

#carousel-steering-committee .item .row h5 {
  margin-top:30px;
  font-weight:300;
}

#steering-committee-list {
  padding-top:30px;
  width:100%;
}

#steering-committee-list li {
  display:inline-block;
  list-style-type:none;
  width:14%;
  max-width:200px;
  height:auto;
  margin-left:2.5%;
  margin-right:2.5%;
}

.team-member-picture {
  width:100%;
  border-radius:100%;
  border:2px solid orange;
  margin-right:20px;
}

.team-member-picture-large {
  width:100%;
  height:auto;
  border-radius:100%;
  border:2px solid orange;
}

.img-bw {
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  -webkit-transition: all .4s ease; /* Fade to color for Chrome and Safari */
  -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

.img-bw-partial {
  -webkit-filter: grayscale(50%); /* Chrome 19+ & Safari 6+ */
  -webkit-transition: all .4s ease; /* Fade to color for Chrome and Safari */
  -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

.img-color {
  -webkit-filter: grayscale(0%); /* Chrome 19+ & Safari 6+ */
  -webkit-transition: all .4s ease; /* Fade to color for Chrome and Safari */
  -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}


/* RESPONSIVE */

@media (max-width: 992px) {
  .team-member-picture-large {
    width:60%;
    margin-left:20%;
    margin-right:20%;
  }
}

@media (max-width: 768px) {
  // put side navbar into an off-screen div
  #container-left {
    display:none;
  }

  #container-right {
    width:100%;
  }
}
