/* COLOR PALETTE */

.primary-blue { color: #5999DE; }
.lighter-blue { color: #7FB2EB; }
.lighterer-blue { color: #B1D2F6; }
.darker-blue { color: #387FCF; }
.darkerer-blue { color: #1765BC; }
.primary-orange { color: #FFA400; }
.lighter-orange { color: #FFB839; }
.lighterer-orange { color: #FFC864; }
.darker-orange { color: #C67F00; }
.darkerer-orange { color: #9B6400; }

.primary-blue-bcg { background-color: #5999DE; }
.lighter-blue-bcg { background-color: #7FB2EB; }
.lighterer-blue-bcg { background-color: #B1D2F6; }
.darker-blue-bcg { background-color: #387FCF; }
.darkerer-blue-bcg { background-color: #1765BC; }
.primary-orange-bcg { background-color: #FFA400; }
.lighter-orange-bcg { background-color: #FFB839; }
.lighterer-orange-bcg { background-color: #FFC864; }
.darker-orange-bcg { background-color: #C67F00; }
.darkerer-orange-bcg { background-color: #9B6400; }

.text-white { color: #fff; }

.centered-text {
  text-align:center;
}

/* DOCUMENT */

body {
  margin:0px;
  padding:0px;
  background-color: rgba(15, 18, 27, 1);
}

.row-fullscreen {
  padding-bottom:70px;
}

/* NAVIGATION BAR */

nav {
  padding-top:20px;
  background-color: rgba(15, 18, 27, 0.75); /* #0F121B; */
}

nav li {
  background-color: #101B37; /*rgba(200,200,200,.8); */
  border-radius: 7px 7px 0 0;
  margin:0px 1px;
  margin-bottom:0px;
}

nav li a {
  color:white;
}

.navbar-right .form-group, .navbar-right button {
  margin-bottom:20px;
}



/* WELCOME */

#slide-1 {
  background-image: asset-url('myapnea/welcome/img-large/unsplash-standing-colors.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#slide-1 h2 {
  margin-top:90px;
}

#slide-1 h4 {
  margin-top:50px;
}

#btn-join {
  font-size:21px;
  padding:10px;
  width:50%;
  background-color: #FFA400;
  border:1px solid white;
}


/* MISSION */

#slide-2 {
  background-image: asset-url('myapnea/welcome/textures/dark_mosaic_darkblue.png');
  position:relative;
  overflow:hidden;
}

#slide-2:before {
  content: ' ';
  display:block; z-index:0;
  position:absolute; left:0; top:0px;
  width:100%; height: 100%;
  opacity:1;
  background-image: asset-url('myapnea/welcome/Faded_Backgrounds/dot_backdrop_top_color.png');
  background-repeat: repeat-x;
}

#slide-2 h1 {
  margin-top:120px;
}

#slide-2 h3 {
}

#slide-2 h5 {
  margin-top:20px;
  line-height:28px;
}

#slide-2 img {
  margin-top:120px;
  margin-left:20%;
  width:60%;
  max-height: 400px;
  max-width: 300px;
  border-radius:30px;
  border:5px solid #455A92;
}


/* PLATFORM*/

#slide-3 {
  background-image: asset-url('myapnea/welcome/textures/dark_mosaic_darkblue.png');

}

#slide-3 h1 {
}

#slide-3 h3 {
}

#slide-3 h5 {
  margin-top:20px;
  line-height:28px;
}

#slide-3 img {
  margin-top:50px;
  width:100%;
  max-height: 400px;
  max-width: 600px;
  border-radius:30px;
  border:5px solid #FFB839;
  margin-bottom:40px;
}


/* COMMUNITY HIGHLIGHTS */

#slide-4 {
  background-image: asset-url('myapnea/welcome/textures/dark_mosaic_darkblue.png');
}

.col-button {
  background-color:rgba(56, 127, 207, .8);
  margin-top:50px;
  margin-right:2.8%;
  padding-bottom:15px;
  border-radius:10px;
  border:5px solid rgba(255,184,57,0);
  color: #b1d2f6;
  font-size:16px;
}

.col-button:hover {
  border: 5px solid #FFB839;
  color:white;
}

/* SIGN UP */

#slide-5 {
  background-image: asset-url('myapnea/welcome/img-large/unsplash-standing-group.jpg');
  background-size:100% 100%;
  background-repeat:no-repeat;
  background-position: bottom;
}

#slide-5 h1 {
  // font-family: 'Shadows Into Light Two', cursive;
  // font-family: 'Handlee', cursive;
  text-align:center;
  margin-top: 50px;
  margin-bottom:30px;
}

.panel-default {
  margin-top: 100px;
  background-color: rgba(255, 255, 255, .8);
}

.panel-title {
  font-size: 28px;
  margin-top:10px;
}

#panel-sign-up .input-group {
  font-size: 18px;
  margin:10px;
  width:100%;
  border-radius:3px;
}




/* TYPOGRAPHY */

h1{ font-size: 50px; }
h2{ font-size: 36px; }
h3{ font-size: 30px; }
h4{ font-size: 24px; }
h5{ font-size: 18px; }
p { font-size: 14px; }



/* RESPONSIVE DESIGN */

@media (max-width: 1200px) {
  /* MED SCREENS */
  h1{ font-size: 42px; }
  h2{ font-size: 30px; }
  h3{ font-size: 24px; }
  h4{ font-size: 20px; }
  h5{ font-size: 16px; }
  p { font-size: 14px; }
}

@media (max-width: 992px) {
  /* MEDIUM SCREENS */
  h1{ font-size: 42px; }
  h2{ font-size: 30px; }
  h3{ font-size: 24px; }
  h4{ font-size: 20px; }
  h5{ font-size: 20px; }
  p { font-size: 20px; }

  h1,h2,h3,h4,h5,p {
    padding: 0 25px;
  }
  #btn-join {margin-left: 25px;}

}

@media (max-width: 768px) {
  /* XS SCREENS */
  h1{ font-size: 30px; }
  h2{ font-size: 24px; }
  h3{ font-size: 20px; }
  h4{ font-size: 18px; }
  h5{ font-size: 16px; }
  p { font-size: 16px; }
  #btn-join { font-size:16px; }

  .navbar-header {
    width:70%;
/*    border:1px solid blue; */
  }

  #btn-login-phone {
    float:right;
    width:20%;
    height:60px;
    position:relative;
    top:-60px;
  }
}
