/* PROVIDERS */
/* many classes make use of existing styling for the landing page */

#slide-1p {
  background-image: asset-url('myapnea/welcome/img-large/seattle2.jpg');
  background-repeat: no-repeat;
  background-position: center ;
  background-size: cover;
  -ms-behavior: asset-url('ie8/backgroundsize.min.htc');
  background-color: rgb(15, 18, 27);
  position:relative;
  min-height:800px;
  padding-bottom:100px;
  font-family: 'Dosis', sans-serif;
}

// #slide-2p {
//   position:relative;
//   overflow:hidden;
// }


#slide-2p img {
  margin-top:210px;
  width:100%;
  max-height: 300px;
  max-width: 300px;
  padding:20px;
  border-radius:30px;
  border:5px solid #FFB839;
  background-color: white;
}

#slide-3p img {
  margin-top:70px;
  width:100%;
  max-height: 300px;
  max-width: 300px;
  padding:20px;
  border-radius:30px;
  border:5px solid #FFB839;
  background-color: white;
}

#slide-5p {
  background-image: asset-url('myapnea/welcome/img-large/unsplash_tree_nofocus.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  font-family: 'Dosis', sans-serif;
}











/* PROVIDER SPECIFIC */

#provider-header {
  background-image: asset-url('myapnea/welcome/img-large/SplitShire-starry-night.jpg');
  background-size: cover;
  background-position:center;
  min-height:600px;
  font-family: 'Dosis', sans-serif;
}

#provider-banner {
  background-color:white;
  background-image:none;
  min-height:115px;
  border-top: 5px solid #FFA400;
  border-bottom:5px solid #5999DE;
  padding:25px 0px;
}

.fixed-under-nav {
  position:fixed;
  top:82px;
  width:100%;
  z-index:100;
}

.fixed-under-nav img {
  width:50%;
}

.fixed-under-nav h4 {
  font-size:14px;
}

#community-tracker-provider {
  text-align:center;
  background-color: rgba(32,43,55,.9); /* #B1D2F6; */
  border-bottom:5px solid #5999DE;
  background-image: none;
  padding:15px;
}



.row-fullscreen {
  padding-bottom:70px;
}










/* WELCOME */

#slide-1 {
  background-image: asset-url('myapnea/welcome/img-large/unsplash-standing-colors.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -ms-behavior: asset-url('ie8/backgroundsize.min.htc');
  background-color: rgb(15, 18, 27);
  position:relative;
  min-height:800px;
  padding-bottom:100px;
}


#slide-1 h2 {
  margin-top:120px;
  font-family: 'Dosis', sans-serif;
}

#slide-1 h3 {
  font-family: 'Dosis', sans-serif;
}

#slide-1 h4 {
  margin-top:50px;
  font-family: 'Dosis', sans-serif;
}

#btn-join {
  font-size:21px;
  padding:10px;
  width:50%;
  min-width:190px;
  background-color: #FFA400;
  border:1px solid white;
}

#community-tracker {
  position:absolute;
  bottom:0px;
  width:100%;
  padding-bottom:0px;
  text-align:center;
}

.round-img {
  width:20%;
  height:auto;
  border-radius:100%;
  margin:70px 1% 0 1%;

  // Controls for xlarge screens
  max-width: 120px;
  max-height:120px;
}

.round-img-orange {
  border:5px solid #FFA400;
}

.round-img-blue {
  border:5px solid #5999DE;
}

/* MISSION */

#slide-2 {
  background-image: asset-url('myapnea/welcome/textures/grey.png');
  position:relative;
  overflow:hidden;
  padding-top:100px;
}

#slide-2:before {
  content: ' ';
  display:block; z-index:0;
  position:absolute; left:0; top:0px;
  width:100%; height: 100%;
  opacity:1;
  background-image: asset-url('myapnea/welcome/transitions/dot_backdrop_top_color.png');
  background-repeat: repeat-x;
}

#slide-2 h1 {
  margin-top:150px;
}

#slide-2 h3 {
  color:rgb(0,0,0);
  color:rgba(0,0,0,.7);
}

#slide-2 h5 {
  margin-top:20px;
  line-height:28px;
}

#slide-2 img {
  margin-top:150px;
  margin-left:20%;
  width:60%;
  max-height: 400px;
  max-width: 300px;
  border-radius:30px;
  border:5px solid #FFB839;
}


/* PLATFORM*/

#slide-3 {
  background-image: asset-url('myapnea/welcome/textures/grey.png');

}

#slide-3 h1 {
}

#slide-3 h3 {
  color:rgb(0,0,0);
  color:rgba(0,0,0,.7);
}

#slide-3 h5 {
  margin-top:20px;
  line-height:28px;
}

#slide-3 img {
  margin-top:70px;
  width:100%;
  max-height: 400px;
  max-width: 600px;
  border-radius:30px;
  border:5px solid #FFB839;
  margin-bottom:40px;
}



/* COMMUNITY HIGHLIGHTS */

#slide-4 {
  background-image: asset-url('myapnea/welcome/textures/grey.png');
  position:relative;
  padding-bottom:150px;
}

#slide-4 h2 {
  color:rgb(0,0,0);
  color:rgba(0,0,0,.7);
}

.col-button {
  background-color: rgb(255, 164, 0);
  background-color:rgba(255, 164, 0, .6);
  margin-top:50px;
  margin-right:2.8%;
  padding-bottom:15px;
  border-radius:10px;
  border:5px solid rgb(255, 164, 0);
  border:5px solid rgba(255,184,57,0);
  color: #666;
  font-size:16px;
}

.col-button h3 {
  margin-bottom:20px;
}

.col-button .lead {
  padding:0;
}

.col-button:hover {
  border: 5px solid #FFB839;
  color:#777;
}

.col-button:hover #visa-gift-card {
  color:#f0f0f0;
}


/* PARTNERS BANNER */
#partners-banner {
  background-color:white;
  background-image: none;
  min-height:115px;
  border-top: 5px solid #FFA400;
  border-bottom:5px solid #5999DE;
  padding-top:20px;
}

.partners-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
}

/* SIGN UP */

#slide-5 {
  background-image: asset-url('myapnea/welcome/img-large/unsplash-standing-group.jpg');
  background-size:100% 100%;
  background-repeat:no-repeat;
  background-position: bottom;
  font-family: 'Dosis', sans-serif;
}

#slide-5 h1, #slide-5p h1 {

  text-align:center;
  margin-bottom:20px;
  font-weight:600;
  font-size:40px;
}

#slide-5 li, #slide-5p li {
  font-size: 18px;
}

span#privacy-policy:hover {
  cursor:pointer;
}

#panel-sign-up h4 {
  margin-bottom: 15px;
  padding:0 10px;
}

#panel-sign-up {
  input {
    margin: 10px auto;
  }
  .input-group {
    width:100%;
    margin-top:10px;
    margin-bottom:10px;
    font-size:16px;
    input {
      margin: 0px auto;
    }
    .signup-error {
      color: #FCF2F2;
      background-color: #DF7667;
    }
  }
}

/* If input groups are needed */
#panel-sign-up .input-group {
}
#panel-sign-up .input-group-addon {
}

#submit-join {
  background-color: #5999DE;
  color:white;
}



/* RESPONSIVE DESIGN */

@media (max-width: 1600px) {
  /* LARGE SCREENS */
  #community-tracker {
    padding-bottom:80px;
  }

}

@media (max-width: 1200px) {
  /* MEDIUM SCREENS */
  #community-tracker h2 {
    font-size:36px;
    text-align:center;
  }
}

@media (max-width: 992px) {
  /* SMALL SCREENS */
  #btn-join {margin-left: 25px;}

  .partners-img {
    width:auto;
    max-height:100px;
    padding:10px 0;
  }

  #community-tracker h2 {
    font-size:36px;
    text-align:center;
  }

  #slide-2, #slide-3, #slide-2p, #slide-3p {
    text-align:center;
  }

}

@media (max-width: 768px) {
  /* XSMALL SCREENS */
  #btn-join { font-size:16px; }

  #btn-login-phone, #btn-welcome-phone {
    float:right;
    width:20%;
    margin-right:10px;
    margin-left:0px;
  }

  #btn-welcome-phone {
    width:30%;
    font-size:18px;
    margin:auto auto 10px auto;
  }

}


/* FIX - Divs within link tags  */
a.community-highlight-links:hover {
  text-decoration: none;
}
