- @active_top_nav_link = 'forums'

#forum
  %ol.breadcrumb
    .pull-left
      %li.active
        = link_to "#{forem_emojify(forum.title)} Forum", [forem, forum]
      %p#description.text-info= forem_format(forum.description)

    .pull-right
      = link_to main_app.terms_and_conditions_path, class: 'btn btn-xs btn-link' do
        %span.fa.fa-legal
        Terms and Conditions
    .clearfix
