- if params[:action] == 'home' and !current_user
  .modal.fade#myModal{ tabindex:'-1', role:'dialog', aria: { labelledby: 'myModalLabel', hidden: 'true' } }
    .modal-dialog.modal-lg{ style: 'z-index:1050' }
      .modal-content
        .modal-header
          %button.close{ type: 'button', data: { dismiss: 'modal' } }
            %span{ aria: { hidden: 'true' } } &times;
            %span.sr-only Close
          %h4.modal-title#myModalLabel Privacy Policy and Data Security Measures
        .modal-body{ style: 'overflow-y:scroll; max-height:600px; font-size:20px;' }
          = markdown @pc['privacy_policy']
        .modal-footer
          = link_to 'More information', consent_path, class: 'btn btn-default'
          %button.btn.btn-primary{ type: 'button', data: { dismiss: 'modal' } } Close
