.dashboard-community-container {
  margin: 15px 5px;
  border: 1px solid #f4f4f4;
  .reply-header {
    background-color: #fcfcfc;
    border-bottom: 1px solid #f0f0f0;
    margin: 0;
    padding: 10px 10px 10px 5px;
  }
  .reply-content {
    background-color: white;
    margin: 0;
  }
}
