.user-profile-container {
  position: relative;

  img {
    border-radius: 2px;
    box-shadow: $box-shadow;
  }

  .user-profile-photo-link {
    background-color: transparentize($lightest-gray, .1);
    border-radius: 1px 1px 2px;
    bottom: 0;
    color: transparentize($darker-gray, .5);
    padding: 1px 3px;
    position: absolute;
    right: 0;

    &:hover {
      color: $darker-gray;
    }
  }
}

#user-stats {
  background-color: $lighter-blue;

  .user-stats {
    color: $white;
    font-weight: 300;
    line-height: 100%;
    padding: 5px;
    position: relative;

    p {
      margin-bottom: 3px;
    }

    h5 {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}

.engagement-highlight {
  background-color: $primary-blue;
  border-radius: 2px;
  box-shadow: $box-shadow;
  margin-bottom: 20px;
  padding: 10px;
}

.post-content-container {
  background-color: $white;
  box-shadow: $box-shadow;
  margin-bottom: 20px;
  padding: 10px;

  .post-header {
    min-height: 70px;
    position: relative;

    .poster-image {
      left: 0;
      position: absolute;
      top: 0;
      width: 70px;
    }

    .poster-details {
      font-size: 18px;
      margin-left: 80px;

      p {
        color: $dark-gray;
        margin-bottom: 0;
      }
    }
  }

  .post {
    margin-left: 0;
    margin-top: 10px;
  }
}
