.row-fullscreen {
  padding-bottom: 70px;
}

@media (max-width: $screen-md) {
  .partners-img {
    max-height: 100px;
    padding: 10px 0;
    width: auto;
  }
}

@media (max-width: $screen-sm) {
  #btn-login-phone,
  #btn-welcome-phone {
    float: right;
    margin-left: 0;
    margin-right: 10px;
    width: 20%;
  }

  #btn-welcome-phone {
    font-size: 18px;
    margin: auto auto 10px;
    width: 30%;
  }
}
