.row-fullscreen {
  padding-bottom:70px;
}

/* WELCOME */
/* REGISTRATION */

#registration-progress {
  position:relative;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align:center;
  $viewedColor: $great;
  $unviewedColor: #d5ecd2;
  a, a:active {
    text-decoration: none;
  }
  .circle-progress {
    display:inline-block;
    width: 100px;
    height:100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: $unviewedColor;
    text-align: center;
    pointer-events: none;
    h3 {
      line-height:100px;
      color:white;
      margin:0px;
    }
  }
  .circle-progress.viewed {
    background-color: $viewedColor;
    text-decoration: none;
  }
  .circle-progress.clickable {
    pointer-events: auto;
  }
  .track-progress{
    display:inline-block;
    height:10px;
    width:100px;
    background-color: $unviewedColor;
  }
  .track-progress.viewed {
    background-color: $viewedColor;
  }
}

@media (max-width: $screen-md) {
  .partners-img {
    width:auto;
    max-height:100px;
    padding:10px 0;
  }

  #slide-2, #slide-3, #slide-2p, #slide-3p {
    text-align:center;
  }

  #registration-progress {
  margin-bottom:20px;
  $viewedColor: $great;
  $unviewedColor: #d5ecd2;
  .circle-progress {
    display:inline-block;
    width: 60px;
    height:60px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: $unviewedColor;
    text-align: center;
    h3 {
      line-height:60px;
      color:white;
      margin:0px;
    }
  }
  .circle-progress.viewed {
    background-color: $viewedColor;
  }
  .track-progress{
    display:inline-block;
    height:10px;
    width:30px;
    background-color: $unviewedColor;
  }
  .track-progress.viewed {
    background-color: $viewedColor;
  }
}

}

@media (max-width: $screen-sm) {
  #btn-login-phone, #btn-welcome-phone {
    float:right;
    width:20%;
    margin-right:10px;
    margin-left:0px;
  }

  #btn-welcome-phone {
    width:30%;
    font-size:18px;
    margin:auto auto 10px auto;
  }
}


/* FIX - Divs within link tags  */
a.community-highlight-links:hover {
  text-decoration: none;
}

#myModal p, #myModal li {
  font-size:18px;
}
