#join-the-community-callout {
  background-color: #233063;
  background-color: #387fcf;
  padding: 15vh 0;
  border-top: 5px solid #5999de;
  border-top: 5px solid #ffa400;
  #btn-join {
    width: 100%;
  }
}
