.user-type-container:not(#foo) > input + label {
  background-color: $white;
  border: 5px solid $lightest-blue;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 300;
  height: 350px;
  margin-bottom: 20px;
  max-width: 250px;
  text-align: center;
  vertical-align: middle;
  width: 100%;

  img {
    border-radius: 5px;
    margin: 0 auto;
  }

  p {
    margin: auto 5px;
    max-width: 250px;
  }
}

.user-type-container:not(#foo) > input[type=checkbox]:checked + label {
  background-color: transparentize($lightest-blue, .5);
  border-color: $darkest-blue;
}

@media (max-width: $screen-md) {
  .user-type-container:not(#foo) {
    padding: 5px;

    input + label {
      border-width: 2px;

      p {
        font-size: 14px;
        padding: 0;
      }
    }
  }
}

@media (max-width: $screen-sm) {
  .user-type-container:not(#foo) {
    input + label {
      height: 240px;

      img {
        width: 170px;
      }
    }
  }
}
