.user-type-container:not(#foo) > input + label {
  font-weight:300;
  border: 5px solid #b1d2f6;
  background-color: white;
  border-radius:10px;
  vertical-align: middle;
  text-align: center;
  height:350px;
  width:100%;
  max-width:250px;
  cursor: pointer;
  margin-bottom: 20px;
  img {
    border-radius: 5px;
    margin: 0px auto;
  }
  p {
    margin:auto 5px;
    max-width:250px;
  }
}

.user-type-container:not(#foo) > input[type=checkbox]:checked + label {
  border-color: #1765bc;
  background-color: #b1d2f6;
  background-color: transparentize(#b1d2f6, .5);
}

@media (max-width: $screen-lg) {
  .user-type-container:not(#foo) {
    input + label {
    }
  }
}
@media (max-width: $screen-md) {
  .user-type-container:not(#foo) {
    padding:5px;
    input + label {
      border-width: 2px;
      p {
        font-size: 14px;
        padding: 0px;
      }
    }
  }
}
@media (max-width: $screen-sm) {
  .user-type-container:not(#foo) {
    input + label {
      height: 240px;
      img {
        width: 170px;
      }
    }
  }
}
