- if flash[:notice]
  .flash-notice
    .container
      .lead.centered
        = flash[:notice].html_safe
- if flash[:alert]
  .flash-alert
    .container
      .lead.centered
        = flash[:alert].html_safe
- if flash[:warning]
  .flash-warning
    .container
      .lead.centered
        = flash[:warning].html_safe
