- if flash[:notice].present?
  .flash-notice
    .container
      .lead.center
        = flash[:notice].html_safe
- if flash[:alert].present?
  .flash-alert
    .container
      .lead.center
        = flash[:alert].html_safe
