.row.page-header-image
  .col-lg-12
    #carousel
      = image_tag image, class: 'img-responsive'
    .row.pull-right
      .col-lg-5.col-lg-offset-7
        = link_to new_user_registration_path, id: signup_id do
          = image_tag "myapnea/icons/sign-up.png", class: "img-responsive", alt: "Sign Up Today!"