.row.d-flex.align-items-around.mt-5
  .col-12.col-sm
    .jumbotron.jumbotron-accent.jumbotron-shadow.jumbotron-custom-text.jumbotron-hover
      .jumbotron-icon.box-shadow
        %i.fa.fa-pencil
      .mb-3{ style: "font-size: 1.5rem;font-weight: 600;" }
        ACTIVE
        %br
        STUDIES
      .small{ style: "font-size: .875rem;" } Check back in and work on studies you've already begun.

  .col-12.col-sm
    .jumbotron.jumbotron-white.jumbotron-shadow.jumbotron-custom-text.jumbotron-hover
      .jumbotron-icon.box-shadow
        %i.fa.fa-files-o
      .mb-3{ style: "font-size: 1.5rem;font-weight: 600;" } STUDIES YOU MAY BE INTERESTED IN
      .small{ style: "font-size: .875rem;" } Studies you might like based on previous studies you've done.

  .col-12.col-sm
    .jumbotron.jumbotron-accent.jumbotron-shadow.jumbotron-custom-text.jumbotron-hover
      .jumbotron-icon.box-shadow
        %i.fa.fa-flask
      .mb-3{ style: "font-size: 1.5rem;font-weight: 600;" }
        MYAPNEA
        %br
        CORE
      .small{ style: "font-size: .875rem;" } Take part in an international research study onsleep apnea.
