- @title = "#{@project.name} Overview Report"

= render "projects/theme", project: @project
- content_for :header, "Overview Report"
- content_for :sidebar, render("internal/sidebar")

= render "slice/overview_report"
