.content-main-header
  .container
    %h1 Highlights
    %p= link_to 'Admin Dashboard', admin_path

.well
  %h4
    = link_to 'New Highlight', new_highlight_path, class: 'btn btn-primary'


- if Highlight.current.where(displayed: true).count > 3
  .alert.alert-danger
    .container
      %p
        There are more than 3 items currently marked as 'displayed'. Only three will be displayed at a time, so you should untag certain items to make sure only the three most important items will be displayed.

.container
  - if @highlights.count == 0
    .content-container
      %p.lead.centered
        You can
        = link_to 'create highlights', new_highlight_path
        here that promote content on the site on members' dashboards.
  - else
    - @highlights.each do |highlight|
      %hr
      = render highlight
