.row
  .col-sm-6.col-sm-offset-3
    = render partial: 'highlights/display', locals: { highlight: @highlight }


.centered-text
  = link_to 'Edit', edit_highlight_path(@highlight), class: 'btn btn-primary'
  = link_to 'Back', highlights_path, class: 'btn btn-default'
