.panel
  .panel-heading
    %h4.f300 Beta Settings
  .panel-body
    - if current_user.beta_opt_in?
      You currently have the <strong>Beta Settings Enabled</strong>. You may opt out of the beta. If you ran into issues that forced you to cancel, consider
      = link_to 'contacting us', "mailto:#{ENV['support_email']}"
      so that we can address any issues before launching the new site changes to a larger audience!
      %div{ style: 'text-align:center;margin-top:10px' }
        = link_to 'Disable Beta', update_account_path(user: { beta_opt_in: '0' }), method: :patch, class: 'btn btn-primary'
    - else
      Preview upcoming changes to MyApnea.Org and help us iron out the kinks in our new upcoming layout of the site!
      %div{ style: 'text-align:center;margin-top:10px' }
        = link_to 'Enable Beta', update_account_path(user: { beta_opt_in: '1' }), method: :patch, class: 'btn btn-primary'
