.alert.alert-info.fade.in
  %button{ type: 'button', class: 'close', data: { dismiss: 'alert', object: 'set-cookie', cookie_key: 'acknowledged_beta_forums', cookie_value: '1' }, aria: { label: 'Close'} }
    %span{ aria: { hidden: 'true'} } &times;
  %strong Why do the forums look different?
  The forums have been recreated in the new layout for all members. Don't worry - all of your posts are still available! Our community is rapidly growing, and we needed to make this change to improve your experience on the forums.
  %br
  %br
  If you like the look of the new forums, we recommend enabling the beta version and seeing the entire site in this layout. If you don't like the new look, we want to hear from you!
  = link_to 'Send us an email with your feedback.', "mailto:#{ENV['pprn_support_email']}"
  = link_to 'Enable Beta', update_account_path(user: { beta_opt_in: '1' }), method: :patch, class: 'btn btn-primary btn-block', style: 'width:60%; margin: 15px auto'
