= form_with model: image, local: true do |form|
  = render "forms/vertical/file_field", form: form, object: image, key: :image
  = render "forms/vertical/submit", form: form, object: image, cancel: (current_user.admin? ? (@image.new_record? ? images_path : @image) : root_path)
