- @title = "Edit Image: #{@image.name}"

- @body = "sky"
- @footer = "grass"

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("admin/sidebar")
- content_for :header do
  Edit Image

.dashboard-container= render "form", image: @image
