- if params[:action]=='home'
  %meta{ name: 'description', content: 'Answer research surveys, submit and vote on new research questions, see the latest forum activity, and get involved in the sleep apnea community here at MyApnea.Org' }
