- theme = "menu-blue" unless defined?(theme) && theme.present?
.background-special
  %nav.navbar.navbar-expand-lg.navbar-dark.navbar-myapnea{ class: theme }
    %div{ class: defined?(container) && container.present? ? container : "container" }
      = render "layouts/logo"

      %button.navbar-toggler{ type: "button", data: { toggle: "collapse", target: "#menu-body" }, aria: { controls: "menu-body", expanded: "false", label: "Toggle navigation" } }
        %span.navbar-toggler-icon

      #menu-body.menu-body.collapse.navbar-collapse
        = render "layouts/menu_body"
