
.row.row-offcanvas.row-offcanvas-left
  %br/
  %br/
  #sidebar.col-md-3.col-sm-6.sidebar-offcanvas{role: "navigation"}

    .clearfix
  .col-md-9.col-sm-12
    .visible-sm-block.visible-xs-block
      %br/
      %br/
    = yield