.container
  .py-1.small{ style: "color: #555;" }
    %i.fa.fa-info-circle
    MyApnea is a community of patients, doctors, and researchers trying to improve the diagnosis and treatment of sleep apnea.
    = link_to "Join today!", new_user_registration_path unless current_user
