- @title = "MyApnea.Org Administration"
- @intro = false
- @active_top_nav_link = "admin_panel"

- content_for :sidenav do
  = render partial: "layouts/navigation/admin_nav"

= render template: "layouts/application"
