<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MyApnea.Org Welcome</title>
  <meta name="generator" content="BBEdit 10.5" />
  <link href='//fonts.googleapis.com/css?family=Patrick+Hand|Handlee|Coming+Soon' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Dosis:400,700|Cabin:400,700' rel='stylesheet' type='text/css'>


  <!-- Style Sheets -->
  <%= stylesheet_link_tag 'cleantheme', media: 'all', data: { turbolinks_track: true } %>
  <%= javascript_include_tag 'cleantheme', data: { turbolinks_track: true } %>
</head>
<body>

<!-- NAVIGATION BAR -->

  <nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
<!--       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button> -->
      <a class="navbar-brand" href="#" style="color:white; line-height:100%; width:260px;">
        <%= image_tag 'myapnea/welcome/img-small/myApneaLogoOld.png', width: '100%', style: 'position:relative;top:-32px; left:0px;' %>
<!--      <strong>MyApnea.Org</strong> -->
      </a>
    </div>

    <!-- Add a login for mobile devices -->
    <button type="submit" class="btn primary-blue-bcg text-white visible-xs float-right" id="btn-login-phone">Login</button>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-right" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Username">
        <input type="text" class="form-control" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


<%= yield %>

</body>
</html>
