%div.overflow-hidden.breakword{ style: "margin-left: 20px;margin-right: 20px;margin-bottom: 0;padding-top: 11px;" }
  - if member.profile_present? || current_user == member
    %strong Bio
    %br
    .small
      - if member.profile_bio.present?
        = simple_markdown(member.profile_bio)
      - elsif current_user == member
        %p= link_to "Add a short bio", settings_profile_path

      - if member.profile_location.present?
        %p
          %i.fa.fa-map-marker
          = member.profile_location
      - elsif current_user == member
        %p
          %i.fa.fa-map-marker
          = link_to "Add a location", settings_profile_path
