%ul.list-group
  = link_to root_path do
    %li.list-group-item.hover-slide-left.list-shrink.dark8 Home
  = link_to forums_path, data: { no_turbolink: true } do
    %li.list-group-item.hover-slide-left.list-shrink.dark8 Forums
  = link_to surveys_path, data: { no_turbolink: true } do
    %li.list-group-item.hover-slide-left.list-shrink.dark8 Research Surveys
  = link_to research_topics_path, data: { no_turbolink: true } do
    %li.list-group-item.hover-slide-left.list-shrink.dark8 Rank the Research
.clearfix
