.col-xs-4.user-stats
  %p.small.f500.dark5
    POSTS
  %h5.light5
    = current_user.posts.visible_for_user.not_research.count
.col-xs-4.user-stats
  %p.small.f500.dark5
    SURVEYS
  %h5.light5
    = current_user.completed_answer_sessions.count
.col-xs-4.user-stats
  %p.small.f500.dark5
    VOTES
  %h5.large.light5
    = current_user.votes.current.count
.clearfix
