// Variables

@import 'themes/colors';
@import 'themes/default';
@import 'themes/default_dark';
@import 'themes/day';
@import 'themes/dark_blue';
@import 'themes/night';
@import 'themes/sunset';

$themes: (
  default: $default,
  default-dark: $default-dark,
  day: $day,
  dark-blue: $dark-blue,
  night: $night,
  sunset: $sunset
);
