$sunset: (
  brand-white: #fff,
  brand-black: $p900-grey,

  p50: $p50-orange,
  p100: $p100-orange,
  p200: $p200-orange,
  p300: $p300-orange,
  p400: $p400-orange,
  p500: $p500-orange,
  p600: $p600-orange,
  p700: $p700-orange,
  p800: $p800-orange,
  p900: $p900-orange,

  primary: $p500-orange,
  accent: $p300-orange,
  success: null, // $p500-green

  selection-bg: $p200-orange, // $p200-COLOR

  menu-bg: $p600-deep-orange, // $p900-COLOR
  menu-color: null, // brand-white

  header-bg: $p500-deep-orange,
  header-border: $p200-deep-orange,

  progress-simple: $p100-orange, // $p100-orange
  progress-bar: $p500-orange, // $p300-orange

  body-bg: $p900-orange,
  body-color: null,
  body-focus: $p800-orange,

  footer-bg: $p900-orange, // $p100-grey
  footer-color: #fff, // $p900-grey

  dashboard-bg: #fff,
  form-title-bg: $p500-orange, // $p500-COLOR
  form-bg: $p50-grey,

  input-bg: null, // $white
  input-color: null, // $p800-grey

  box-shadow-color: rgba(0, 0, 0, .15),
  shadow-color: rgba(0, 0, 0, .3),

  blockquote-border: null, // $p200-grey
  blockquote-color: null, // $p500-grey

  calendar-border: null, // $p200-grey,
  calendar-today-bg: null, // $p100-grey,
  calendar-window-bg: null, // $p400-COLOR,
);
