.sleep-tip-container
  .sleep-tip-header
    .sleep-tip-heading
      %h1
        Sleep Tips
  .sleep-tip-content
    %h2.spaced
      Finish eating at least 2-3 hours before your regular bedtime.
    %h4.spaced
      This will give your body the right amount of energy until bedtime, and will give your metabolism a chance to cool down.
