.content-container
  .container
    %h3 Add your sleep tip here:
    = text_field_tag :sleep_tip, 'This is an example sleep tip', class: 'form-control'

.container.centered
  %canvas.sleep-tip-canvas#sleepTipCanvas{ height: '800', width: '800' }
    Your browser does not support the HTML5 canvas tag.

%img#logo.hidden{ src: "http://myapnea.org/assets/myapnea/logos/MyApneaLogo_border_whitetext_300x80-3a8a516250225945d0bad4766caa32d838072e25b54f69baaf7ec8aef79c3dd2.png" }
